0Kas6Yx8JFECkbRNT6zJ6.json
{"updatedAt":"2026-02-19T19:45:59.892Z","createdAt":"2026-02-19T19:23:29.128Z","id":"0Kas6Yx8JFECkbRNT6zJ6","name":"Formulário - Produção de conteúdo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"formulario-conteudo-pare-de-criar","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d0578915-caa1-4bab-aec7-124dcc56a3c3","name":"Webhook","webhookId":"c64027bc-7860-48e5-8460-8e12ec03753c"},{"parameters":{"assignments":{"assignments":[{"id":"47229808-5680-4a2e-bf28-37c2f6fb5a2b","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"85907006-3c63-4a35-a15b-3ef2e87c028a","name":"telefone","value":"={{ $json.body.telefone }}","type":"string"},{"id":"bc210914-91f1-41d4-bc07-93f28ee1c8e3","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"3c21e378-ed85-46cf-90a7-346d456d461c","name":"Qual é sua principal atividade hoje?","value":"={{ $json.body.atividade }}","type":"string"},{"id":"d89f535c-11a0-42dd-a141-49dc07341862","name":"Há quanto tempo você cria conteúdo?","value":"={{ $json.body.experiencia }}","type":"string"},{"id":"5cee04c2-4df0-42e6-8a1f-f37079a9d657","name":"Quantas visualizações seus vídeos têm em média?","value":"={{ $json.body.mediaVisualizacoes }}","type":"string"},{"id":"5820e0d0-c793-4cac-a709-e8784f81e36a","name":"Seus vídeos perdem audiência nos primeiros segundos?","value":"={{ $json.body.perdaDeAudiencia }}","type":"string"},{"id":"87a2507c-f887-4720-a8ef-18897a4cdc39","name":"O que mais te incomoda ao criar conteúdo?","value":"={{ $json.body.problemaPrincipal }}","type":"string"},{"id":"ad074b72-e99a-4d6d-b5a3-6cbdf376a919","name":"Motivação","value":"={{ $json.body.motivacao }}","type":"string"},{"id":"42225ac0-68a5-4ad3-8463-051dffe59d6c","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"a14ad5c5-28d0-45d3-8d57-216075e5616f","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"a0a63192-bfa5-4d50-a02d-2b447aec38a1","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"477ebf57-5258-46a2-a9ad-c2d2c73cd3e0","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"2bf29a8c-7efc-43af-8e81-d3b8ca0ec55d","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,0],"id":"25261914-2428-4485-a2bc-13c2bb7f96aa","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8","mode":"list","cachedResultName":"Adalex Gois - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Nome":"={{ $json.Nome }}","Telefone":"={{ $json.telefone }}","Qual é sua principal atividade hoje?":"={{ $json['Qual é sua principal atividade hoje?'] }}","Há quanto tempo você cria conteúdo":"={{ $json['Há quanto tempo você cria conteúdo?'] }}","Quantas visualizações seus vídeos têm em média":"={{ $json['Quantas visualizações seus vídeos têm em média?'] }}","Seus vídeos perdem audiência nos primeiros segundos":"={{ $json['Seus vídeos perdem audiência nos primeiros segundos?'] }}","O que mais te incomoda ao criar conteúdo":"={{ $json['O que mais te incomoda ao criar conteúdo?'] }}","Motivação":"={{ $json['Motivação'] }}","utm_source":"={{ $json.utm_source }}","utm_campaign":"={{ $json.utm_campaign }}","utm_medium":"={{ $json.utm_medium }}","utm_term":"={{ $json.utm_term }}","utm_content":"={{ $json.utm_content }}"},"matchingColumns":["Email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é sua principal atividade hoje?","displayName":"Qual é sua principal atividade hoje?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Há quanto tempo você cria conteúdo","displayName":"Há quanto tempo você cria conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quantas visualizações seus vídeos têm em média","displayName":"Quantas visualizações seus vídeos têm em média","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seus vídeos perdem audiência nos primeiros segundos","displayName":"Seus vídeos perdem audiência nos primeiros segundos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que mais te incomoda ao criar conteúdo","displayName":"O que mais te incomoda ao criar conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivação","displayName":"Motivação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,0],"id":"d8e3a6c3-036c-4d72-9978-4dda8e88d553","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"747ae867-ad9d-4249-bf83-c1e4b7403f8c","activeVersionId":"747ae867-ad9d-4249-bf83-c1e4b7403f8c","triggerCount":1,"shared":[{"updatedAt":"2026-02-19T19:23:29.128Z","createdAt":"2026-02-19T19:23:29.128Z","role":"workflow:owner","workflowId":"0Kas6Yx8JFECkbRNT6zJ6","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-02-19T19:45:49.442Z","createdAt":"2026-02-19T19:45:47.620Z","versionId":"747ae867-ad9d-4249-bf83-c1e4b7403f8c","workflowId":"0Kas6Yx8JFECkbRNT6zJ6","nodes":[{"parameters":{"httpMethod":"POST","path":"formulario-conteudo-pare-de-criar","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d0578915-caa1-4bab-aec7-124dcc56a3c3","name":"Webhook","webhookId":"c64027bc-7860-48e5-8460-8e12ec03753c"},{"parameters":{"assignments":{"assignments":[{"id":"47229808-5680-4a2e-bf28-37c2f6fb5a2b","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"85907006-3c63-4a35-a15b-3ef2e87c028a","name":"telefone","value":"={{ $json.body.telefone }}","type":"string"},{"id":"bc210914-91f1-41d4-bc07-93f28ee1c8e3","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"3c21e378-ed85-46cf-90a7-346d456d461c","name":"Qual é sua principal atividade hoje?","value":"={{ $json.body.atividade }}","type":"string"},{"id":"d89f535c-11a0-42dd-a141-49dc07341862","name":"Há quanto tempo você cria conteúdo?","value":"={{ $json.body.experiencia }}","type":"string"},{"id":"5cee04c2-4df0-42e6-8a1f-f37079a9d657","name":"Quantas visualizações seus vídeos têm em média?","value":"={{ $json.body.mediaVisualizacoes }}","type":"string"},{"id":"5820e0d0-c793-4cac-a709-e8784f81e36a","name":"Seus vídeos perdem audiência nos primeiros segundos?","value":"={{ $json.body.perdaDeAudiencia }}","type":"string"},{"id":"87a2507c-f887-4720-a8ef-18897a4cdc39","name":"O que mais te incomoda ao criar conteúdo?","value":"={{ $json.body.problemaPrincipal }}","type":"string"},{"id":"ad074b72-e99a-4d6d-b5a3-6cbdf376a919","name":"Motivação","value":"={{ $json.body.motivacao }}","type":"string"},{"id":"42225ac0-68a5-4ad3-8463-051dffe59d6c","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"a14ad5c5-28d0-45d3-8d57-216075e5616f","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"a0a63192-bfa5-4d50-a02d-2b447aec38a1","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"477ebf57-5258-46a2-a9ad-c2d2c73cd3e0","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"2bf29a8c-7efc-43af-8e81-d3b8ca0ec55d","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,0],"id":"25261914-2428-4485-a2bc-13c2bb7f96aa","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8","mode":"list","cachedResultName":"Adalex Gois - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DRUwdioaqTj2r0SKgoc5v-sT2gGiYvJRwqWbE6K3pi8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Nome":"={{ $json.Nome }}","Telefone":"={{ $json.telefone }}","Qual é sua principal atividade hoje?":"={{ $json['Qual é sua principal atividade hoje?'] }}","Há quanto tempo você cria conteúdo":"={{ $json['Há quanto tempo você cria conteúdo?'] }}","Quantas visualizações seus vídeos têm em média":"={{ $json['Quantas visualizações seus vídeos têm em média?'] }}","Seus vídeos perdem audiência nos primeiros segundos":"={{ $json['Seus vídeos perdem audiência nos primeiros segundos?'] }}","O que mais te incomoda ao criar conteúdo":"={{ $json['O que mais te incomoda ao criar conteúdo?'] }}","Motivação":"={{ $json['Motivação'] }}","utm_source":"={{ $json.utm_source }}","utm_campaign":"={{ $json.utm_campaign }}","utm_medium":"={{ $json.utm_medium }}","utm_term":"={{ $json.utm_term }}","utm_content":"={{ $json.utm_content }}"},"matchingColumns":["Email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual é sua principal atividade hoje?","displayName":"Qual é sua principal atividade hoje?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Há quanto tempo você cria conteúdo","displayName":"Há quanto tempo você cria conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quantas visualizações seus vídeos têm em média","displayName":"Quantas visualizações seus vídeos têm em média","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seus vídeos perdem audiência nos primeiros segundos","displayName":"Seus vídeos perdem audiência nos primeiros segundos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"O que mais te incomoda ao criar conteúdo","displayName":"O que mais te incomoda ao criar conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivação","displayName":"Motivação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,0],"id":"d8e3a6c3-036c-4d72-9978-4dda8e88d553","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 747ae867","description":"","autosaved":false},"tags":[]}