2ghHTcmnTSzJMYfM.json
{"updatedAt":"2025-10-07T22:41:30.823Z","createdAt":"2025-10-05T23:27:58.575Z","id":"2ghHTcmnTSzJMYfM","name":"Carrinho Abandonado","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"carrinho-abandonado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"ff45b8d2-5a9c-4bfc-9b70-ec32b5325e86","name":"Webhook","webhookId":"d84aaca2-41f3-468b-8a77-cd6054e45473"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2144,-16],"id":"2cec7d00-f44d-4ac1-a3e2-3ad4f836efed","name":"Envio do C칩digo Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza.\nSeu acesso ser치 liberado imediatamente ap칩s o pagamento. 游땕","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2544,-16],"id":"2cadf600-cd0a-4e53-a5be-e83cb7492283","name":"Solicita칞칚o de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Ol치,{{ $('Dados do Usu치rio').item.json['Primeiro nome'] }}  tudo bem? Aqui 칠 o Aldo Calesco.\n\nVoc칡 estava quase finalizando sua compra. Ficou com alguma d칰vida?\n\nCaso n칚o e tiver esquecido ou queira pagar no PIX, aqui est치 o C칩digo do PIX游녢","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1744,-16],"id":"185c3fc8-7f2f-4f92-8dd2-bb43ad11d78c","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,-16],"id":"7a792c25-983d-470d-a297-ce4521f88b70","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,-16],"id":"1e5977fe-a632-4b97-b65c-e23a34dcd7ee","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indica칞칫es infinitas","mode":"list","cachedResultName":"funil de indica칞칫es infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usu치rio').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usu치rio').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Hor치rio da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usu치rio').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usu치rio').item.json.status }}","Id do comprador":"={{ $('Dados do Usu치rio').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Hor치rio da compra","displayName":"Hor치rio da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,0],"id":"b3f33b15-4840-42bb-8826-f8de5de0b97f","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,0],"id":"20d9ea6b-5a09-41fd-90e2-54f132042e85","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"operation":"get","tableId":"funil de indica칞칫es infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,0],"id":"79dcf243-408a-474d-901c-690c726d0613","name":"Verifica se o lead j치 existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }} ","rightValue":"pix_generated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,0],"id":"e797a826-8c13-4596-b25e-2d1ae149c073","name":"Condi칞칚o se n칚o for comprador"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[464,0],"id":"651d6faf-64d8-4f37-87ee-95a2daef82e9","name":"Atualiza Data e Hora"},{"parameters":{"jsCode":"// Este n칩 trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo espec칤fico, troque \"$json\" por $('NomeDoN칩Anterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; sen칚o, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pare칞a um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Fun칞칚o de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"f48fe498-1e98-4d1e-83ea-87103fa348ef","name":"Formata data e hora"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transa칞칚o","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transa칞칚o","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"b90c0563-a80c-4ef2-accf-b1e7700e8b33","name":"Dados do Usu치rio"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indica칞칫es infinitas","mode":"list","cachedResultName":"funil de indica칞칫es infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Hor치rio da compra","displayName":"Hor치rio da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,160],"id":"d308b974-e3bf-4647-9b02-64f68b5e206c","name":"Atualiza Status","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usu치rio","type":"main","index":0}]]},"Envio do C칩digo Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do C칩digo Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicita칞칚o de comprovante","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead j치 existe na base de compradores","type":"main","index":0}]]},"Verifica se o lead j치 existe na base de compradores":{"main":[[{"node":"Condi칞칚o se n칚o for comprador","type":"main","index":0}]]},"Condi칞칚o se n칚o for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Atualiza Status","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Dados do Usu치rio":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00702e0d-f758-4194-9dd3-cf02dc8ab605","activeVersionId":"00702e0d-f758-4194-9dd3-cf02dc8ab605","triggerCount":1,"shared":[{"updatedAt":"2025-10-05T23:27:58.575Z","createdAt":"2025-10-05T23:27:58.575Z","role":"workflow:owner","workflowId":"2ghHTcmnTSzJMYfM","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"00702e0d-f758-4194-9dd3-cf02dc8ab605","workflowId":"2ghHTcmnTSzJMYfM","nodes":[{"parameters":{"httpMethod":"POST","path":"carrinho-abandonado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"ff45b8d2-5a9c-4bfc-9b70-ec32b5325e86","name":"Webhook","webhookId":"d84aaca2-41f3-468b-8a77-cd6054e45473"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2144,-16],"id":"2cec7d00-f44d-4ac1-a3e2-3ad4f836efed","name":"Envio do C칩digo Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza.\nSeu acesso ser치 liberado imediatamente ap칩s o pagamento. 游땕","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2544,-16],"id":"2cadf600-cd0a-4e53-a5be-e83cb7492283","name":"Solicita칞칚o de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Ol치,{{ $('Dados do Usu치rio').item.json['Primeiro nome'] }}  tudo bem? Aqui 칠 o Aldo Calesco.\n\nVoc칡 estava quase finalizando sua compra. Ficou com alguma d칰vida?\n\nCaso n칚o e tiver esquecido ou queira pagar no PIX, aqui est치 o C칩digo do PIX游녢","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1744,-16],"id":"185c3fc8-7f2f-4f92-8dd2-bb43ad11d78c","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,-16],"id":"7a792c25-983d-470d-a297-ce4521f88b70","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,-16],"id":"1e5977fe-a632-4b97-b65c-e23a34dcd7ee","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indica칞칫es infinitas","mode":"list","cachedResultName":"funil de indica칞칫es infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usu치rio').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usu치rio').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usu치rio').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Hor치rio da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usu치rio').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usu치rio').item.json.status }}","Id do comprador":"={{ $('Dados do Usu치rio').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Hor치rio da compra","displayName":"Hor치rio da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,0],"id":"b3f33b15-4840-42bb-8826-f8de5de0b97f","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,0],"id":"20d9ea6b-5a09-41fd-90e2-54f132042e85","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"operation":"get","tableId":"funil de indica칞칫es infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,0],"id":"79dcf243-408a-474d-901c-690c726d0613","name":"Verifica se o lead j치 existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }} ","rightValue":"pix_generated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,0],"id":"e797a826-8c13-4596-b25e-2d1ae149c073","name":"Condi칞칚o se n칚o for comprador"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[464,0],"id":"651d6faf-64d8-4f37-87ee-95a2daef82e9","name":"Atualiza Data e Hora"},{"parameters":{"jsCode":"// Este n칩 trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo espec칤fico, troque \"$json\" por $('NomeDoN칩Anterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; sen칚o, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pare칞a um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Fun칞칚o de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"f48fe498-1e98-4d1e-83ea-87103fa348ef","name":"Formata data e hora"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transa칞칚o","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transa칞칚o","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"b90c0563-a80c-4ef2-accf-b1e7700e8b33","name":"Dados do Usu치rio"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indica칞칫es infinitas","mode":"list","cachedResultName":"funil de indica칞칫es infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Hor치rio da compra","displayName":"Hor치rio da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,160],"id":"d308b974-e3bf-4647-9b02-64f68b5e206c","name":"Atualiza Status","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usu치rio","type":"main","index":0}]]},"Envio do C칩digo Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do C칩digo Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicita칞칚o de comprovante","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead j치 existe na base de compradores","type":"main","index":0}]]},"Verifica se o lead j치 existe na base de compradores":{"main":[[{"node":"Condi칞칚o se n칚o for comprador","type":"main","index":0}]]},"Condi칞칚o se n칚o for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Atualiza Status","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Dados do Usu치rio":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}