2jiqi8LONZP5uoO2.json
{"updatedAt":"2025-10-04T10:12:35.444Z","createdAt":"2025-10-04T03:03:46.496Z","id":"2jiqi8LONZP5uoO2","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Aldo-IG-02","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"269b67dc-5d90-45ce-adca-54571e2cc295","name":"Webhook","webhookId":"4c4ce07c-e58c-4f5c-80aa-3b2332d76ae2"},{"parameters":{"assignments":{"assignments":[{"id":"33788579-5a28-4206-ad34-a56d80ea177b","name":"user_id","value":"={{ $json.body.id }}","type":"string"},{"id":"da0f9a75-339b-4d45-9a05-9600829470f1","name":"user_name","value":"={{ $json.body.first_name }}","type":"string"},{"id":"f786034c-bad5-4646-bfb5-cfa21ea3206c","name":"user_last_name","value":"={{ $json.body.last_name }}","type":"string"},{"id":"f9b14d57-3724-4d20-9a04-8c8d647d01bd","name":"gender","value":"={{ $json.body.gender }}","type":"string"},{"id":"075b9f1f-4180-4faa-887a-c4ecf440577c","name":"message","value":"={{ $json.body.last_input_text }}","type":"string"},{"id":"3f68d0d8-57c6-4bdd-b105-3de13de0b793","name":"ig_username","value":"={{ $json.body.ig_username }}","type":"string"},{"id":"f61eb39d-736c-401f-9706-19b9a42e05da","name":"ig_id","value":"={{ $json.body.ig_id }}","type":"string"},{"id":"428eb2b9-ff77-4131-b602-7e0da9af21f0","name":"post_id","value":"={{ $json.body.last_growth_tool.id }}","type":"string"},{"id":"85fea49c-19d1-4d9d-8f10-e55d4aa4cf23","name":"post_name","value":"={{ $json.body.last_growth_tool.name }}","type":"string"},{"id":"ee38534f-7e87-4af3-8ac3-aaa62d79dfd5","name":"trigger_type","value":"={{ $json.body.last_growth_tool.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"39af7d5b-0972-482d-ad9d-4b919b4fa275","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1de07e9d-444c-4b70-be6a-6c67eceb0cb4","leftValue":"={{ $json.message }}","rightValue":"funil","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"9c2e122a-82f7-469c-9317-1eef9217175a","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.alvoradadigital.com.br","user-agent":"ManyChat","content-length":"1176","content-type":"application/json; charset=utf-8","x-forwarded-for":"3.124.204.13","x-forwarded-host":"n8n.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"62f20b7d8f04","x-real-ip":"3.124.204.13","accept-encoding":"gzip"},"params":{},"query":{},"body":{"key":"user:830889054","id":"830889054","page_id":"560277847398558","user_refs":[],"status":"active","first_name":"Davi","last_name":"Conceição | Gestor de Tráfego e Automações","name":"Davi Conceição | Gestor de Tráfego e Automações","gender":null,"profile_pic":"https://app.manychat.com/ava/372071/830889054/6781eb1e980c94f6356a338ad89c35ab","locale":null,"language":null,"timezone":"UTC±00","live_chat_url":"https://app.manychat.com/fb372071/chat/830889054","last_input_text":"Oi","optin_phone":false,"phone":null,"optin_email":false,"email":null,"subscribed":"2025-09-05T18:41:49-03:00","last_interaction":null,"ig_last_interaction":"2025-10-04T00:00:14-03:00","last_seen":null,"ig_last_seen":"2025-10-04T00:02:00-03:00","is_followup_enabled":true,"ig_username":"daviconceicaoofc","ig_id":613682278032695,"whatsapp_phone":null,"optin_whatsapp":false,"phone_country_code":null,"last_growth_tool":{"id":45010444,"key":"widget:45010444","name":"Post or Reel Comments #41","type":"feed_comment_trigger","channel":"instagram"},"custom_fields":{"Faturamento atual":null,"name":null,"Nome Completo":null,"[T2] n8n - Resposta do Agente Copytron":null,"WhatsApp":null}},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook-test/Aldo-IG-02","executionMode":"test"}}]},"versionId":"156e54a9-0a36-43c4-8962-433766fd03ba","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-04T03:03:46.496Z","createdAt":"2025-10-04T03:03:46.496Z","role":"workflow:owner","workflowId":"2jiqi8LONZP5uoO2","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}