40yJ9aE0ob4X4haH.json
{"updatedAt":"2026-01-09T14:35:55.904Z","createdAt":"2026-01-08T19:59:37.363Z","id":"40yJ9aE0ob4X4haH","name":"Agente Comercial Alvorada Digital","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"Comercial - Alvorada Digital","remoteJid":"5511921203010@s.whatsapp.net","messageText":"mensagem de teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7920,-1248],"id":"e8be7c9b-7112-4e42-a6a5-921839b39566","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"content":"## Recebimento da mensagem","height":336,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8016,-400],"id":"459c6864-45f0-4ef0-baaf-580a89731378","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"agente-comercial-alvorada-digital","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7856,-272],"id":"c44bb97e-147a-4444-85d6-896bd0c3c4c2","name":"Webhook","webhookId":"e9995e4a-b095-4c42-aa23-23bcdf62d6e5"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6448,-560],"id":"84e56e77-d1c3-4916-9bf3-6bacf965f1fa","name":"setTexto"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"audio","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7184,-272],"id":"718acdfd-dc59-43cb-9086-d4d173f37802","name":"setAudio"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"image","value":"={{ $('Webhook1').item.json.body.chatInput .split('|')[1]}}","type":"string"},{"id":"d5b5f8ac-3873-4c20-8f71-10871be94e5d","name":"legenda","value":"={{ $('Webhook1').item.json.body.chatInput .split('|')[2]||'Sem comentario'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7200,-96],"id":"108e5ad4-21ef-4943-96dc-812ef1b59306","name":"setImage"},{"parameters":{"url":"={{ $json.audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5984,224],"id":"50031d36-df90-4ef0-ae39-037e4775706a","name":"HTTP Request"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"descreva essa imagem que estou enviando junto com esse comentario para te contextualizar.\nEu trabalho com venda de carros. explique se é relevante","imageUrls":"={{ $json.image }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6752,-128],"id":"b1b040b9-5003-42ed-a4c3-07d72875642a","name":"Analyze image"},{"parameters":{"assignments":{"assignments":[{"id":"3806d87c-6c5c-4f60-961c-2eb1ad633319","name":"texto","value":"=Cliente {{ $('Webhook1').item.json.body.pushName }} enviou uma imagem com esse conteudo: {{ $json.content }}e esse comentario: {{ $('setImage').item.json.legenda }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6528,-144],"id":"4f6b8220-f4f6-4f4a-8589-1642feabde33","name":"Edit Fields1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5552,-416],"id":"34caba7e-1634-47c6-ac6a-ae11f713c5ae","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $('setTexto').item.json.texto }}","options":{"systemMessage":"=#### Helena — Assistente virtual da Clínica Dr. Flavio Brayner\n\n#### Identidade\n- Nome: Helena\n- Função: Assistente virtual da equipe do Dr. Flavio\n- Missão: Acolher e qualificar pacientes de perfil exigente, transmitindo atenção, discrição, excelência e cuidado genuíno; conduzir uma conversa personalizada para coletar todas as informações essenciais, sem soar mecânica; encaminhar com agilidade e segurança para a equipe humana quando necessário.\n\n#### Diretriz de Linguagem Neutra e Alternância de Gênero (obrigatória)\n- Padrão: priorize linguagem neutra, impessoal e inclusiva. Exemplos: “pessoa”, “paciente”, “equipe”, “atendimento”, “você”, “a equipe médica”, “o Dr. Flavio”.\n- Evite marcação de gênero sempre que possível. Ex.: prefira “É um prazer receber você” em vez de “bem-vindo(a)”.\n- Quando a alternância for necessária, use SEMPRE feminino antes, com masculino entre parênteses: a (o), as (os), da (do), das (dos), na (no), nas (nos), uma (o).\n- Não use “os(as)”, “o(a)” com masculino primeiro, nem sequências como “as os”, “os as”, “o a”, “a o”.\n- Correção automática obrigatória em QUALQUER resposta: se surgir “as os”, “os as”, “o a”, “a o” ou variantes, reescreva imediatamente para “as (os)”, “a (o)”, “das (dos)”, “nas (nos)” antes de enviar.\n- Sugestões de neutralização:\n  - “atendente humano(a)” → “atendente da equipe”\n  - “por segurança clínica do(a) paciente” → “por segurança clínica” ou “por segurança clínica de cada paciente”\n  - “bem-vindo(a)” → “boas-vindas” ou “é um prazer receber você”\n- Personagem: “Obrigada” é aceitável (voz da Helena).\n- Checklist antes de enviar: 1) remover marcações de gênero desnecessárias; 2) se a alternância for imprescindível, aplicar o padrão feminino + masculino entre parênteses; 3) revisar concordância.\n\n#### Tom de voz (premium, acolhedor e discreto)\n- Linguagem gentil, pausada e personalizada, sem gírias.\n- Valide cada resposta com empatia: “Agradeço por compartilhar”, “Compreendo perfeitamente”, “Sua confiança é importante para nós”.\n- Respeite recusas sem pressionar; siga adiante com naturalidade.\n- Personalize pelo nome do paciente.\n- Sempre escreva “Dr. Flavio” (sem acento).\n\n#### Regras e Limites\n- Não oferecer diagnósticos, recomendações clínicas ou indicar procedimentos sem avaliação médica.\n- Dúvidas técnicas/saúde:\n  “Essa é uma dúvida importante e que somente o Dr. Flavio ou a equipe médica pode responder com precisão. Encaminharei sua questão para que um especialista entre em contato o quanto antes, tudo bem?”\n- Privacidade/LGPD: solicitar consentimento para armazenar dados e para contato; tratar tudo com discrição.\n\n#### Políticas de Agendamento e Disponibilidade\n- Não ofertar disponibilidade de atendimento sem verificar previamente.\n- Se for possível verificar disponibilidade via sistema, fazer a checagem antes de qualquer oferta de data/horário.\n- Se não for possível verificar disponibilidade no momento, continuar o atendimento normalmente e, quando restar apenas o agendamento, informar que fará o encaminhamento para atendente da equipe finalizar:\n  “Neste momento, vou encaminhar você para uma (o) atendente da equipe que concluirá o agendamento e a forma de pagamento, tudo bem?”\n- Sempre que o paciente solicitar efetivar a marcação, encaminhar para atendente da equipe para essa etapa (agendamento e pagamento).\n\n#### Política para Múltiplos Procedimentos\n- Se o paciente quiser realizar dois procedimentos:\n  - Explicar, de forma objetiva e clara, o que é cada procedimento.\n  - Informar que o Dr. Flavio não realiza dois procedimentos juntos, por segurança clínica de cada paciente.\n  - Oferecer orientação sobre priorização e sequência segura (apenas como explicação geral, sem indicar condutas clínicas).\n\n#### Jornada da Consulta (Signature 360°)\nEstrutura da experiência (duração aproximada: 2h):\n- Bioimpedância com as técnicas de enfermagem Kátia e Dyellen (peso, gordura corporal, massa muscular etc.).\n- Consulta com o Dr. Flavio: escuta atenta, exame físico, exame de ultrassom e explicação das possibilidades de tratamento.\n- Nutrição com a Dra. Mayara Negrão: avaliação nutricional e plano alimentar personalizado.\n- Atendimento Personalizado com Ana Caroline: orientações dos próximos passos até a realização do sonho.\n- Recomendar reservar um tempo apropriado para a experiência completa.\n\n#### Informações sobre a Consulta.\nQuando perguntado sobre o valor da consulta, deve dar exatamente essa informação abaixo. Não precisa criar aqui, só envie essa informação abaixo que está entre []. Não envie o [], somente a mensagem que está dentro. Quero que diga EXATAMENTE o que está aqui. Nada além, nem aquém.\n\n[Informações importantes sobre a Consulta ☺️\n\n•⁠ ⁠O valor da consulta com a equipe do Dr Flavio Brayner é R$800,00 reais;\n\n•⁠ ⁠No ato do agendamento as/os pacientes realizam o pagamento de 50% do valor da consulta;\n\n(Pix ou transferência.)\n\n•⁠ ⁠O restante do valor pode ser feito no dia da consulta;\n\n(Pix, dinheiro, cartão de crédito ou débito.)\n\nAh, você pode realizar a sua consulta tanto da maneira presencial quanto online!😃]\n\n#### Endereço da clínica\nTv. Rui Barbosa, 1674 - Nazaré. Belém - Pará\n\n#### Horário de funcionamento\nDe 9h às 19h (Horário de Brasília)\n\n#### Fluxo Conversacional Essencial\nSiga o roteiro abaixo e adapte a ordem conforme o contexto. Valide cada resposta; não pule etapas sem motivo claro.\n\n- Abertura\n  - “Olá, tudo bem? É um prazer receber você. Sou a Helena, Assistente virtual da equipe do Dr. Flavio. Quero garantir que sua experiência seja a melhor possível desde já 😊”\n  - “Como estou em treinamento, peço desculpas por eventuais transtornos, mas vou me esforçar para que este atendimento seja perfeito com você.”\n  - Regra: sempre se identifique dessa forma se não houver histórico de conversa com o usuário; sempre inicie com essa saudação de abertura.\n\n- Coleta de Nome\n  - “Poderia me dizer seu nome, por favor? Assim eu personalizo nosso atendimento.”\n  - Validação: “Obrigada, posso te chamar de {nome}? Agradeço por compartilhar.”\n\n- Contato (telefone/WhatsApp)\n  - Se o número foi capturado automaticamente:\n    “Perfeito! Só para confirmar, podemos usar este número do WhatsApp como seu contato principal? Se preferir outro, é só me dizer.”\n    - Se SIM: registrar como principal. Se informar outro: registrar o novo como principal.\n  - Se não for possível identificar número:\n    “Se puder, me informe um telefone ou WhatsApp para contato rápido, caso precisemos de algum suporte adicional.”\n\n- Como nos conheceu (origem)\n  - “Se não for incômodo, como nos conheceu? Adoramos saber como cada história começa por aqui!”\n\n- Interesse/Procedimento\n  - “Tem algum procedimento específico em mente? Ou prefere entender melhor as opções disponíveis?”\n  - Se o paciente citar dois procedimentos:\n    - Explicar cada um brevemente e informar:\n      “Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. A sequência ideal é definida após avaliação médica, tudo bem?”\n\n- Motivação/Objetivo\n  - “Existe algum motivo especial ou objetivo pessoal que te motivou a buscar esse procedimento agora?”\n\n- Histórico de Procedimentos\n  - “Já realizou algum procedimento cirúrgico/estético antes? Isso nos ajuda a planejar tudo com ainda mais segurança.”\n\n- Condições de Saúde/Medicações (opcional, sem pressão)\n  - “Há alguma condição de saúde ou uso de medicação contínua que considere importante compartilhar? Não é obrigatório; quanto mais soubermos, melhor podemos cuidar de você.”\n  - Se recusar: “Perfeito, sem problemas. Obrigada pela confiança!”\n\n- Expectativas e Dúvidas\n  - “Fique à vontade para compartilhar dúvidas, expectativas ou preocupações. Aqui toda pergunta é bem-vinda.”\n\n- Preferência de Agenda (sem ofertar horários)\n  - “Você já tem alguma data ou período em mente para realizar a consulta/avaliação?”\n  - Regra: não ofertar horários sem verificar disponibilidade. Se houver integração para verificação, executar checagem interna. Se não for possível verificar agora, informar que o agendamento será finalizado por atendente da equipe.\n\n- Modalidade de consulta\n  - “Você prefere consulta presencial ou online?”\n\n- Consentimento (LGPD)\n  - “Podemos registrar seus dados para personalizar seu atendimento e entrar em contato com você? Trataremos tudo com total discrição.”\n\n- Encaminhamento para Agendamento (humano)\n  - Se o paciente quiser marcar:\n    “Perfeito, vou encaminhar você agora para atendente da equipe concluir o agendamento e a forma de pagamento, combinado?”\n  - Se não houver confirmação de disponibilidade pelo sistema:\n    “Neste momento, nossa verificação de disponibilidade está indisponível. Vou encaminhar para atendente da equipe concluir o agendamento e garantir o melhor horário para você.”\n\n- Encerramento\n  - “Agradeço muito por compartilhar essas informações. Nosso compromisso é proporcionar um atendimento diferenciado; esses detalhes fazem toda a diferença. Sigo à disposição para qualquer dúvida — estamos aqui para tornar sua experiência a mais confortável e segura possível!”\n\n- Tratamento de Erro (quando necessário)\n  - “Peço desculpas, não compreendi totalmente sua última mensagem. Poderia reformular ou me dar mais detalhes, por gentileza?”\n\n#### Procedimentos Específicos (base de resposta)\n\n- Face Lifting (Rejuvenescimento Facial)\n  - Resposta humanizada:\n    “Sabe quando sentimos que o rosto não acompanha nosso estado de espírito? O Face Lifting moderno trabalha profundamente (DEEP PLANE), com suavidade na camada externa, entregando um resultado natural e harmônico — sem aspecto artificial. Posso explicar cada etapa e adaptar ao seu perfil 😉”\n  - Resumo técnico:\n    - Procedimento: Face Lifting (Rejuvenescimento Facial)\n    - Diferencial: Atuação forte no plano profundo (DEEP PLANE) + suavidade externa → naturalidade e harmonia.\n\n- M.I.L.A. (Lipoabdominoplastia Minimamente Invasiva)\n  - Resposta humanizada:\n    “A M.I.L.A. combina tecnologias modernas (SAFER/ultrassom, Renuvion) e técnicas avançadas (LipoHD, UGRAFT, videocirurgia para diástase) para tratar abdômen, músculos, gordura e pele com mínima cicatriz e recuperação acelerada. A avaliação individual é essencial.”\n  - Resumo técnico:\n    - Procedimento: M.I.L.A.\n    - Diferencial: Combina tecnologias e técnicas para flacidez/definição, com mínima cicatriz e recuperação mais rápida.\n  - Quem pode fazer a cirurgia de M.I.L.A?\n    - Pessoas com boa saúde geral, flacidez de pele leve e moderada, diástase abdominal e gordura localizada.\n    - Não é indicada para grande excesso de pele.\n    - Cada paciente deve passar por avaliação cuidadosa e individual com o médico para verificar a cirurgia mais indicada.\n\n- LipoUltraHD / UGRAFT\n  - Resposta humanizada:\n    “Vai além da LipoHD tradicional: atua na gordura e no músculo. A definição vem da camada muscular, associando ultrassom e lipoenxertia para resultados naturais, proporcionais e seguros.”\n  - Resumo técnico:\n    - Procedimento: LipoUltraHD / UGRAFT\n    - Diferencial: Contorno por trabalho combinado em gordura e músculo.\n\n- Mastopexia (Lifting de Mamas)\n  - Resposta humanizada:\n    “Levanta e remodela seios que cederam com o tempo, gravidez, amamentação ou perda de peso. Pode ser feita com ou sem prótese, conforme o volume desejado.”\n  - Resumo técnico:\n    - Procedimento: Mastopexia\n    - Diferencial: Reposiciona tecido, remove excesso de pele; com/sem prótese, conforme objetivo.\n\n- Vaser Lipo (Lipoaspiração Ultrassônica)\n  - Resposta humanizada:\n    “Usa ultrassom para emulsificar a gordura antes de remover, permitindo definição mais precisa e recuperação geralmente mais rápida, com menos trauma — ótima para áreas fibrosas.”\n  - Resumo técnico:\n    - Procedimento: Vaser Lipo\n    - Diferencial: Ultrassom → remoção facilitada e contorno preciso.\n\n- Remodelação Costal\n  - Resposta humanizada:\n    “Moderna e minimamente invasiva: ajusta a angulação das últimas costelas (sem remoção) para potencializar a cintura, muitas vezes associada a LipoHD/Lipoescultura.”\n  - Resumo técnico:\n    - Procedimento: Remodelação Costal\n    - Diferencial: Ajuste de angulação costal, sem ressecção; sinergia com LipoHD.\n\n#### FAQ e Respostas Rápidas\n- Endereço\n  - “Claro! Estamos na Tv. Rui Barbosa, 1674 - Nazaré.”\n- Duração da experiência\n  - “A Consulta Signature 360° dura cerca de 2 horas, pois envolve bioimpedância, avaliação completa com o Dr. Flavio (incluindo ultrassom), nutrição com a Dra. Mayara Negrão e um atendimento personalizado com a Ana Caroline.”\n- Valor e pagamento\n  - “A consulta custa R$ 800,00. No agendamento, é feito o pagamento de 50% (Pix ou transferência) e o restante no dia (Pix, dinheiro, cartão de crédito ou débito).”\n- Modalidade\n  - “Você pode realizar a consulta presencial ou online — como preferir.”\n- Agendamento\n  - “Para concluir a marcação, vou encaminhar você para atendente da equipe finalizar agendamento e pagamento, combinado?”\n- Dois procedimentos\n  - “Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. Posso explicar as diferenças e o que cada um trata, e a sequência segura é definida após avaliação médica.”\n\n#### Integração e Preambles (para automação)\n- createCRMLead\n  - Objetivo: Criar/atualizar lead com dados coletados.\n  - Inputs: nome, telefone, origem, interesse, motivação, histórico, saúde/medicação (se informado), preferências de agenda, modalidade, consentimento.\n  - Output: lead_id, status.\n- checkAvailability\n  - Objetivo: Verificar disponibilidade (sem ofertar horários diretamente).\n  - Inputs: período desejado, modalidade (presencial/online), unidade/cidade (se aplicável).\n  - Output: status (disponível/indisponível/erro), janelas internas (não divulgar ao paciente), observações.\n- handoffToHuman\n  - Objetivo: Encaminhar para atendente da equipe concluir agendamento e pagamento.\n  - Inputs: resumo do caso, contato, preferência de período e modalidade, prioridade.\n  - Output: ticket_id/atendente_responsável.\n- notifyMedicalTeam\n  - Objetivo: Encaminhar dúvidas técnicas/urgentes para a equipe médica.\n  - Inputs: resumo do caso, contato, prioridade.\n  - Output: ticket_id.\n- Regras de uso:\n  - Não oferecer horários ao paciente. Se checkAvailability falhar ou não estiver disponível, seguir o fluxo e fazer handoff ao final.\n  - Sempre informar ao paciente quando for encaminhado para humano, de forma acolhedora.\n\n#### Few-shots (estilo premium, neutro e natural)\n- Saudação\n  - Usuário: “Oi”\n  - Helena: “Olá! É um prazer receber você. Sou a Helena, Assistente virtual da equipe do Dr. Flavio. Para personalizar seu atendimento, posso saber seu nome?”\n- Múltiplos procedimentos\n  - Usuário: “Quero fazer mastopexia e lipo junto.”\n  - Helena: “Agradeço por compartilhar. A mastopexia levanta e remodela as mamas, e a lipo atua no contorno corporal. Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. Após a avaliação, a equipe indica a sequência mais adequada, tudo bem?”\n- Solicitação de horário\n  - Usuário: “Quero agendar.”\n  - Helena: “Perfeito! Para garantir a melhor experiência, o agendamento e o pagamento são finalizados por atendente da equipe. Posso encaminhar você agora para concluirmos tudo com segurança?”\n- Endereço\n  - Usuário: “Qual o endereço?”\n  - Helena: “Claro! Tv. Rui Barbosa, 1674 - Nazaré.”\n- Disponibilidade indisponível\n  - Usuário: “Tem horário semana que vem?”\n  - Helena: “Vou verificar internamente a disponibilidade. Caso o sistema não retorne agora, sigo coletando suas preferências e, ao final, encaminho para atendente da equipe concluir o agendamento, pode ser?”\n\n#### Observação final de qualidade (aplicar sempre)\n- Revise a saída procurando por: “as os”, “os as”, “o a”, “a o”, “os(as)”, “o(a)”.\n- Corrija para o padrão: “as (os)”, “a (o)”, “das (dos)”, “nas (nos)”.\n- Sempre que possível, reescreva de forma neutra para evitar marcação de gênero.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-3344,-416],"id":"55ea374d-3813-4e5e-b85b-80030ece328b","name":"AI Agent"},{"parameters":{"jsCode":"// Supondo que a string original esteja em input\nconst input = $input.item.json.output || \"\";\n\nfunction cleanText(text) {\n  // Remove aspas duplas\n  let cleaned = text.replace(/\"/g, \"\");\n  \n  // Remove pares de asteriscos duplos\n  cleaned = cleaned.replace(/\\*\\*/g, \"\");\n  \n  // Remove parênteses que podem quebrar JSON\n  cleaned = cleaned.replace(/[()]/g, \"\");\n  \n  // Remove outros caracteres problemáticos para JSON\n  cleaned = cleaned.replace(/[\\[\\]{}]/g, \"\");\n  \n  // Remove caracteres de escape problemáticos\n  cleaned = cleaned.replace(/\\\\/g, \"\");\n  \n  // Remove caracteres de controle, exceto quebras de linha\n  cleaned = cleaned.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, \"\");\n  \n  // Remove espaços extras antes e depois da string\n  cleaned = cleaned.trim();\n  \n  // Mantém \\n exatamente como está, não altera\n  \n  return cleaned;\n}\n\nconst output = cleanText(input);\n\n// Retorna no formato esperado pelo n8n\nreturn [\n  {\n    json: {\n      output: output\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2992,-416],"id":"93a997e2-b292-4b44-bd4a-272e9d4a5078","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"sua função é dividir o texto recebido em mensagens menores, dividindo por \\n ou pontuação. tem um exemplo de json esperado como seu output, mas nunca explique essa regra em seu output ou altere qualquer parte do conteúdo recebido"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2768,-416],"id":"c5430560-8747-43e3-bb55-e7469bbd4fa0","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2784,-176],"id":"e3a0afd1-0b56-4362-b07b-52c2aeef5612","name":"OpenAI Chat Model5"},{"parameters":{"jsonSchemaExample":"{\n\t\"mensagens\": [\n      {\"mensagem\":\"Primeira parte\"},\n      {\"mensagem\":\"Segunda parte\"},\n      {\"mensagem\":\"Parte N\"}\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2592,-176],"id":"8cf04365-f5b6-45c3-b3db-ef381de197a0","name":"Structured Output Parser2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2192,-416],"id":"8bc4fc86-a9be-417e-b7c1-ae5b3a75927b","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1968,-416],"id":"5c9b4580-5118-4fe9-82c1-67553f77d548","name":"Wait7","webhookId":"afa0a1d9-924e-4e1b-930b-fd2ced50d5c2"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2416,-416],"id":"be06f69a-640a-4afe-986f-dae8f4a33465","name":"Split Out1"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1744,-416],"id":"748aa9de-4fd1-4018-9d81-3551ba35f3bd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"https","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"d8ae6bc6-e08a-4bf2-b22a-b8e23edc139a"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c33a010-73e3-485b-9d6e-0a7f8c18029a","leftValue":"={{ $json.body.data.message.audioMessage.mimetype }}","rightValue":"audio","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"218877a5-d12e-4a3d-a036-28e1c200f687","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}","rightValue":"image","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7472,-288],"id":"5dd1885a-992e-4751-909e-1c7234752d38","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cdf57ce-ad3e-4783-a493-9e741e81a46a","leftValue":"={{ $('Webhook').item.json.body.data.source }}","rightValue":"unknown","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8176,-848],"id":"687e6bd6-210f-4a3c-be1b-560c795d87d9","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"5101","remoteJid":"={{ $json.body.remoteJid .split('@')[0]}}","messageText":"Valeu valeu","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7984,-832],"id":"5a8c9bf9-5390-4f7f-a8e1-580f570e7a94","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"assignments":{"assignments":[{"id":"18b06c46-0122-451f-85f5-3041efd3bcf3","name":"texto","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,-416],"id":"50455c5d-e637-43ec-8b46-d1e0f85ec30b","name":"Edit Fields2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3376,-176],"id":"7c2dedce-877a-4ea0-abe9-44fec4d50df9","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-3232,-176],"id":"5dcde42f-bc03-4313-89af-1430fbab0772","name":"Simple Memory1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6224,-384],"id":"e4b39d75-0578-4279-8258-3b288a658509","name":"Transcribe a recording"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('If1').item.json.body.data.key.remoteJid }}","messageText":"=Desculpe, não consigo carregar imagens por enquanto. Você poderia enviar em texto, por gentileza?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6912,-256],"id":"0ca98934-d178-4ae3-81b5-2029dd074e8e","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals"},"id":"1b5052ba-fefb-4f1d-a76d-3ee4fa0387c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd960d0-520a-4ff4-805c-c6a44a7b1905","leftValue":"={{ $json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4800,-736],"id":"79892811-fe9f-4910-a75c-038a3cc9a978","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,-832],"id":"6b1e374e-5cc2-4f4e-9d49-cb3897f93472","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"eecc92a6-0b31-4cad-95ac-d4e6c60c69ae","name":"Status","value":"Desligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4592,-832],"id":"b25ca7cc-186d-4ba6-9e09-2b6ba34adc1b","name":"Status Desligado"},{"parameters":{"assignments":{"assignments":[{"id":"bc16506e-7f8a-45e9-b9d4-6412e18a6225","name":"Status","value":"Ligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4608,-656],"id":"addcd8eb-2c0c-4d16-b278-85943130278f","name":"Status Ligado"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.Status }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4416,-832],"id":"5d31ef25-ee53-4c1c-9cf3-2e6be321f873","name":"Desligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"=2","Status":"={{ $json.Status }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4416,-656],"id":"15ae8572-44a3-427c-9da3-3901f6ddb26d","name":"Ligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $json.Status }}","rightValue":"Ligado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4592,-384],"id":"51f9291a-04c1-4c30-9a84-00b420d360c8","name":"Está ligado?"},{"parameters":{"documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4864,-384],"id":"26232987-cab4-4b34-ae58-5477f29df8d8","name":"Verifica Status","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4336,-256],"id":"a7a487e6-01b2-49df-b097-3889a175710a","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,-656],"id":"4518ac80-15d5-4e14-a526-832df0b115e7","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"contains"}},{"id":"a75beb7a-9528-4ea2-afdf-d57624260a7c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5296,-400],"id":"6e8c941e-225e-4d07-8c62-b54579b51d24","name":"Está ligado?1"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou desligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4208,-832],"id":"45be4fec-c2ad-40dc-8f88-51c31b4d00c4","name":"Desligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou ligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4208,-656],"id":"16748c6c-6f5b-4135-aae8-62e9f4d3384f","name":"Ligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"url":"={{ $json.audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-6672,-384],"id":"d5c9ca26-8cbe-49b8-90bb-761cd4a64a1c","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42db854e-2007-4b66-8223-08d41da1b907","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511921203010@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e20ef496-1007-4b6d-aa17-7a64268d4124","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"‪5511992301618‬@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd54f064-f18c-41dc-8e82-4662cb94fab2","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511959588215@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5072,-560],"id":"cd324b1c-c721-42ba-9e87-fc5ce041b95e","name":"Verifica comando1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4864,-560],"id":"4a1b306b-036c-45b5-b7d4-bb50bff2522e","name":"No Operation, do nothing4"},{"parameters":{"content":"## Resposta do Agente","height":944,"width":2080},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3568,-752],"id":"f9967228-5272-4734-9528-9638be619f03","name":"Sticky Note"},{"parameters":{"content":"## Tratamento da mensagem","height":896,"width":2208,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7568,-704],"id":"7009ba98-7d81-417b-8893-d40cb0d6c84c","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('Switch1').item.json.body.data.key.remoteJid }}","messageText":"=Desculpe, não consigo ouvir áudios por enquanto. Você poderia enviar em texto, por gentileza?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6416,-240],"id":"00af9d37-b987-4785-aab5-3dabcdcaf2d7","name":"Enviar texto4","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"content":"## Tratamento de comando - Verifica se o robô está ativo","height":1184,"width":1792,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5360,-992],"id":"1ff91d69-554c-4ae5-a5d0-3c5f885371db","name":"Sticky Note4"}],"connections":{"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"setTexto":{"main":[[{"node":"Merge","type":"main","index":0}]]},"setAudio":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"setImage":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Está ligado?1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"setTexto","type":"main","index":0}],[{"node":"setAudio","type":"main","index":0}],[{"node":"setImage","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Enviar texto2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Desligado","type":"main","index":0}],[{"node":"Status Ligado","type":"main","index":0}]]},"Status Desligado":{"main":[[{"node":"Desligado","type":"main","index":0}]]},"Status Ligado":{"main":[[{"node":"Ligado","type":"main","index":0}]]},"Desligado":{"main":[[{"node":"Desligado1","type":"main","index":0}]]},"Ligado":{"main":[[{"node":"Ligado1","type":"main","index":0}]]},"Está ligado?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verifica Status":{"main":[[{"node":"Está ligado?","type":"main","index":0}]]},"Está ligado?1":{"main":[[{"node":"Verifica comando1","type":"main","index":0}],[{"node":"Verifica Status","type":"main","index":0}]]},"Desligado1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Ligado1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Verifica comando1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"axios/1.13.2","content-length":"1489","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"31.97.175.240","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fec619743d2e","x-real-ip":"31.97.175.240"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Alvorada Digital - Comercial","data":{"key":{"remoteJid":"5511921203010@s.whatsapp.net","remoteJidAlt":"76077510717635@lid","fromMe":false,"id":"3BAE43B772890B657D0B","participant":"","addressingMode":"pn"},"pushName":"Davi Conceição","status":"DELIVERY_ACK","message":{"conversation":"Desligar","messageContextInfo":{"threadId":[],"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":139,"1":237,"2":22,"3":218,"4":1,"5":220,"6":239,"7":206,"8":121,"9":2},"senderTimestamp":{"low":1767728581,"high":0,"unsigned":true},"receiverAccountType":1,"recipientKeyHash":{"0":81,"1":174,"2":225,"3":11,"4":66,"5":29,"6":72,"7":109,"8":124,"9":9},"recipientTimestamp":{"low":1767967358,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":245,"1":12,"2":39,"3":91,"4":200,"5":37,"6":140,"7":70,"8":188,"9":12,"10":242,"11":46,"12":39,"13":38,"14":53,"15":190,"16":222,"17":195,"18":135,"19":131,"20":186,"21":182,"22":207,"23":26,"24":223,"25":127,"26":167,"27":111,"28":212,"29":215,"30":182,"31":4}}},"messageType":"conversation","messageTimestamp":1767969209,"instanceId":"0f40fa08-72e5-4a10-8637-0196bda9fdde","source":"unknown"},"destination":"https://webhook.alvoradadigital.com.br/webhook/agente-comercial-alvorada-digital","date_time":"2026-01-09T11:33:29.528Z","sender":"5511992301618@s.whatsapp.net","server_url":"https://api.fluq.com.br","apikey":"81F520315A8F-4619-97D6-BB837AD96B4E"},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/agente-comercial-alvorada-digital","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"8804cf1e-c7df-407c-b977-049607d5416f","activeVersionId":"011f37eb-bdba-48e6-934d-419ac6eabd33","triggerCount":1,"shared":[{"updatedAt":"2026-01-08T19:59:37.363Z","createdAt":"2026-01-08T19:59:37.363Z","role":"workflow:owner","workflowId":"40yJ9aE0ob4X4haH","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-09T14:34:38.776Z","createdAt":"2026-01-09T14:34:36.949Z","versionId":"011f37eb-bdba-48e6-934d-419ac6eabd33","workflowId":"40yJ9aE0ob4X4haH","nodes":[{"parameters":{"resource":"messages-api","instanceName":"Comercial - Alvorada Digital","remoteJid":"5511921203010@s.whatsapp.net","messageText":"mensagem de teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7920,-1248],"id":"e8be7c9b-7112-4e42-a6a5-921839b39566","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"content":"## Recebimento da mensagem","height":336,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8016,-400],"id":"459c6864-45f0-4ef0-baaf-580a89731378","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"agente-comercial-alvorada-digital","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7856,-272],"id":"c44bb97e-147a-4444-85d6-896bd0c3c4c2","name":"Webhook","webhookId":"e9995e4a-b095-4c42-aa23-23bcdf62d6e5"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6448,-560],"id":"84e56e77-d1c3-4916-9bf3-6bacf965f1fa","name":"setTexto"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"audio","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7184,-272],"id":"718acdfd-dc59-43cb-9086-d4d173f37802","name":"setAudio"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"image","value":"={{ $('Webhook1').item.json.body.chatInput .split('|')[1]}}","type":"string"},{"id":"d5b5f8ac-3873-4c20-8f71-10871be94e5d","name":"legenda","value":"={{ $('Webhook1').item.json.body.chatInput .split('|')[2]||'Sem comentario'}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7200,-96],"id":"108e5ad4-21ef-4943-96dc-812ef1b59306","name":"setImage"},{"parameters":{"url":"={{ $json.audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5984,224],"id":"50031d36-df90-4ef0-ae39-037e4775706a","name":"HTTP Request"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"descreva essa imagem que estou enviando junto com esse comentario para te contextualizar.\nEu trabalho com venda de carros. explique se é relevante","imageUrls":"={{ $json.image }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6752,-128],"id":"b1b040b9-5003-42ed-a4c3-07d72875642a","name":"Analyze image"},{"parameters":{"assignments":{"assignments":[{"id":"3806d87c-6c5c-4f60-961c-2eb1ad633319","name":"texto","value":"=Cliente {{ $('Webhook1').item.json.body.pushName }} enviou uma imagem com esse conteudo: {{ $json.content }}e esse comentario: {{ $('setImage').item.json.legenda }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6528,-144],"id":"4f6b8220-f4f6-4f4a-8589-1642feabde33","name":"Edit Fields1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5552,-416],"id":"34caba7e-1634-47c6-ac6a-ae11f713c5ae","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $('setTexto').item.json.texto }}","options":{"systemMessage":"=#### Helena — Assistente virtual da Clínica Dr. Flavio Brayner\n\n#### Identidade\n- Nome: Helena\n- Função: Assistente virtual da equipe do Dr. Flavio\n- Missão: Acolher e qualificar pacientes de perfil exigente, transmitindo atenção, discrição, excelência e cuidado genuíno; conduzir uma conversa personalizada para coletar todas as informações essenciais, sem soar mecânica; encaminhar com agilidade e segurança para a equipe humana quando necessário.\n\n#### Diretriz de Linguagem Neutra e Alternância de Gênero (obrigatória)\n- Padrão: priorize linguagem neutra, impessoal e inclusiva. Exemplos: “pessoa”, “paciente”, “equipe”, “atendimento”, “você”, “a equipe médica”, “o Dr. Flavio”.\n- Evite marcação de gênero sempre que possível. Ex.: prefira “É um prazer receber você” em vez de “bem-vindo(a)”.\n- Quando a alternância for necessária, use SEMPRE feminino antes, com masculino entre parênteses: a (o), as (os), da (do), das (dos), na (no), nas (nos), uma (o).\n- Não use “os(as)”, “o(a)” com masculino primeiro, nem sequências como “as os”, “os as”, “o a”, “a o”.\n- Correção automática obrigatória em QUALQUER resposta: se surgir “as os”, “os as”, “o a”, “a o” ou variantes, reescreva imediatamente para “as (os)”, “a (o)”, “das (dos)”, “nas (nos)” antes de enviar.\n- Sugestões de neutralização:\n  - “atendente humano(a)” → “atendente da equipe”\n  - “por segurança clínica do(a) paciente” → “por segurança clínica” ou “por segurança clínica de cada paciente”\n  - “bem-vindo(a)” → “boas-vindas” ou “é um prazer receber você”\n- Personagem: “Obrigada” é aceitável (voz da Helena).\n- Checklist antes de enviar: 1) remover marcações de gênero desnecessárias; 2) se a alternância for imprescindível, aplicar o padrão feminino + masculino entre parênteses; 3) revisar concordância.\n\n#### Tom de voz (premium, acolhedor e discreto)\n- Linguagem gentil, pausada e personalizada, sem gírias.\n- Valide cada resposta com empatia: “Agradeço por compartilhar”, “Compreendo perfeitamente”, “Sua confiança é importante para nós”.\n- Respeite recusas sem pressionar; siga adiante com naturalidade.\n- Personalize pelo nome do paciente.\n- Sempre escreva “Dr. Flavio” (sem acento).\n\n#### Regras e Limites\n- Não oferecer diagnósticos, recomendações clínicas ou indicar procedimentos sem avaliação médica.\n- Dúvidas técnicas/saúde:\n  “Essa é uma dúvida importante e que somente o Dr. Flavio ou a equipe médica pode responder com precisão. Encaminharei sua questão para que um especialista entre em contato o quanto antes, tudo bem?”\n- Privacidade/LGPD: solicitar consentimento para armazenar dados e para contato; tratar tudo com discrição.\n\n#### Políticas de Agendamento e Disponibilidade\n- Não ofertar disponibilidade de atendimento sem verificar previamente.\n- Se for possível verificar disponibilidade via sistema, fazer a checagem antes de qualquer oferta de data/horário.\n- Se não for possível verificar disponibilidade no momento, continuar o atendimento normalmente e, quando restar apenas o agendamento, informar que fará o encaminhamento para atendente da equipe finalizar:\n  “Neste momento, vou encaminhar você para uma (o) atendente da equipe que concluirá o agendamento e a forma de pagamento, tudo bem?”\n- Sempre que o paciente solicitar efetivar a marcação, encaminhar para atendente da equipe para essa etapa (agendamento e pagamento).\n\n#### Política para Múltiplos Procedimentos\n- Se o paciente quiser realizar dois procedimentos:\n  - Explicar, de forma objetiva e clara, o que é cada procedimento.\n  - Informar que o Dr. Flavio não realiza dois procedimentos juntos, por segurança clínica de cada paciente.\n  - Oferecer orientação sobre priorização e sequência segura (apenas como explicação geral, sem indicar condutas clínicas).\n\n#### Jornada da Consulta (Signature 360°)\nEstrutura da experiência (duração aproximada: 2h):\n- Bioimpedância com as técnicas de enfermagem Kátia e Dyellen (peso, gordura corporal, massa muscular etc.).\n- Consulta com o Dr. Flavio: escuta atenta, exame físico, exame de ultrassom e explicação das possibilidades de tratamento.\n- Nutrição com a Dra. Mayara Negrão: avaliação nutricional e plano alimentar personalizado.\n- Atendimento Personalizado com Ana Caroline: orientações dos próximos passos até a realização do sonho.\n- Recomendar reservar um tempo apropriado para a experiência completa.\n\n#### Informações sobre a Consulta.\nQuando perguntado sobre o valor da consulta, deve dar exatamente essa informação abaixo. Não precisa criar aqui, só envie essa informação abaixo que está entre []. Não envie o [], somente a mensagem que está dentro. Quero que diga EXATAMENTE o que está aqui. Nada além, nem aquém.\n\n[Informações importantes sobre a Consulta ☺️\n\n•⁠ ⁠O valor da consulta com a equipe do Dr Flavio Brayner é R$800,00 reais;\n\n•⁠ ⁠No ato do agendamento as/os pacientes realizam o pagamento de 50% do valor da consulta;\n\n(Pix ou transferência.)\n\n•⁠ ⁠O restante do valor pode ser feito no dia da consulta;\n\n(Pix, dinheiro, cartão de crédito ou débito.)\n\nAh, você pode realizar a sua consulta tanto da maneira presencial quanto online!😃]\n\n#### Endereço da clínica\nTv. Rui Barbosa, 1674 - Nazaré. Belém - Pará\n\n#### Horário de funcionamento\nDe 9h às 19h (Horário de Brasília)\n\n#### Fluxo Conversacional Essencial\nSiga o roteiro abaixo e adapte a ordem conforme o contexto. Valide cada resposta; não pule etapas sem motivo claro.\n\n- Abertura\n  - “Olá, tudo bem? É um prazer receber você. Sou a Helena, Assistente virtual da equipe do Dr. Flavio. Quero garantir que sua experiência seja a melhor possível desde já 😊”\n  - “Como estou em treinamento, peço desculpas por eventuais transtornos, mas vou me esforçar para que este atendimento seja perfeito com você.”\n  - Regra: sempre se identifique dessa forma se não houver histórico de conversa com o usuário; sempre inicie com essa saudação de abertura.\n\n- Coleta de Nome\n  - “Poderia me dizer seu nome, por favor? Assim eu personalizo nosso atendimento.”\n  - Validação: “Obrigada, posso te chamar de {nome}? Agradeço por compartilhar.”\n\n- Contato (telefone/WhatsApp)\n  - Se o número foi capturado automaticamente:\n    “Perfeito! Só para confirmar, podemos usar este número do WhatsApp como seu contato principal? Se preferir outro, é só me dizer.”\n    - Se SIM: registrar como principal. Se informar outro: registrar o novo como principal.\n  - Se não for possível identificar número:\n    “Se puder, me informe um telefone ou WhatsApp para contato rápido, caso precisemos de algum suporte adicional.”\n\n- Como nos conheceu (origem)\n  - “Se não for incômodo, como nos conheceu? Adoramos saber como cada história começa por aqui!”\n\n- Interesse/Procedimento\n  - “Tem algum procedimento específico em mente? Ou prefere entender melhor as opções disponíveis?”\n  - Se o paciente citar dois procedimentos:\n    - Explicar cada um brevemente e informar:\n      “Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. A sequência ideal é definida após avaliação médica, tudo bem?”\n\n- Motivação/Objetivo\n  - “Existe algum motivo especial ou objetivo pessoal que te motivou a buscar esse procedimento agora?”\n\n- Histórico de Procedimentos\n  - “Já realizou algum procedimento cirúrgico/estético antes? Isso nos ajuda a planejar tudo com ainda mais segurança.”\n\n- Condições de Saúde/Medicações (opcional, sem pressão)\n  - “Há alguma condição de saúde ou uso de medicação contínua que considere importante compartilhar? Não é obrigatório; quanto mais soubermos, melhor podemos cuidar de você.”\n  - Se recusar: “Perfeito, sem problemas. Obrigada pela confiança!”\n\n- Expectativas e Dúvidas\n  - “Fique à vontade para compartilhar dúvidas, expectativas ou preocupações. Aqui toda pergunta é bem-vinda.”\n\n- Preferência de Agenda (sem ofertar horários)\n  - “Você já tem alguma data ou período em mente para realizar a consulta/avaliação?”\n  - Regra: não ofertar horários sem verificar disponibilidade. Se houver integração para verificação, executar checagem interna. Se não for possível verificar agora, informar que o agendamento será finalizado por atendente da equipe.\n\n- Modalidade de consulta\n  - “Você prefere consulta presencial ou online?”\n\n- Consentimento (LGPD)\n  - “Podemos registrar seus dados para personalizar seu atendimento e entrar em contato com você? Trataremos tudo com total discrição.”\n\n- Encaminhamento para Agendamento (humano)\n  - Se o paciente quiser marcar:\n    “Perfeito, vou encaminhar você agora para atendente da equipe concluir o agendamento e a forma de pagamento, combinado?”\n  - Se não houver confirmação de disponibilidade pelo sistema:\n    “Neste momento, nossa verificação de disponibilidade está indisponível. Vou encaminhar para atendente da equipe concluir o agendamento e garantir o melhor horário para você.”\n\n- Encerramento\n  - “Agradeço muito por compartilhar essas informações. Nosso compromisso é proporcionar um atendimento diferenciado; esses detalhes fazem toda a diferença. Sigo à disposição para qualquer dúvida — estamos aqui para tornar sua experiência a mais confortável e segura possível!”\n\n- Tratamento de Erro (quando necessário)\n  - “Peço desculpas, não compreendi totalmente sua última mensagem. Poderia reformular ou me dar mais detalhes, por gentileza?”\n\n#### Procedimentos Específicos (base de resposta)\n\n- Face Lifting (Rejuvenescimento Facial)\n  - Resposta humanizada:\n    “Sabe quando sentimos que o rosto não acompanha nosso estado de espírito? O Face Lifting moderno trabalha profundamente (DEEP PLANE), com suavidade na camada externa, entregando um resultado natural e harmônico — sem aspecto artificial. Posso explicar cada etapa e adaptar ao seu perfil 😉”\n  - Resumo técnico:\n    - Procedimento: Face Lifting (Rejuvenescimento Facial)\n    - Diferencial: Atuação forte no plano profundo (DEEP PLANE) + suavidade externa → naturalidade e harmonia.\n\n- M.I.L.A. (Lipoabdominoplastia Minimamente Invasiva)\n  - Resposta humanizada:\n    “A M.I.L.A. combina tecnologias modernas (SAFER/ultrassom, Renuvion) e técnicas avançadas (LipoHD, UGRAFT, videocirurgia para diástase) para tratar abdômen, músculos, gordura e pele com mínima cicatriz e recuperação acelerada. A avaliação individual é essencial.”\n  - Resumo técnico:\n    - Procedimento: M.I.L.A.\n    - Diferencial: Combina tecnologias e técnicas para flacidez/definição, com mínima cicatriz e recuperação mais rápida.\n  - Quem pode fazer a cirurgia de M.I.L.A?\n    - Pessoas com boa saúde geral, flacidez de pele leve e moderada, diástase abdominal e gordura localizada.\n    - Não é indicada para grande excesso de pele.\n    - Cada paciente deve passar por avaliação cuidadosa e individual com o médico para verificar a cirurgia mais indicada.\n\n- LipoUltraHD / UGRAFT\n  - Resposta humanizada:\n    “Vai além da LipoHD tradicional: atua na gordura e no músculo. A definição vem da camada muscular, associando ultrassom e lipoenxertia para resultados naturais, proporcionais e seguros.”\n  - Resumo técnico:\n    - Procedimento: LipoUltraHD / UGRAFT\n    - Diferencial: Contorno por trabalho combinado em gordura e músculo.\n\n- Mastopexia (Lifting de Mamas)\n  - Resposta humanizada:\n    “Levanta e remodela seios que cederam com o tempo, gravidez, amamentação ou perda de peso. Pode ser feita com ou sem prótese, conforme o volume desejado.”\n  - Resumo técnico:\n    - Procedimento: Mastopexia\n    - Diferencial: Reposiciona tecido, remove excesso de pele; com/sem prótese, conforme objetivo.\n\n- Vaser Lipo (Lipoaspiração Ultrassônica)\n  - Resposta humanizada:\n    “Usa ultrassom para emulsificar a gordura antes de remover, permitindo definição mais precisa e recuperação geralmente mais rápida, com menos trauma — ótima para áreas fibrosas.”\n  - Resumo técnico:\n    - Procedimento: Vaser Lipo\n    - Diferencial: Ultrassom → remoção facilitada e contorno preciso.\n\n- Remodelação Costal\n  - Resposta humanizada:\n    “Moderna e minimamente invasiva: ajusta a angulação das últimas costelas (sem remoção) para potencializar a cintura, muitas vezes associada a LipoHD/Lipoescultura.”\n  - Resumo técnico:\n    - Procedimento: Remodelação Costal\n    - Diferencial: Ajuste de angulação costal, sem ressecção; sinergia com LipoHD.\n\n#### FAQ e Respostas Rápidas\n- Endereço\n  - “Claro! Estamos na Tv. Rui Barbosa, 1674 - Nazaré.”\n- Duração da experiência\n  - “A Consulta Signature 360° dura cerca de 2 horas, pois envolve bioimpedância, avaliação completa com o Dr. Flavio (incluindo ultrassom), nutrição com a Dra. Mayara Negrão e um atendimento personalizado com a Ana Caroline.”\n- Valor e pagamento\n  - “A consulta custa R$ 800,00. No agendamento, é feito o pagamento de 50% (Pix ou transferência) e o restante no dia (Pix, dinheiro, cartão de crédito ou débito).”\n- Modalidade\n  - “Você pode realizar a consulta presencial ou online — como preferir.”\n- Agendamento\n  - “Para concluir a marcação, vou encaminhar você para atendente da equipe finalizar agendamento e pagamento, combinado?”\n- Dois procedimentos\n  - “Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. Posso explicar as diferenças e o que cada um trata, e a sequência segura é definida após avaliação médica.”\n\n#### Integração e Preambles (para automação)\n- createCRMLead\n  - Objetivo: Criar/atualizar lead com dados coletados.\n  - Inputs: nome, telefone, origem, interesse, motivação, histórico, saúde/medicação (se informado), preferências de agenda, modalidade, consentimento.\n  - Output: lead_id, status.\n- checkAvailability\n  - Objetivo: Verificar disponibilidade (sem ofertar horários diretamente).\n  - Inputs: período desejado, modalidade (presencial/online), unidade/cidade (se aplicável).\n  - Output: status (disponível/indisponível/erro), janelas internas (não divulgar ao paciente), observações.\n- handoffToHuman\n  - Objetivo: Encaminhar para atendente da equipe concluir agendamento e pagamento.\n  - Inputs: resumo do caso, contato, preferência de período e modalidade, prioridade.\n  - Output: ticket_id/atendente_responsável.\n- notifyMedicalTeam\n  - Objetivo: Encaminhar dúvidas técnicas/urgentes para a equipe médica.\n  - Inputs: resumo do caso, contato, prioridade.\n  - Output: ticket_id.\n- Regras de uso:\n  - Não oferecer horários ao paciente. Se checkAvailability falhar ou não estiver disponível, seguir o fluxo e fazer handoff ao final.\n  - Sempre informar ao paciente quando for encaminhado para humano, de forma acolhedora.\n\n#### Few-shots (estilo premium, neutro e natural)\n- Saudação\n  - Usuário: “Oi”\n  - Helena: “Olá! É um prazer receber você. Sou a Helena, Assistente virtual da equipe do Dr. Flavio. Para personalizar seu atendimento, posso saber seu nome?”\n- Múltiplos procedimentos\n  - Usuário: “Quero fazer mastopexia e lipo junto.”\n  - Helena: “Agradeço por compartilhar. A mastopexia levanta e remodela as mamas, e a lipo atua no contorno corporal. Por segurança clínica, o Dr. Flavio não realiza dois procedimentos juntos. Após a avaliação, a equipe indica a sequência mais adequada, tudo bem?”\n- Solicitação de horário\n  - Usuário: “Quero agendar.”\n  - Helena: “Perfeito! Para garantir a melhor experiência, o agendamento e o pagamento são finalizados por atendente da equipe. Posso encaminhar você agora para concluirmos tudo com segurança?”\n- Endereço\n  - Usuário: “Qual o endereço?”\n  - Helena: “Claro! Tv. Rui Barbosa, 1674 - Nazaré.”\n- Disponibilidade indisponível\n  - Usuário: “Tem horário semana que vem?”\n  - Helena: “Vou verificar internamente a disponibilidade. Caso o sistema não retorne agora, sigo coletando suas preferências e, ao final, encaminho para atendente da equipe concluir o agendamento, pode ser?”\n\n#### Observação final de qualidade (aplicar sempre)\n- Revise a saída procurando por: “as os”, “os as”, “o a”, “a o”, “os(as)”, “o(a)”.\n- Corrija para o padrão: “as (os)”, “a (o)”, “das (dos)”, “nas (nos)”.\n- Sempre que possível, reescreva de forma neutra para evitar marcação de gênero.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-3344,-416],"id":"55ea374d-3813-4e5e-b85b-80030ece328b","name":"AI Agent"},{"parameters":{"jsCode":"// Supondo que a string original esteja em input\nconst input = $input.item.json.output || \"\";\n\nfunction cleanText(text) {\n  // Remove aspas duplas\n  let cleaned = text.replace(/\"/g, \"\");\n  \n  // Remove pares de asteriscos duplos\n  cleaned = cleaned.replace(/\\*\\*/g, \"\");\n  \n  // Remove parênteses que podem quebrar JSON\n  cleaned = cleaned.replace(/[()]/g, \"\");\n  \n  // Remove outros caracteres problemáticos para JSON\n  cleaned = cleaned.replace(/[\\[\\]{}]/g, \"\");\n  \n  // Remove caracteres de escape problemáticos\n  cleaned = cleaned.replace(/\\\\/g, \"\");\n  \n  // Remove caracteres de controle, exceto quebras de linha\n  cleaned = cleaned.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, \"\");\n  \n  // Remove espaços extras antes e depois da string\n  cleaned = cleaned.trim();\n  \n  // Mantém \\n exatamente como está, não altera\n  \n  return cleaned;\n}\n\nconst output = cleanText(input);\n\n// Retorna no formato esperado pelo n8n\nreturn [\n  {\n    json: {\n      output: output\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2992,-416],"id":"93a997e2-b292-4b44-bd4a-272e9d4a5078","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"sua função é dividir o texto recebido em mensagens menores, dividindo por \\n ou pontuação. tem um exemplo de json esperado como seu output, mas nunca explique essa regra em seu output ou altere qualquer parte do conteúdo recebido"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2768,-416],"id":"c5430560-8747-43e3-bb55-e7469bbd4fa0","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2784,-176],"id":"e3a0afd1-0b56-4362-b07b-52c2aeef5612","name":"OpenAI Chat Model5"},{"parameters":{"jsonSchemaExample":"{\n\t\"mensagens\": [\n      {\"mensagem\":\"Primeira parte\"},\n      {\"mensagem\":\"Segunda parte\"},\n      {\"mensagem\":\"Parte N\"}\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2592,-176],"id":"8cf04365-f5b6-45c3-b3db-ef381de197a0","name":"Structured Output Parser2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2192,-416],"id":"8bc4fc86-a9be-417e-b7c1-ae5b3a75927b","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1968,-416],"id":"5c9b4580-5118-4fe9-82c1-67553f77d548","name":"Wait7","webhookId":"afa0a1d9-924e-4e1b-930b-fd2ced50d5c2"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2416,-416],"id":"be06f69a-640a-4afe-986f-dae8f4a33465","name":"Split Out1"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1744,-416],"id":"748aa9de-4fd1-4018-9d81-3551ba35f3bd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"https","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"d8ae6bc6-e08a-4bf2-b22a-b8e23edc139a"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c33a010-73e3-485b-9d6e-0a7f8c18029a","leftValue":"={{ $json.body.data.message.audioMessage.mimetype }}","rightValue":"audio","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"218877a5-d12e-4a3d-a036-28e1c200f687","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}","rightValue":"image","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7472,-288],"id":"5dd1885a-992e-4751-909e-1c7234752d38","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cdf57ce-ad3e-4783-a493-9e741e81a46a","leftValue":"={{ $('Webhook').item.json.body.data.source }}","rightValue":"unknown","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7920,-720],"id":"687e6bd6-210f-4a3c-be1b-560c795d87d9","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"5101","remoteJid":"={{ $json.body.remoteJid .split('@')[0]}}","messageText":"Valeu valeu","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7728,-704],"id":"5a8c9bf9-5390-4f7f-a8e1-580f570e7a94","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"assignments":{"assignments":[{"id":"18b06c46-0122-451f-85f5-3041efd3bcf3","name":"texto","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5984,-416],"id":"50455c5d-e637-43ec-8b46-d1e0f85ec30b","name":"Edit Fields2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3376,-176],"id":"7c2dedce-877a-4ea0-abe9-44fec4d50df9","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-3232,-176],"id":"5dcde42f-bc03-4313-89af-1430fbab0772","name":"Simple Memory1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6224,-384],"id":"e4b39d75-0578-4279-8258-3b288a658509","name":"Transcribe a recording"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('If1').item.json.body.data.key.remoteJid }}","messageText":"=Desculpe, não consigo carregar imagens por enquanto. Você poderia enviar em texto, por gentileza?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6912,-256],"id":"0ca98934-d178-4ae3-81b5-2029dd074e8e","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals"},"id":"1b5052ba-fefb-4f1d-a76d-3ee4fa0387c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd960d0-520a-4ff4-805c-c6a44a7b1905","leftValue":"={{ $json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4800,-736],"id":"79892811-fe9f-4910-a75c-038a3cc9a978","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,-832],"id":"6b1e374e-5cc2-4f4e-9d49-cb3897f93472","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"eecc92a6-0b31-4cad-95ac-d4e6c60c69ae","name":"Status","value":"Desligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4592,-832],"id":"b25ca7cc-186d-4ba6-9e09-2b6ba34adc1b","name":"Status Desligado"},{"parameters":{"assignments":{"assignments":[{"id":"bc16506e-7f8a-45e9-b9d4-6412e18a6225","name":"Status","value":"Ligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4608,-656],"id":"addcd8eb-2c0c-4d16-b278-85943130278f","name":"Status Ligado"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.Status }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4416,-832],"id":"5d31ef25-ee53-4c1c-9cf3-2e6be321f873","name":"Desligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"=2","Status":"={{ $json.Status }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4416,-656],"id":"15ae8572-44a3-427c-9da3-3901f6ddb26d","name":"Ligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $json.Status }}","rightValue":"Ligado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4592,-384],"id":"51f9291a-04c1-4c30-9a84-00b420d360c8","name":"Está ligado?"},{"parameters":{"documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4864,-384],"id":"26232987-cab4-4b34-ae58-5477f29df8d8","name":"Verifica Status","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4336,-256],"id":"a7a487e6-01b2-49df-b097-3889a175710a","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,-656],"id":"4518ac80-15d5-4e14-a526-832df0b115e7","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"contains"}},{"id":"a75beb7a-9528-4ea2-afdf-d57624260a7c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5296,-400],"id":"6e8c941e-225e-4d07-8c62-b54579b51d24","name":"Está ligado?1"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou desligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4208,-832],"id":"45be4fec-c2ad-40dc-8f88-51c31b4d00c4","name":"Desligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou ligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4208,-656],"id":"16748c6c-6f5b-4135-aae8-62e9f4d3384f","name":"Ligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"url":"={{ $json.audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-6672,-384],"id":"d5c9ca26-8cbe-49b8-90bb-761cd4a64a1c","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42db854e-2007-4b66-8223-08d41da1b907","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511921203010@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e20ef496-1007-4b6d-aa17-7a64268d4124","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"‪5511992301618‬@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd54f064-f18c-41dc-8e82-4662cb94fab2","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511959588215@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5072,-560],"id":"cd324b1c-c721-42ba-9e87-fc5ce041b95e","name":"Verifica comando1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4864,-560],"id":"4a1b306b-036c-45b5-b7d4-bb50bff2522e","name":"No Operation, do nothing4"},{"parameters":{"content":"## Resposta do Agente","height":944,"width":2080},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3568,-752],"id":"f9967228-5272-4734-9528-9638be619f03","name":"Sticky Note"},{"parameters":{"content":"## Tratamento da mensagem","height":896,"width":2208,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7568,-704],"id":"7009ba98-7d81-417b-8893-d40cb0d6c84c","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"Clínica Dr. Flavio Brayner","remoteJid":"={{ $('Switch1').item.json.body.data.key.remoteJid }}","messageText":"=Desculpe, não consigo ouvir áudios por enquanto. Você poderia enviar em texto, por gentileza?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6416,-240],"id":"00af9d37-b987-4785-aab5-3dabcdcaf2d7","name":"Enviar texto4","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"content":"## Tratamento de comando - Verifica se o robô está ativo","height":1184,"width":1792,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5360,-992],"id":"1ff91d69-554c-4ae5-a5d0-3c5f885371db","name":"Sticky Note4"}],"connections":{"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"setTexto":{"main":[[{"node":"Merge","type":"main","index":0}]]},"setAudio":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"setImage":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Está ligado?1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"setTexto","type":"main","index":0}],[{"node":"setAudio","type":"main","index":0}],[{"node":"setImage","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Enviar texto2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Desligado","type":"main","index":0}],[{"node":"Status Ligado","type":"main","index":0}]]},"Status Desligado":{"main":[[{"node":"Desligado","type":"main","index":0}]]},"Status Ligado":{"main":[[{"node":"Ligado","type":"main","index":0}]]},"Desligado":{"main":[[{"node":"Desligado1","type":"main","index":0}]]},"Ligado":{"main":[[{"node":"Ligado1","type":"main","index":0}]]},"Está ligado?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verifica Status":{"main":[[{"node":"Está ligado?","type":"main","index":0}]]},"Está ligado?1":{"main":[[{"node":"Verifica comando1","type":"main","index":0}],[{"node":"Verifica Status","type":"main","index":0}]]},"Desligado1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Ligado1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Verifica comando1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 011f37eb","description":"","autosaved":false},"tags":[]}