5VEN36HdwwyQVssz.json
{"updatedAt":"2025-10-07T22:41:47.989Z","createdAt":"2025-10-06T12:49:46.731Z","id":"5VEN36HdwwyQVssz","name":"Boleto Gerado","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"boleto-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1776,112],"id":"9311c3a5-09eb-4928-8fc1-99456b17c2df","name":"Webhook","webhookId":"1e2034b6-6782-4abb-a503-7bb1be0ef0cc"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3856,96],"id":"a6ca5790-3f7f-41f3-b458-34209096630b","name":"Envio do Código Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza. 😊","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4256,96],"id":"b87cf162-70b6-4b23-af40-040de2d348d9","name":"Solicitação de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Olá,{{ $('Dados do Usuário').item.json['Primeiro nome'] }}  tudo bem? Aqui é o Aldo Calesco.\n\nVocê ficou com alguma dúvida? \n\nCaso não e tiver esquecido aqui está o Código do PIX👇","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,96],"id":"075776c5-a73e-42bf-895d-b3431784abdc","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3664,96],"id":"a49f981e-f751-4ed2-9cef-b68b83ddb44c","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4048,96],"id":"6313cf18-6d9d-44aa-8820-cc969c109e79","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3456,304],"id":"b78381b3-5c2a-4276-ac76-01a99ebfa67a","name":"Update rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }} ","rightValue":"pix_generated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3232,112],"id":"b0fed5a3-28cd-4807-ba74-813408df91a9","name":"Condição se não for comprador"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3008,112],"id":"188509d6-85a3-40b9-84b5-70584207b76f","name":"Verifica se o lead já existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2800,112],"id":"3ae6261d-d7b9-434b-98ec-3e5caa59cc98","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usuário').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usuário').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Horário da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usuário').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usuário').item.json.status }}","Id do comprador":"={{ $('Dados do Usuário').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2608,112],"id":"a7c4358f-16e2-4690-bef7-8514af9ebe0f","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,112],"id":"e1e825f5-dcd9-4df6-a914-f1a8c36b021c","name":"Formata data e hora"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2176,112],"id":"db1aba9b-3fc4-4b78-9871-ff6d933bcdad","name":"Atualiza Data e Hora"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transação","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transação","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"},{"id":"cd6484d0-2636-4102-9abc-540bc8958e01","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,112],"id":"2104a7af-060b-4687-8232-a8c9cd43d225","name":"Dados do Usuário"}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usuário","type":"main","index":0}]]},"Envio do Código Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do Código Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicitação de comprovante","type":"main","index":0}]]},"Condição se não for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Verifica se o lead já existe na base de compradores":{"main":[[{"node":"Condição se não for comprador","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead já existe na base de compradores","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Dados do Usuário":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ad4ab40-4e1a-410d-95b2-12898f5c48f1","activeVersionId":"4ad4ab40-4e1a-410d-95b2-12898f5c48f1","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T12:49:46.731Z","createdAt":"2025-10-06T12:49:46.731Z","role":"workflow:owner","workflowId":"5VEN36HdwwyQVssz","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"4ad4ab40-4e1a-410d-95b2-12898f5c48f1","workflowId":"5VEN36HdwwyQVssz","nodes":[{"parameters":{"httpMethod":"POST","path":"boleto-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1776,112],"id":"9311c3a5-09eb-4928-8fc1-99456b17c2df","name":"Webhook","webhookId":"1e2034b6-6782-4abb-a503-7bb1be0ef0cc"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3856,96],"id":"a6ca5790-3f7f-41f3-b458-34209096630b","name":"Envio do Código Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza. 😊","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4256,96],"id":"b87cf162-70b6-4b23-af40-040de2d348d9","name":"Solicitação de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Olá,{{ $('Dados do Usuário').item.json['Primeiro nome'] }}  tudo bem? Aqui é o Aldo Calesco.\n\nVocê ficou com alguma dúvida? \n\nCaso não e tiver esquecido aqui está o Código do PIX👇","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,96],"id":"075776c5-a73e-42bf-895d-b3431784abdc","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3664,96],"id":"a49f981e-f751-4ed2-9cef-b68b83ddb44c","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4048,96],"id":"6313cf18-6d9d-44aa-8820-cc969c109e79","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3456,304],"id":"b78381b3-5c2a-4276-ac76-01a99ebfa67a","name":"Update rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }} ","rightValue":"pix_generated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3232,112],"id":"b0fed5a3-28cd-4807-ba74-813408df91a9","name":"Condição se não for comprador"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3008,112],"id":"188509d6-85a3-40b9-84b5-70584207b76f","name":"Verifica se o lead já existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2800,112],"id":"3ae6261d-d7b9-434b-98ec-3e5caa59cc98","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usuário').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usuário').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Horário da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usuário').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usuário').item.json.status }}","Id do comprador":"={{ $('Dados do Usuário').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2608,112],"id":"a7c4358f-16e2-4690-bef7-8514af9ebe0f","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,112],"id":"e1e825f5-dcd9-4df6-a914-f1a8c36b021c","name":"Formata data e hora"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2176,112],"id":"db1aba9b-3fc4-4b78-9871-ff6d933bcdad","name":"Atualiza Data e Hora"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transação","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transação","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"},{"id":"cd6484d0-2636-4102-9abc-540bc8958e01","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,112],"id":"2104a7af-060b-4687-8232-a8c9cd43d225","name":"Dados do Usuário"}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usuário","type":"main","index":0}]]},"Envio do Código Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do Código Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicitação de comprovante","type":"main","index":0}]]},"Condição se não for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Verifica se o lead já existe na base de compradores":{"main":[[{"node":"Condição se não for comprador","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead já existe na base de compradores","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Dados do Usuário":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}