5ZMDXeMF7OgDe87c.json
{"updatedAt":"2025-09-30T18:20:28.768Z","createdAt":"2025-09-30T18:20:28.620Z","id":"5ZMDXeMF7OgDe87c","name":"My workflow 4","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"88a84981-9287-46db-af72-03f43270930c","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"120caeec-eaa7-4dae-8d3c-a67ba16c77aa","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8","responseMode":"responseNode","options":{}},"id":"07b93c93-375c-4129-a24e-828ae925b1d0","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"},{"parameters":{"httpMethod":"POST","path":"04f5d35e-b590-4357-af43-5157d6eac5ac","options":{}},"id":"84b755d4-0482-4ede-9240-18468d0b81a8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,272],"webhookId":"04f5d35e-b590-4357-af43-5157d6eac5ac"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.samuelchoairy.com.br","user-agent":"axios/1.7.7","content-length":"1002","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.samuelchoairy.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Palmup Oficial","data":{"key":{"id":"wamid.HBgNNTUxMTk1MzAxNjE3MBUCABIYFDNBMzRCMUQ5NDA1QzE2ODk4OTY5AA==","remoteJid":"5511953016170@s.whatsapp.net","fromMe":false},"pushName":"Samuel Choairy","message":{"conversation":"QUIERO ENTRAR AL GRUPO","contextInfo":{"stanzaId":"wamid.HBgNNTUxMTk1MzAxNjE3MBUCABEYEjFEODQ0NjlGNTkwQkRCMjkwOQA="}},"contextInfo":{"stanzaId":"wamid.HBgNNTUxMTk1MzAxNjE3MBUCABEYEjFEODQ0NjlGNTkwQkRCMjkwOQA="},"messageType":"buttonMessage","messageTimestamp":1741747058,"source":"unknown","instanceId":"95527d6d-af4f-4dd6-8029-06aa935cdcb4"},"destination":"https://webhook.samuelchoairy.com.br/webhook/f7e4a77a-b929-412b-a085-32b445dd48b6","date_time":"2025-03-11T23:37:38.942Z","server_url":"https://wsapi.samuelchoairy.com.br","apikey":"EAAWO0n6NZCSYBO2ZCBGo8sxn7ivRWiRQMEUGG5eRkSsXcNlx334ngPDJ1IgTKsLgLzjXZAeydGtIk8MsHzDeK1t6YZA0FyFril5AassL2iFL222w89LfzvL5X9ZAZBjF2zb8NJk3ppelBCZBhi9loboIGG9Ca4zJFGxvOb2JCD4HtQHvEv7m9umcygQrUF3TmZCCZAQZDZD"},"webhookUrl":"https://webhook.samuelchoairy.com.br/webhook/f7e4a77a-b929-412b-a085-32b445dd48b6","executionMode":"production"}}]},"versionId":"75eb0799-0fd5-4980-8c3e-74ed967ea68c","activeVersionId":"75eb0799-0fd5-4980-8c3e-74ed967ea68c","triggerCount":2,"shared":[{"updatedAt":"2025-09-30T18:20:28.620Z","createdAt":"2025-09-30T18:20:28.620Z","role":"workflow:owner","workflowId":"5ZMDXeMF7OgDe87c","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"75eb0799-0fd5-4980-8c3e-74ed967ea68c","workflowId":"5ZMDXeMF7OgDe87c","nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"88a84981-9287-46db-af72-03f43270930c","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"120caeec-eaa7-4dae-8d3c-a67ba16c77aa","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8","responseMode":"responseNode","options":{}},"id":"07b93c93-375c-4129-a24e-828ae925b1d0","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"},{"parameters":{"httpMethod":"POST","path":"04f5d35e-b590-4357-af43-5157d6eac5ac","options":{}},"id":"84b755d4-0482-4ede-9240-18468d0b81a8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,272],"webhookId":"04f5d35e-b590-4357-af43-5157d6eac5ac"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}