8iZG8nBWGqCQnz6p.json
{"updatedAt":"2025-09-26T13:50:44.259Z","createdAt":"2025-09-26T13:50:44.259Z","id":"8iZG8nBWGqCQnz6p","name":"Agente n8n - Simulador Manychat","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"teste-aula-v1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2592,1088],"id":"b9f0fdd9-1d50-401d-8e18-1ac294af1158","name":"Webhook1","webhookId":"2f95491d-cdff-4a72-8bec-85e15145dfee"},{"parameters":{"assignments":{"assignments":[{"id":"3a1be705-ce35-4f59-b391-685e49000bb5","name":"meu_id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"f6ca6723-390c-476c-a0b5-26377b1fdbc3","name":"from_id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"bd389f94-bebd-4cec-a101-f3a60bd70edc","name":"from_username","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"158d4902-a8e6-4a24-861b-77de4c67c9ca","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"7753f5f9-b624-4caa-ba7c-282067b30831","name":"comment_id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"4b8fdf3a-6e5a-4f81-8f6e-829818f73486","name":"comment","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"b0d36b26-faa8-48e6-a07c-28f6627c60a8","name":"field","value":"={{ $json.body.entry[0].changes[0].field }}","type":"string"},{"id":"974cdabe-7dfc-426c-a797-5fef1af5e8fe","name":"id_usuario","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"f1135b75-5af1-4016-abac-6b2bb5c2b545","name":"mensagem_direct","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"0f69bee2-5a16-476a-88e1-c1d4023bd04f","name":"token","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2368,1088],"id":"84b7f2a6-973f-4db0-8673-90d0e80e9937","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.field }}","rightValue":"comments","operator":{"type":"string","operation":"equals"},"id":"7955fc91-bbc7-48f8-a01c-001aa3363a3c"}],"combinator":"and"},"renameOutput":true,"outputKey":"comments"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"211a3035-7a38-454f-adea-f0e1ea8f80f2","leftValue":"={{ $json.id_usuario }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Direct"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2144,1088],"id":"8c7939c3-4784-41c4-81ee-26760f981682","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2621d1b8-d27f-4e55-9faa-7556ec422c59","leftValue":"={{ $json.from_id }}","rightValue":"={{ $json.meu_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1456,1072],"id":"41926f3f-f604-43ac-86c0-1a8bd43f9316","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $json.comment }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"122f9017-1029-4f0b-a9f8-e54e33427925","leftValue":"={{ $json.comment }}","rightValue":"^[Tt]emplate$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9988e051-745f-4ea8-977a-f9786d50f8da","leftValue":"={{ $json.comment }}","rightValue":"^[Ii]magem$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"983a5126-78ab-42ac-b8b7-866add30b58c","leftValue":"={{ $json.comment }}","rightValue":"^[Ii]nstagram$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68ab72c1-8a9e-402b-833e-34cdce69d56b","leftValue":"={{ $json.comment }}","rightValue":"^[Cc]arro$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Carro"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-624,432],"id":"8bf93540-4911-4a4c-ac2f-f18ab95110a5","name":"cometario"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Enviado no seu direct 👀🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,176],"id":"f67877ae-ff11-49be-b426-a5ffb0b9eaee","name":"responde comentario8"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\":{\n    \"id\": \"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Primeiro precisa me seguir para receber o material 👀. Depois que seguir, digite novamente a palavra que enviou acima 👇\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://instagram.com/euleonardovianna\",\n            \"title\": \"Seguir no Instagram\"\n          }\n        ]\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,1408],"id":"367f6e90-b833-4f66-b488-ef982dcda0f7","name":"Envia mensagens direct10"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique no botão para receber o Prompt 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"COLOQUE-SEU-LINK-AQUI\",\n            \"type\":\"web_url\",\n            \"title\":\"ACESSAR PROMPT\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1840],"id":"23196f7d-4e68-44c3-a35e-cdb534120218","name":"Envia mensagens direct11"},{"parameters":{"url":"=https://graph.instagram.com/{{ $json.id_usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,1392],"id":"df86aa5f-8680-4dd3-9958-2f664c2489bc","name":"Buscar se é seguidor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e4bed71-64df-4f20-ba6b-10049a7db678","leftValue":"={{ $json.is_user_follow_business }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1216,1392],"id":"8826798b-b82e-4619-886a-ee8a65925a14","name":"Me segue?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c42408d-0a75-403d-a1ad-fd523e0ed646","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Tt]emplate$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3f5d753-15b1-484d-b25f-9cfd2d84e3a6","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Ii]magem$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6a926eb-2bcc-4149-ac0e-c56fffebd8b8","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Ii]nstagram$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8431a49b-2985-4d2d-b598-5e0c219c7ce6","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Cc]arro$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Carro"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1776,1360],"id":"2eb62043-1b81-4881-bddf-847e9e002a59","name":"cometario1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6ead903-228a-4ad5-9b2a-5a0f11c205d9","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Tt]emplate$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Template"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"212dedcf-ffff-44e9-a94d-98ac5904b1bc","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Ii]magem$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8891eecd-90d3-492f-90c0-0c1dea5d4744","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Ii]nstagram$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70279f83-e4d4-42b3-95fe-48e9ee1caf7b","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Cc]arro$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Carro"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-960,2032],"id":"0236867f-00d4-47b8-ae0a-cdf50be12b30","name":"cometario2"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n  },\n  \"message\": {\n    \"text\": \"Digite 'F1' aqui em baixo para liberar ✅👇\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,176],"id":"abb8ca12-c111-414e-b92c-84fb3a03a17c","name":"Envia mensagens direct9"},{"parameters":{"content":"## HTTP\nAqui você altera os links e textos que serão enviados no direct","height":1052,"width":568,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,1712],"id":"39a3500f-79ca-48ef-ba83-13a13bbe497c","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Instruções enviadas no seu direct 👀🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,336],"id":"a806fff7-9ceb-4bc8-bf67-843e851844d9","name":"responde comentario9"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"recipient\": {\n        \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n    },\n    \"message\": {\n        \"text\": \"Digite 'Template' aqui em baixo para liberar sobre O Fluxo ✅👇\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,336],"id":"09594ae8-980c-4a3a-916c-fcc02e357085","name":"Envia mensagens direct20"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique para saber tudo sobre O Fluxo com API Oficial do instagram 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"COLOQUE-SEU-LINK-AQUI\",\n            \"type\":\"web_url\",\n            \"title\":\"CLIQUE PARA ACESSAR\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,2032],"id":"447b895c-4307-49ea-b1cc-25190bf2c4b8","name":"Envia mensagens direct21"},{"parameters":{"tableId":"followup_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Buscar se é seguidor').item.json.name }}"},{"fieldId":"remoteid","fieldValue":"={{ $('Buscar se é seguidor').item.json.username }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,2032],"id":"fe0c93b0-8c1a-4da5-8dc5-c54f7351d8fb","name":"Supabase"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Acesso ao Template enviado no seu direct 🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,512],"id":"fcfde17c-bfb5-4f63-850e-4d612f91906e","name":"responde comentario10"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"recipient\": {\n        \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n    },\n    \"message\": {\n        \"text\": \"Digite 'Imagem' aqui em baixo para liberar o acesso ao Template completo 👇\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,512],"id":"d9396e13-543f-4dd3-ab32-32227088f2a9","name":"Envia mensagens direct22"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Acesso liberado! ✅. Você irá encontrar o template na descrição do grupo. Clique no botão abaixo para entrar 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"COLOQUE-SEU-LINK-AQUI\",\n            \"type\":\"web_url\",\n            \"title\":\"CLIQUE PARA ACESSAR\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,2208],"id":"97e3b3a9-7dde-4791-933d-8f32223e72be","name":"Envia mensagens direct23"},{"parameters":{"tableId":"followup_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Buscar se é seguidor').item.json.name }}"},{"fieldId":"remoteid","fieldValue":"={{ $('Buscar se é seguidor').item.json.username }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,2208],"id":"1e291a3d-b112-405b-bcba-7040538d9e16","name":"Supabase2"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Acesso liberado! ✅. Vídeo completo. Clique no botão abaixo para entrar 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"COLOQUE-SEU-LINK-AQUI\",\n            \"type\":\"web_url\",\n            \"title\":\"CLIQUE PARA ASSISTIR\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,2400],"id":"ee6c13ff-6670-40fa-a29c-4be2a6757ada","name":"Envia mensagens direct24"},{"parameters":{"tableId":"followup_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Buscar se é seguidor').item.json.name }}"},{"fieldId":"remoteid","fieldValue":"={{ $('Buscar se é seguidor').item.json.username }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,2400],"id":"18852ee0-7585-48de-b2ef-11f456a5134c","name":"Supabase3"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Acesso ao vídeo enviado no seu direct 🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,720],"id":"a498166f-fcff-4683-ad3d-de3896e1ebd3","name":"responde comentario11"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"recipient\": {\n        \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n    },\n    \"message\": {\n        \"text\": \"Digite 'Instagram' aqui em baixo para liberar o acesso ao Vídeo completo 👇\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,720],"id":"c6989a69-ae36-49ec-b1f8-66315af19b65","name":"Envia mensagens direct25"},{"parameters":{"tableId":"followup_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Buscar se é seguidor').item.json.name }}"},{"fieldId":"remoteid","fieldValue":"={{ $('Buscar se é seguidor').item.json.username }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,1840],"id":"163cc866-e38a-4b89-902c-0db9da2490c0","name":"Supabase1"},{"parameters":{"content":"## Supabase\nEsse nó serve para pegar os leads qualificados e guardar no banco de dados. Se você usa o Supabase, basta conectar ele ao nó HTTP Request\n","color":4},"type":"n8n-nodes-base.stickyNote","position":[224,2096],"typeVersion":1,"id":"843d74b3-d131-4898-bd6d-fee6a09abb73","name":"Sticky Note4"},{"parameters":{"content":"## Responde comentário e Mensagem direct\nAqui você altera altera como preferir como cada comentário vai ser respondido e qual mensagem vai chegar no direct quando usuário comentar uma palavra específica.","height":1116,"width":568,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"fbf13b42-99ed-4b20-9d86-1640411e0f3b","name":"Sticky Note"},{"parameters":{"content":"## Adicionar palavra chave\nAqui você adiciona as palavras chaves que pretendo usar.\n\nIMPORTANTE: DEVE SEGUIR MESMO PADRÃO EM TODOS OS OUTROS SWITCH.","height":412,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,256],"id":"5f63b1d3-e1e7-40df-90d0-41ab3793b33f","name":"Sticky Note5"},{"parameters":{"content":"## Adicionar palavra chave\nAqui você adiciona as palavras chaves que pretendo usar.\n\nIMPORTANTE: DEVE SEGUIR MESMO PADRÃO EM TODOS OS OUTROS SWITCH.","height":412,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,1184],"id":"4f024822-7d0b-4feb-bdd5-f29287f3eb01","name":"Sticky Note6"},{"parameters":{"content":"## Adicionar palavra chave\nAqui você adiciona as palavras chaves que pretendo usar.\n\nIMPORTANTE: DEVE SEGUIR MESMO PADRÃO EM TODOS OS OUTROS SWITCH.","height":412,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,1856],"id":"dafa8a1f-3362-4955-be87-7d30ce68c180","name":"Sticky Note7"},{"parameters":{"content":"## Recebe requisições + Tratamento de dados + Entende se é comentário ou direct\n","height":332,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2656,960],"id":"811175c7-1990-46d1-ac5a-97a1f69fdca8","name":"Sticky Note8"},{"parameters":{"path":"teste-aula-v1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2576,672],"id":"1dc9cb58-a114-435d-862a-45517eb630eb","name":"Webhook","webhookId":"3a188de5-6a06-4b34-a1a9-2369c7ef2900"},{"parameters":{"assignments":{"assignments":[{"id":"9f5b7656-3161-4730-8ee2-6b75025f1b8a","name":"code","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,672],"id":"23935b0b-1632-421f-9999-393ce4056f6f","name":"Edit Fields"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.code }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/plain"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-2128,672],"id":"23bfa838-06c4-41d0-abf5-8eed2a924dfd","name":"Respond to Webhook"},{"parameters":{"content":"## Ativação","height":240,"width":760,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2656,592],"id":"f7293115-784c-48ec-9523-5e3aa6098ddf","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Acesso liberado! ✅. Esse é um teste aula v1 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"https://policies.google.com/terms?hl=pt-BR\",\n            \"type\":\"web_url\",\n            \"title\":\"CLIQUE PARA teste\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,2592],"id":"28b34ba0-896b-4852-8c23-c3ab2a019a7c","name":"Envia mensagens direct"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Acesso ao vídeo enviado no seu direct 🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,912],"id":"fab1cf86-169b-4721-af85-4205956d6dde","name":"responde comentario"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"recipient\": {\n        \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n    },\n    \"message\": {\n        \"text\": \"Digite 'Carro' aqui em baixo para liberar o acesso ao Teste 👇\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,912],"id":"1a200d53-466a-437b-b674-f23a33ea58b1","name":"Envia mensagens direct26"}],"connections":{"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"cometario1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"cometario","type":"main","index":0}]]},"cometario":{"main":[[{"node":"responde comentario8","type":"main","index":0}],[{"node":"responde comentario9","type":"main","index":0}],[{"node":"responde comentario10","type":"main","index":0}],[{"node":"responde comentario11","type":"main","index":0}],[{"node":"responde comentario","type":"main","index":0}]]},"responde comentario8":{"main":[[{"node":"Envia mensagens direct9","type":"main","index":0}]]},"Buscar se é seguidor":{"main":[[{"node":"Me segue?","type":"main","index":0}]]},"Me segue?":{"main":[[{"node":"cometario2","type":"main","index":0}],[{"node":"Envia mensagens direct10","type":"main","index":0}]]},"cometario1":{"main":[[{"node":"Buscar se é seguidor","type":"main","index":0}],[{"node":"Buscar se é seguidor","type":"main","index":0}],[{"node":"Buscar se é seguidor","type":"main","index":0}],[{"node":"Buscar se é seguidor","type":"main","index":0}],[{"node":"Buscar se é seguidor","type":"main","index":0}]]},"cometario2":{"main":[[{"node":"Envia mensagens direct11","type":"main","index":0}],[{"node":"Envia mensagens direct21","type":"main","index":0}],[{"node":"Envia mensagens direct23","type":"main","index":0}],[{"node":"Envia mensagens direct24","type":"main","index":0}],[{"node":"Envia mensagens direct","type":"main","index":0}]]},"responde comentario9":{"main":[[{"node":"Envia mensagens direct20","type":"main","index":0}]]},"responde comentario10":{"main":[[{"node":"Envia mensagens direct22","type":"main","index":0}]]},"responde comentario11":{"main":[[{"node":"Envia mensagens direct25","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"responde comentario":{"main":[[{"node":"Envia mensagens direct26","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b85afa4d-fd78-4c7c-abd7-6fa5eb82f04c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-26T13:50:44.259Z","createdAt":"2025-09-26T13:50:44.259Z","role":"workflow:owner","workflowId":"8iZG8nBWGqCQnz6p","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}