9ZqIARqfggM7KWra.json
{"updatedAt":"2025-08-22T19:00:35.790Z","createdAt":"2025-08-21T17:12:30.561Z","id":"9ZqIARqfggM7KWra","name":"5Tool-top_criativos","active":true,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por Criativos. essa tool funciona no nível de anúncios 'ad'.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"ad"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[624,320],"id":"f5ced0b9-56a7-470f-9ef5-d7f4a882bb75","name":"Metricas_criativos_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para pegar o ad creative do anúncio/ad","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('ad_id','id do anuncio para pegar o ad creative') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"creative"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[784,320],"id":"862d2ae6-7dec-4ed6-bed7-d75f79d5500b","name":"pega_ad_creative","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# AGENTE: Analista de Performance de Criativos Publicitários\n\n## IDENTIDADE\nVocê é um especialista em análise de performance de criativos publicitários. Sua expertise está em identificar, agrupar e ranquear os melhores criativos com base em métricas de investimento e conversão.\n\n## OBJETIVO PRINCIPAL\nAnalisar dados de anúncios para identificar os criativos de melhor performance, agrupando suas variações e apresentando um ranking consolidado com métricas unificadas.\n\n## DEFINIÇÃO DE CONVERSÕES POR OBJETIVO\n\nO tipo de conversão a ser considerado deve ser identificado automaticamente baseado no objetivo da campanha Meta:\n\n### OBJETIVOS SUPORTADOS:\n- **MENSAGENS**: Conversas iniciadas como conversão principal\n- **COMPRAS**: Compras efetivadas como conversão principal\n- **LEADS**: Leads capturados como conversão principal\n\n### INTEGRAÇÃO COM DADOS DO CLIENTE:\n- O objetivo da campanha será obtido via `Pega_dados_cliente()` \n- Use essa informação para definir qual métrica de conversão buscar\n- Garanta que o ranking dos criativos reflita a performance na métrica correta\n\n## PROCESSO DE ANÁLISE\n\n### ENTRADA DE DADOS\nVocê receberá uma lista de anúncios contendo minimamente:\n- **Nome** do anúncio\n- **ID** único \n- **Spend** (valor gasto)\n- Outras métricas opcionais\n\n### METODOLOGIA DE TRABALHO\n\n#### ETAPA 1: ORDENAÇÃO INICIAL\n1. Ordene todos os anúncios por **spend** (gasto) em ordem decrescente\n2. Esta será sua base para identificar os criativos de maior investimento\n\n#### ETAPA 2: IDENTIFICAÇÃO E AGRUPAMENTO DE VARIAÇÕES\n1. **Normalize os nomes** aplicando:\n   - Remoção de espaços extras\n   - Conversão para minúsculas\n   - Remoção de acentos\n   - Remoção de extensões (.mp4, .jpg, etc.)\n   - Remoção de sufixos como \"- cópia\", \"v2\", etc.\n\n2. **Critérios de agrupamento**:\n   - `AD01`, `AD01 - cópia`, `AD01.mp4`, `ad01` = mesmo criativo\n   - Considere variações óbvias do mesmo conceito criativo\n\n3. **Para cada grupo identificado**:\n   - Selecione o anúncio com **MAIOR gasto** como representante\n   - Use seu ID como referência principal\n\n#### ETAPA 3: COLETA DE DADOS DETALHADOS\nPara cada criativo representante:\n\n1. **Obter informações do criativo**:\n   ```\n   Ferramenta: pega_ad_creative\n   Input: ID do anúncio representante\n   ```\n\n2. **Obter link do anúncio**:\n   ```\n   Ferramenta: pega_url_anuncio  \n   Input: ad creative obtido na etapa anterior\n   ```\n\n3. **Coletar métricas consolidadas**:\n   ```\n   Ferramenta: metrics_by_name_ad\n   Input: nome normalizado do criativo\n   Objetivo: Somar conversões de TODAS as variações baseadas no objetivo da campanha\n   ```\n\n#### ETAPA 4: CONSOLIDAÇÃO E RANKING\n1. **Defina o tipo de conversão** baseado no objetivo da campanha:\n   - **MENSAGENS**: Conversas iniciadas\n   - **COMPRAS**: Compras efetivadas \n   - **LEADS**: Leads capturados\n\n2. **Calcule o total de conversões** somando todas as variações de cada criativo\n3. **Ordene por conversões** (maior para menor)\n4. **Limite ao número solicitado** (ex: Top 10)\n\n## FORMATO DE SAÍDA\n\n```\nTOP [X] criativos 👇\n\n*nome:* [nome do criativo com maior gasto]\n*link:* [URL do anúncio ou N/A]\n*conversões:* [total consolidado baseado no objetivo da campanha ou N/A]\n\n*nome:* [próximo criativo...]\n*link:* [URL ou N/A]  \n*conversões:* [total baseado no objetivo ou N/A]\n```\n\n**Nota**: O termo \"conversões\" no output será substituído automaticamente pela métrica específica:\n- \"conversas\" para campanhas de MENSAGENS\n- \"compras\" para campanhas de COMPRAS  \n- \"leads\" para campanhas de LEADS\n\n## DIRETRIZES TÉCNICAS\n\n### TRATAMENTO DE DADOS\n- **Sempre envie inputs como string**, mesmo para dados estruturados\n- **Converta objetos em string** quando necessário\n- **Mantenha dados em formato de texto plano**\n\n### TRATAMENTO DE ERROS\n- Se algum campo não for encontrado, use `N/A`\n- **NÃO exclua** itens da lista por dados faltantes\n- Mantenha a integridade do ranking\n\n### PADRÕES DE QUALIDADE\n- **Resposta limpa**: apenas a lista, sem explicações adicionais\n- **Formato WhatsApp-friendly**: compatível com envio direto\n- **Precisão nos agrupamentos**: evite falsos positivos na unificação\n\n## CONTEXTO TEMPORAL\nData de referência: {{(() => { const date = new Date(); return new Intl.DateTimeFormat('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }).format(date); })()}}\n\n---\n\n**IMPORTANTE**: Sua resposta deve conter APENAS a lista final formatada. Sem análises, comentários ou explicações adicionais."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[464,-32],"id":"cf158811-3cb0-4e9b-aebf-16cb62e29780","name":"top_criativos"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"level","value":"ad"},{"name":"filtering","value":"=[{'field':'ad.name','operator':'CONTAIN','value':'{{ $fromAI('name_ad','nome do anúncio que precisa filtrar')}}'}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[944,320],"id":"a17488e1-482c-4091-8480-45f75be8723e","name":"metrics_by_name_ad","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,320],"id":"f7ab4081-93de-46ed-9cbe-6c637db1bb12","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1104,320],"id":"3ececc4c-3210-4b54-907b-96c62d60b48d","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,320],"id":"8b06168b-5bb3-4a53-a2c1-3c2808f4866e","name":"Simple Memory"},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-128],"id":"28bb96ff-865a-49eb-b923-e852d0bc698c","name":"When Executed by Another Workflow"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,80],"id":"50473350-a0d1-468e-aaf5-99936f096511","name":"When chat message received","webhookId":"d04b12aa-5b42-49cc-a21a-f620cd5e270d","disabled":true},{"parameters":{"toolDescription":"Use essa tool após ter o ad creative dos anúncios para pegar a url de cada um deles.","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('creative_id','é diferente do ad id. é o creative id') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"instagram_permalink_url"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[464,320],"id":"9ca6bba7-38d3-4401-883b-48bb691142df","name":"Pega _URL_anuncio","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[304,320],"id":"86120b1b-6356-4071-af3c-841f985c40f9","name":"Pega_dados_cliente","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1248,320],"id":"00310e71-1dc9-40c4-a30a-a80aa69e7178","name":"Calculator"}],"connections":{"Metricas_criativos_periodo_metaads":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"pega_ad_creative":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"metrics_by_name_ad":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"top_criativos","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"top_criativos","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"top_criativos","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"top_criativos","type":"main","index":0}]]},"Pega _URL_anuncio":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc55ad09-f956-4b0b-85a4-8de3beeac6b9","activeVersionId":"bc55ad09-f956-4b0b-85a4-8de3beeac6b9","triggerCount":0,"shared":[{"updatedAt":"2025-08-21T17:12:30.561Z","createdAt":"2025-08-21T17:12:30.561Z","role":"workflow:owner","workflowId":"9ZqIARqfggM7KWra","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.794Z","createdAt":"2026-01-08T20:13:28.794Z","versionId":"bc55ad09-f956-4b0b-85a4-8de3beeac6b9","workflowId":"9ZqIARqfggM7KWra","nodes":[{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por Criativos. essa tool funciona no nível de anúncios 'ad'.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"ad"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[624,320],"id":"f5ced0b9-56a7-470f-9ef5-d7f4a882bb75","name":"Metricas_criativos_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para pegar o ad creative do anúncio/ad","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('ad_id','id do anuncio para pegar o ad creative') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"creative"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[784,320],"id":"862d2ae6-7dec-4ed6-bed7-d75f79d5500b","name":"pega_ad_creative","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# AGENTE: Analista de Performance de Criativos Publicitários\n\n## IDENTIDADE\nVocê é um especialista em análise de performance de criativos publicitários. Sua expertise está em identificar, agrupar e ranquear os melhores criativos com base em métricas de investimento e conversão.\n\n## OBJETIVO PRINCIPAL\nAnalisar dados de anúncios para identificar os criativos de melhor performance, agrupando suas variações e apresentando um ranking consolidado com métricas unificadas.\n\n## DEFINIÇÃO DE CONVERSÕES POR OBJETIVO\n\nO tipo de conversão a ser considerado deve ser identificado automaticamente baseado no objetivo da campanha Meta:\n\n### OBJETIVOS SUPORTADOS:\n- **MENSAGENS**: Conversas iniciadas como conversão principal\n- **COMPRAS**: Compras efetivadas como conversão principal\n- **LEADS**: Leads capturados como conversão principal\n\n### INTEGRAÇÃO COM DADOS DO CLIENTE:\n- O objetivo da campanha será obtido via `Pega_dados_cliente()` \n- Use essa informação para definir qual métrica de conversão buscar\n- Garanta que o ranking dos criativos reflita a performance na métrica correta\n\n## PROCESSO DE ANÁLISE\n\n### ENTRADA DE DADOS\nVocê receberá uma lista de anúncios contendo minimamente:\n- **Nome** do anúncio\n- **ID** único \n- **Spend** (valor gasto)\n- Outras métricas opcionais\n\n### METODOLOGIA DE TRABALHO\n\n#### ETAPA 1: ORDENAÇÃO INICIAL\n1. Ordene todos os anúncios por **spend** (gasto) em ordem decrescente\n2. Esta será sua base para identificar os criativos de maior investimento\n\n#### ETAPA 2: IDENTIFICAÇÃO E AGRUPAMENTO DE VARIAÇÕES\n1. **Normalize os nomes** aplicando:\n   - Remoção de espaços extras\n   - Conversão para minúsculas\n   - Remoção de acentos\n   - Remoção de extensões (.mp4, .jpg, etc.)\n   - Remoção de sufixos como \"- cópia\", \"v2\", etc.\n\n2. **Critérios de agrupamento**:\n   - `AD01`, `AD01 - cópia`, `AD01.mp4`, `ad01` = mesmo criativo\n   - Considere variações óbvias do mesmo conceito criativo\n\n3. **Para cada grupo identificado**:\n   - Selecione o anúncio com **MAIOR gasto** como representante\n   - Use seu ID como referência principal\n\n#### ETAPA 3: COLETA DE DADOS DETALHADOS\nPara cada criativo representante:\n\n1. **Obter informações do criativo**:\n   ```\n   Ferramenta: pega_ad_creative\n   Input: ID do anúncio representante\n   ```\n\n2. **Obter link do anúncio**:\n   ```\n   Ferramenta: pega_url_anuncio  \n   Input: ad creative obtido na etapa anterior\n   ```\n\n3. **Coletar métricas consolidadas**:\n   ```\n   Ferramenta: metrics_by_name_ad\n   Input: nome normalizado do criativo\n   Objetivo: Somar conversões de TODAS as variações baseadas no objetivo da campanha\n   ```\n\n#### ETAPA 4: CONSOLIDAÇÃO E RANKING\n1. **Defina o tipo de conversão** baseado no objetivo da campanha:\n   - **MENSAGENS**: Conversas iniciadas\n   - **COMPRAS**: Compras efetivadas \n   - **LEADS**: Leads capturados\n\n2. **Calcule o total de conversões** somando todas as variações de cada criativo\n3. **Ordene por conversões** (maior para menor)\n4. **Limite ao número solicitado** (ex: Top 10)\n\n## FORMATO DE SAÍDA\n\n```\nTOP [X] criativos 👇\n\n*nome:* [nome do criativo com maior gasto]\n*link:* [URL do anúncio ou N/A]\n*conversões:* [total consolidado baseado no objetivo da campanha ou N/A]\n\n*nome:* [próximo criativo...]\n*link:* [URL ou N/A]  \n*conversões:* [total baseado no objetivo ou N/A]\n```\n\n**Nota**: O termo \"conversões\" no output será substituído automaticamente pela métrica específica:\n- \"conversas\" para campanhas de MENSAGENS\n- \"compras\" para campanhas de COMPRAS  \n- \"leads\" para campanhas de LEADS\n\n## DIRETRIZES TÉCNICAS\n\n### TRATAMENTO DE DADOS\n- **Sempre envie inputs como string**, mesmo para dados estruturados\n- **Converta objetos em string** quando necessário\n- **Mantenha dados em formato de texto plano**\n\n### TRATAMENTO DE ERROS\n- Se algum campo não for encontrado, use `N/A`\n- **NÃO exclua** itens da lista por dados faltantes\n- Mantenha a integridade do ranking\n\n### PADRÕES DE QUALIDADE\n- **Resposta limpa**: apenas a lista, sem explicações adicionais\n- **Formato WhatsApp-friendly**: compatível com envio direto\n- **Precisão nos agrupamentos**: evite falsos positivos na unificação\n\n## CONTEXTO TEMPORAL\nData de referência: {{(() => { const date = new Date(); return new Intl.DateTimeFormat('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }).format(date); })()}}\n\n---\n\n**IMPORTANTE**: Sua resposta deve conter APENAS a lista final formatada. Sem análises, comentários ou explicações adicionais."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[464,-32],"id":"cf158811-3cb0-4e9b-aebf-16cb62e29780","name":"top_criativos"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"level","value":"ad"},{"name":"filtering","value":"=[{'field':'ad.name','operator':'CONTAIN','value':'{{ $fromAI('name_ad','nome do anúncio que precisa filtrar')}}'}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[944,320],"id":"a17488e1-482c-4091-8480-45f75be8723e","name":"metrics_by_name_ad","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,320],"id":"f7ab4081-93de-46ed-9cbe-6c637db1bb12","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1104,320],"id":"3ececc4c-3210-4b54-907b-96c62d60b48d","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,320],"id":"8b06168b-5bb3-4a53-a2c1-3c2808f4866e","name":"Simple Memory"},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-128],"id":"28bb96ff-865a-49eb-b923-e852d0bc698c","name":"When Executed by Another Workflow"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,80],"id":"50473350-a0d1-468e-aaf5-99936f096511","name":"When chat message received","webhookId":"d04b12aa-5b42-49cc-a21a-f620cd5e270d","disabled":true},{"parameters":{"toolDescription":"Use essa tool após ter o ad creative dos anúncios para pegar a url de cada um deles.","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('creative_id','é diferente do ad id. é o creative id') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"instagram_permalink_url"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[464,320],"id":"9ca6bba7-38d3-4401-883b-48bb691142df","name":"Pega _URL_anuncio","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[304,320],"id":"86120b1b-6356-4071-af3c-841f985c40f9","name":"Pega_dados_cliente","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1248,320],"id":"00310e71-1dc9-40c4-a30a-a80aa69e7178","name":"Calculator"}],"connections":{"Metricas_criativos_periodo_metaads":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"pega_ad_creative":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"metrics_by_name_ad":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"top_criativos","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"top_criativos","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"top_criativos","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"top_criativos","type":"main","index":0}]]},"Pega _URL_anuncio":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"top_criativos","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}