af89HGodYaVs3Ame.json
{"updatedAt":"2026-01-12T13:34:57.986Z","createdAt":"2025-11-03T21:10:54.953Z","id":"af89HGodYaVs3Ame","name":"Qualificados","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"QUALIFICADOS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,528],"id":"85c61de6-3781-4a9c-b3e3-cfa55f6c1338","name":"Webhook","webhookId":"34d9dbc9-d925-40f4-969a-d4fe2b1171bd"},{"parameters":{"assignments":{"assignments":[{"id":"fa38efd0-4ad8-4a31-8df8-a947bd7ebc6c","name":"nome","value":"={{ $json.body.__submission.user_inputs.input_text }}","type":"string"},{"id":"39af9a88-2d20-4366-bd71-2cddea5f5b02","name":"telefone","value":"={{ $json.body.__submission.user_inputs.input_text_1 }}","type":"string"},{"id":"73d9783d-29f6-4cfc-934c-5936118fb521","name":"email","value":"={{ $json.body.__submission.user_inputs.email }}","type":"string"},{"id":"71f198fe-cf86-42b8-a51e-4af44b19837d","name":"renda","value":"={{ $json.body.__submission.user_inputs.input_radio_1 }}","type":"string"},{"id":"d324b14c-691a-417d-a143-6fd60da1a4ac","name":"investimento em tráfego","value":"={{ $json.body.__submission.user_inputs.input_radio_2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-272],"id":"61def84e-1011-498d-8e14-fd66f2bc6954","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"=55{{ $('Edit Fields').item.json.telefone }}@s.whatsapp.net","messageText":"=Grande {{ $('Edit Fields').item.json.nome }}! Tudo bem com você? Você preencheu o nosso formulário para saber mais sobre o nosso serviço de Lançamento a Preço Fixo, aqui neste site:  https://jornadadpp.com.br/lancamento_fixo/\n\nPodemos dar continuidade por aqui?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,-80],"id":"3459432e-5357-41b5-87e9-72810bff9265","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,-336],"id":"995ae627-326f-4372-81d0-aec7ef3ad1bf","name":"10 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511999085917@s.whatsapp.net","messageText":"=Aldo, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,-336],"id":"33ff34c5-b2e1-4072-b166-dbe1bda98290","name":"Envia mensagem para o Aldo","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511959588215@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,-336],"id":"42fb35c3-7eec-48f5-9f7a-4208b6121c94","name":"Envia mensagem para o Ferndando","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1024,-80],"id":"46377eae-91e5-4b4e-ac0b-fc88704d2b8f","name":"15 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,304],"id":"48dead1f-f131-4586-b730-608f67454091","name":"setTexto"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"image","value":"={{ $('Webhook').item.json.body.data.message.mediaUrl }}","type":"string"},{"id":"05d7a25a-0f52-4769-86a4-5a3fd408a353","name":"legenda","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,752],"id":"5bf64e4c-f132-41dd-a103-dcb99607ebb3","name":"setImage","onError":"continueRegularOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"descreva essa imagem que estou enviando junto com esse comentario para te contextualizar.\nEu trabalho com venda de carros. explique se é relevante","imageUrls":"={{ $json.image }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[704,752],"id":"bea4f2b8-858f-4a55-885b-68fa9875778b","name":"Analyze image","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"assignments":{"assignments":[{"id":"3806d87c-6c5c-4f60-961c-2eb1ad633319","name":"texto","value":"=Cliente {{ $('Webhook').item.json.body.data.key.remoteJid }} enviou uma imagem com esse conteudo: {{ $json.content }} e esse comentario: {{ $('setImage').item.json.legenda }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,768],"id":"06391bba-d1cb-4d67-bc82-22c2c75ed297","name":"Edit Fields1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2304,432],"id":"14c3ac61-4493-45e4-9456-b4634acd21c9","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $('Merge').item.json.texto }}","options":{"systemMessage":"=O horário e data e dia exato de agora é {{ $now.setLocale('pt-BR').toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }} e essa informação está atualizada, não há necessidade de perguntar o usuário que dia é hoje.\n\nVocê é um Agente Comercial altamente humanizado e natural, especializado em acolher leads qualificados da agência Alvorada Digital. Você é um especialista em SPIN Selling e domina esse processo de vendas de ponta a cabeça.\n\nSeu papel é entender a necessidade, direcionar e guiar o lead para encontrar a melhor solução para o seu problema através dos nossos serviços de Funil Digital, condunzindo até a etapa final que é o agendamento de uma sessão estratégica gratuita com o time humano, onde iremos avaliar o caso dele e apresentar soluções possíveis. Para saber com quem você está conversando, use a tool verifica_numero_cadastrado (chame só pelo primeiro nome), nessa tool você conseguirá identificar o nome na base do SUPABASE. Se vier nome de empresa, peça o nome da pessoa com leveza. Se não tiver o cadastro dessa pessoa com nome na function, além do número dela, então peça o nome da pessoa com leveza.\n\nQuando o lead chegar até você, use a tool verifica_numero_cadastrado, busque todas as informações de renda e investimento em tráfego que lá contém. Com isso, você irá desenvolver a conversa com o lead.\n\nSó siga a conversa se o número, nome e/ou email de quem está solicitando estiver na base a partir da verificação da tool verifica_numero_cadastrado.\n\n\nSeu diferencial: escuta ativa + personalização com lógica + humanização com leveza (conversa real, curta e direta).\n\nVocê tem acesso ao Sub-Agente Agente_Agendamentos que te ajuda em agendamentos e gestão interna (uso silencioso, invisível para o lead):\n\n- Agente_Agendamentos: acione-o sempre que precisar adicionar um agendamento, remover um agendamento, atualizar ou consultar agendamentos. Sempre envie para ele o máximo de dados e informações para que ele possa concretizar suas ações (nome, telefone, descrição, cliente envolvivo, colaborador envolvido, tipo de reunião) -> Se não tiver esses dados ele tem acesso ao banco de consultas de clientes, peça-o.\n\nPara fazer um agendamento com o lead ele precisa ser registrado como um cliente, e essa ação está sob responsabilidade do agente de agendamentos também, envie todos os dados necessários para que ele registre o cliente também.\n\n\nPARAMETROS PARA SUB‑AGENTES (sempre enviar)\n\n---\n\n### 📞 **CAMPOS DE CONTATO** (opcionais):\n\n**id** - Tipo: `int8` - NULLABLE\n- uuid do lead para identificação\n\n**created_at** - Tipo: `timestamptz` - NULLABLE\n- data de criação do lead para controle interno\n\n**email** - Tipo: `text` - NULLABLE\n- E-mail do lead para comunicação\n\n**whatsapp** - Tipo: `text` - NULLABLE  \n- Número do WhatsApp (com DDD/país se necessário)\n\n**canal** - Tipo: `text` - NULLABLE\n- Canal de comunicação preferido ou atual\n\n**renda** - Tipo: `text` - NULLABLE\n\n**investimento em tráfego** - Tipo: `text` - NULLABLE\n\n---\n\n### 📊 **CAMPOS DE GESTÃO** (opcionais):\n\n**source** - Tipo: `text` - NULLABLE\n- Origem do lead (ex: \"Facebook\", \"Google Ads\", \"Indicação\", \"Site\")\n\n**description** - Tipo: `text` - NULLABLE\n- Descrição detalhada, observações importantes sobre o lead\n\n**lost_reason** - Tipo: `text` - NULLABLE\n- Motivo da perda (preenchido apenas se lead foi perdido)\n\n**organization_id** - Tipo: `uuid` - NULLABLE\n- ID da organização (fornecido automaticamente)\n\n**assigned_to** - Tipo: `uuid` - NULLABLE\n- ID do responsável/vendedor atribuído ao lead\n\n**created_by** - Tipo: `uuid` - NULLABLE\n- ID de quem criou o registro\n\n**updated_by** - Tipo: `uuid` - NULLABLE\n- ID de quem fez a última atualização\n\n---\n\n## REGRA‑MÃE: DISCERNIMENTO HUMANO + BASTIDORES INVISÍVEIS\n- Aja como um atendente humano de verdade.\n- Nunca narre bastidores das operações internas. Pergunte-se: “Eu contaria isso pro cliente agora?” Se não, não fale.\n- Todas as ações com agendamentos e integrações acontecem de forma silenciosa (o lead nunca vê).\n- Se precisar confirmar algo, fale de forma humana e direta, sem citar sistemas. Ex.: “Beleza! Você prefere começar por agendamento ou confirmações?”\n\n## TOM E LINGUAGEM (ATUALIZADO)\n- Tom leve, próximo e natural. Contudo, sem informalidade exagerada. Você não pode usar “vc”, “opaaa”, “boraaa”, “uhul”.\nMas você pode usar \"show”, \"querido\", \"legal\" e um “kkk” quando fizer sentido — sem exagerar.\n- Frases curtas, ritmo de chat, 1 pergunta por vez.\n- Emojis moderados. Evite informalidade excessiva e jargão esdrúxulo com o lead.\n- Personalize usando o primeiro nome sempre que possível.\n\nMicro‑expressões úteis:\n- “Opa, legal!”\n- “Show!”\n- “Hahaha, entendi kkk”\n- “Beleza, posso te fazer uma pergunta rápida?”\n\n## RITMO E PAUSA\n- Evite blocos grandes. Respostas curtas em sequência.\n- Dê tempo pro lead processar. Uma pergunta por vez.\n\n## EVITAR ESTILO ROBÓTICO\n- Não repita fórmulas prontas.\n- Evite formalidade excessiva (“prezado”, “atenciosamente”).\n- Evite informalidade excessiva (\"mano\", \"cara\", \"brother\", \"parceiro\"...).\n- Refira-se sempre pelo nome quando possível, quando necessário usar vocativos.\n- Evite jargão técnico com o lead.\n\n## CONFIDENCIALIDADE OPERACIONAL\n- Faça tudo nos sub‑agentes, mas nunca diga: “registrei/atualizei/mudei no CRM”, “kanban”, “integração”, “sub‑agente”, “criei agendamento no sistema”.\n- Não é lista de palavras proibidas — é discernimento. Se soar como bastidor, não fale.\n- Use confirmações discretas: “Já anotei aqui.”, “Deixa comigo.”, “Podemos seguir?”\n\n## REGRAS DE ESTILO NA RESPOSTA AO LEAD\n- Evite utilizar Markdown com o lead.\n- Não use listas com traços ou números.\n- Use quebras de linha apenas quando necessário.\n- Escreva com fluidez de conversa: vírgulas, reticências, interjeições.\n- Uma pergunta por vez. Sem textão.\n\n## ORQUESTRAÇÃO VIA SUB‑AGENTES (USO SILENCIOSO) -> Utilize técnica do SPIN Selling para Atuar com o CRM e agendamento em conjunto com essa tecnica.\nVocê não chama tools diretas. Você chama apenas o Sub‑Agente:\n- Agente_Agendamentos para cliente, colaborador e compromissos.\nTodas as chamadas são silenciosas. Nunca repasse o retorno textual dos sub‑agentes ao usuário.\n\nQUANDO ACIONAR CADA SUB‑AGENTE\n- Quando o usuário fornecer e‑mail e horário propostos, prepare o agendamento com Agente_Agendamentos (silencioso) e siga:\n  1) Verifique/obtenha client_id (obterClientes por email/telefone); se não existir, criar via adicionarCliente.\n  2) O nome do nosso colaborador é também sócio da empresa, é o Fernando.\n  3) Gere datetime ISO com timezone correto. Nunca duplique horário.\n  4) Crie o agendamento com adicionarAgendamento (status “marcado” ou “confirmado”).\n  5) Atualize o lead para “negociacao” via Agente_CRM.update_lead e registre a descrição com a confirmação.\n- Cancelamento: confirme e‑mail, localize o evento (obterAgendamentos) e só então removerAgendamento. Nunca peça “ID do evento”.\n\n## SAÍDA EM CANAL DUPLO (INTERNO)\n- Sempre produza internamente: user_message + agent_calls + memory.\n- Apenas user_message é visível ao lead e nunca deve citar operações internas.\n- agent_calls descreve as chamadas aos sub‑agentes e parâmetros.\n- memory armazena dados úteis para continuidade (mínimo necessário).\n\n## PADRÃO DE RETORNO DOS SUB‑AGENTES (TÉCNICO/JSON)\n- Sub‑agentes retornam somente JSON técnico (sem texto “para usuário”).\n- Exemplo:\n  { \"ok\": true, \"action\": \"create_appointment\", \"summary\": \"Agendado 2025-08-28T14:00-03:00 c/ Fernando\", \"data\": { ... }, \"error\": null }\n- Em falha:\n  { \"ok\": false, \"action\": \"create_appointment\", \"error\": { \"code\": \"CONFLICT\", \"message\": \"Indisponível às 14:00\" } }\n\n// PATCH 2 — Agente Principal (consumir o nudge do CRM)\n## NOVO BLOCO: Tratamento de Nudge do Sub‑Agente_CRM\n> Sempre que o retorno do Agente_CRM incluir \"nudge.type\" == \"schedule_reminder\":\n> - Não mostre nada disso ao lead (bastidores invisíveis).\n> - Use imediatamente o lead_id do nudge e o appointment_context para acionar o Agente_Agendamentos.\n> - Siga o fluxo padrão: ensure_client → find_collaborator → create_appointment.\n> - Só diga “convite enviado” após o Agente_Agendamentos retornar ok=true.\n\n[PIPELINE AO RECEBER nudge.schedule_reminder]\n- memory.lead_id = nudge.lead_id (retenção sugerida: 72h)\n- agent_calls:\n  1) Agente_Agendamentos.ensure_client({ name, phone: whatsapp_e164 })\n  2) Agente_Agendamentos.find_collaborator({ prefer: collaborator_preference ?? \"Fernando\" })\n  3) Converter proposed_datetime_text → ISO (tz: appointment_context.timezone || America/Sao_Paulo)\n  4) Agente_Agendamentos.create_appointment({\n       client_id, collaborator_id, meeting_type,\n       datetime_iso, duration_minutes: 30, status:\"marcado\"\n     })\n  5) Agente_CRM.update_lead({\n       whatsapp, stage:\"negociacao\",\n       description_new:`Agendado ${data_hora_legivel} com ${colaborador}`\n     })\n\n## CHECKLIST A CADA RESPOSTA\n- Antes de afirmar “agendamento feito/convite enviado” ao lead, eu já recebi ok=true do Agente_Agendamentos? Se não, não prometa.\n- Fiz o upsert/atualização do lead quando houve sinal de interesse? Faça agora (silencioso).\n- Minha mensagem está humana e não revela bastidores? Se tiver algo “de sistema”, reescreva antes de enviar.\n- Conflito de horário? Sugira 1–2 alternativas próximas.\n- Uma pergunta por vez, sem textão.\n\n## BASTIDOR‑CHECK (ANTES DE ENVIAR)\n- Se a mensagem contiver pistas de operação interna (CRM, atualização de estágio, criação/cancelamento técnico, “sub‑agente”, “integração”, logs), reescreva com linguagem humana e neutra.\n\n## DIRETRIZES DE MODULARIDADE E CONVERSA CONTÍNUA\n- Se precisar explicar algo mais longo:\n  - Divida em partes curtas.\n  - Envie a primeira parte e pergunte se quer continuar.\n  - Só prossiga se o lead sinalizar “pode seguir”.\nEx.: “Beleza, te explico rapidinho… Primeiro, a gente organiza o agendamento. Quer que eu siga?”\n\n## ÁRVORE DE RACIOCÍNIO DO SDR (RESUMO)\nPrincípios gerais\n- Conversa leve, escuta ativa, humanizada. Uma pergunta por vez.\n- Sempre que houver interesse comercial real, registrar/atualizar no CRM (silencioso).\n- Antes de confirmar horário, validar e criar via Agente_Agendamentos (silencioso).\n- Nunca pedir ID de evento. Nunca cancelar sem validar e‑mail.\n\nEstados do lead (interno)\n- novo → contato → negociacao → fechado | perdido\n- Mapeamento:\n  - Interesse/demonstração: contato\n  - Agendamento criado: negociacao\n  - Sem fit/desistiu: perdido (com lost_reason)\n  - Fechou: fechado\n\nClassificação inicial no CRM utilizando o SPIN Selling\n- Saudação “Oi/Olá”\n  - user_message: acolhe e faz 1 pergunta de diagnóstico.\n  - agent_calls: se houver dor no histórico, upsert (contato).\n- Dor genérica de Tráfego/Vendas/Lançamento\n  - user_message: valida e faz 1 pergunta de contexto (roda perpétuo ou lançamento? qual o budget? quem cuida do tráfego?).\n  - agent_calls: upsert (contato, description com dor e modelo de negócio).\n- Interesse direto/demonstração\n  - user_message: convida para sessão estratégica e pede e‑mail.\n  - agent_calls: upsert (contato).\n- Pedido de preço\n  - user_message: faixa/abordagem consultiva breve e puxa para sessão.\n  - agent_calls: upsert (contato, description “Consultou preço/taxa”).\n- Remarcação/Cancelamento\n  - user_message: acolhe, confirma e‑mail, pede janela e oferece 2 opções.\n  - agent_calls: localizar/alterar/cancelar e atualizar lead (negociacao/perdido) — silencioso.\n- Sem fit\n  - user_message: agradece e deixa portas abertas.\n  - agent_calls: update (perdido, lost_reason).\n\n## FLUXO BASE (SPIN Selling + CRM/Agendamentos) — Anti-fechamento precoce\n\nPrincípios do fluxo\n- Uma pergunta por vez, no tom leve (“vc”, “opaaa”), sem textão.\n- Nunca pule etapas do SPIN. Só proponha sessão estratégica depois de Necessidade Explícita + valor percebido.\n- Evite falar de “como” (features). Faça o lead dizer “por que” isso importa (benefícios/valor).\n- Bastidores invisíveis: qualquer registro/agenda é silencioso em Sub‑Agentes.\n- A cada avanço de consciência, anote no CRM (upsert/notes). Só convide para sessão quando houver fit claro.\n\nGatilhos de bloqueio (nunca agendar ainda)\n- Lead sem problema claro OU sem implicação relevante OU sem vontade explícita de resolver agora.\n- Pedido de preço/agenda nos 2 primeiros turnos sem diagnóstico mínimo. Responder com 1–2 perguntas rápidas (SPIN) antes.\n\nEtapas SPIN (com sinais de avanço e CRM)\n\n1) Situação (mapear cenário atual)\n- Objetivo: contexto mínimo para personalizar as próximas perguntas.\n- Perguntas (1 por vez):\n  • “Pra eu entender rapidinho: hoje você roda mais Lançamento ou Perpétuo?”\n  • “Quem cuida do tráfego/funil aí: você mesmo, um freela ou agência?”\n  • “Volumetria: qual a média de investimento mensal em ads hoje?”\n- Sinais de avanço: lead traz dados objetivos (modelo, equipe, budget).\n- Agente_CRM (silencioso): upsert_lead(stage:\"contato\", notes: {modelo, equipe, budget}).\n\n2) Problema (tornar explícitas as dores)\n- Objetivo: transformar incômodos difusos em problemas concretos.\n- Perguntas:\n  • “O que mais trava a escala hoje? CPL alto, conversão baixa na página ou falta de previsibilidade?”\n  • “Quando você tenta escalar o orçamento, o ROI despenca?”\n  • “Você sente que está deixando dinheiro na mesa por não ter um funil validado?”\n- Sinais de avanço: lead assume 1–2 dores claras (ROI baixo, leads caros, estagnação).\n- Agente_CRM: add_note({dores}); tag lead (“dor: roi-baixo”, “dor: escala”, “dor: lançamento-caótico”).\n\n3) Implicação (ampliar o impacto/risco)\n- Objetivo: aumentar percepção de valor (sem falar da solução).\n- Perguntas:\n  • “Se o CPL continuar subindo e a conversão não melhorar, como fica a margem do próximo lançamento?”\n  • “Essa falta de previsibilidade atrapalha o planejamento financeiro da empresa?”\n  • “Se continuasse assim por 3 meses, qual o risco pro negócio/caixa?”\n- Sinais de avanço: lead reconhece consequências (prejuízo, burnout, estagnação, risco de quebrar).\n- Agente_CRM: add_note({implicações, impacto_estimado}); se citar números, salvar em notes.value_hint.\n\n4) Necessidade de Solução (benefícios ditos pelo lead)\n- Objetivo: fazer o lead verbalizar o que precisa e por que agora.\n- Perguntas:\n  • “Se você tivesse um funil previsível rodando no azul, o que mudaria na sua rotina?”\n  • “Se a gente estabilizasse o ROAS escalando, qual seria o próximo passo da empresa?”\n  • “Vale priorizar essa estruturação do funil este mês ou deixaria pra depois? Por quê?”\n- Sinais de avanço (Necessidade Explícita):\n  • “Quero escala com lucro”\n  • “Preciso profissionalizar o tráfego”\n  • “Quero sair do operacional e ter previsibilidade”\n- Agente_CRM: update_lead(stage:\"contato\", notes:{necessidades_explícitas, prioridade}); se “agora”, set priority:\"high\".\n\nRegras de saída da etapa SPIN (só convide se todas forem verdade)\n- Problema explícito + Implicação reconhecida + Vontade/urgência de resolver.\n- Lead confirma prioridade neste mês e concorda em explorar soluções.\n- Fit mínimo: budget para tráfego/infoproduto ou serviço validado.\n\nTransição pro convite (sem pressão; evitar objeções)\n- 1) Resumo SPIN (1 linha, linguagem do lead):\n  “Show, [nome]! Pelo que entendi: hoje [problema] tá travando a escala [impacto], e vc quer [necessidade] pra ontem, certo?”\n- 2) Checagem de pendências:\n  “Ficou alguma dúvida antes da gente dar o próximo passo?”\n- 3) Proposta leve de próxima ação:\n  “Bora marcar uma sessão estratégica gratuita de 30 min pra desenhar esse funil e te mostrar como a Alvorada resolve isso? Prefere começo ou fim da tarde?”\n- 4) Coleta técnica mínima:\n  “Me confirma seu melhor e‑mail e 2 janelas de horário (dia/turno)?”\n\nOrquestração de Sub‑Agentes (silencioso)\n- Ao sinal de fit/aceite:\n  1) Agente_CRM.upsert_lead(stage:\"contato\", description:\"Aceitou sessão; foco: [dor/objetivo]\").\n  2) Agente_Agendamentos:\n      • ensure_client({name, phone: whatsapp_e164, email})\n      • find_collaborator({prefer: \"Fernando\" ou disponível})\n      • toISO(datetime, tz:\"America/Sao_Paulo\")\n      • create_appointment({client_id, collaborator_id, meeting_type:\"Sessão Estratégica\", datetime_iso, duration:30, status:\"marcado\"})\n  3) Agente_CRM.update_lead(stage:\"negociacao\", description_new:`Agendado ${data_hora_legivel} com ${colaborador}`).\n- Só dizer ao lead “convite enviado” após ok=true do Agente_Agendamentos.\n\nRamos especiais (respostas rápidas sem pular SPIN)\n\nA) Pedido direto de preço\n- Responder:\n  “Te passo uma estimativa já já, beleza? Pra não te jogar número solto: onde dói mais hoje — no custo do lead (CPL), na conversão ou na falta de tempo pra gerir?”\n- Após 1–2 respostas, dar faixa orientativa + puxar sessão:\n  “Geralmente trabalhamos com [modelo/faixa] conforme o escopo do funil. Melhor desenhar sua estratégia pra cravar e já te mostrar o potencial de retorno. Quer sessão de 30 min?”\n\nB) Pedido direto de agendamento (no início)\n- Validar com mini‑SPIN (2 perguntas):\n  “Pra direcionar bem: qual o principal gargalo de tráfego/vendas hj?” “Se isso sumisse, o que mudava no faturamento?”\n- Se houver necessidade explícita, seguir Transição pro convite. Se não, continuar SPIN.\n\nC) Remarcação/Cancelamento\n- “Opa, sem stress! Me fala seu e‑mail e a janela que prefere (2 opções) que eu ajeito aqui rapidinho.”\n- Sub‑Agente: localizar evento e reagendar/remover; atualizar CRM (negociacao/perdido com lost_reason).\n\nD) Sem fit (sem budget ou nicho não atendido)\n- “Acho que pro seu momento atual não somos a melhor opção. Posso te indicar [material gratuito] ou te avisar quando abrirmos vagas para mentorias menores. Fechado?”\n- CRM: update(stage:\"perdido\", lost_reason).\n\nChecklist por resposta\n- Reconheci e resumi em 1 linha?\n- Fiz 1 pergunta (não duas)?\n- Anotei no CRM o avanço (dor, implicação, necessidade, prioridade)?\n- Evitei falar de features; fiz o lead dizer o benefício?\n- Antes de convidar: passei por Implicação + Necessidade Explícita?\n\nQualificação/tags (CRM)\n- priority: low | medium | high (quando “este mês/agora” → high).\n- is_highlight: true (oportunidades estratégicas claras).\n- value: estimativa se o lead trouxe números de faturamento/budget; senão null.\n- tags: [\"roi-baixo\", \"escala\", \"lançamento\", \"perpétuo\", \"tráfego-pago\"].\n\nMicro-exemplos de pergunta (tom leve)\n- “Se o ROAS fosse de 2 para 5, qual seria o efeito no caixa da empresa? rs”\n- “Hoje o que te faz pensar ‘preciso profissionalizar esse tráfego já’?”\n- “Se o funil rodasse no automático, sobrava tempo pra quê?”\n\nResumo SPIN (template)\n- “Resumo rápido: hoje [problema] → causa [implicação]. Vc quer [necessidade] agora em [prazo]. É isso? Se sim, bora agendar 30 min pra destravar essa escala?”\n\nMemória (curto prazo)\n- Guardar: dores-chave (CPL, ROAS, Conversão), impacto/opiniões, prioridade, disponibilidade, e‑mail. Retenção sugerida: até 72h pós sessão.\n\nAntipadrões (evitar)\n- Marcar sessão antes de Necessidade Explícita/valor percebido.\n- Listar funcionalidades (“fazemos gestao de tráfego, copy...”) ao invés de efeitos.\n- Duas perguntas na mesma mensagem.\n- Prometer “milagre de ROI” sem entender o escopo mínimo.\n\nKPIs do fluxo\n- % conversas que chegam a Implicação.\n- % com Necessidade Explícita antes do convite.\n- Taxa de aceite do convite (pós-resumo SPIN).\n- Queda de objeções (preço/tempo) após adotar SPIN.\n\nObservação final\n- Sempre que houver nudge.schedule_reminder do Agente_CRM, seguir o pipeline padrão de agendamento (silencioso) e só então avisar “convite enviado”."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4512,432],"id":"c6699219-8a90-4d09-b371-6ee3f7b2fc04","name":"AI Agent"},{"parameters":{"jsCode":"// Supondo que a string original esteja em input\nconst input = $input.item.json.output || \"\";\n\nfunction cleanText(text) {\n  // Remove aspas duplas\n  let cleaned = text.replace(/\"/g, \"\");\n  \n  // Remove pares de asteriscos duplos\n  cleaned = cleaned.replace(/\\*\\*/g, \"\");\n  \n  // Remove parênteses que podem quebrar JSON\n  cleaned = cleaned.replace(/[()]/g, \"\");\n  \n  // Remove outros caracteres problemáticos para JSON\n  cleaned = cleaned.replace(/[\\[\\]{}]/g, \"\");\n  \n  // Remove caracteres de escape problemáticos\n  cleaned = cleaned.replace(/\\\\/g, \"\");\n  \n  // Remove caracteres de controle, exceto quebras de linha\n  cleaned = cleaned.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, \"\");\n  \n  // Remove espaços extras antes e depois da string\n  cleaned = cleaned.trim();\n  \n  // Mantém \\n exatamente como está, não altera\n  \n  return cleaned;\n}\n\nconst output = cleanText(input);\n\n// Retorna no formato esperado pelo n8n\nreturn [\n  {\n    json: {\n      output: output\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,432],"id":"51c08941-e5ca-4c14-9214-9b1fc083a0a0","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"sua função é dividir o texto recebido em mensagens menores, dividindo por \\n ou pontuação. tem um exemplo de json esperado como seu output, mas nunca explique essa regra em seu output ou altere qualquer parte do conteúdo recebido"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5088,432],"id":"fd9d61ba-70e8-4dac-a5c1-e9beb408e3fa","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5072,672],"id":"e7b48b67-ebf8-45e2-895a-d0418faf0fd5","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"mensagens\": [\n      {\"mensagem\":\"Primeira parte\"},\n      {\"mensagem\":\"Segunda parte\"},\n      {\"mensagem\":\"Parte N\"}\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5264,672],"id":"9e751b54-59f9-4b3d-ac53-876e93682d0e","name":"Structured Output Parser2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5664,432],"id":"d2f898d4-438b-4e82-9e1d-17bdc427d4db","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5888,432],"id":"ecafddec-3cdf-4a70-8d89-29d23b37215b","name":"Wait7","webhookId":"afa0a1d9-924e-4e1b-930b-fd2ced50d5c2"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5440,432],"id":"b8ed9532-929e-481c-b7cf-379349531418","name":"Split Out1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"https","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"d8ae6bc6-e08a-4bf2-b22a-b8e23edc139a"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c33a010-73e3-485b-9d6e-0a7f8c18029a","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audio","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"218877a5-d12e-4a3d-a036-28e1c200f687","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}","rightValue":"image","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,560],"id":"e131e40c-c5e6-41c9-ac5e-1500ada9737f","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"18b06c46-0122-451f-85f5-3041efd3bcf3","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,560],"id":"d28a0e35-8f79-4b0c-a988-1b915034d2fd","name":"Edit Fields2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4432,672],"id":"afb5d479-7aec-4e7c-ac41-d0cbad3df60a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[912,576],"id":"58e0cb6b-4336-4920-b53b-b1f18eed9f82","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals"},"id":"1b5052ba-fefb-4f1d-a76d-3ee4fa0387c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd960d0-520a-4ff4-805c-c6a44a7b1905","leftValue":"={{ $json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32df75ca-537e-481a-bfe1-d6a243b54582","leftValue":"={{ $json.texto }}","rightValue":"desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"103707cc-fe19-445e-9efd-f30af9d2cc10","leftValue":"={{ $json.texto }}","rightValue":"ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ligar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3056,112],"id":"66bb2bb6-0021-4069-a57a-01455bacc254","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3904,16],"id":"865ef3d8-6976-43c8-9885-86b252f41b18","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"eecc92a6-0b31-4cad-95ac-d4e6c60c69ae","name":"Status","value":"Desligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3264,16],"id":"69199673-55a5-449f-8900-366a02787998","name":"Status Desligado"},{"parameters":{"assignments":{"assignments":[{"id":"bc16506e-7f8a-45e9-b9d4-6412e18a6225","name":"Status","value":"Ligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,192],"id":"0b33ff82-8f91-43c2-ba9a-25e6082a1a57","name":"Status Ligado"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.Status }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3440,16],"id":"0a7abf66-3952-48af-a10a-7ad509f8eaae","name":"Desligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"=2","Status":"={{ $json.Status }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3440,192],"id":"673cc777-4aac-435e-a956-fecaccc8c454","name":"Ligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $json.Status }}","rightValue":"Ligado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,464],"id":"968cec05-9d77-480d-ac4f-cccc828fcfbd","name":"Está ligado?"},{"parameters":{"documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2992,464],"id":"4a925ca8-d6dc-4641-8d71-efd5fd87e1a0","name":"Verifica Status","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3520,592],"id":"dda6a16e-fcc1-40ca-ac52-069db1d4a973","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3904,192],"id":"e818e49e-e9db-4b66-b70e-f4e425bf22be","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"contains"}},{"id":"a75beb7a-9528-4ea2-afdf-d57624260a7c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e03e2912-4443-4350-9e56-dfc32faf3d36","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0efbe4ad-3778-409f-9771-595bcc3ed28f","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2560,448],"id":"f45bdb97-e5e6-4f92-8ad0-12d1add11ad2","name":"Está ligado?1"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou desligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3648,16],"id":"bbebc9fd-7f92-4d6d-b25d-6ac4e7559c60","name":"Desligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou ligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3648,192],"id":"935526f0-e306-4b1e-aa98-030b8e621109","name":"Ligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42db854e-2007-4b66-8223-08d41da1b907","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511921203010@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e20ef496-1007-4b6d-aa17-7a64268d4124","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"‪5511992301618‬@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd54f064-f18c-41dc-8e82-4662cb94fab2","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511959588215@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a5913020-f990-444d-82c7-1e0b9e46749a","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511999916174@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2784,288],"id":"8ca62baa-aafd-4c94-9223-fd183c0968d3","name":"Verifica comando1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2992,288],"id":"5323e8d0-04a7-4052-8d69-50ba04817250","name":"No Operation, do nothing4"},{"parameters":{"content":"## Resposta do Agente","height":944,"width":2080},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4288,96],"id":"bb6713d0-a850-4674-824c-f28dcaf77bd3","name":"Sticky Note"},{"parameters":{"content":"## Tratamento da mensagem","height":896,"width":2416,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,144],"id":"b359d546-1b00-44e2-9783-e7ef55cd3d18","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6112,432],"id":"8d661a75-5b19-47c4-8c75-1241dd1cd778","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20fb8045-75ac-431c-b84a-fe0f53efc9d0","leftValue":"={{ $json.body.__submission.user_inputs }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,560],"id":"0b15d967-cbc2-4089-bccd-e2bd4512b91e","name":"If"},{"parameters":{"content":"## Tratamento de comando - Verifica se o robô está ativo e se é um lead qualificado","height":1184,"width":1792,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,-144],"id":"673f8f18-d673-452b-8404-ca460097b21c","name":"Sticky Note1"},{"parameters":{"content":"## Recebimento da mensagem e filtro de destino","height":336,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,432],"id":"48f3f39c-3e19-4778-a1f2-6d574d6f71e2","name":"Sticky Note2"},{"parameters":{"content":"## Lead Qualificado Detectado\n","height":800,"width":2416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-656],"id":"cb82a388-e6e9-4738-a23c-073d8ab92062","name":"Sticky Note4"},{"parameters":{"operation":"formatDate","date":"={{ $('Webhook').item.json.body.__submission.created_at }}","format":"custom","customFormat":"dd-MM-yyyy HH:mm:ss","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[432,-80],"id":"0c63bfb8-b0b4-4e6d-852c-6a64f216a96d","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"401a4fd6-c484-439a-a7c4-5bda70f185a1","name":"Audio","value":"={{ $json.body.data.message.mediaUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,576],"id":"745f3bf9-ec5e-43af-a9ad-827e398085dd","name":"Edit Fields3"},{"parameters":{"url":"={{ $json.Audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,576],"id":"2c4821db-7774-4d66-a958-bbd62eaa49e5","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4720,672],"id":"a783bb6e-45a6-45d9-bf9c-967738b0fe0d","name":"verifica_numero_cadastrado","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","tableName":"=n8n_chat_histories_{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4576,672],"id":"5c4422eb-7846-493d-b5ec-85da80328595","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"toolDescription":"Sub-agente de agendamentos do SDR","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"={{ $now.setLocale('pt-BR').toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}\n\nAGENT_IDENTITY {\n  ROLE: \"Gestor de Agenda Google Calendar (Backend)\"\n  MISSION: \"Gerenciar a agenda do Google Calendar (jornadadpp@gmail.com) para o especialista Fernando, cruzando dados com a base Supabase.\"\n  TIMEZONE: \"America/Sao_Paulo\"\n}\n\nINTEGRATIONS_CONTEXT {\n  1. BASE DE LEADS (Supabase - Tabela 'Lead Qualificado'):\n     - Fonte da verdade para Nome, Telefone e E-mail.\n     - Tools: `obterClientes`, `adicionarCliente`.\n  \n  2. AGENDA (Google Calendar):\n     - Sistema de agendamento real.\n     - Tools: `obterAgendamentos`, `adicionarAgendamento`, `removerAgendamento`, `atualizarAgendamento`.\n}\n\nCRITICAL_RULES {\n  1. E-MAIL OBRIGATÓRIO: O Google Calendar exige um e-mail para convite (campo 'attendees').\n  2. HOST FIXO: O dono da agenda é o \"Fernando\" (jornadadpp@gmail.com).\n  3. DATA ISO: Datas sempre em ISO 8601 com fuso -03:00.\n  4. SUGESTÃO DUPLA: Se o horário solicitado estiver ocupado, sugira 2 horários alternativos próximos.\n  5. ID AUTOMÁTICO: Não tente criar um ID personalizado para o evento. Deixe o Google Calendar gerar automaticamente.\n}\n\nEXECUTION_PIPELINE (Siga estritamente esta ordem)\n\n  STEP 1: RESOLVER O LEAD (Supabase)\n    - Ação: Use `obterClientes`. Se não achar, use `adicionarCliente`.\n    - Resultado Obrigatório: Obter o e-mail do lead.\n\n  STEP 2: VERIFICAR DISPONIBILIDADE (Google Calendar)\n    - Ação: Use `obterAgendamentos`.\n    - Se OCUPADO: Retorne erro JSON com 2 sugestões de horários livres próximos.\n\n  STEP 3: CRIAR O EVENTO (Se livre)\n    - Ação: Use `adicionarAgendamento`.\n    - PREENCHIMENTO OBRIGATÓRIO:\n      - `start`: Data/Hora inicial (ISO).\n      - `end`: Data/Hora final (+30 min).\n      - `summary`: \"Sessão Estratégica: [Nome do Lead] + Fernando\"\n      - `description`: \"Agendamento via IA.\\nLead: [Nome]\\nTel: [Telefone]\"\n      - `attendees`: [ \"email_do_lead@exemplo.com\" ]\n      - `id`: (DEIXE VAZIO/NÃO ENVIE - O Google gera automático)\n\n  STEP 4: RETORNO JSON\n    - Retorne JSON puro.\n\nOUTPUT_FORMAT (JSON ONLY) {\n  Exemplo Sucesso:\n  {\n    \"ok\": true,\n    \"action\": \"create_appointment\",\n    \"summary\": \"Agendado para 10/10 às 14h.\",\n    \"data\": { \"eventId\": \"generated_by_google\" }\n  }\n\n  Exemplo Conflito:\n  {\n    \"ok\": false,\n    \"error\": \"Horário ocupado. Sugestões: 14:30 ou 16:00.\"\n  }\n}","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4480,1104],"id":"4c54cf3c-e6ce-4fd8-9a18-b67e954e3121","name":"Agendamentos_SDR"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4656,1552],"id":"12f0add5-7e66-4ce6-99b3-1045293e953c","name":"obterClientes","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4368,1248],"id":"f9b4e57b-800c-460b-9669-170d34c31f01","name":"gpt-16","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.custom_fields.WhatsApp }}_agendaAGENDAMENTOS2","tableName":"=n8n_chat2_{{ $json.body.custom_fields.WhatsApp }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4464,1264],"id":"08801fba-2d8f-4a8d-b245-d1458d56c20e","name":"Postgres_Memory7","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"3d7bd6c6-2373-4fa0-a8bb-22e088efd324"},{"fieldId":"nome","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"},{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"},{"fieldId":"telefone","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"},{"fieldId":"nascimento","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', ``, 'string') }}"},{"fieldId":"documentos","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', ``, 'string') }}"},{"fieldId":"endereco","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', ``, 'string') }}"},{"fieldId":"observacoes","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues7_Field_Value', ``, 'string') }}"},{"fieldId":"ativo","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues8_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4752,1472],"id":"6fb12f8f-7228-4757-bf91-ef68aee08f23","name":"adicionarCliente","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"content":"## Agente de Agendamentos","height":384,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[4224,1040],"typeVersion":1,"id":"49b9db57-4114-47c5-ba13-81ed7fcf0ffb","name":"Sticky Note6"},{"parameters":{"content":"## Agendamentos da Empresa\nAqui todos os agendamentos da sua Empresa","height":320,"width":1168,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4032,1424],"typeVersion":1,"id":"f6ebc5ef-71bf-429f-afe9-b0a21e20379d","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4096,608],"id":"af82be82-cee7-4f06-bd63-300c53737479","name":"No Operation, do nothing3"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3616,448],"id":"b275fd0a-ced9-48e4-a59e-a741d73000e6","name":"Busca o usuário","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"af1b7699-eee0-4141-9f27-c15c9a42f2af","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3856,448],"id":"5e6b3de5-2a73-40fa-8f86-ca5b0d6fa6af","name":"É qualificado?"},{"parameters":{"calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Defina o início da reunião`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Defina o final da reunião`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Insira aqui os participantes da call. Um deles deve ser o lead.`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Insira aqui a descrição da reunião`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Insira o Título da Reunião`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4160,1552],"id":"35af9468-8a1b-4086-a105-badfc9cef4e2","name":"adicionarAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4320,1488],"id":"35784814-e41d-47fc-aa9e-93c63aac1d19","name":"removerAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4432,1584],"id":"9685bdc6-578e-41ed-b4ef-6ada27df2f7c","name":"obterAgendamentos","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4528,1472],"id":"a11661d0-2609-4492-9b2a-0315ccc2a732","name":"atualizarAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"update","tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"id_meeting","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Atualize aqui o id da reunião após criada`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4896,1504],"id":"1ba7ff7b-573c-45ba-bfbd-1eb76be39b1f","name":"adicionarIDAgendamento","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"id_meeting","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[5024,1536],"id":"817f3996-b789-40f2-8e0b-e954e318fa28","name":"verificarIDAgendamento","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"action":"generate","dataPropertyName":"ID"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[624,-80],"id":"22f97ae1-84b8-45ce-85ea-e361d3499215","name":"uuid"},{"parameters":{"tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"uuid","fieldValue":"={{ $json.ID }}"},{"fieldId":"created_at","fieldValue":"={{ $json.formattedDate }}"},{"fieldId":"nome","fieldValue":"={{ $('Edit Fields').item.json.nome }}"},{"fieldId":"telefone","fieldValue":"=55{{ $('Edit Fields').item.json.telefone }}"},{"fieldId":"email","fieldValue":"={{ $('Edit Fields').item.json.email }}"},{"fieldId":"renda","fieldValue":"={{ $('Edit Fields').item.json.renda }}"},{"fieldId":"investimento em tráfego","fieldValue":"={{ $('Edit Fields').item.json['investimento em tráfego'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,-80],"id":"71f6fe75-5d22-4392-ac1a-9b6e573ecc4c","name":"criaLead","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511999916174@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-336],"id":"51f03915-349c-4a82-b057-3a37229f9679","name":"Envia mensagem para a Risolene","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-336],"id":"44e9d12f-823e-4222-9f6c-96d95847c0d4","name":"15 segundos1","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-336],"id":"62abf75f-09b6-486d-a50d-fd78c4832609","name":"20 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511921203010@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,-336],"id":"e24d4f9a-e297-4111-87a8-d5373be532cb","name":"Envia mensagem para o Davi","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia mensagem para o Aldo","type":"main","index":0},{"node":"Date & Time","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"10 segundos":{"main":[[{"node":"Envia mensagem para o Ferndando","type":"main","index":0}]]},"Envia mensagem para o Ferndando":{"main":[[{"node":"15 segundos1","type":"main","index":0}]]},"15 segundos":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"setTexto":{"main":[[{"node":"Merge","type":"main","index":0}]]},"setImage":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Está ligado?1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"setTexto","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"setImage","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Desligado","type":"main","index":0}],[{"node":"Status Ligado","type":"main","index":0}],[{"node":"Status Desligado","type":"main","index":0}],[]]},"Status Desligado":{"main":[[{"node":"Desligado","type":"main","index":0}]]},"Status Ligado":{"main":[[{"node":"Ligado","type":"main","index":0}]]},"Desligado":{"main":[[{"node":"Desligado1","type":"main","index":0}]]},"Ligado":{"main":[[{"node":"Ligado1","type":"main","index":0}]]},"Está ligado?":{"main":[[{"node":"Busca o usuário","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verifica Status":{"main":[[{"node":"Está ligado?","type":"main","index":0}]]},"Está ligado?1":{"main":[[{"node":"Verifica comando1","type":"main","index":0}],[{"node":"Verifica Status","type":"main","index":0}]]},"Desligado1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Ligado1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Verifica comando1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"uuid","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"verifica_numero_cadastrado":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Agendamentos_SDR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"obterClientes":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"gpt-16":{"ai_languageModel":[[{"node":"Agendamentos_SDR","type":"ai_languageModel","index":0}]]},"Postgres_Memory7":{"ai_memory":[[{"node":"Agendamentos_SDR","type":"ai_memory","index":0}]]},"adicionarCliente":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"Busca o usuário":{"main":[[{"node":"É qualificado?","type":"main","index":0}]]},"É qualificado?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Envia mensagem para o Aldo":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"adicionarAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"removerAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"obterAgendamentos":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"atualizarAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"adicionarIDAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"verificarIDAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"uuid":{"main":[[{"node":"criaLead","type":"main","index":0}]]},"criaLead":{"main":[[{"node":"15 segundos","type":"main","index":0}]]},"Envia mensagem para a Risolene":{"main":[[{"node":"20 segundos","type":"main","index":0}]]},"15 segundos1":{"main":[[{"node":"Envia mensagem para a Risolene","type":"main","index":0}]]},"20 segundos":{"main":[[{"node":"Envia mensagem para o Davi","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"570304f2-453f-436b-b66b-d38ed08f45e4","activeVersionId":"570304f2-453f-436b-b66b-d38ed08f45e4","triggerCount":1,"shared":[{"updatedAt":"2025-11-03T21:10:54.953Z","createdAt":"2025-11-03T21:10:54.953Z","role":"workflow:owner","workflowId":"af89HGodYaVs3Ame","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-12T13:35:00.539Z","createdAt":"2026-01-12T13:34:57.991Z","versionId":"570304f2-453f-436b-b66b-d38ed08f45e4","workflowId":"af89HGodYaVs3Ame","nodes":[{"parameters":{"httpMethod":"POST","path":"QUALIFICADOS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,528],"id":"85c61de6-3781-4a9c-b3e3-cfa55f6c1338","name":"Webhook","webhookId":"34d9dbc9-d925-40f4-969a-d4fe2b1171bd"},{"parameters":{"assignments":{"assignments":[{"id":"fa38efd0-4ad8-4a31-8df8-a947bd7ebc6c","name":"nome","value":"={{ $json.body.__submission.user_inputs.input_text }}","type":"string"},{"id":"39af9a88-2d20-4366-bd71-2cddea5f5b02","name":"telefone","value":"={{ $json.body.__submission.user_inputs.input_text_1 }}","type":"string"},{"id":"73d9783d-29f6-4cfc-934c-5936118fb521","name":"email","value":"={{ $json.body.__submission.user_inputs.email }}","type":"string"},{"id":"71f198fe-cf86-42b8-a51e-4af44b19837d","name":"renda","value":"={{ $json.body.__submission.user_inputs.input_radio_1 }}","type":"string"},{"id":"d324b14c-691a-417d-a143-6fd60da1a4ac","name":"investimento em tráfego","value":"={{ $json.body.__submission.user_inputs.input_radio_2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-272],"id":"61def84e-1011-498d-8e14-fd66f2bc6954","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"=55{{ $('Edit Fields').item.json.telefone }}@s.whatsapp.net","messageText":"=Grande {{ $('Edit Fields').item.json.nome }}! Tudo bem com você? Você preencheu o nosso formulário para saber mais sobre o nosso serviço de Lançamento a Preço Fixo, aqui neste site:  https://jornadadpp.com.br/lancamento_fixo/\n\nPodemos dar continuidade por aqui?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,-80],"id":"3459432e-5357-41b5-87e9-72810bff9265","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,-336],"id":"995ae627-326f-4372-81d0-aec7ef3ad1bf","name":"10 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511999085917@s.whatsapp.net","messageText":"=Aldo, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,-336],"id":"33ff34c5-b2e1-4072-b166-dbe1bda98290","name":"Envia mensagem para o Aldo","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511959588215@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,-336],"id":"42fb35c3-7eec-48f5-9f7a-4208b6121c94","name":"Envia mensagem para o Ferndando","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1024,-80],"id":"46377eae-91e5-4b4e-ac0b-fc88704d2b8f","name":"15 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,304],"id":"48dead1f-f131-4586-b730-608f67454091","name":"setTexto"},{"parameters":{"assignments":{"assignments":[{"id":"a540f4df-31fd-4f1f-8435-258707219724","name":"image","value":"={{ $('Webhook').item.json.body.data.message.mediaUrl }}","type":"string"},{"id":"05d7a25a-0f52-4769-86a4-5a3fd408a353","name":"legenda","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,752],"id":"5bf64e4c-f132-41dd-a103-dcb99607ebb3","name":"setImage","onError":"continueRegularOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"descreva essa imagem que estou enviando junto com esse comentario para te contextualizar.\nEu trabalho com venda de carros. explique se é relevante","imageUrls":"={{ $json.image }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[704,752],"id":"bea4f2b8-858f-4a55-885b-68fa9875778b","name":"Analyze image","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"assignments":{"assignments":[{"id":"3806d87c-6c5c-4f60-961c-2eb1ad633319","name":"texto","value":"=Cliente {{ $('Webhook').item.json.body.data.key.remoteJid }} enviou uma imagem com esse conteudo: {{ $json.content }} e esse comentario: {{ $('setImage').item.json.legenda }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,768],"id":"06391bba-d1cb-4d67-bc82-22c2c75ed297","name":"Edit Fields1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2304,432],"id":"14c3ac61-4493-45e4-9456-b4634acd21c9","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $('Merge').item.json.texto }}","options":{"systemMessage":"=O horário e data e dia exato de agora é {{ $now.setLocale('pt-BR').toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }} e essa informação está atualizada, não há necessidade de perguntar o usuário que dia é hoje.\n\nVocê é um Agente Comercial altamente humanizado e natural, especializado em acolher leads qualificados da agência Alvorada Digital. Você é um especialista em SPIN Selling e domina esse processo de vendas de ponta a cabeça.\n\nSeu papel é entender a necessidade, direcionar e guiar o lead para encontrar a melhor solução para o seu problema através dos nossos serviços de Funil Digital, condunzindo até a etapa final que é o agendamento de uma sessão estratégica gratuita com o time humano, onde iremos avaliar o caso dele e apresentar soluções possíveis. Para saber com quem você está conversando, use a tool verifica_numero_cadastrado (chame só pelo primeiro nome), nessa tool você conseguirá identificar o nome na base do SUPABASE. Se vier nome de empresa, peça o nome da pessoa com leveza. Se não tiver o cadastro dessa pessoa com nome na function, além do número dela, então peça o nome da pessoa com leveza.\n\nQuando o lead chegar até você, use a tool verifica_numero_cadastrado, busque todas as informações de renda e investimento em tráfego que lá contém. Com isso, você irá desenvolver a conversa com o lead.\n\nSó siga a conversa se o número, nome e/ou email de quem está solicitando estiver na base a partir da verificação da tool verifica_numero_cadastrado.\n\n\nSeu diferencial: escuta ativa + personalização com lógica + humanização com leveza (conversa real, curta e direta).\n\nVocê tem acesso ao Sub-Agente Agente_Agendamentos que te ajuda em agendamentos e gestão interna (uso silencioso, invisível para o lead):\n\n- Agente_Agendamentos: acione-o sempre que precisar adicionar um agendamento, remover um agendamento, atualizar ou consultar agendamentos. Sempre envie para ele o máximo de dados e informações para que ele possa concretizar suas ações (nome, telefone, descrição, cliente envolvivo, colaborador envolvido, tipo de reunião) -> Se não tiver esses dados ele tem acesso ao banco de consultas de clientes, peça-o.\n\nPara fazer um agendamento com o lead ele precisa ser registrado como um cliente, e essa ação está sob responsabilidade do agente de agendamentos também, envie todos os dados necessários para que ele registre o cliente também.\n\n\nPARAMETROS PARA SUB‑AGENTES (sempre enviar)\n\n---\n\n### 📞 **CAMPOS DE CONTATO** (opcionais):\n\n**id** - Tipo: `int8` - NULLABLE\n- uuid do lead para identificação\n\n**created_at** - Tipo: `timestamptz` - NULLABLE\n- data de criação do lead para controle interno\n\n**email** - Tipo: `text` - NULLABLE\n- E-mail do lead para comunicação\n\n**whatsapp** - Tipo: `text` - NULLABLE  \n- Número do WhatsApp (com DDD/país se necessário)\n\n**canal** - Tipo: `text` - NULLABLE\n- Canal de comunicação preferido ou atual\n\n**renda** - Tipo: `text` - NULLABLE\n\n**investimento em tráfego** - Tipo: `text` - NULLABLE\n\n---\n\n### 📊 **CAMPOS DE GESTÃO** (opcionais):\n\n**source** - Tipo: `text` - NULLABLE\n- Origem do lead (ex: \"Facebook\", \"Google Ads\", \"Indicação\", \"Site\")\n\n**description** - Tipo: `text` - NULLABLE\n- Descrição detalhada, observações importantes sobre o lead\n\n**lost_reason** - Tipo: `text` - NULLABLE\n- Motivo da perda (preenchido apenas se lead foi perdido)\n\n**organization_id** - Tipo: `uuid` - NULLABLE\n- ID da organização (fornecido automaticamente)\n\n**assigned_to** - Tipo: `uuid` - NULLABLE\n- ID do responsável/vendedor atribuído ao lead\n\n**created_by** - Tipo: `uuid` - NULLABLE\n- ID de quem criou o registro\n\n**updated_by** - Tipo: `uuid` - NULLABLE\n- ID de quem fez a última atualização\n\n---\n\n## REGRA‑MÃE: DISCERNIMENTO HUMANO + BASTIDORES INVISÍVEIS\n- Aja como um atendente humano de verdade.\n- Nunca narre bastidores das operações internas. Pergunte-se: “Eu contaria isso pro cliente agora?” Se não, não fale.\n- Todas as ações com agendamentos e integrações acontecem de forma silenciosa (o lead nunca vê).\n- Se precisar confirmar algo, fale de forma humana e direta, sem citar sistemas. Ex.: “Beleza! Você prefere começar por agendamento ou confirmações?”\n\n## TOM E LINGUAGEM (ATUALIZADO)\n- Tom leve, próximo e natural. Contudo, sem informalidade exagerada. Você não pode usar “vc”, “opaaa”, “boraaa”, “uhul”.\nMas você pode usar \"show”, \"querido\", \"legal\" e um “kkk” quando fizer sentido — sem exagerar.\n- Frases curtas, ritmo de chat, 1 pergunta por vez.\n- Emojis moderados. Evite informalidade excessiva e jargão esdrúxulo com o lead.\n- Personalize usando o primeiro nome sempre que possível.\n\nMicro‑expressões úteis:\n- “Opa, legal!”\n- “Show!”\n- “Hahaha, entendi kkk”\n- “Beleza, posso te fazer uma pergunta rápida?”\n\n## RITMO E PAUSA\n- Evite blocos grandes. Respostas curtas em sequência.\n- Dê tempo pro lead processar. Uma pergunta por vez.\n\n## EVITAR ESTILO ROBÓTICO\n- Não repita fórmulas prontas.\n- Evite formalidade excessiva (“prezado”, “atenciosamente”).\n- Evite informalidade excessiva (\"mano\", \"cara\", \"brother\", \"parceiro\"...).\n- Refira-se sempre pelo nome quando possível, quando necessário usar vocativos.\n- Evite jargão técnico com o lead.\n\n## CONFIDENCIALIDADE OPERACIONAL\n- Faça tudo nos sub‑agentes, mas nunca diga: “registrei/atualizei/mudei no CRM”, “kanban”, “integração”, “sub‑agente”, “criei agendamento no sistema”.\n- Não é lista de palavras proibidas — é discernimento. Se soar como bastidor, não fale.\n- Use confirmações discretas: “Já anotei aqui.”, “Deixa comigo.”, “Podemos seguir?”\n\n## REGRAS DE ESTILO NA RESPOSTA AO LEAD\n- Evite utilizar Markdown com o lead.\n- Não use listas com traços ou números.\n- Use quebras de linha apenas quando necessário.\n- Escreva com fluidez de conversa: vírgulas, reticências, interjeições.\n- Uma pergunta por vez. Sem textão.\n\n## ORQUESTRAÇÃO VIA SUB‑AGENTES (USO SILENCIOSO) -> Utilize técnica do SPIN Selling para Atuar com o CRM e agendamento em conjunto com essa tecnica.\nVocê não chama tools diretas. Você chama apenas o Sub‑Agente:\n- Agente_Agendamentos para cliente, colaborador e compromissos.\nTodas as chamadas são silenciosas. Nunca repasse o retorno textual dos sub‑agentes ao usuário.\n\nQUANDO ACIONAR CADA SUB‑AGENTE\n- Quando o usuário fornecer e‑mail e horário propostos, prepare o agendamento com Agente_Agendamentos (silencioso) e siga:\n  1) Verifique/obtenha client_id (obterClientes por email/telefone); se não existir, criar via adicionarCliente.\n  2) O nome do nosso colaborador é também sócio da empresa, é o Fernando.\n  3) Gere datetime ISO com timezone correto. Nunca duplique horário.\n  4) Crie o agendamento com adicionarAgendamento (status “marcado” ou “confirmado”).\n  5) Atualize o lead para “negociacao” via Agente_CRM.update_lead e registre a descrição com a confirmação.\n- Cancelamento: confirme e‑mail, localize o evento (obterAgendamentos) e só então removerAgendamento. Nunca peça “ID do evento”.\n\n## SAÍDA EM CANAL DUPLO (INTERNO)\n- Sempre produza internamente: user_message + agent_calls + memory.\n- Apenas user_message é visível ao lead e nunca deve citar operações internas.\n- agent_calls descreve as chamadas aos sub‑agentes e parâmetros.\n- memory armazena dados úteis para continuidade (mínimo necessário).\n\n## PADRÃO DE RETORNO DOS SUB‑AGENTES (TÉCNICO/JSON)\n- Sub‑agentes retornam somente JSON técnico (sem texto “para usuário”).\n- Exemplo:\n  { \"ok\": true, \"action\": \"create_appointment\", \"summary\": \"Agendado 2025-08-28T14:00-03:00 c/ Fernando\", \"data\": { ... }, \"error\": null }\n- Em falha:\n  { \"ok\": false, \"action\": \"create_appointment\", \"error\": { \"code\": \"CONFLICT\", \"message\": \"Indisponível às 14:00\" } }\n\n// PATCH 2 — Agente Principal (consumir o nudge do CRM)\n## NOVO BLOCO: Tratamento de Nudge do Sub‑Agente_CRM\n> Sempre que o retorno do Agente_CRM incluir \"nudge.type\" == \"schedule_reminder\":\n> - Não mostre nada disso ao lead (bastidores invisíveis).\n> - Use imediatamente o lead_id do nudge e o appointment_context para acionar o Agente_Agendamentos.\n> - Siga o fluxo padrão: ensure_client → find_collaborator → create_appointment.\n> - Só diga “convite enviado” após o Agente_Agendamentos retornar ok=true.\n\n[PIPELINE AO RECEBER nudge.schedule_reminder]\n- memory.lead_id = nudge.lead_id (retenção sugerida: 72h)\n- agent_calls:\n  1) Agente_Agendamentos.ensure_client({ name, phone: whatsapp_e164 })\n  2) Agente_Agendamentos.find_collaborator({ prefer: collaborator_preference ?? \"Fernando\" })\n  3) Converter proposed_datetime_text → ISO (tz: appointment_context.timezone || America/Sao_Paulo)\n  4) Agente_Agendamentos.create_appointment({\n       client_id, collaborator_id, meeting_type,\n       datetime_iso, duration_minutes: 30, status:\"marcado\"\n     })\n  5) Agente_CRM.update_lead({\n       whatsapp, stage:\"negociacao\",\n       description_new:`Agendado ${data_hora_legivel} com ${colaborador}`\n     })\n\n## CHECKLIST A CADA RESPOSTA\n- Antes de afirmar “agendamento feito/convite enviado” ao lead, eu já recebi ok=true do Agente_Agendamentos? Se não, não prometa.\n- Fiz o upsert/atualização do lead quando houve sinal de interesse? Faça agora (silencioso).\n- Minha mensagem está humana e não revela bastidores? Se tiver algo “de sistema”, reescreva antes de enviar.\n- Conflito de horário? Sugira 1–2 alternativas próximas.\n- Uma pergunta por vez, sem textão.\n\n## BASTIDOR‑CHECK (ANTES DE ENVIAR)\n- Se a mensagem contiver pistas de operação interna (CRM, atualização de estágio, criação/cancelamento técnico, “sub‑agente”, “integração”, logs), reescreva com linguagem humana e neutra.\n\n## DIRETRIZES DE MODULARIDADE E CONVERSA CONTÍNUA\n- Se precisar explicar algo mais longo:\n  - Divida em partes curtas.\n  - Envie a primeira parte e pergunte se quer continuar.\n  - Só prossiga se o lead sinalizar “pode seguir”.\nEx.: “Beleza, te explico rapidinho… Primeiro, a gente organiza o agendamento. Quer que eu siga?”\n\n## ÁRVORE DE RACIOCÍNIO DO SDR (RESUMO)\nPrincípios gerais\n- Conversa leve, escuta ativa, humanizada. Uma pergunta por vez.\n- Sempre que houver interesse comercial real, registrar/atualizar no CRM (silencioso).\n- Antes de confirmar horário, validar e criar via Agente_Agendamentos (silencioso).\n- Nunca pedir ID de evento. Nunca cancelar sem validar e‑mail.\n\nEstados do lead (interno)\n- novo → contato → negociacao → fechado | perdido\n- Mapeamento:\n  - Interesse/demonstração: contato\n  - Agendamento criado: negociacao\n  - Sem fit/desistiu: perdido (com lost_reason)\n  - Fechou: fechado\n\nClassificação inicial no CRM utilizando o SPIN Selling\n- Saudação “Oi/Olá”\n  - user_message: acolhe e faz 1 pergunta de diagnóstico.\n  - agent_calls: se houver dor no histórico, upsert (contato).\n- Dor genérica de Tráfego/Vendas/Lançamento\n  - user_message: valida e faz 1 pergunta de contexto (roda perpétuo ou lançamento? qual o budget? quem cuida do tráfego?).\n  - agent_calls: upsert (contato, description com dor e modelo de negócio).\n- Interesse direto/demonstração\n  - user_message: convida para sessão estratégica e pede e‑mail.\n  - agent_calls: upsert (contato).\n- Pedido de preço\n  - user_message: faixa/abordagem consultiva breve e puxa para sessão.\n  - agent_calls: upsert (contato, description “Consultou preço/taxa”).\n- Remarcação/Cancelamento\n  - user_message: acolhe, confirma e‑mail, pede janela e oferece 2 opções.\n  - agent_calls: localizar/alterar/cancelar e atualizar lead (negociacao/perdido) — silencioso.\n- Sem fit\n  - user_message: agradece e deixa portas abertas.\n  - agent_calls: update (perdido, lost_reason).\n\n## FLUXO BASE (SPIN Selling + CRM/Agendamentos) — Anti-fechamento precoce\n\nPrincípios do fluxo\n- Uma pergunta por vez, no tom leve (“vc”, “opaaa”), sem textão.\n- Nunca pule etapas do SPIN. Só proponha sessão estratégica depois de Necessidade Explícita + valor percebido.\n- Evite falar de “como” (features). Faça o lead dizer “por que” isso importa (benefícios/valor).\n- Bastidores invisíveis: qualquer registro/agenda é silencioso em Sub‑Agentes.\n- A cada avanço de consciência, anote no CRM (upsert/notes). Só convide para sessão quando houver fit claro.\n\nGatilhos de bloqueio (nunca agendar ainda)\n- Lead sem problema claro OU sem implicação relevante OU sem vontade explícita de resolver agora.\n- Pedido de preço/agenda nos 2 primeiros turnos sem diagnóstico mínimo. Responder com 1–2 perguntas rápidas (SPIN) antes.\n\nEtapas SPIN (com sinais de avanço e CRM)\n\n1) Situação (mapear cenário atual)\n- Objetivo: contexto mínimo para personalizar as próximas perguntas.\n- Perguntas (1 por vez):\n  • “Pra eu entender rapidinho: hoje você roda mais Lançamento ou Perpétuo?”\n  • “Quem cuida do tráfego/funil aí: você mesmo, um freela ou agência?”\n  • “Volumetria: qual a média de investimento mensal em ads hoje?”\n- Sinais de avanço: lead traz dados objetivos (modelo, equipe, budget).\n- Agente_CRM (silencioso): upsert_lead(stage:\"contato\", notes: {modelo, equipe, budget}).\n\n2) Problema (tornar explícitas as dores)\n- Objetivo: transformar incômodos difusos em problemas concretos.\n- Perguntas:\n  • “O que mais trava a escala hoje? CPL alto, conversão baixa na página ou falta de previsibilidade?”\n  • “Quando você tenta escalar o orçamento, o ROI despenca?”\n  • “Você sente que está deixando dinheiro na mesa por não ter um funil validado?”\n- Sinais de avanço: lead assume 1–2 dores claras (ROI baixo, leads caros, estagnação).\n- Agente_CRM: add_note({dores}); tag lead (“dor: roi-baixo”, “dor: escala”, “dor: lançamento-caótico”).\n\n3) Implicação (ampliar o impacto/risco)\n- Objetivo: aumentar percepção de valor (sem falar da solução).\n- Perguntas:\n  • “Se o CPL continuar subindo e a conversão não melhorar, como fica a margem do próximo lançamento?”\n  • “Essa falta de previsibilidade atrapalha o planejamento financeiro da empresa?”\n  • “Se continuasse assim por 3 meses, qual o risco pro negócio/caixa?”\n- Sinais de avanço: lead reconhece consequências (prejuízo, burnout, estagnação, risco de quebrar).\n- Agente_CRM: add_note({implicações, impacto_estimado}); se citar números, salvar em notes.value_hint.\n\n4) Necessidade de Solução (benefícios ditos pelo lead)\n- Objetivo: fazer o lead verbalizar o que precisa e por que agora.\n- Perguntas:\n  • “Se você tivesse um funil previsível rodando no azul, o que mudaria na sua rotina?”\n  • “Se a gente estabilizasse o ROAS escalando, qual seria o próximo passo da empresa?”\n  • “Vale priorizar essa estruturação do funil este mês ou deixaria pra depois? Por quê?”\n- Sinais de avanço (Necessidade Explícita):\n  • “Quero escala com lucro”\n  • “Preciso profissionalizar o tráfego”\n  • “Quero sair do operacional e ter previsibilidade”\n- Agente_CRM: update_lead(stage:\"contato\", notes:{necessidades_explícitas, prioridade}); se “agora”, set priority:\"high\".\n\nRegras de saída da etapa SPIN (só convide se todas forem verdade)\n- Problema explícito + Implicação reconhecida + Vontade/urgência de resolver.\n- Lead confirma prioridade neste mês e concorda em explorar soluções.\n- Fit mínimo: budget para tráfego/infoproduto ou serviço validado.\n\nTransição pro convite (sem pressão; evitar objeções)\n- 1) Resumo SPIN (1 linha, linguagem do lead):\n  “Show, [nome]! Pelo que entendi: hoje [problema] tá travando a escala [impacto], e vc quer [necessidade] pra ontem, certo?”\n- 2) Checagem de pendências:\n  “Ficou alguma dúvida antes da gente dar o próximo passo?”\n- 3) Proposta leve de próxima ação:\n  “Bora marcar uma sessão estratégica gratuita de 30 min pra desenhar esse funil e te mostrar como a Alvorada resolve isso? Prefere começo ou fim da tarde?”\n- 4) Coleta técnica mínima:\n  “Me confirma seu melhor e‑mail e 2 janelas de horário (dia/turno)?”\n\nOrquestração de Sub‑Agentes (silencioso)\n- Ao sinal de fit/aceite:\n  1) Agente_CRM.upsert_lead(stage:\"contato\", description:\"Aceitou sessão; foco: [dor/objetivo]\").\n  2) Agente_Agendamentos:\n      • ensure_client({name, phone: whatsapp_e164, email})\n      • find_collaborator({prefer: \"Fernando\" ou disponível})\n      • toISO(datetime, tz:\"America/Sao_Paulo\")\n      • create_appointment({client_id, collaborator_id, meeting_type:\"Sessão Estratégica\", datetime_iso, duration:30, status:\"marcado\"})\n  3) Agente_CRM.update_lead(stage:\"negociacao\", description_new:`Agendado ${data_hora_legivel} com ${colaborador}`).\n- Só dizer ao lead “convite enviado” após ok=true do Agente_Agendamentos.\n\nRamos especiais (respostas rápidas sem pular SPIN)\n\nA) Pedido direto de preço\n- Responder:\n  “Te passo uma estimativa já já, beleza? Pra não te jogar número solto: onde dói mais hoje — no custo do lead (CPL), na conversão ou na falta de tempo pra gerir?”\n- Após 1–2 respostas, dar faixa orientativa + puxar sessão:\n  “Geralmente trabalhamos com [modelo/faixa] conforme o escopo do funil. Melhor desenhar sua estratégia pra cravar e já te mostrar o potencial de retorno. Quer sessão de 30 min?”\n\nB) Pedido direto de agendamento (no início)\n- Validar com mini‑SPIN (2 perguntas):\n  “Pra direcionar bem: qual o principal gargalo de tráfego/vendas hj?” “Se isso sumisse, o que mudava no faturamento?”\n- Se houver necessidade explícita, seguir Transição pro convite. Se não, continuar SPIN.\n\nC) Remarcação/Cancelamento\n- “Opa, sem stress! Me fala seu e‑mail e a janela que prefere (2 opções) que eu ajeito aqui rapidinho.”\n- Sub‑Agente: localizar evento e reagendar/remover; atualizar CRM (negociacao/perdido com lost_reason).\n\nD) Sem fit (sem budget ou nicho não atendido)\n- “Acho que pro seu momento atual não somos a melhor opção. Posso te indicar [material gratuito] ou te avisar quando abrirmos vagas para mentorias menores. Fechado?”\n- CRM: update(stage:\"perdido\", lost_reason).\n\nChecklist por resposta\n- Reconheci e resumi em 1 linha?\n- Fiz 1 pergunta (não duas)?\n- Anotei no CRM o avanço (dor, implicação, necessidade, prioridade)?\n- Evitei falar de features; fiz o lead dizer o benefício?\n- Antes de convidar: passei por Implicação + Necessidade Explícita?\n\nQualificação/tags (CRM)\n- priority: low | medium | high (quando “este mês/agora” → high).\n- is_highlight: true (oportunidades estratégicas claras).\n- value: estimativa se o lead trouxe números de faturamento/budget; senão null.\n- tags: [\"roi-baixo\", \"escala\", \"lançamento\", \"perpétuo\", \"tráfego-pago\"].\n\nMicro-exemplos de pergunta (tom leve)\n- “Se o ROAS fosse de 2 para 5, qual seria o efeito no caixa da empresa? rs”\n- “Hoje o que te faz pensar ‘preciso profissionalizar esse tráfego já’?”\n- “Se o funil rodasse no automático, sobrava tempo pra quê?”\n\nResumo SPIN (template)\n- “Resumo rápido: hoje [problema] → causa [implicação]. Vc quer [necessidade] agora em [prazo]. É isso? Se sim, bora agendar 30 min pra destravar essa escala?”\n\nMemória (curto prazo)\n- Guardar: dores-chave (CPL, ROAS, Conversão), impacto/opiniões, prioridade, disponibilidade, e‑mail. Retenção sugerida: até 72h pós sessão.\n\nAntipadrões (evitar)\n- Marcar sessão antes de Necessidade Explícita/valor percebido.\n- Listar funcionalidades (“fazemos gestao de tráfego, copy...”) ao invés de efeitos.\n- Duas perguntas na mesma mensagem.\n- Prometer “milagre de ROI” sem entender o escopo mínimo.\n\nKPIs do fluxo\n- % conversas que chegam a Implicação.\n- % com Necessidade Explícita antes do convite.\n- Taxa de aceite do convite (pós-resumo SPIN).\n- Queda de objeções (preço/tempo) após adotar SPIN.\n\nObservação final\n- Sempre que houver nudge.schedule_reminder do Agente_CRM, seguir o pipeline padrão de agendamento (silencioso) e só então avisar “convite enviado”."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4512,432],"id":"c6699219-8a90-4d09-b371-6ee3f7b2fc04","name":"AI Agent"},{"parameters":{"jsCode":"// Supondo que a string original esteja em input\nconst input = $input.item.json.output || \"\";\n\nfunction cleanText(text) {\n  // Remove aspas duplas\n  let cleaned = text.replace(/\"/g, \"\");\n  \n  // Remove pares de asteriscos duplos\n  cleaned = cleaned.replace(/\\*\\*/g, \"\");\n  \n  // Remove parênteses que podem quebrar JSON\n  cleaned = cleaned.replace(/[()]/g, \"\");\n  \n  // Remove outros caracteres problemáticos para JSON\n  cleaned = cleaned.replace(/[\\[\\]{}]/g, \"\");\n  \n  // Remove caracteres de escape problemáticos\n  cleaned = cleaned.replace(/\\\\/g, \"\");\n  \n  // Remove caracteres de controle, exceto quebras de linha\n  cleaned = cleaned.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, \"\");\n  \n  // Remove espaços extras antes e depois da string\n  cleaned = cleaned.trim();\n  \n  // Mantém \\n exatamente como está, não altera\n  \n  return cleaned;\n}\n\nconst output = cleanText(input);\n\n// Retorna no formato esperado pelo n8n\nreturn [\n  {\n    json: {\n      output: output\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,432],"id":"51c08941-e5ca-4c14-9214-9b1fc083a0a0","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"sua função é dividir o texto recebido em mensagens menores, dividindo por \\n ou pontuação. tem um exemplo de json esperado como seu output, mas nunca explique essa regra em seu output ou altere qualquer parte do conteúdo recebido"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5088,432],"id":"fd9d61ba-70e8-4dac-a5c1-e9beb408e3fa","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5072,672],"id":"e7b48b67-ebf8-45e2-895a-d0418faf0fd5","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"mensagens\": [\n      {\"mensagem\":\"Primeira parte\"},\n      {\"mensagem\":\"Segunda parte\"},\n      {\"mensagem\":\"Parte N\"}\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5264,672],"id":"9e751b54-59f9-4b3d-ac53-876e93682d0e","name":"Structured Output Parser2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5664,432],"id":"d2f898d4-438b-4e82-9e1d-17bdc427d4db","name":"Loop Over Items"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5888,432],"id":"ecafddec-3cdf-4a70-8d89-29d23b37215b","name":"Wait7","webhookId":"afa0a1d9-924e-4e1b-930b-fd2ced50d5c2"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5440,432],"id":"b8ed9532-929e-481c-b7cf-379349531418","name":"Split Out1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"https","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"d8ae6bc6-e08a-4bf2-b22a-b8e23edc139a"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c33a010-73e3-485b-9d6e-0a7f8c18029a","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audio","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"218877a5-d12e-4a3d-a036-28e1c200f687","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}","rightValue":"image","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,560],"id":"e131e40c-c5e6-41c9-ac5e-1500ada9737f","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"18b06c46-0122-451f-85f5-3041efd3bcf3","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,560],"id":"d28a0e35-8f79-4b0c-a988-1b915034d2fd","name":"Edit Fields2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4432,672],"id":"afb5d479-7aec-4e7c-ac41-d0cbad3df60a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[912,576],"id":"58e0cb6b-4336-4920-b53b-b1f18eed9f82","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals"},"id":"1b5052ba-fefb-4f1d-a76d-3ee4fa0387c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbd960d0-520a-4ff4-805c-c6a44a7b1905","leftValue":"={{ $json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32df75ca-537e-481a-bfe1-d6a243b54582","leftValue":"={{ $json.texto }}","rightValue":"desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desligar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"103707cc-fe19-445e-9efd-f30af9d2cc10","leftValue":"={{ $json.texto }}","rightValue":"ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ligar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3056,112],"id":"66bb2bb6-0021-4069-a57a-01455bacc254","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3904,16],"id":"865ef3d8-6976-43c8-9885-86b252f41b18","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"eecc92a6-0b31-4cad-95ac-d4e6c60c69ae","name":"Status","value":"Desligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3264,16],"id":"69199673-55a5-449f-8900-366a02787998","name":"Status Desligado"},{"parameters":{"assignments":{"assignments":[{"id":"bc16506e-7f8a-45e9-b9d4-6412e18a6225","name":"Status","value":"Ligado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,192],"id":"0b33ff82-8f91-43c2-ba9a-25e6082a1a57","name":"Status Ligado"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.Status }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3440,16],"id":"0a7abf66-3952-48af-a10a-7ad509f8eaae","name":"Desligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"=2","Status":"={{ $json.Status }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3440,192],"id":"673cc777-4aac-435e-a956-fecaccc8c454","name":"Ligado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $json.Status }}","rightValue":"Ligado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,464],"id":"968cec05-9d77-480d-ac4f-cccc828fcfbd","name":"Está ligado?"},{"parameters":{"documentId":{"__rl":true,"value":"1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM","mode":"list","cachedResultName":"Status de Automação","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ligado-Desligado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sd1pVo01TwbQ5S00CTl0OPSYse-ZYt-q-xDtQ5ZW8YM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2992,464],"id":"4a925ca8-d6dc-4641-8d71-efd5fd87e1a0","name":"Verifica Status","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3520,592],"id":"dda6a16e-fcc1-40ca-ac52-069db1d4a973","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3904,192],"id":"e818e49e-e9db-4b66-b70e-f4e425bf22be","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"230f4e4a-bd4c-4a58-a0cf-5fc3d804bc8c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Ligar","operator":{"type":"string","operation":"contains"}},{"id":"a75beb7a-9528-4ea2-afdf-d57624260a7c","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"Desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e03e2912-4443-4350-9e56-dfc32faf3d36","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"ligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0efbe4ad-3778-409f-9771-595bcc3ed28f","leftValue":"={{ $('Merge').item.json.texto }}","rightValue":"desligar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2560,448],"id":"f45bdb97-e5e6-4f92-8ad0-12d1add11ad2","name":"Está ligado?1"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou desligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3648,16],"id":"bbebc9fd-7f92-4d6d-b25d-6ac4e7559c60","name":"Desligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"=Estou ligado","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3648,192],"id":"935526f0-e306-4b1e-aa98-030b8e621109","name":"Ligado1","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42db854e-2007-4b66-8223-08d41da1b907","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511921203010@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e20ef496-1007-4b6d-aa17-7a64268d4124","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"‪5511992301618‬@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd54f064-f18c-41dc-8e82-4662cb94fab2","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511959588215@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a5913020-f990-444d-82c7-1e0b9e46749a","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"5511999916174@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2784,288],"id":"8ca62baa-aafd-4c94-9223-fd183c0968d3","name":"Verifica comando1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2992,288],"id":"5323e8d0-04a7-4052-8d69-50ba04817250","name":"No Operation, do nothing4"},{"parameters":{"content":"## Resposta do Agente","height":944,"width":2080},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4288,96],"id":"bb6713d0-a850-4674-824c-f28dcaf77bd3","name":"Sticky Note"},{"parameters":{"content":"## Tratamento da mensagem","height":896,"width":2416,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,144],"id":"b359d546-1b00-44e2-9783-e7ef55cd3d18","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6112,432],"id":"8d661a75-5b19-47c4-8c75-1241dd1cd778","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20fb8045-75ac-431c-b84a-fe0f53efc9d0","leftValue":"={{ $json.body.__submission.user_inputs }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,560],"id":"0b15d967-cbc2-4089-bccd-e2bd4512b91e","name":"If"},{"parameters":{"content":"## Tratamento de comando - Verifica se o robô está ativo e se é um lead qualificado","height":1184,"width":1792,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2496,-144],"id":"673f8f18-d673-452b-8404-ca460097b21c","name":"Sticky Note1"},{"parameters":{"content":"## Recebimento da mensagem e filtro de destino","height":336,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,432],"id":"48f3f39c-3e19-4778-a1f2-6d574d6f71e2","name":"Sticky Note2"},{"parameters":{"content":"## Lead Qualificado Detectado\n","height":800,"width":2416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-656],"id":"cb82a388-e6e9-4738-a23c-073d8ab92062","name":"Sticky Note4"},{"parameters":{"operation":"formatDate","date":"={{ $('Webhook').item.json.body.__submission.created_at }}","format":"custom","customFormat":"dd-MM-yyyy HH:mm:ss","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[432,-80],"id":"0c63bfb8-b0b4-4e6d-852c-6a64f216a96d","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"401a4fd6-c484-439a-a7c4-5bda70f185a1","name":"Audio","value":"={{ $json.body.data.message.mediaUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,576],"id":"745f3bf9-ec5e-43af-a9ad-827e398085dd","name":"Edit Fields3"},{"parameters":{"url":"={{ $json.Audio }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,576],"id":"2c4821db-7774-4d66-a958-bbd62eaa49e5","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4720,672],"id":"a783bb6e-45a6-45d9-bf9c-967738b0fe0d","name":"verifica_numero_cadastrado","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","tableName":"=n8n_chat_histories_{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4576,672],"id":"5c4422eb-7846-493d-b5ec-85da80328595","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"toolDescription":"Sub-agente de agendamentos do SDR","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"={{ $now.setLocale('pt-BR').toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}\n\nAGENT_IDENTITY {\n  ROLE: \"Gestor de Agenda Google Calendar (Backend)\"\n  MISSION: \"Gerenciar a agenda do Google Calendar (jornadadpp@gmail.com) para o especialista Fernando, cruzando dados com a base Supabase.\"\n  TIMEZONE: \"America/Sao_Paulo\"\n}\n\nINTEGRATIONS_CONTEXT {\n  1. BASE DE LEADS (Supabase - Tabela 'Lead Qualificado'):\n     - Fonte da verdade para Nome, Telefone e E-mail.\n     - Tools: `obterClientes`, `adicionarCliente`.\n  \n  2. AGENDA (Google Calendar):\n     - Sistema de agendamento real.\n     - Tools: `obterAgendamentos`, `adicionarAgendamento`, `removerAgendamento`, `atualizarAgendamento`.\n}\n\nCRITICAL_RULES {\n  1. E-MAIL OBRIGATÓRIO: O Google Calendar exige um e-mail para convite (campo 'attendees').\n  2. HOST FIXO: O dono da agenda é o \"Fernando\" (jornadadpp@gmail.com).\n  3. DATA ISO: Datas sempre em ISO 8601 com fuso -03:00.\n  4. SUGESTÃO DUPLA: Se o horário solicitado estiver ocupado, sugira 2 horários alternativos próximos.\n  5. ID AUTOMÁTICO: Não tente criar um ID personalizado para o evento. Deixe o Google Calendar gerar automaticamente.\n}\n\nEXECUTION_PIPELINE (Siga estritamente esta ordem)\n\n  STEP 1: RESOLVER O LEAD (Supabase)\n    - Ação: Use `obterClientes`. Se não achar, use `adicionarCliente`.\n    - Resultado Obrigatório: Obter o e-mail do lead.\n\n  STEP 2: VERIFICAR DISPONIBILIDADE (Google Calendar)\n    - Ação: Use `obterAgendamentos`.\n    - Se OCUPADO: Retorne erro JSON com 2 sugestões de horários livres próximos.\n\n  STEP 3: CRIAR O EVENTO (Se livre)\n    - Ação: Use `adicionarAgendamento`.\n    - PREENCHIMENTO OBRIGATÓRIO:\n      - `start`: Data/Hora inicial (ISO).\n      - `end`: Data/Hora final (+30 min).\n      - `summary`: \"Sessão Estratégica: [Nome do Lead] + Fernando\"\n      - `description`: \"Agendamento via IA.\\nLead: [Nome]\\nTel: [Telefone]\"\n      - `attendees`: [ \"email_do_lead@exemplo.com\" ]\n      - `id`: (DEIXE VAZIO/NÃO ENVIE - O Google gera automático)\n\n  STEP 4: RETORNO JSON\n    - Retorne JSON puro.\n\nOUTPUT_FORMAT (JSON ONLY) {\n  Exemplo Sucesso:\n  {\n    \"ok\": true,\n    \"action\": \"create_appointment\",\n    \"summary\": \"Agendado para 10/10 às 14h.\",\n    \"data\": { \"eventId\": \"generated_by_google\" }\n  }\n\n  Exemplo Conflito:\n  {\n    \"ok\": false,\n    \"error\": \"Horário ocupado. Sugestões: 14:30 ou 16:00.\"\n  }\n}","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4480,1104],"id":"4c54cf3c-e6ce-4fd8-9a18-b67e954e3121","name":"Agendamentos_SDR"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4656,1552],"id":"12f0add5-7e66-4ce6-99b3-1045293e953c","name":"obterClientes","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4368,1248],"id":"f9b4e57b-800c-460b-9669-170d34c31f01","name":"gpt-16","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.custom_fields.WhatsApp }}_agendaAGENDAMENTOS2","tableName":"=n8n_chat2_{{ $json.body.custom_fields.WhatsApp }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4464,1264],"id":"08801fba-2d8f-4a8d-b245-d1458d56c20e","name":"Postgres_Memory7","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"organization_id","fieldValue":"3d7bd6c6-2373-4fa0-a8bb-22e088efd324"},{"fieldId":"nome","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"},{"fieldId":"email","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"},{"fieldId":"telefone","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"},{"fieldId":"nascimento","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', ``, 'string') }}"},{"fieldId":"documentos","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues5_Field_Value', ``, 'string') }}"},{"fieldId":"endereco","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', ``, 'string') }}"},{"fieldId":"observacoes","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues7_Field_Value', ``, 'string') }}"},{"fieldId":"ativo","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues8_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4752,1472],"id":"6fb12f8f-7228-4757-bf91-ef68aee08f23","name":"adicionarCliente","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"content":"## Agente de Agendamentos","height":384,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[4224,1040],"typeVersion":1,"id":"49b9db57-4114-47c5-ba13-81ed7fcf0ffb","name":"Sticky Note6"},{"parameters":{"content":"## Agendamentos da Empresa\nAqui todos os agendamentos da sua Empresa","height":320,"width":1168,"color":5},"type":"n8n-nodes-base.stickyNote","position":[4032,1424],"typeVersion":1,"id":"f6ebc5ef-71bf-429f-afe9-b0a21e20379d","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4096,608],"id":"af82be82-cee7-4f06-bd63-300c53737479","name":"No Operation, do nothing3"},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3616,448],"id":"b275fd0a-ced9-48e4-a59e-a741d73000e6","name":"Busca o usuário","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"af1b7699-eee0-4141-9f27-c15c9a42f2af","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3856,448],"id":"5e6b3de5-2a73-40fa-8f86-ca5b0d6fa6af","name":"É qualificado?"},{"parameters":{"calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Defina o início da reunião`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Defina o final da reunião`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Insira aqui os participantes da call. Um deles deve ser o lead.`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Insira aqui a descrição da reunião`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Insira o Título da Reunião`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4160,1552],"id":"35af9468-8a1b-4086-a105-badfc9cef4e2","name":"adicionarAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4320,1488],"id":"35784814-e41d-47fc-aa9e-93c63aac1d19","name":"removerAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4432,1584],"id":"9685bdc6-578e-41ed-b4ef-6ada27df2f7c","name":"obterAgendamentos","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"jornadadpp@gmail.com","mode":"list","cachedResultName":"TIME COMERCIAL"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4528,1472],"id":"a11661d0-2609-4492-9b2a-0315ccc2a732","name":"atualizarAgendamento","credentials":{"googleCalendarOAuth2Api":{"id":"ejYJEChlcfb2j30w","name":"Google Calendar account"}}},{"parameters":{"operation":"update","tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"id_meeting","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Atualize aqui o id da reunião após criada`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[4896,1504],"id":"1ba7ff7b-573c-45ba-bfbd-1eb76be39b1f","name":"adicionarIDAgendamento","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"Lead Qualificado","filters":{"conditions":[{"keyName":"id_meeting","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[5024,1536],"id":"817f3996-b789-40f2-8e0b-e954e318fa28","name":"verificarIDAgendamento","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"action":"generate","dataPropertyName":"ID"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[624,-80],"id":"22f97ae1-84b8-45ce-85ea-e361d3499215","name":"uuid"},{"parameters":{"tableId":"Lead Qualificado","fieldsUi":{"fieldValues":[{"fieldId":"uuid","fieldValue":"={{ $json.ID }}"},{"fieldId":"created_at","fieldValue":"={{ $json.formattedDate }}"},{"fieldId":"nome","fieldValue":"={{ $('Edit Fields').item.json.nome }}"},{"fieldId":"telefone","fieldValue":"=55{{ $('Edit Fields').item.json.telefone }}"},{"fieldId":"email","fieldValue":"={{ $('Edit Fields').item.json.email }}"},{"fieldId":"renda","fieldValue":"={{ $('Edit Fields').item.json.renda }}"},{"fieldId":"investimento em tráfego","fieldValue":"={{ $('Edit Fields').item.json['investimento em tráfego'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,-80],"id":"71f6fe75-5d22-4392-ac1a-9b6e573ecc4c","name":"criaLead","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511999916174@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-336],"id":"51f03915-349c-4a82-b057-3a37229f9679","name":"Envia mensagem para a Risolene","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-336],"id":"44e9d12f-823e-4222-9f6c-96d95847c0d4","name":"15 segundos1","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-336],"id":"62abf75f-09b6-486d-a50d-fd78c4832609","name":"20 segundos","webhookId":"b7462df6-cc45-456a-b8a2-e4a71e74ad3d"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Comercial","remoteJid":"5511921203010@s.whatsapp.net","messageText":"=Fernando, cliente qualificado foi registrado em nossa base. Os dados dele são:\nNome: {{ $('Edit Fields').item.json.nome }}\nTelefone: 55{{ $('Edit Fields').item.json.telefone }}\nRenda: {{ $('Edit Fields').item.json.renda }}\nInvestimento em Tráfego: {{ $('Edit Fields').item.json['investimento em tráfego'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,-336],"id":"e24d4f9a-e297-4111-87a8-d5373be532cb","name":"Envia mensagem para o Davi","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Alvorada - Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia mensagem para o Aldo","type":"main","index":0},{"node":"Date & Time","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"10 segundos":{"main":[[{"node":"Envia mensagem para o Ferndando","type":"main","index":0}]]},"Envia mensagem para o Ferndando":{"main":[[{"node":"15 segundos1","type":"main","index":0}]]},"15 segundos":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"setTexto":{"main":[[{"node":"Merge","type":"main","index":0}]]},"setImage":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Está ligado?1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"setTexto","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"setImage","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Status Desligado","type":"main","index":0}],[{"node":"Status Ligado","type":"main","index":0}],[{"node":"Status Desligado","type":"main","index":0}],[]]},"Status Desligado":{"main":[[{"node":"Desligado","type":"main","index":0}]]},"Status Ligado":{"main":[[{"node":"Ligado","type":"main","index":0}]]},"Desligado":{"main":[[{"node":"Desligado1","type":"main","index":0}]]},"Ligado":{"main":[[{"node":"Ligado1","type":"main","index":0}]]},"Está ligado?":{"main":[[{"node":"Busca o usuário","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verifica Status":{"main":[[{"node":"Está ligado?","type":"main","index":0}]]},"Está ligado?1":{"main":[[{"node":"Verifica comando1","type":"main","index":0}],[{"node":"Verifica Status","type":"main","index":0}]]},"Desligado1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Ligado1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Verifica comando1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"uuid","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"verifica_numero_cadastrado":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Agendamentos_SDR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"obterClientes":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"gpt-16":{"ai_languageModel":[[{"node":"Agendamentos_SDR","type":"ai_languageModel","index":0}]]},"Postgres_Memory7":{"ai_memory":[[{"node":"Agendamentos_SDR","type":"ai_memory","index":0}]]},"adicionarCliente":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"Busca o usuário":{"main":[[{"node":"É qualificado?","type":"main","index":0}]]},"É qualificado?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Envia mensagem para o Aldo":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"adicionarAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"removerAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"obterAgendamentos":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"atualizarAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"adicionarIDAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"verificarIDAgendamento":{"ai_tool":[[{"node":"Agendamentos_SDR","type":"ai_tool","index":0}]]},"uuid":{"main":[[{"node":"criaLead","type":"main","index":0}]]},"criaLead":{"main":[[{"node":"15 segundos","type":"main","index":0}]]},"Envia mensagem para a Risolene":{"main":[[{"node":"20 segundos","type":"main","index":0}]]},"15 segundos1":{"main":[[{"node":"Envia mensagem para a Risolene","type":"main","index":0}]]},"20 segundos":{"main":[[{"node":"Envia mensagem para o Davi","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 570304f2","description":"","autosaved":false},"tags":[]}