AGwpZ2xjBU-XcF58jqrVT.json
{"updatedAt":"2026-01-23T23:03:22.121Z","createdAt":"2026-01-23T21:30:27.537Z","id":"AGwpZ2xjBU-XcF58jqrVT","name":"My workflow 12","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9b9080a2-5059-451c-b8b5-7de385d09748","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"798505f4-05bd-4628-9eb2-dcde32db03ca","name":"telefone","value":"={{ $json.body.customer.phone }}","type":"string"},{"id":"ce3045bb-f818-4a24-a351-f6748b7f0f63","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"49e7f3a8-9003-4f63-9dda-6b676c88e361","name":"nome do produto","value":"={{ $json.body.product.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"98f5698d-91bd-4982-b2a7-d5a77555bedd","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"carrinho-abandonado-formacao-coaching","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"b0a1222a-97c6-40ac-96de-f021051656c0","name":"Carrinho abandonado","webhookId":"305a5c71-68ac-48e1-8f36-6ddc656da274"},{"parameters":{"httpMethod":"POST","path":"venda-formacao-coaching","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,224],"id":"e0cd023b-c446-4e3c-9d1c-b3481708a157","name":"Venda","webhookId":"823657b2-c961-4d3e-898c-7026dd06fe19"},{"parameters":{"assignments":{"assignments":[{"id":"dea1e60f-fa34-43c0-ad5d-8638f5688020","name":"nome","value":"={{ $json.body.cus_name }}","type":"string"},{"id":"9f0ade2a-418d-4bf7-a870-b78cdf5481c1","name":"email","value":"={{ $json.body.cus_email }}","type":"string"},{"id":"be4fbd7e-8d76-42b4-82e2-1666f7f27392","name":"cpf","value":"={{ $json.body.cus_taxnumber }}","type":"string"},{"id":"1f41a4e3-40e2-453b-95a9-273bdd23dd50","name":"valor do produto","value":"={{ $json.body.trans_value }}","type":"number"},{"id":"fbbd16e0-e467-4bfe-bcb7-4c5f84452be4","name":"nome do produto","value":"={{ $json.body.product_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,224],"id":"e4f43cb1-fba1-4b46-a627-71dd1ca69ce1","name":"Edit Fields1"}],"connections":{"Carrinho abandonado":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Venda":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Carrinho abandonado":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"node","content-length":"830","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"52.54.196.208","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa565f1ad956","x-real-ip":"52.54.196.208"},"params":{},"query":{},"body":{"type":"abandonment","event_name":"cart_abandonment","event":"cart_abandonment","identifier":"36ec1293-17f8-404a-bbda-b58eaeb21aab","cartAccessedAt":"2023-01-05T14:17:44.921Z","checkoutUrl":"https://sun.eduzz.com/1","producerId":905708,"invoiceId":1,"product":{"id":1,"title":"Nome do produto"},"campaign":{"id":1,"key":"SB2XPATK1Z"},"affiliate":{"id":1,"name":"Nome do Afiliado"},"customer":{"name":"Nome do Cliente","phone":"011999999999","email":"emaildocliente@provedor.com"},"origin_secret":"eyJpdiI6ImpOZk45UTcrTG4yNzVFV3d3emlveEE9PSIsInZhbHVlIjoidXlHY3JNSk8wZ2ZkVHd6WDVKZjA3ZnFWMkpyTnZqWkdJblpNUGpVeXQwWjVhN1Q5VmNmOGUxdGMxUHFzRGNtUyIsIm1hYyI6IjljOWRiNTc4YzMyOTI4NTMzMmFlYzFmYjQzZmFmYjQxNzE5NmRmMzE3MDhhZGJhYjkyZTE1ZGE0N2Q1NGVjMzUifQ==","product_hash":"1","origin":"6db6aa4d-9a42-4ab4-b75c-3fa58dd8251b","api_key":"8CDB5A"},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/carrinho-abandonado-formacao-coaching","executionMode":"production"},"pairedItem":{"item":0}}],"Venda":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"node","content-length":"3609","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"52.54.196.208","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa565f1ad956","x-real-ip":"52.54.196.208"},"params":{},"query":{},"body":{"pro_cod":905708,"api_key":"8CDB5A","pro_name":"FERNANDA PERIS CURSOS E TREINAMENTOS EIRELI ME","pro_email":"fernandaperis@gmail.com","origin_secret":"eyJpdiI6ImpOZk45UTcrTG4yNzVFV3d3emlveEE9PSIsInZhbHVlIjoidXlHY3JNSk8wZ2ZkVHd6WDVKZjA3ZnFWMkpyTnZqWkdJblpNUGpVeXQwWjVhN1Q5VmNmOGUxdGMxUHFzRGNtUyIsIm1hYyI6IjljOWRiNTc4YzMyOTI4NTMzMmFlYzFmYjQzZmFmYjQxNzE5NmRmMzE3MDhhZGJhYjkyZTE1ZGE0N2Q1NGVjMzUifQ==","pro_document_number":"26482164000196","pro_value":0,"cop_value":0,"trans_cod":96548926,"trans_checkoutid":318827876,"trans_value":97,"trans_paid":0,"trans_status":1,"trans_paymentmethod":32,"refund_date":null,"trans_createdate":"20260123","trans_paiddate":null,"trans_duedate":"20260125","trans_createtime":"19:58:08","trans_paidtime":null,"trans_duetime":"19:58:08","trans_next":null,"trans_recovered":null,"notification_url":null,"trans_items_quantity":1,"trans_key":"d68b783efb654fa9bfa59ce99f25019c","recurrence_cod":null,"recurrence_type":null,"recurrence_plan":null,"recurrence_finishes_at":null,"recurrence_is_infinite":null,"product_cod":2825847,"product_name":"Formação em Coaching - By Nanda Peris","product_chargetype":"N","product_refund":7,"partner_cod":null,"product_sku":null,"product_parent_cod":1365144,"product_hash":"R9JJ1X6Z9X","discount_coupon_code":null,"cus_cod":21088651,"cus_taxnumber":"49026875851","cus_name":"Matheus Rocha","cus_email":"matheus.rocha.ma14@gmail.com","cus_tel":null,"cus_tel2":null,"cus_cel":"+5511970246051","cus_apikey":"73b6d5e11f58a06","cus_address":null,"cus_address_number":null,"cus_address_country":null,"cus_address_district":null,"cus_address_comp":null,"cus_address_city":null,"cus_address_state":null,"cus_address_zip_code":"","recurrence_startdate":null,"recurrence_status":null,"recurrence_status_name":null,"recurrence_interval":null,"recurrence_interval_type":null,"recurrence_first_payment":null,"recurrence_canceled_at":null,"recurrence_count":null,"aff_value":0,"main_affiliate":null,"tracker_trk":null,"tracker_trk2":null,"tracker_trk3":null,"tracker_utm_source":"","tracker_utm_content":"","tracker_utm_medium":"","tracker_utm_campaign":"","utm_source":"","utm_content":"","utm_medium":"","utm_campaign":"","sku_reference":null,"eduzz_value":0,"trans_barcode":null,"trans_orderid":null,"customer_creditcards_gateway":null,"trans_currency":"BRL","trans_job_id":null,"trans_job_status":null,"request_token":"ddd0a7c1aafc98258a89bd5c9beeef79037e78e9","trans_bankslip":"http://edz.la/r/14631852719c/96548926?t=12&fpg=b","refunded_value":null,"refund_type":null,"student_cod":null,"student_taxnumber":null,"student_name":null,"student_email":null,"student_tel":null,"student_tel2":null,"student_cel":null,"recurrence_is_extended":null,"recurrence_charge_blocked":null,"billet_url":"https://sun.eduzz.com/c_d68b783efb654fa9bfa59ce99f25019c","page_checkout_url":"https://sun.eduzz.com/R9JJ1X6Z9X","recurrence_next_charge":null,"trans_items":[{"item_id":105553168,"item_name":"Formação em Coaching - By Nanda Peris","invoice_id":96548926,"item_eduzz_value":null,"item_value":97,"item_coupon_code":null,"item_coupon_value":null,"item_product_id":2825847,"item_product_name":"Formação em Coaching - By Nanda Peris","item_product_refund":7,"item_product_sku_reference":null,"item_product_partner_cod":null,"item_product_parent_id":1365144,"item_product_chargetype":"N","producer_id":905708}],"event_name":"invoice_open","trans_recovery_url":"https://edz.la/r/d68b783efb654fa9bfa59ce99f25019c","aff_cod":null,"aff_name":null,"aff_email":null,"aff_document_number":null,"type":"invoice","other_values":0,"origin":"6db6aa4d-9a42-4ab4-b75c-3fa58dd8251b"},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/venda-formacao-coaching","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"6bc8abab-efd0-4a81-86c1-8346d66e11dc","activeVersionId":"6bc8abab-efd0-4a81-86c1-8346d66e11dc","triggerCount":2,"shared":[{"updatedAt":"2026-01-23T21:30:27.537Z","createdAt":"2026-01-23T21:30:27.537Z","role":"workflow:owner","workflowId":"AGwpZ2xjBU-XcF58jqrVT","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-23T23:01:12.348Z","createdAt":"2026-01-23T23:01:11.225Z","versionId":"6bc8abab-efd0-4a81-86c1-8346d66e11dc","workflowId":"AGwpZ2xjBU-XcF58jqrVT","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9b9080a2-5059-451c-b8b5-7de385d09748","name":"nome","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"798505f4-05bd-4628-9eb2-dcde32db03ca","name":"telefone","value":"={{ $json.body.customer.phone }}","type":"string"},{"id":"ce3045bb-f818-4a24-a351-f6748b7f0f63","name":"email","value":"={{ $json.body.customer.email }}","type":"string"},{"id":"49e7f3a8-9003-4f63-9dda-6b676c88e361","name":"nome do produto","value":"={{ $json.body.product.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"98f5698d-91bd-4982-b2a7-d5a77555bedd","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"carrinho-abandonado-formacao-coaching","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"b0a1222a-97c6-40ac-96de-f021051656c0","name":"Carrinho abandonado","webhookId":"305a5c71-68ac-48e1-8f36-6ddc656da274"},{"parameters":{"httpMethod":"POST","path":"venda-formacao-coaching","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,224],"id":"e0cd023b-c446-4e3c-9d1c-b3481708a157","name":"Venda","webhookId":"823657b2-c961-4d3e-898c-7026dd06fe19"},{"parameters":{"assignments":{"assignments":[{"id":"dea1e60f-fa34-43c0-ad5d-8638f5688020","name":"nome","value":"={{ $json.body.cus_name }}","type":"string"},{"id":"9f0ade2a-418d-4bf7-a870-b78cdf5481c1","name":"email","value":"={{ $json.body.cus_email }}","type":"string"},{"id":"be4fbd7e-8d76-42b4-82e2-1666f7f27392","name":"cpf","value":"={{ $json.body.cus_taxnumber }}","type":"string"},{"id":"1f41a4e3-40e2-453b-95a9-273bdd23dd50","name":"valor do produto","value":"={{ $json.body.trans_value }}","type":"number"},{"id":"fbbd16e0-e467-4bfe-bcb7-4c5f84452be4","name":"nome do produto","value":"={{ $json.body.product_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,224],"id":"e4f43cb1-fba1-4b46-a627-71dd1ca69ce1","name":"Edit Fields1"}],"connections":{"Carrinho abandonado":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Venda":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 6bc8abab","description":"","autosaved":false},"tags":[]}