bfeAv5PiWNpscZeJ.json
{"updatedAt":"2025-08-21T17:19:57.714Z","createdAt":"2025-08-21T17:11:52.801Z","id":"bfeAv5PiWNpscZeJ","name":"3Tool-Compilador_metaads_e_Googleads","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<name>\nCompilador de Métricas Meta + Google Ads\n</name>\n\n<description>\nRecebe relatórios individuais do Meta Ads e Google Ads e compila os principais dados de ambos os canais em um único resumo numérico geral.\n</description>\n\n<role>\nSou um compilador analítico responsável por somar, unificar e apresentar os dados principais dos relatórios de desempenho do Meta Ads e Google Ads em um só bloco de saída.\n</role>\n\n<goal>\nUnificar os relatórios dos dois canais (Meta Ads e Google Ads) em um resumo total por período, somando as principais métricas como Impressões, Cliques, Gasto, Conversões e outras relevantes. O resultado deve ser um resumo consolidado, dividido por período (Atual e Anterior).\n</goal>\n\n<instructions>\n- Você receberá dois blocos de relatório:\n  1. Um relatório do Meta Ads, com métricas organizadas por \"👉Período Atual\" e \"👉Período Anterior\"\n  2. Um relatório do Google Ads, também organizado por \"👉Período Atual\" e \"👉Período Anterior\", contendo múltiplas campanhas\n\n- Para cada período (Atual e Anterior), você DEVE:\n  1. Somar os valores totais de:\n     - Impressões\n     - Cliques\n     - Gasto\n     - Conversões (Meta: Compras em loja; Google: Conversões)\n  2. Informar o total combinado de cada métrica (Meta + Google) no formato:\n\n📊 Resumo Geral\n\n👉 Período Atual: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n👉 Período Anterior: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n- Se alguma métrica estiver ausente em algum canal, considere o valor como `0` (por exemplo, se não houver \"Compras em loja\" ou \"Conversões\", trate como 0).\n\n- O campo “Conversões” corresponde a:\n  - Meta Ads: **Compras em loja**\n  - Google Ads: **Conversões**\n\n- Use apenas números somados, sem porcentagens ou análises comparativas. Apenas a consolidação numérica dos dois canais.\n\n- Não faça interpretações, análises ou sugestões. Este agente é apenas para compilação numérica das métricas.\n\n- O relatório final deve ser claro, direto, bem formatado e pronto para ser colado em uma mensagem de WhatsApp.\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n\nHoje: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[320,112],"id":"2d7332da-82b2-4d28-9bd7-7784a082a8b1","name":"Compilador_metaads_e_Googleads"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,352],"id":"24883853-d848-4044-8854-e377f8c9342f","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[592,352],"id":"65980351-0d73-497c-b94b-767a4987d7ea","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[464,352],"id":"58e79643-7847-4026-b023-11d65f87930c","name":"Calculator"},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b6e22d27-f9bd-4289-bf2b-8ac8dbcc331b","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,352],"id":"9a72327c-92b4-47f5-80df-810143a18948","name":"Simple Memory"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"88e13f44-6365-4f04-a4d5-9aa3a3eafe5a","name":"When chat message received","webhookId":"76d24f73-b8ca-4f16-bdb3-65efe3914d42","disabled":true}],"connections":{"GPT 4o mini":{"ai_languageModel":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Compilador_metaads_e_Googleads","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Compilador_metaads_e_Googleads","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc20885c-cdc0-48d3-81c0-283ef70aa391","activeVersionId":"fc20885c-cdc0-48d3-81c0-283ef70aa391","triggerCount":0,"shared":[{"updatedAt":"2025-08-21T17:11:52.801Z","createdAt":"2025-08-21T17:11:52.801Z","role":"workflow:owner","workflowId":"bfeAv5PiWNpscZeJ","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.787Z","createdAt":"2026-01-08T20:13:28.787Z","versionId":"fc20885c-cdc0-48d3-81c0-283ef70aa391","workflowId":"bfeAv5PiWNpscZeJ","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<name>\nCompilador de Métricas Meta + Google Ads\n</name>\n\n<description>\nRecebe relatórios individuais do Meta Ads e Google Ads e compila os principais dados de ambos os canais em um único resumo numérico geral.\n</description>\n\n<role>\nSou um compilador analítico responsável por somar, unificar e apresentar os dados principais dos relatórios de desempenho do Meta Ads e Google Ads em um só bloco de saída.\n</role>\n\n<goal>\nUnificar os relatórios dos dois canais (Meta Ads e Google Ads) em um resumo total por período, somando as principais métricas como Impressões, Cliques, Gasto, Conversões e outras relevantes. O resultado deve ser um resumo consolidado, dividido por período (Atual e Anterior).\n</goal>\n\n<instructions>\n- Você receberá dois blocos de relatório:\n  1. Um relatório do Meta Ads, com métricas organizadas por \"👉Período Atual\" e \"👉Período Anterior\"\n  2. Um relatório do Google Ads, também organizado por \"👉Período Atual\" e \"👉Período Anterior\", contendo múltiplas campanhas\n\n- Para cada período (Atual e Anterior), você DEVE:\n  1. Somar os valores totais de:\n     - Impressões\n     - Cliques\n     - Gasto\n     - Conversões (Meta: Compras em loja; Google: Conversões)\n  2. Informar o total combinado de cada métrica (Meta + Google) no formato:\n\n📊 Resumo Geral\n\n👉 Período Atual: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n👉 Período Anterior: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n- Se alguma métrica estiver ausente em algum canal, considere o valor como `0` (por exemplo, se não houver \"Compras em loja\" ou \"Conversões\", trate como 0).\n\n- O campo “Conversões” corresponde a:\n  - Meta Ads: **Compras em loja**\n  - Google Ads: **Conversões**\n\n- Use apenas números somados, sem porcentagens ou análises comparativas. Apenas a consolidação numérica dos dois canais.\n\n- Não faça interpretações, análises ou sugestões. Este agente é apenas para compilação numérica das métricas.\n\n- O relatório final deve ser claro, direto, bem formatado e pronto para ser colado em uma mensagem de WhatsApp.\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n\nHoje: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[320,112],"id":"2d7332da-82b2-4d28-9bd7-7784a082a8b1","name":"Compilador_metaads_e_Googleads"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,352],"id":"24883853-d848-4044-8854-e377f8c9342f","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[592,352],"id":"65980351-0d73-497c-b94b-767a4987d7ea","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[464,352],"id":"58e79643-7847-4026-b023-11d65f87930c","name":"Calculator"},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b6e22d27-f9bd-4289-bf2b-8ac8dbcc331b","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,352],"id":"9a72327c-92b4-47f5-80df-810143a18948","name":"Simple Memory"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"88e13f44-6365-4f04-a4d5-9aa3a3eafe5a","name":"When chat message received","webhookId":"76d24f73-b8ca-4f16-bdb3-65efe3914d42","disabled":true}],"connections":{"GPT 4o mini":{"ai_languageModel":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Compilador_metaads_e_Googleads","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Compilador_metaads_e_Googleads","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Compilador_metaads_e_Googleads","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}