BIqHeK2zGHUoTsRy.json
{"updatedAt":"2025-12-30T20:55:36.940Z","createdAt":"2025-12-30T20:55:25.335Z","id":"BIqHeK2zGHUoTsRy","name":"Controle de Leads","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Leads-islene","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,32],"id":"c9bda1f2-dad2-40d1-9b2b-27d08f5d2f37","name":"Webhook","webhookId":"c76b080a-9cdf-49e2-9718-ae1de37a4feb"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[128,32],"id":"8d8320c2-e701-4b8e-933e-b8aeba2bb13d","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,32],"id":"a19dbade-06ef-4df9-8a98-7be9a011d98c","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ktMgoGy48UCPpatKWr1xHLlmEvBwUzYRIx0Wn3Ng1fQ","mode":"list","cachedResultName":"Thaiane Palaro - Controle de Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktMgoGy48UCPpatKWr1xHLlmEvBwUzYRIx0Wn3Ng1fQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ktMgoGy48UCPpatKWr1xHLlmEvBwUzYRIx0Wn3Ng1fQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Webhook').item.json.body.telefone }}","data":"={{ $json.data }}","hora":"={{ $json.hora }}","Nome":"={{ $('Webhook').item.json.body.nome }}","Email":"={{ $('Edit Fields').item.json.Email }}","Idade":"={{ $('Edit Fields').item.json.Idade }}","Gênero":"={{ $('Edit Fields').item.json['Gênero'] }}","Sintomas":"={{ $('Edit Fields').item.json.Sintomas }}","Outros Sintomas":"={{ $('Edit Fields').item.json['Outros Sintomas'] }}","Tempo Sintomas":"={{ $('Edit Fields').item.json['Tempo SIntomas'] }}","Exames Recentes":"={{ $('Edit Fields').item.json['Exames Recentes'] }}","Profissional Anterior":"={{ $('Edit Fields').item.json['Profissional Anterior'] }}","Impacto Vida":"={{ $('Edit Fields').item.json['Impacto Vida'] }}","Disposta a Seguir Protocolo":"={{ $('Edit Fields').item.json['Disposta a Seguir Protocolo'] }}","Faz Sentido":"={{ $('Edit Fields').item.json['Faz Sentido'] }}","Tipo de Atendimento":"={{ $('Edit Fields').item.json['Tipo de Atendimento'] }}","Prioridade para Resolver":"={{ $('Edit Fields').item.json['Prioridade Resolver'] }}","utm_source":"={{ $('Edit Fields').item.json.utm_source }}","utm_campaign":"={{ $('Edit Fields').item.json.utm_campaign }}","utm_medium":"={{ $('Edit Fields').item.json.utm_medium }}","utm_term":"={{ $('Edit Fields').item.json.utm_term }}","utm_content":"={{ $('Edit Fields').item.json.utm_content }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Idade","displayName":"Idade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Gênero","displayName":"Gênero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sintomas","displayName":"Sintomas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Outros Sintomas","displayName":"Outros Sintomas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tempo Sintomas","displayName":"Tempo Sintomas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Exames Recentes","displayName":"Exames Recentes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profissional Anterior","displayName":"Profissional Anterior","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Impacto Vida","displayName":"Impacto Vida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Disposta a Seguir Protocolo","displayName":"Disposta a Seguir Protocolo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faz Sentido","displayName":"Faz Sentido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de Atendimento","displayName":"Tipo de Atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prioridade para Resolver","displayName":"Prioridade para Resolver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,32],"id":"82275c23-256a-4040-9b4e-4d549a7dbf0b","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"259ada3e-5c35-40c2-ae32-87dcdedebfa6","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"98e71c8c-0f79-473c-a8f0-21241b9a6159","name":"Whatsapp","value":"={{ $json.body.telefone }}","type":"string"},{"id":"fdefc816-18c5-4b3a-806c-07be8713134e","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"71a5bf03-0879-4390-b759-ad5026058a58","name":"Idade","value":"={{ $json.body.idade }}","type":"string"},{"id":"55061217-8a03-48f9-a651-a8534ee9bc9d","name":"Gênero","value":"={{ $json.body.genero }}","type":"string"},{"id":"a1d7f1c3-d568-4761-9389-2fe41eee66c5","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"459eeacd-785e-4bdc-a91b-1d9bb47fde26","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"583287d7-20c8-4396-aedb-93448d837c61","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3a9601f2-329b-4408-9235-a13f4baaa1fe","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"85103421-9603-45f1-adf1-40e3bfc0d427","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"},{"id":"2b629218-a98f-44bb-ac14-cebdedb39cfc","name":"Sintomas","value":"={{ $json.body.sintomas }}","type":"string"},{"id":"2400ffd1-fe90-44fd-a4d3-96266bdbcbd0","name":"Outros Sintomas","value":"={{ $json.body.outrosSintomas }}","type":"string"},{"id":"05016877-3e77-4d46-a2af-6c6dea9cbdde","name":"Tempo SIntomas","value":"={{ $json.body.tempoSintomas }}","type":"string"},{"id":"2a27aad5-ef1d-49f9-89f2-fae6262c9cb0","name":"Exames Recentes","value":"={{ $json.body.examesRecentes }}","type":"string"},{"id":"bc2d74ee-05fb-485d-b281-d1a5c9294767","name":"Profissional Anterior","value":"={{ $json.body.profissionalAnterior }}","type":"string"},{"id":"adfc8a41-74d0-42db-b035-b18f94805480","name":"Impacto Vida","value":"={{ $json.body.impactoVida }}","type":"string"},{"id":"20ea0635-493f-4d4c-9fef-5a2c17f271d0","name":"Disposta a Seguir Protocolo","value":"={{ $json.body.dispostaSeguirProtocolo }}","type":"string"},{"id":"dd9d86dc-4745-4854-940f-82fd98806514","name":"Faz Sentido","value":"={{ $json.body.fazSentido }}","type":"string"},{"id":"7265d982-a83c-45ff-a399-b6dafcd72e9a","name":"Tipo de Atendimento","value":"={{ $json.body.tipoAtendimento }}","type":"string"},{"id":"a2ed0cf6-5580-4d63-8116-5edc060e4500","name":"Prioridade Resolver","value":"={{ $json.body.prioridadeResolver }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,32],"id":"bc8d8efa-d48a-4514-85e7-83b7ff710b2a","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"630ab329-a8bb-4cee-9855-79c6482b97d8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T20:55:25.335Z","createdAt":"2025-12-30T20:55:25.335Z","role":"workflow:owner","workflowId":"BIqHeK2zGHUoTsRy","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}