cEuTfwWOMh3SEN2D_9FKl.json
{"updatedAt":"2026-02-25T23:24:32.384Z","createdAt":"2026-02-25T23:24:24.027Z","id":"cEuTfwWOMh3SEN2D_9FKl","name":"My workflow 16","active":true,"isArchived":false,"nodes":[{"parameters":{"page":{"__rl":true,"value":"1403844979916600","mode":"id"},"form":{"__rl":true,"value":"1596620254913135","mode":"list","cachedResultName":"FORMSNEW-UPPER-copy"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[-944,128],"id":"432d5a19-67e0-46a5-a172-5ca11d198598","name":"Formulário - Pedido de informações UBC","webhookId":"198d63f1-bdb7-4223-993a-a858e80573d0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"9lAlCS5uJsfOsVH0","name":"Facebook Lead Ads account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fa8873e9-6b71-40c0-a6ac-3517d95492c1","name":"qual o serviço que procuras","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['qual_o_serviço_que_procuras?'] }}","type":"string"},{"id":"9d649262-4ac5-4628-874b-f8c3a5f8a036","name":"nome","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.nome }}","type":"string"},{"id":"82f9d545-a334-4642-8a38-2bba7748d7ec","name":"telefone","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['número_de_telemóvel'] }}","type":"string"},{"id":"a668ebc7-5868-49ae-a7ad-d7b120d36fcb","name":"email","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.email }}","type":"string"},{"id":"da50de3a-84f1-455e-ab10-261bbaa8dba3","name":"Anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.ad }}","type":"object"},{"id":"7e7c65e4-d453-4ab5-8ea5-9d2c91a1219f","name":"Conjunto de anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.adset }}","type":"object"},{"id":"1ee89b40-893a-41d3-b531-85422411c8fb","name":"Data","value":"={{ $('Data').item.json.Data }}","type":"string"},{"id":"d165d2e5-508c-4b46-9e80-34f6d173377b","name":"hora","value":"={{ $json.Hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,128],"id":"6b9e3550-e1fc-4aa3-b7ba-3c01f08da4d6","name":"Trata os dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w","mode":"list","cachedResultName":"Miguel - Leads Formulário Instantâneo FB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Trata os dados').item.json.email }}","DATA":"={{ $('Trata os dados').item.json.Data }}","HORA":"={{ $('Trata os dados').item.json.hora }}","NOME":"={{ $('Trata os dados').item.json.nome }}","TELEFONE":"={{ $('Trata os dados').item.json.telefone }}","QUAL O SERVIÇO PROCURADO":"={{ $('Trata os dados').item.json['qual o serviço que procuras'] }}","ANÚNCIO":"={{ $('Trata os dados').item.json['Anúncio'] }}","CONJUNTO DE ANÚNCIO":"={{ $('Trata os dados').item.json['Conjunto de anúncio'] }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QUAL O SERVIÇO PROCURADO","displayName":"QUAL O SERVIÇO PROCURADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ANÚNCIO","displayName":"ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONJUNTO DE ANÚNCIO","displayName":"CONJUNTO DE ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES","displayName":"OBSERVAÇÕES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venda a 6 meses","displayName":"Venda a 6 meses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"1a8a66e4-ee10-4e95-ba85-670f604bc7a7","name":"Atualiza a planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"fromEmail":"work@upperbc.com","toEmail":"work@upperbc.com","subject":"Dados do Formulário - Pedido de informações UBC","emailFormat":"text","text":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,192],"id":"7a3b2cea-d1da-436d-9bfe-18361006c9f4","name":"Send email","webhookId":"29c376f3-017a-4711-a7cd-563659b92390","credentials":{"smtp":{"id":"dlBuJBL4aahgto9Q","name":"Miguel Work Upper - SMTP account"}}},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - Pedido de informações UBC').item.json.created_time }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-736,128],"id":"b47f70fd-0b33-4139-8593-4c6173b15cb0","name":"Data"},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - Pedido de informações UBC').item.json.created_time }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-528,128],"id":"c63876a6-1c81-47d2-9c02-040e661778bb","name":"Date & Time"}],"connections":{"Formulário - Pedido de informações UBC":{"main":[[{"node":"Data","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Atualiza a planilha","type":"main","index":0}]]},"Data":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Formulário - Pedido de informações UBC":[{"json":{"id":"1442639843891412","data":{"qual_o_serviço_que_procuras?":"escritório_virtual_(sede_social_e_correspondência)","qual_é_o_seu_tipo_de_entidade?":"empresa","qual_é_a_sua_disponibilidade_para_começar?":"imediato_(em_até_7_dias)","prevê_precisar_de_sala_de_reuniões_presencial?":"sim,_com_frequência.","onde_está_localizada_a_entidade_interessada_neste_momento?":"teste_Alvorada","nome":"teste_name","número_de_telemóvel":"+5511921203010","email":"contato@daviconceicao.com.br"},"form":{"id":"1680566719578477","name":"FORMSNEW-UPPER","locale":"pt_PT","status":"ACTIVE"},"ad":{},"adset":{},"page":{"name":"Upper Business Center","id":"1403844979916600"},"created_time":"2026-02-12T21:47:11+0000"}}]},"versionId":"34f1f99d-4af1-421a-843b-99cc4a976fd0","activeVersionId":"34f1f99d-4af1-421a-843b-99cc4a976fd0","triggerCount":1,"shared":[{"updatedAt":"2026-02-25T23:24:24.027Z","createdAt":"2026-02-25T23:24:24.027Z","role":"workflow:owner","workflowId":"cEuTfwWOMh3SEN2D_9FKl","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-02-25T23:32:13.550Z","createdAt":"2026-02-25T23:24:24.027Z","versionId":"34f1f99d-4af1-421a-843b-99cc4a976fd0","workflowId":"cEuTfwWOMh3SEN2D_9FKl","nodes":[{"parameters":{"page":{"__rl":true,"value":"1403844979916600","mode":"id"},"form":{"__rl":true,"value":"1596620254913135","mode":"list","cachedResultName":"FORMSNEW-UPPER-copy"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[-944,128],"id":"432d5a19-67e0-46a5-a172-5ca11d198598","name":"Formulário - Pedido de informações UBC","webhookId":"198d63f1-bdb7-4223-993a-a858e80573d0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"9lAlCS5uJsfOsVH0","name":"Facebook Lead Ads account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fa8873e9-6b71-40c0-a6ac-3517d95492c1","name":"qual o serviço que procuras","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['qual_o_serviço_que_procuras?'] }}","type":"string"},{"id":"9d649262-4ac5-4628-874b-f8c3a5f8a036","name":"nome","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.nome }}","type":"string"},{"id":"82f9d545-a334-4642-8a38-2bba7748d7ec","name":"telefone","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['número_de_telemóvel'] }}","type":"string"},{"id":"a668ebc7-5868-49ae-a7ad-d7b120d36fcb","name":"email","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.email }}","type":"string"},{"id":"da50de3a-84f1-455e-ab10-261bbaa8dba3","name":"Anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.ad }}","type":"object"},{"id":"7e7c65e4-d453-4ab5-8ea5-9d2c91a1219f","name":"Conjunto de anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.adset }}","type":"object"},{"id":"1ee89b40-893a-41d3-b531-85422411c8fb","name":"Data","value":"={{ $('Data').item.json.Data }}","type":"string"},{"id":"d165d2e5-508c-4b46-9e80-34f6d173377b","name":"hora","value":"={{ $json.Hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,128],"id":"6b9e3550-e1fc-4aa3-b7ba-3c01f08da4d6","name":"Trata os dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w","mode":"list","cachedResultName":"Miguel - Leads Formulário Instantâneo FB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Trata os dados').item.json.email }}","DATA":"={{ $('Trata os dados').item.json.Data }}","HORA":"={{ $('Trata os dados').item.json.hora }}","NOME":"={{ $('Trata os dados').item.json.nome }}","TELEFONE":"={{ $('Trata os dados').item.json.telefone }}","QUAL O SERVIÇO PROCURADO":"={{ $('Trata os dados').item.json['qual o serviço que procuras'] }}","ANÚNCIO":"={{ $('Trata os dados').item.json['Anúncio'] }}","CONJUNTO DE ANÚNCIO":"={{ $('Trata os dados').item.json['Conjunto de anúncio'] }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QUAL O SERVIÇO PROCURADO","displayName":"QUAL O SERVIÇO PROCURADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ANÚNCIO","displayName":"ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONJUNTO DE ANÚNCIO","displayName":"CONJUNTO DE ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES","displayName":"OBSERVAÇÕES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venda a 6 meses","displayName":"Venda a 6 meses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"1a8a66e4-ee10-4e95-ba85-670f604bc7a7","name":"Atualiza a planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"fromEmail":"work@upperbc.com","toEmail":"work@upperbc.com","subject":"Dados do Formulário - Pedido de informações UBC","emailFormat":"text","text":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,192],"id":"7a3b2cea-d1da-436d-9bfe-18361006c9f4","name":"Send email","webhookId":"29c376f3-017a-4711-a7cd-563659b92390","credentials":{"smtp":{"id":"dlBuJBL4aahgto9Q","name":"Miguel Work Upper - SMTP account"}}},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - Pedido de informações UBC').item.json.created_time }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-736,128],"id":"b47f70fd-0b33-4139-8593-4c6173b15cb0","name":"Data"},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - Pedido de informações UBC').item.json.created_time }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-528,128],"id":"c63876a6-1c81-47d2-9c02-040e661778bb","name":"Date & Time"}],"connections":{"Formulário - Pedido de informações UBC":{"main":[[{"node":"Data","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Atualiza a planilha","type":"main","index":0}]]},"Data":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 34f1f99d","description":"","autosaved":false},"tags":[]}