DhtuWIIKabynW6QI3PRdn.json
{"updatedAt":"2026-03-06T18:04:48.152Z","createdAt":"2026-03-06T16:39:48.018Z","id":"DhtuWIIKabynW6QI3PRdn","name":"A Nova Era da Pedicura Avançada","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"6f72cc40-339f-40e4-976e-e24395847d47","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9b8e8c86-15f6-40ca-84fb-5842b6eae5b0","name":"Webhook","webhookId":"6f72cc40-339f-40e4-976e-e24395847d47"},{"parameters":{"assignments":{"assignments":[{"id":"373de322-ef6f-4beb-b479-cd4c0daa4477","name":"firstname","value":"={{ $json.body.fn }}","type":"string"},{"id":"f35328b8-6e5e-42a5-bce9-ba4ff3bf2daa","name":"lastname","value":"={{ $json.body.ln }}","type":"string"},{"id":"0cb99ded-eac3-4c23-8292-b09011c6c9e1","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"df659ebb-c89d-4912-b27a-63573e2ebdfe","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"17b3d5a2-4c42-4cc7-83a8-2b73e984acc6","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"182854fb-c318-477a-b914-e7cd12f0bec9","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"d55820c0-a690-4961-a301-42ba8d697fbc","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"133f22fd-da82-4aee-8551-34151bcd2347","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"89f167e5-8651-45f6-a9ce-c15cf0a38d4c","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"d229f3a0-766e-495a-bbd2-bf685e410f91","name":"tratamento de dados"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6InRROEpUamxJbHZZd0JUbHBURU80IiwidmVyc2lvbiI6MSwiaWF0IjoxNzM0NDc3OTU5MzYwLCJzdWIiOiJvVkNYY3ZyenZQWFpRVlZzY0JnWiJ9.nCElBw3o7YqE_tb7FcIFh24aZtwFBkpQNvQ6BqyK-xk"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"firstName\": \"{{ $json.firstname }}\",\n  \"lastName\": \"{{ $json.lastname }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"utm_source\": \"{{ $json.utm_source }}\",\n  \"utm_campaign\": \"{{ $json.utm_campaign }}\",\n  \"utm_medium\": \"{{ $json.utm_medium }}\",\n  \"utm_term\": \"{{ $json.utm_term }}\",\n  \"utm_content\": \"{{ $json.utm_content }}\"\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-128],"id":"76e96f95-be47-4419-9865-7a7bbe2eea33","name":"HTTP Request"},{"parameters":{"email":"={{ $json.email }}","additionalFields":{}},"type":"n8n-nodes-base.mailerLite","typeVersion":2,"position":[688,96],"id":"52852d7c-c489-4f59-8069-d9f61739da2b","name":"Create a subscriber","credentials":{"mailerLiteApi":{"id":"0Y44E4WH6IemshFX","name":"Mailer Lite account"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.mailerLite","typeVersion":2,"position":[448,96],"id":"27503264-93f2-45e0-8da2-44730a14a4e3","name":"Get many subscribers","credentials":{"mailerLiteApi":{"id":"0Y44E4WH6IemshFX","name":"Mailer Lite account"}}}],"connections":{"Webhook":{"main":[[{"node":"tratamento de dados","type":"main","index":0}]]},"tratamento de dados":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Get many subscribers","type":"main","index":0}]]},"Get many subscribers":{"main":[[{"node":"Create a subscriber","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36","content-length":"178","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","dnt":"1","origin":"https://sofhiacouto.lovable.app","priority":"u=1, i","referer":"https://sofhiacouto.lovable.app/","sec-ch-ua":"\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"177.76.14.107","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa565f1ad956","x-real-ip":"177.76.14.107"},"params":{},"query":{},"body":{"fn":"Davi","ln":"Conceição","email":"contato@daviconceicao.com.br","phone":"+35111921203010","utm_source":"","utm_campaign":"","utm_medium":"","utm_term":"","utm_content":""},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/6f72cc40-339f-40e4-976e-e24395847d47","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"759ee4a9-30c0-4c8b-9fbb-aac39d936fce","activeVersionId":"a5f186ac-e110-47c7-8a2a-228b29627858","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T16:39:48.018Z","createdAt":"2026-03-06T16:39:48.018Z","role":"workflow:owner","workflowId":"DhtuWIIKabynW6QI3PRdn","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-03-06T16:45:34.672Z","createdAt":"2026-03-06T16:45:33.575Z","versionId":"a5f186ac-e110-47c7-8a2a-228b29627858","workflowId":"DhtuWIIKabynW6QI3PRdn","nodes":[{"parameters":{"httpMethod":"POST","path":"6f72cc40-339f-40e4-976e-e24395847d47","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9b8e8c86-15f6-40ca-84fb-5842b6eae5b0","name":"Webhook","webhookId":"6f72cc40-339f-40e4-976e-e24395847d47"},{"parameters":{"assignments":{"assignments":[{"id":"373de322-ef6f-4beb-b479-cd4c0daa4477","name":"first name","value":"={{ $json.body.fn }}","type":"string"},{"id":"f35328b8-6e5e-42a5-bce9-ba4ff3bf2daa","name":"lastname","value":"={{ $json.body.ln }}","type":"string"},{"id":"0cb99ded-eac3-4c23-8292-b09011c6c9e1","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"df659ebb-c89d-4912-b27a-63573e2ebdfe","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"17b3d5a2-4c42-4cc7-83a8-2b73e984acc6","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"182854fb-c318-477a-b914-e7cd12f0bec9","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"d55820c0-a690-4961-a301-42ba8d697fbc","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"133f22fd-da82-4aee-8551-34151bcd2347","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"89f167e5-8651-45f6-a9ce-c15cf0a38d4c","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"d229f3a0-766e-495a-bbd2-bf685e410f91","name":"tratamento de dados"}],"connections":{"Webhook":{"main":[[{"node":"tratamento de dados","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version a5f186ac","description":"","autosaved":false},"tags":[]}