eEk0U6fRGl3n5F6pcga4k.json
{"updatedAt":"2026-01-23T19:24:58.500Z","createdAt":"2026-01-23T19:19:11.110Z","id":"eEk0U6fRGl3n5F6pcga4k","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1744,64],"id":"9753ea41-f1f2-4de6-abcf-e0ae9d24f21f","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1536,160],"id":"5d969381-8a58-4b9c-87f9-ab021fd35653","name":"Get many workflows","credentials":{"n8nApi":{"id":"k350fkCie6O74bZG","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1328,160],"id":"f51251bf-c960-40a8-b7a5-5876462900ea","name":"Get a file","webhookId":"12e84b63-29f6-4f0a-bca0-7635dc9bf669","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eac1c9f0-47fe-4b20-9fef-4569d12110e4","leftValue":"={{ $('Get many workflows').item.json.updatedAt }}","rightValue":"={{ $json.data.updatedAt }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"998fcaa4-9fd9-4c5a-bb32-8492dc779be9","leftValue":"={{ $('Get many workflows').item.json.updatedAt }}","rightValue":"={{ $json.data.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-656,160],"id":"b4562978-51ff-4b6d-af4e-9171aa200bc2","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"={{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-336,-16],"id":"c78cc51f-26a0-426f-964f-c2087c03789a","name":"Create a file","webhookId":"16873135-f281-4b3c-964c-6c13e2f9b716","credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-896,176],"id":"f7280c4f-341f-4fa8-8406-00a41470cdbd","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,176],"id":"1b129d08-131e-4f54-9ebf-76e7c594777d","name":"No Operation, do nothing"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Backup Atualizado {{ $('Extract from File').item.json.data.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-336,384],"id":"83f8d308-bf1a-4191-b57b-33712d782bbc","name":"Edit a file","webhookId":"b782f02e-5863-4132-92e8-83989112cfb2","credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,272],"id":"2540e537-a5a6-4937-ac45-ad45a6192c22","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1265d590-c6a0-48eb-b379-05495f6a9bcb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,160],"id":"eb132635-ef0c-492b-a06c-21c3be1f530d","name":"Criar Backup"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Criar Backup","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Criar Backup":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0553a56-df46-443b-9eaf-5ecd7e077aa7","activeVersionId":"f0553a56-df46-443b-9eaf-5ecd7e077aa7","triggerCount":1,"shared":[{"updatedAt":"2026-01-23T19:19:11.110Z","createdAt":"2026-01-23T19:19:11.110Z","role":"workflow:owner","workflowId":"eEk0U6fRGl3n5F6pcga4k","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-23T19:25:00.071Z","createdAt":"2026-01-23T19:24:58.502Z","versionId":"f0553a56-df46-443b-9eaf-5ecd7e077aa7","workflowId":"eEk0U6fRGl3n5F6pcga4k","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1744,64],"id":"9753ea41-f1f2-4de6-abcf-e0ae9d24f21f","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1536,160],"id":"5d969381-8a58-4b9c-87f9-ab021fd35653","name":"Get many workflows","credentials":{"n8nApi":{"id":"k350fkCie6O74bZG","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $json.id }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1328,160],"id":"f51251bf-c960-40a8-b7a5-5876462900ea","name":"Get a file","webhookId":"12e84b63-29f6-4f0a-bca0-7635dc9bf669","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eac1c9f0-47fe-4b20-9fef-4569d12110e4","leftValue":"={{ $('Get many workflows').item.json.updatedAt }}","rightValue":"={{ $json.data.updatedAt }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"998fcaa4-9fd9-4c5a-bb32-8492dc779be9","leftValue":"={{ $('Get many workflows').item.json.updatedAt }}","rightValue":"={{ $json.data.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-656,160],"id":"b4562978-51ff-4b6d-af4e-9171aa200bc2","name":"Switch"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"={{ $('Get many workflows').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-336,-16],"id":"c78cc51f-26a0-426f-964f-c2087c03789a","name":"Create a file","webhookId":"16873135-f281-4b3c-964c-6c13e2f9b716","credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-896,176],"id":"f7280c4f-341f-4fa8-8406-00a41470cdbd","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,176],"id":"1b129d08-131e-4f54-9ebf-76e7c594777d","name":"No Operation, do nothing"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"copytron","mode":"name"},"repository":{"__rl":true,"value":"n8n-backups","mode":"list","cachedResultName":"n8n-backups","cachedResultUrl":"https://github.com/copytron/n8n-backups"},"filePath":"={{ $('Get many workflows').item.json.id }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"=Backup Atualizado {{ $('Extract from File').item.json.data.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-336,384],"id":"83f8d308-bf1a-4191-b57b-33712d782bbc","name":"Edit a file","webhookId":"b782f02e-5863-4132-92e8-83989112cfb2","credentials":{"githubOAuth2Api":{"id":"XuDCUrrE1yZs03Wr","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,272],"id":"2540e537-a5a6-4937-ac45-ad45a6192c22","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1265d590-c6a0-48eb-b379-05495f6a9bcb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,160],"id":"eb132635-ef0c-492b-a06c-21c3be1f530d","name":"Criar Backup"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Criar Backup","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Criar Backup":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version f0553a56","description":"","autosaved":false},"tags":[]}