Fl_X-kjqhpEih3Xk7oFA6.json
{"updatedAt":"2026-02-18T14:26:20.913Z","createdAt":"2026-02-18T14:26:20.913Z","id":"Fl_X-kjqhpEih3Xk7oFA6","name":"My workflow 14","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json['qual o serviço que procuras'] }}","rightValue":" escritório_virtual_(sede_social_e_correspondência)","operator":{"type":"string","operation":"equals"},"id":"8f89be33-fba0-4e67-b32c-2724259d0855"}],"combinator":"and"},"renameOutput":true,"outputKey":"Escritório Virtual"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4183b031-51cd-4672-a6b3-42e27717a33d","leftValue":"={{ $json['qual o serviço que procuras'] }}","rightValue":"coworking_(mesa_partilhada_em_ambiente_colaborativo)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Coworking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caf8486e-7025-46d9-aa82-35de3baf3cee","leftValue":"={{ $json['qual o serviço que procuras'] }}","rightValue":"sala_de_reuniões_(solução_para_receberes_clientes)","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sala de Reuniões"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-336,128],"id":"bb845e79-57b1-4bb7-b9bc-585bcd074295","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[0,0],"id":"11019d79-e7e3-4b2f-b6ed-f4484fb02c63","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[0,144],"id":"f5f150bf-b6ca-4705-ba5d-2d5a3192c367","name":"Respond to Webhook1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-16,320],"id":"c84659cd-c216-4bb4-a5ef-0e790cca07a7","name":"Respond to Webhook2"}],"connections":{"Switch":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"95c4378b-bfde-42e1-a948-0101caa1c48b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T14:26:20.913Z","createdAt":"2026-02-18T14:26:20.913Z","role":"workflow:owner","workflowId":"Fl_X-kjqhpEih3Xk7oFA6","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}