fzbPfa3b7IvkwwMa.json
{"updatedAt":"2025-10-14T13:23:09.866Z","createdAt":"2025-09-30T18:30:34.630Z","id":"fzbPfa3b7IvkwwMa","name":"API Cloud - Token","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"acb48cad-962f-46fc-92d6-9f26e6a69bcf","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"d5ad7487-207a-4444-ac93-a234cfc78b0e","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"fluq","responseMode":"responseNode","options":{}},"id":"95e7098d-b2cf-4b44-b7b1-53056e545e5f","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"},{"parameters":{"httpMethod":"POST","path":"callil-solucoes","responseMode":"responseNode","options":{}},"id":"81cb4669-da53-4133-8db8-462463c828fe","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,224],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a74f9399-85f1-4c6e-8182-9243c1885540","activeVersionId":"a74f9399-85f1-4c6e-8182-9243c1885540","triggerCount":2,"shared":[{"updatedAt":"2025-09-30T18:30:34.630Z","createdAt":"2025-09-30T18:30:34.630Z","role":"workflow:owner","workflowId":"fzbPfa3b7IvkwwMa","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"a74f9399-85f1-4c6e-8182-9243c1885540","workflowId":"fzbPfa3b7IvkwwMa","nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"acb48cad-962f-46fc-92d6-9f26e6a69bcf","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"d5ad7487-207a-4444-ac93-a234cfc78b0e","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"fluq","responseMode":"responseNode","options":{}},"id":"95e7098d-b2cf-4b44-b7b1-53056e545e5f","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"},{"parameters":{"httpMethod":"POST","path":"callil-solucoes","responseMode":"responseNode","options":{}},"id":"81cb4669-da53-4133-8db8-462463c828fe","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,224],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}