GH6Iagg9PytXINBa.json
{"updatedAt":"2025-09-30T20:51:00.482Z","createdAt":"2025-09-30T18:57:02.195Z","id":"GH6Iagg9PytXINBa","name":"Rastreio de Mensagens Wpp -> Envio para o Database","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"1c2446c2-7527-4c2f-99b2-ea126056fecb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"e8ae46ef-d3af-4958-a35d-7ea2282deaa1","name":"Webhook","webhookId":"1c2446c2-7527-4c2f-99b2-ea126056fecb"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"rastreio_whats","mode":"list","cachedResultName":"rastreio_whats"},"table":{"__rl":true,"value":"whatsapp_anuncio","mode":"list","cachedResultName":"whatsapp_anuncio"},"where":{"values":[{"column":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@')[0] }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"b0744e3c-7f53-427c-9c72-41c9d703ae85","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8369c2e-ef63-4bb8-a486-2d347b96b9bf","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[416,0],"id":"3b4161cd-39c3-4817-9b38-bf4f0d094e7c","name":"Filter"},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[624,0],"id":"d683ce35-8a0b-4b25-9ad1-3911bca501c0","name":"Date & Time"},{"parameters":{"assignments":{"assignments":[{"id":"7efff7ba-59d0-4f26-be8d-0fc767b4f7f6","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"8f72dab8-07c7-4be3-b599-cba703d5e8cd","name":"data_criacao","value":"={{ $('Date & Time').item.json.currentDate }}","type":"string"},{"id":"8f76fefc-6390-4141-9f37-1217321567b6","name":"source_id","value":"={{ $('Webhook').item.json.body.data.contextInfo.externalAdReply.sourceId }}","type":"string"},{"id":"b714942a-68cb-4bcd-8df4-2ccfb36741e8","name":"nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"4bc1ca69-c9e2-4490-8caa-16aaeeb0b7a6","name":"mensagem","value":"","type":"string"},{"id":"c873062d-b49c-4f1f-bf76-d637865739cd","name":"cta","value":"={{ $('Webhook').item.json.body.data.contextInfo.externalAdReply.title }}","type":"string"},{"id":"d75da381-b157-4802-9e68-8751d840977f","name":"ctwaclid","value":"={{ $('Webhook').item.json.body.data.contextInfo.externalAdReply.ctwaClid }}","type":"string"},{"id":"607e78d4-f359-4c72-b49d-8a1dcccb30ae","name":"source_url","value":"={{ $('Webhook').item.json.body.data.contextInfo.externalAdReply.sourceUrl }}","type":"string"},{"id":"da0cc2fb-7b2b-4494-9326-f0570d931cd0","name":"thumbnail","value":"={{ $('Webhook').item.json.body.data.contextInfo.externalAdReply.thumbnail }}","type":"string"},{"id":"dcdf27ed-f38a-4938-abf8-410a409372d1","name":"status","value":"Entrou em contato","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,0],"id":"7b79bfd9-528a-488c-be45-6f28f232a933","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"value":"rastreio_whats","mode":"list","cachedResultName":"rastreio_whats"},"table":{"__rl":true,"value":"whatsapp_anuncio","mode":"list","cachedResultName":"whatsapp_anuncio"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_transacao","displayName":"id_transacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_criacao","displayName":"data_criacao","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sobrenome","displayName":"sobrenome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moeda","displayName":"moeda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_venda","displayName":"valor_venda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"item_name","displayName":"item_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ctwaclid","displayName":"ctwaclid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumbnail","displayName":"thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"plataforma","displayName":"plataforma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"processado","displayName":"processado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,0],"id":"6cfebcec-2941-46ed-98eb-9d0fe806737c","name":"Insert rows in a table","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"operation":"formatDate","date":"={{ $('Date & Time').item.json.currentDate }}","format":"X","outputFieldName":"dataTimestamp","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1248,0],"id":"3f976d54-f112-4f5e-a386-9c9ebbd2c77f","name":"Date & Time1"},{"parameters":{"type":"SHA256","value":"={{ $('Edit Fields').item.json.telefone }}","dataPropertyName":"dataPhone"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1456,0],"id":"8457d286-8804-425d-acdc-da6eb297b326","name":"Crypto"},{"parameters":{"url":"=https://graph.facebook.com/v16.0/{{ $('Edit Fields').item.json.source_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAFfZBizZBuT0IBPustU0gzP86fslVDg6o37ZA6fxxV4IvB8tR1R7usZA5ewjcSrNuoDOP9jQ0SY6rseFzWobqW4Mn240Lp6Am95DZBjAl4OsbAErXGKUQjkz1WZBujGTpcSMxIHjzA5lLI9dNklz3Lhku3HdKYf6SUtBPhKfqbp2rnD48e1f25zL7YCy2aDAZDZD"},{"name":"fields","value":"tracking_specs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,0],"id":"ec370800-0693-4500-85ad-d735eb74bb07","name":"Search Pixel ID - Ad"},{"parameters":{"jsCode":"// Função para procurar \"dataset\" e \"page\"\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta \"dataset\" e fallback para \"fb_pixel\"\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            } else if (obj['fb_pixel']) {\n                result.dataset.push(...obj['fb_pixel']);\n            }\n\n            // Coleta \"page\" apenas\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,0],"id":"69be5382-572c-484d-a3ff-868ce9aa9caa","name":"Code"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v16.0/{{ $('Code').item.json.dataset }}/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAFfZBizZBuT0IBPustU0gzP86fslVDg6o37ZA6fxxV4IvB8tR1R7usZA5ewjcSrNuoDOP9jQ0SY6rseFzWobqW4Mn240Lp6Am95DZBjAl4OsbAErXGKUQjkz1WZBujGTpcSMxIHjzA5lLI9dNklz3Lhku3HdKYf6SUtBPhKfqbp2rnD48e1f25zL7YCy2aDAZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"LeadSubmitted\",\n      \"event_time\": {{ $('Date & Time1').item.json.dataTimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $('Crypto').item.json.dataPhone }}\",\n        \"ctwa_clid\": \"{{ $('Edit Fields').item.json.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,0],"id":"b4c8204d-ba7f-482c-a3f8-17633bad2b96","name":"HTTP Request"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"rastreio_whats","mode":"list","cachedResultName":"rastreio_whats"},"table":{"__rl":true,"value":"whatsapp_anuncio","mode":"list","cachedResultName":"whatsapp_anuncio"},"columns":{"mappingMode":"defineBelow","value":{"valor_venda":0,"telefone":"{{ $('Edit Fields').item.json.telefone }}","processado":"l","status":"lead"},"matchingColumns":["telefone"],"schema":[{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id_transacao","displayName":"id_transacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_criacao","displayName":"data_criacao","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sobrenome","displayName":"sobrenome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moeda","displayName":"moeda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_venda","displayName":"valor_venda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"item_name","displayName":"item_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ctwaclid","displayName":"ctwaclid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumbnail","displayName":"thumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"plataforma","displayName":"plataforma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"processado","displayName":"processado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2256,0],"id":"5d739490-97fe-497e-8318-3b3d130ebeb1","name":"Update rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Search Pixel ID - Ad","type":"main","index":0}]]},"Search Pixel ID - Ad":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.samuelchoairy.com","user-agent":"axios/1.7.5","content-length":"5134","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.55.183.217","x-forwarded-host":"webhook.agenciamurupi.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"162.55.183.217"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"MKC","data":{"key":{"remoteJid":"421312312231@s.whatsapp.net","fromMe":false,"id":"87FDBB3D7F5D2820847CC01FE7CA168B"},"pushName":"Nome","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"zk75f1iodAoJ4Q==","senderTimestamp":"1726766901","recipientKeyHash":"eWgNfxC1fSD67A==","recipientTimestamp":"1726764448"},"deviceListMetadataVersion":2},"conversation":"Olá! Tenho interesse em ter uma estrutura 100% rastreada e traqueada no WPP."},"contextInfo":{"conversionSource":"FB_Ads","conversionData":"QVJEeGwzRlVRQ2R2bld0YWQzanJjOHNZb2twNGtENDQydTc4WjdvVDRic3JWTEUxeTBSSzh2R3d4Qm5XT1I2SXJJSTN1RXhwMWJGOU9iLVppM3F6YVpHT1Z3TDRNVnYwRzI5RnRvSFA2WGF1WW1uZFM4V3RZNl9JZjd5dzRadUpVbWV4UWE4Yk9taTVSeTUxNzM4cGwzR3JpS3dNcjdWTTJiYjh5VEZUVVJsUWVrVVNMYmttVXpYV1V0bVdjSUNCSzJyUVhnYUlmVnA5ZnNVQ0x3YS12eVIwZDcyWjdrZzkxclBUOWpQd0FBMlBYU0dzQTBYM1kta1R3MDdrVXBzQzRNQUdrOXYxRWR0MkFmbW1vTURncFV3R2N5dGtBb0IzemVxczg2RWVCQzFmZEFXcThMa0JnQ2NFNFpWQllCZjF4REtJaDhLZTJReW1PMFBEckk1NVJB","conversionDelaySeconds":4,"externalAdReply":{"title":"Rastreio e Tracking de WPP","body":"Você faz campanhas direto para o WPP?\n\nSabia que é possível ter um sistema completo de rastreio e tracking de ponta a ponta? Isso mesmo, você não tem só a origem dos leads (UTMs) mas também devolve a conversão que ocorreu dentro da conversa direto para o pixel.\n\nClique em Saiba Mais e entre em contato conosco para te apresentarmos a nossa solução inovadora do Rastracking.","mediaType":"VIDEO","thumbnailUrl":"https://scontent.xx.fbcdn.net/v/t15.5256-10/455812560_859693189037052_6561012719011299619_n.jpg?stp=dst-jpg_p180x540&_nc_cat=105&ccb=1-7&_nc_sid=099685&_nc_ohc=1sGk7U3fF80Q7kNvgENNGAH&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_gid=ABWsB4V-4g_nwegDT7n2-02&oh=00_AYDGL7A6rMl9RM4neFH3vuqkjMrCwTMphLvXYPvt_rOPIQ&oe=66EA397B","mediaUrl":"https://www.facebook.com/dericsoncalari/videos/3810417475905123/","thumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/7QCEUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAGgcAigAYkZCTUQwYTAwMGE2ZTAxMDAwMGZhMDEwMDAwYjEwMjAwMDAwMzAzMDAwMDRkMDMwMDAwZjQwMzAwMDBmZTA0MDAwMDNmMDUwMDAwOTcwNTAwMDBlODA1MDAwMGE2MDcwMDAwAP/bAEMABgQFBgUEBgYFBgcHBggKEAoKCQkKFA4PDBAXFBgYFxQWFhodJR8aGyMcFhYgLCAjJicpKikZHy0wLSgwJSgpKP/bAEMBBwcHCggKEwoKEygaFhooKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKP/CABEIAFkAMgMBIgACEQEDEQH/xAAaAAACAwEBAAAAAAAAAAAAAAADBAABAgUG/8QAGQEAAwEBAQAAAAAAAAAAAAAAAQIDAAQF/9oADAMBAAIQAxAAAAFHBqoiOtVL0DZPqvnrxmHayHaMAKTc+4rnN6LwqVH59UfojeIZ9islfLdIlY1Go8LLVZWMLlD6FiFakgzMLRUcJnHlCs0eliOS3MwJ4YKqL4Ffznok+kRJqMn/xAAiEAACAgIBBQEBAQAAAAAAAAABAgADERIEEBMhIjEUIDP/2gAIAQEAAQUCxGE2wUbP8AQiONXswli+RgT0jQmXfWwa6DMT2hMr0Y22Dv1nJrOthPnYTQztmXIX5Toa2s8MnlcTJnHLEdos1yPpbutdGy1ZMxErZ4aHI/O8HHcCxSh6eYy+oX1sYIK27i9xeuJ8nMca8dzoKU/nl/eEvjEKHr+mcre62hClWIkeN8r/AMeH8HT/xAAiEQABAwMDBQAAAAAAAAAAAAAAAQIRAxAhBBJBEyIjMVH/2gAIAQMBAT8BOi1Wx9IIESSk7xwvBqGI12LSU37VKrsE2XPojk2LZFgfhskqQN7Ukeubf//EABsRAAICAwEAAAAAAAAAAAAAAAABEBECEjEh/9oACAECAQE/ATZ2XDdD6YO5aMUVC8jZSu0VD9dGPI//xAAoEAACAQIFAwMFAAAAAAAAAAAAARECIQMQIDFREiJBMmGREyQzUoH/2gAIAQEABj8CIIL6Lo8ExJNOxMnueTkiC+5v3EQWk8nsOnEbXDHDlbSdPJck9Kz6EonJPnLzl24eHU1+wsT6GD1cyfgwm0h/bYN+LiVW+fbHyUxG3IrL5LU0oirRFNiSWSj1rPYsJRDFh0Lu5PTpiP6VNrT2UNk0pyU0vfSirP8A/8QAIxABAAIBBAICAwEAAAAAAAAAAQARITFBUWFxkRChgcHx0f/aAAgBAQABPyETonuWFt00e5maKxHuaoj38U8TLuS2qwON4FoDh3gF2zeBLGSm9fKVy9SPe7a8QKsvIzSMKaXARoBquSI2w1MS9TaVwm9jlgQalqqWnIlnYO2k1hWaZtl1zmfyZdrcoq8niLbBYhIbayLvDimhetxUOQSX5jslDYNVrf8AJvMitwjg5IpbU/3MCybiago5IbtBOyNtcS/bqoRhwCLOiU5Z+kwGBppCUEpq+Z6lcXNGSJSoH3MPDsmNnUMfXEVEUmdm5T3MjQykIMOo5GOcDXGspgtu2ggsMp6hM9TzADR5B+5d0QalOITb8ynmVKD+TqMmxUIhmBnzPObPm/Un3H5f/9oADAMBAAIAAwAAABCNF8yMHwyy+v8AGwAD1cX9bdEw/8QAHhEBAAICAgMBAAAAAAAAAAAAAQARITEQYYGhsfD/2gAIAQMBAT8QqI42LGLHPC3RBbGX6/fJcdHM8wLCy6YFBdSsENkIryikjp4RWbgqNTsjhcRh23EUcf/EABsRAAMBAQEBAQAAAAAAAAAAAAABESEQQVFh/9oACAECAQE/ECQQpHWey9GppvwaZRYMbKHTDRNWH78aTUYtoRxXoExz/8QAJRABAAIBBAIBBAMAAAAAAAAAAQARITFBUWFxkYGhsfDxENHh/9oACAEBAAE/EMy87MfJFSsDQS3jEuFbLkXbePHmNHUOAIaitF11FXFawq/tLEmclKImAMDevKErct0h37gAqwdaPJe4MJAUsQdHaCaNGdH2ls0jcW2HLmLCbrQIuyAgtfjGbpst8nFwwVdnNPEXTHtF9Rduj1DU0WhxL1V2PK8c8/WFFWovBiZkgoDaf1ekWixoGFktFDkCfrkBuBTOL+YLsd5YPtW2KKq79Zir0gCoQkihwXWQevcrNLNzjU8QovMvuNiEWs6lZa/bmKWixQoN+vTXUDKVS4B72MGcaRXAGeQADA7/AAQ+hUpdC8Qog6XMtX7SsxoEFW6oddNYAvYJ0rnfaiKs3ercwLnPEVKQCmRpvMf4qwQU6OPExx6/5CqhtrWZrA2OtFxZtc5cZXmq/GW27NmZLO5emzeLXxaRp6tpTdJ8RuAUnDMrs+caM0ahnHItlULgFQ4SYmdBpQbbm0dmPVnDdO4JJACpliBZh0S4q2+Jhd48xzkX4YxKt4ROTt3C0ATQHmdD1BRbGwbPpMaI13Yky2dDLSpFM6X1MNS3IdpY8GMy8pbnNfjNc1fE+u/dn4LmaP4//9k=","sourceType":"ad","sourceId":"120213008132720555","sourceUrl":"https://www.instagram.com/p/C-tNHk_gbQf/","containsAutoReply":false,"renderLargerThumbnail":true,"showAdAttribution":true,"ctwaClid":"ARBOL5G8rOiK-9u5gnnO8CPCR60WQeF5V51AI64F3IKoMpklpHTaB8pMeRU8TICHcbjxzGeGXAkndwcuGxMQSfAQJffiNgMoIYMAwiI5wc1hi6ysSTOFtH_b7psUdIZAo8Ts"},"trustBannerAction":4294967295},"messageType":"extendedTextMessage","messageTimestamp":1727448763,"instanceId":"2152e6f5-14d1-420b-9611-c6a4e325d311","source":"android"},"destination":"https://webhook.samuelchoairy.com/webhook/c6bec62f-541e-4a43-8841-de22624ed513","date_time":"2024-09-27T11:52:43.324Z","sender":"5511933444333@s.whatsapp.net","server_url":"https://wsapi.samuelchoairy.com","apikey":"457C23B91839-431F-AFD2-5C50DDB6D53B"},"webhookUrl":"https://webhook.samuelchoairy.com/webhook/c6bec62f-541e-4a43-8841-de22624ed513","executionMode":"production"}}]},"versionId":"cfab3673-c88a-42ae-b585-327b14048d61","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-30T18:57:02.195Z","createdAt":"2025-09-30T18:57:02.195Z","role":"workflow:owner","workflowId":"GH6Iagg9PytXINBa","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}