Gr8lwCxbX6NcwVh2.json
{"updatedAt":"2025-10-07T22:42:11.176Z","createdAt":"2025-10-06T20:35:43.767Z","id":"Gr8lwCxbX6NcwVh2","name":"Compra realizada","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"compra-realizada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"4a9f6db2-9589-45c6-96e1-784bcc77c0b6","name":"Webhook","webhookId":"9efb9442-4c64-4e94-bb21-c0784522f5c8"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da compra","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da compra","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"b1a13285-4bea-413a-a746-81d8693873a7","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"e546490b-7492-4faf-acbf-97ac8c714baf","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Edit Fields').item.json['Nome do comprador'] }}","Telefone":"={{ $('Edit Fields').item.json['Telefone do comprador'] }}","Email":"={{ $('Edit Fields').item.json['email do comprador'] }}","Data da compra":"={{ $('Code').item.json.data }}","Horário da compra":"={{ $('Code').item.json.horario }}","Valor da Compra":"={{ $('Edit Fields').item.json['Valor da compra'] }}","Status":"={{ $('Edit Fields').item.json.status }}","Id do comprador":"={{ $('Edit Fields').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[992,-16],"id":"ec69f32f-98ef-49a6-ad9d-56fb4b8b6e25","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"c3c75ab8-3d16-4df7-94e7-0c1f2442bc40","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36adbe93-8dc0-4927-a380-d80565c8a8ff","leftValue":"={{ $('Get a row').item.json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,0],"id":"a716e56a-c0e7-45f1-a408-ea2a159fb46f","name":"If"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Edit Fields').item.json['Telefone do comprador'] }}"},{"keyName":"Email","keyValue":"={{ $('Edit Fields').item.json['email do comprador'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,0],"id":"72cd8a4d-9ff2-460a-bbba-1a2bf599deb2","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $('Webhook').item.json.body.data.transaction.status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[992,160],"id":"25b810f4-ac55-47f4-b3d4-e85bbb436f1f","name":"Update rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"180f9dc7-0d09-4c26-bc0b-3799fdd99b95","activeVersionId":"180f9dc7-0d09-4c26-bc0b-3799fdd99b95","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T20:35:43.767Z","createdAt":"2025-10-06T20:35:43.767Z","role":"workflow:owner","workflowId":"Gr8lwCxbX6NcwVh2","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"180f9dc7-0d09-4c26-bc0b-3799fdd99b95","workflowId":"Gr8lwCxbX6NcwVh2","nodes":[{"parameters":{"httpMethod":"POST","path":"compra-realizada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"4a9f6db2-9589-45c6-96e1-784bcc77c0b6","name":"Webhook","webhookId":"9efb9442-4c64-4e94-bb21-c0784522f5c8"},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da compra","value":"={{ $json.body.data.transaction.updated_at.Time }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da compra","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"b1a13285-4bea-413a-a746-81d8693873a7","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"e546490b-7492-4faf-acbf-97ac8c714baf","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Edit Fields').item.json['Nome do comprador'] }}","Telefone":"={{ $('Edit Fields').item.json['Telefone do comprador'] }}","Email":"={{ $('Edit Fields').item.json['email do comprador'] }}","Data da compra":"={{ $('Code').item.json.data }}","Horário da compra":"={{ $('Code').item.json.horario }}","Valor da Compra":"={{ $('Edit Fields').item.json['Valor da compra'] }}","Status":"={{ $('Edit Fields').item.json.status }}","Id do comprador":"={{ $('Edit Fields').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[992,-16],"id":"ec69f32f-98ef-49a6-ad9d-56fb4b8b6e25","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"c3c75ab8-3d16-4df7-94e7-0c1f2442bc40","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36adbe93-8dc0-4927-a380-d80565c8a8ff","leftValue":"={{ $('Get a row').item.json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,0],"id":"a716e56a-c0e7-45f1-a408-ea2a159fb46f","name":"If"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Edit Fields').item.json['Telefone do comprador'] }}"},{"keyName":"Email","keyValue":"={{ $('Edit Fields').item.json['email do comprador'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,0],"id":"72cd8a4d-9ff2-460a-bbba-1a2bf599deb2","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $('Webhook').item.json.body.data.transaction.status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[992,160],"id":"25b810f4-ac55-47f4-b3d4-e85bbb436f1f","name":"Update rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}