hu3OcNP5vndRlJDa.json
{"updatedAt":"2025-11-28T19:39:10.242Z","createdAt":"2025-11-28T18:22:48.598Z","id":"hu3OcNP5vndRlJDa","name":"Planilha de Backup - GoHighLevel","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"formulario-gohilevel-callil-solucoes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"5b6f14f2-527e-49dd-b9de-61f725ed899e","name":"Webhook","webhookId":"8b22825d-61bc-4647-b0fa-a18f2fc172c5"},{"parameters":{"outputFieldName":"Data","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"b18ec325-ba17-4438-81ca-2e69ddfa6f0c","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"52128908-8a0b-414d-be75-42312727c0cd","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M","mode":"list","cachedResultName":"Leads Comercial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.phone_number }}","DATA":"={{ $json.date }}","HORA":"={{ $json.hour }}","NOME":"={{ $json.name }}","EMAIL":"={{ $json.email }}","NOME DO WORKFLOW":"={{ $json.Workflow_name }}","TIPO DE CONTATO":"={{ $json.contact_type }}","UTM_SOURCE":"={{ $json.utm_source }}","UTM_CAMPAIGN":"={{ $json.utm_campaign }}","UTM_MEDIUM":"={{ $json.utm_medium }}","UTM_TERM":"={{ $json.utm_term }}","UTM_CONTENT":"={{ $json.utm_content }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME DO WORKFLOW","displayName":"NOME DO WORKFLOW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DE CONTATO","displayName":"TIPO DE CONTATO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,0],"id":"4828d0d3-d222-481f-b466-4b7b785a7a7e","name":"Atualiza planilha de Backup","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fbb199e0-defb-46c0-9614-58653b047e86","name":"name","value":"={{ $('Webhook').item.json.body.full_name }}","type":"string"},{"id":"dd300398-1a23-449f-b93d-40bc65e80ad9","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_id }}","type":"string"},{"id":"4631b948-2001-42a3-8570-77f190a8e0c5","name":"email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"d94bcaaa-ed6e-4d7b-9f33-0d83a2eaba2c","name":"phone_number","value":"={{ $('Webhook').item.json.body.phone.split('55')[1] }}","type":"string"},{"id":"025ead8a-28ad-40a1-adc0-da9ff774618f","name":"id_workflow","value":"={{ $('Webhook').item.json.body.workflow.id }}","type":"string"},{"id":"d1cb1cc6-ae91-4ef9-8b2f-26774c64bd85","name":"Workflow_name","value":"={{ $('Webhook').item.json.body.workflow.name }}","type":"string"},{"id":"4586b739-afe5-4cc3-98ba-76c53c0cc0fd","name":"contact_type","value":"={{ $('Webhook').item.json.body.contact_type }}","type":"string"},{"id":"7e7dd223-12d6-44e9-97a3-decfa08b78c8","name":"utm_source","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmSource }}","type":"string"},{"id":"e1920613-69a1-411a-afca-758bb9349f20","name":"utm_medium","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmMedium }}","type":"string"},{"id":"48455c0b-e75a-4a3b-a78a-6e9c6614fb3f","name":"utm_campaign","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.campaign }}","type":"string"},{"id":"2f98cf9f-05d0-4071-8b32-616340cb9c7d","name":"utm_term","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmTerm }}","type":"string"},{"id":"eb4145e8-254f-4759-97d3-caadb2c7b30c","name":"utm_content","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmContent }}","type":"string"},{"id":"1edec9ad-9f33-4fba-baa5-dcd45f44ed08","name":"date","value":"={{ $json.data }}","type":"string"},{"id":"0c0a0d8a-b8c3-436b-bd7a-16454026a498","name":"hour","value":"={{ $json.hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0],"id":"5eafc5e3-20c3-4110-8def-593f0599441c","name":"Trata os dados"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Atualiza planilha de Backup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7aa143ce-1f21-4f1b-888c-607f68b900eb","activeVersionId":"7aa143ce-1f21-4f1b-888c-607f68b900eb","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T18:22:48.598Z","createdAt":"2025-11-28T18:22:48.598Z","role":"workflow:owner","workflowId":"hu3OcNP5vndRlJDa","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"7aa143ce-1f21-4f1b-888c-607f68b900eb","workflowId":"hu3OcNP5vndRlJDa","nodes":[{"parameters":{"httpMethod":"POST","path":"formulario-gohilevel-callil-solucoes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"5b6f14f2-527e-49dd-b9de-61f725ed899e","name":"Webhook","webhookId":"8b22825d-61bc-4647-b0fa-a18f2fc172c5"},{"parameters":{"outputFieldName":"Data","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"b18ec325-ba17-4438-81ca-2e69ddfa6f0c","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"52128908-8a0b-414d-be75-42312727c0cd","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M","mode":"list","cachedResultName":"Leads Comercial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tdskUaNNv7y0sKa_Qip0aNeXqb4ihFwzqu9EHDNpf_M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"WHATSAPP":"={{ $json.phone_number }}","DATA":"={{ $json.date }}","HORA":"={{ $json.hour }}","NOME":"={{ $json.name }}","EMAIL":"={{ $json.email }}","NOME DO WORKFLOW":"={{ $json.Workflow_name }}","TIPO DE CONTATO":"={{ $json.contact_type }}","UTM_SOURCE":"={{ $json.utm_source }}","UTM_CAMPAIGN":"={{ $json.utm_campaign }}","UTM_MEDIUM":"={{ $json.utm_medium }}","UTM_TERM":"={{ $json.utm_term }}","UTM_CONTENT":"={{ $json.utm_content }}"},"matchingColumns":["WHATSAPP"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME DO WORKFLOW","displayName":"NOME DO WORKFLOW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DE CONTATO","displayName":"TIPO DE CONTATO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,0],"id":"4828d0d3-d222-481f-b466-4b7b785a7a7e","name":"Atualiza planilha de Backup","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fbb199e0-defb-46c0-9614-58653b047e86","name":"name","value":"={{ $('Webhook').item.json.body.full_name }}","type":"string"},{"id":"dd300398-1a23-449f-b93d-40bc65e80ad9","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_id }}","type":"string"},{"id":"4631b948-2001-42a3-8570-77f190a8e0c5","name":"email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"d94bcaaa-ed6e-4d7b-9f33-0d83a2eaba2c","name":"phone_number","value":"={{ $('Webhook').item.json.body.phone.split('55')[1] }}","type":"string"},{"id":"025ead8a-28ad-40a1-adc0-da9ff774618f","name":"id_workflow","value":"={{ $('Webhook').item.json.body.workflow.id }}","type":"string"},{"id":"d1cb1cc6-ae91-4ef9-8b2f-26774c64bd85","name":"Workflow_name","value":"={{ $('Webhook').item.json.body.workflow.name }}","type":"string"},{"id":"4586b739-afe5-4cc3-98ba-76c53c0cc0fd","name":"contact_type","value":"={{ $('Webhook').item.json.body.contact_type }}","type":"string"},{"id":"7e7dd223-12d6-44e9-97a3-decfa08b78c8","name":"utm_source","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmSource }}","type":"string"},{"id":"e1920613-69a1-411a-afca-758bb9349f20","name":"utm_medium","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmMedium }}","type":"string"},{"id":"48455c0b-e75a-4a3b-a78a-6e9c6614fb3f","name":"utm_campaign","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.campaign }}","type":"string"},{"id":"2f98cf9f-05d0-4071-8b32-616340cb9c7d","name":"utm_term","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmTerm }}","type":"string"},{"id":"eb4145e8-254f-4759-97d3-caadb2c7b30c","name":"utm_content","value":"={{ $('Webhook').item.json.body.contact.lastAttributionSource.utmContent }}","type":"string"},{"id":"1edec9ad-9f33-4fba-baa5-dcd45f44ed08","name":"date","value":"={{ $json.data }}","type":"string"},{"id":"0c0a0d8a-b8c3-436b-bd7a-16454026a498","name":"hour","value":"={{ $json.hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0],"id":"5eafc5e3-20c3-4110-8def-593f0599441c","name":"Trata os dados"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Atualiza planilha de Backup","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}