I10ZOP562CpDF8Oj.json
{"updatedAt":"2025-10-18T02:20:45.097Z","createdAt":"2025-10-16T00:48:34.992Z","id":"I10ZOP562CpDF8Oj","name":"Validação de compra","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"verificar-comprador","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d5292634-63f4-433a-bc00-16ccf2edc378","name":"Webhook","webhookId":"97c8a00d-bec1-4d78-b880-c1c4a13b0d19"},{"parameters":{"assignments":{"assignments":[{"id":"5b152d9a-6740-41b9-9257-82e20229eae5","name":"email","value":"={{ $json.body.custom_fields.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"31e43d2b-f93d-4429-b70e-7fa0ec7b4912","name":"verificar email de compra"},{"parameters":{"documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"id":"fc7f434a-1e64-4012-8f6b-3c2a15ce7727","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aaac76e8-83e2-4338-bc5e-086594e99a91","leftValue":"={{ $('Get row(s) in sheet').item.json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,0],"id":"d11bfa39-c7a0-46e5-8d9e-066d9665fa7b","name":"If"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1328,-32],"id":"a8c4f310-a824-4eac-baa7-8d6516dec6c6","name":"Define hora - America/Sao_Paulo"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-32],"id":"f5da1c81-e701-440c-b937-69f822573b5d","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1744,-32],"id":"3991d18a-6576-4918-bdce-78b5663e2162","name":"Insere e Atualiza Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1968,-32],"id":"eb3760a8-e3d2-4c36-9082-8427fdddbcfa","name":"10 minutos","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha').item.json.WHATSAPP }}@s.whatsapp.net","media":"https://drive.google.com/uc?id=1Eo0FcjDQfZbDeLR1tUgOsFtAWRSpkjwl&export=preview","caption":"=Olá,  {{ $('Insere e Atualiza Planilha').item.json['PRIMEIRO NOME'] }}\n\nQue bom que gostou do conteúdo. Aqui está seu brinde. Espero que Aprecie também!\n\nMe conta depois o que achou. Tá bem?","fileName":"Ebook - E-Book A Arte Chinesa de viver sem Stress","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-32],"id":"d702487d-ed92-4f92-879a-8b1879ae9e1f","name":"Envia o Ebook","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"jsCode":"// Pega o timestamp do item anterior ou usa o atual\nconst timestamp = $input.first().json.timestamp || Date.now();\n\n// Converte pra Date object\nconst data = new Date(timestamp);\n\n// Formata no padrão brasileiro com fuso de São Paulo\nconst dataFormatada = data.toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n  hour12: false, // Formato 24h\n  day: '2-digit',\n  month: '2-digit', \n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Reorganiza no formato que você quer: HH:MM:SS DD/MM/AAAA\nconst [data_parte, hora_parte] = dataFormatada.split(\", \");\nconst formatoFinal = `${hora_parte} ${data_parte}`;\n\nreturn [{\n  timestamp_original: timestamp,\n  data_hora_formatada: formatoFinal\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-32],"id":"30743c07-ad66-4ef7-902f-c656c345d001","name":"Trata o Timescamp"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","BRINDE ENVIADO":"={{ $json.data_hora_formatada }}","CONFIRMAÇÃO":"={{ $json.COMPROU }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONFIRMAÇÃO","displayName":"CONFIRMAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2816,-32],"id":"0348ebad-9961-4ee5-9448-945fa0b0a218","name":"Atualiza a planilha com o Brinde enviado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-32],"id":"549847a0-4de3-4ffa-ae4d-8ffeb05c2dce","name":"Tratamento de dados"},{"parameters":{"jsCode":"let tel = ( $input.first().json.Telefone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"e2906ad6-9346-417f-8e83-f4802671e5f2","name":"Tratamento de DDD e +"},{"parameters":{"resource":"messages-api","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha1').item.json.WHATSAPP }}@s.whatsapp.net","messageText":"=Oi, {{ $json['PRIMEIRO NOME'] }} Não identifiquei sua compra aqui.\n\nInfelizmente não posso enviar seu brinde sem que você faça a compra. Então, vamos fazer assim: vou te enviar o link novamente, você compra e retorna aqui que te envio o brinde. Pode ser?\n\nLink é esse: https://pay.hotmart.com/R101258010E?off=el5pj01r","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2128,144],"id":"e2d4761a-b15e-418e-9cef-58bc28d90d32","name":"Envia o Ebook1","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,144],"id":"0e651034-5c11-4402-be58-4e897144d49d","name":"Tratamento de dados1"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1344,144],"id":"770dbe91-9fc8-41cf-af83-e14f5942018d","name":"Define hora - America/Sao_Paulo1"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,144],"id":"2283d577-bec6-4068-aa6a-47a15b69802f","name":"Trata hora e Data1"},{"parameters":{"jsCode":"let tel = ( $input.first().json.Telefone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,144],"id":"416a5d4e-7637-49be-ab75-3753c2639e9d","name":"Tratamento de DDD e +1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados1').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados1').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados1').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados1').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados1').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados1').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,144],"id":"c11309e2-0007-48f1-8837-7a6a7c3a2532","name":"Insere e Atualiza Planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1904,144],"id":"d81a8782-9f75-46d2-ab74-f11423feda8f","name":"10 minutos1","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"assignments":{"assignments":[{"id":"932e49c8-fd62-4ce0-b2ff-6bae67842daf","name":"Não comprou","value":"não comprou","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,144],"id":"c282cf0c-a284-4bdc-b553-11368668ed83","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados1').item.json.Manychat_id }}","CONFIRMAÇÃO":"={{ $json['Não comprou'] }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONFIRMAÇÃO","displayName":"CONFIRMAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,144],"id":"d7e632a3-d792-496d-a12d-cf00bbd6b940","name":"Insere e Atualiza Planilha2","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"932e49c8-fd62-4ce0-b2ff-6bae67842daf","name":"COMPROU","value":"Comprou","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,-32],"id":"dccf52f0-de09-4cfa-b773-2f976136dd14","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[{"node":"verificar email de compra","type":"main","index":0}]]},"verificar email de compra":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Tratamento de DDD e +","type":"main","index":0}],[{"node":"Tratamento de DDD e +1","type":"main","index":0}]]},"Define hora - America/Sao_Paulo":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Insere e Atualiza Planilha","type":"main","index":0}]]},"Insere e Atualiza Planilha":{"main":[[{"node":"10 minutos","type":"main","index":0}]]},"10 minutos":{"main":[[{"node":"Envia o Ebook","type":"main","index":0}]]},"Envia o Ebook":{"main":[[{"node":"Trata o Timescamp","type":"main","index":0}]]},"Trata o Timescamp":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Tratamento de dados":{"main":[[{"node":"Define hora - America/Sao_Paulo","type":"main","index":0}]]},"Tratamento de DDD e +":{"main":[[{"node":"Tratamento de dados","type":"main","index":0}]]},"Tratamento de dados1":{"main":[[{"node":"Define hora - America/Sao_Paulo1","type":"main","index":0}]]},"Define hora - America/Sao_Paulo1":{"main":[[{"node":"Trata hora e Data1","type":"main","index":0}]]},"Trata hora e Data1":{"main":[[{"node":"Insere e Atualiza Planilha1","type":"main","index":0}]]},"Tratamento de DDD e +1":{"main":[[{"node":"Tratamento de dados1","type":"main","index":0}]]},"Insere e Atualiza Planilha1":{"main":[[{"node":"10 minutos1","type":"main","index":0}]]},"10 minutos1":{"main":[[{"node":"Envia o Ebook1","type":"main","index":0}]]},"Envia o Ebook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insere e Atualiza Planilha2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Atualiza a planilha com o Brinde enviado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dbc9b125-b8d6-4a1d-a283-77b0e00cd03d","activeVersionId":"dbc9b125-b8d6-4a1d-a283-77b0e00cd03d","triggerCount":1,"shared":[{"updatedAt":"2025-10-16T00:48:34.992Z","createdAt":"2025-10-16T00:48:34.992Z","role":"workflow:owner","workflowId":"I10ZOP562CpDF8Oj","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"dbc9b125-b8d6-4a1d-a283-77b0e00cd03d","workflowId":"I10ZOP562CpDF8Oj","nodes":[{"parameters":{"httpMethod":"POST","path":"verificar-comprador","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d5292634-63f4-433a-bc00-16ccf2edc378","name":"Webhook","webhookId":"97c8a00d-bec1-4d78-b880-c1c4a13b0d19"},{"parameters":{"assignments":{"assignments":[{"id":"5b152d9a-6740-41b9-9257-82e20229eae5","name":"email","value":"={{ $json.body.custom_fields.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"31e43d2b-f93d-4429-b70e-7fa0ec7b4912","name":"verificar email de compra"},{"parameters":{"documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"id":"fc7f434a-1e64-4012-8f6b-3c2a15ce7727","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aaac76e8-83e2-4338-bc5e-086594e99a91","leftValue":"={{ $('Get row(s) in sheet').item.json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,0],"id":"d11bfa39-c7a0-46e5-8d9e-066d9665fa7b","name":"If"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1328,-32],"id":"a8c4f310-a824-4eac-baa7-8d6516dec6c6","name":"Define hora - America/Sao_Paulo"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-32],"id":"f5da1c81-e701-440c-b937-69f822573b5d","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1744,-32],"id":"3991d18a-6576-4918-bdce-78b5663e2162","name":"Insere e Atualiza Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1968,-32],"id":"eb3760a8-e3d2-4c36-9082-8427fdddbcfa","name":"10 minutos","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha').item.json.WHATSAPP }}@s.whatsapp.net","media":"https://drive.google.com/uc?id=1Eo0FcjDQfZbDeLR1tUgOsFtAWRSpkjwl&export=preview","caption":"=Olá,  {{ $('Insere e Atualiza Planilha').item.json['PRIMEIRO NOME'] }}\n\nQue bom que gostou do conteúdo. Aqui está seu brinde. Espero que Aprecie também!\n\nMe conta depois o que achou. Tá bem?","fileName":"Ebook - E-Book A Arte Chinesa de viver sem Stress","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-32],"id":"d702487d-ed92-4f92-879a-8b1879ae9e1f","name":"Envia o Ebook","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"jsCode":"// Pega o timestamp do item anterior ou usa o atual\nconst timestamp = $input.first().json.timestamp || Date.now();\n\n// Converte pra Date object\nconst data = new Date(timestamp);\n\n// Formata no padrão brasileiro com fuso de São Paulo\nconst dataFormatada = data.toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n  hour12: false, // Formato 24h\n  day: '2-digit',\n  month: '2-digit', \n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Reorganiza no formato que você quer: HH:MM:SS DD/MM/AAAA\nconst [data_parte, hora_parte] = dataFormatada.split(\", \");\nconst formatoFinal = `${hora_parte} ${data_parte}`;\n\nreturn [{\n  timestamp_original: timestamp,\n  data_hora_formatada: formatoFinal\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-32],"id":"30743c07-ad66-4ef7-902f-c656c345d001","name":"Trata o Timescamp"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","BRINDE ENVIADO":"={{ $json.data_hora_formatada }}","CONFIRMAÇÃO":"={{ $json.COMPROU }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONFIRMAÇÃO","displayName":"CONFIRMAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2816,-32],"id":"0348ebad-9961-4ee5-9448-945fa0b0a218","name":"Atualiza a planilha com o Brinde enviado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-32],"id":"549847a0-4de3-4ffa-ae4d-8ffeb05c2dce","name":"Tratamento de dados"},{"parameters":{"jsCode":"let tel = ( $input.first().json.Telefone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"e2906ad6-9346-417f-8e83-f4802671e5f2","name":"Tratamento de DDD e +"},{"parameters":{"resource":"messages-api","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha1').item.json.WHATSAPP }}@s.whatsapp.net","messageText":"=Oi, {{ $json['PRIMEIRO NOME'] }} Não identifiquei sua compra aqui.\n\nInfelizmente não posso enviar seu brinde sem que você faça a compra. Então, vamos fazer assim: vou te enviar o link novamente, você compra e retorna aqui que te envio o brinde. Pode ser?\n\nLink é esse: https://pay.hotmart.com/R101258010E?off=el5pj01r","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2128,144],"id":"e2d4761a-b15e-418e-9cef-58bc28d90d32","name":"Envia o Ebook1","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,144],"id":"0e651034-5c11-4402-be58-4e897144d49d","name":"Tratamento de dados1"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1344,144],"id":"770dbe91-9fc8-41cf-af83-e14f5942018d","name":"Define hora - America/Sao_Paulo1"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,144],"id":"2283d577-bec6-4068-aa6a-47a15b69802f","name":"Trata hora e Data1"},{"parameters":{"jsCode":"let tel = ( $input.first().json.Telefone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,144],"id":"416a5d4e-7637-49be-ab75-3753c2639e9d","name":"Tratamento de DDD e +1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados1').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados1').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados1').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados1').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados1').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados1').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,144],"id":"c11309e2-0007-48f1-8837-7a6a7c3a2532","name":"Insere e Atualiza Planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1904,144],"id":"d81a8782-9f75-46d2-ab74-f11423feda8f","name":"10 minutos1","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"assignments":{"assignments":[{"id":"932e49c8-fd62-4ce0-b2ff-6bae67842daf","name":"Não comprou","value":"não comprou","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,144],"id":"c282cf0c-a284-4bdc-b553-11368668ed83","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados1').item.json.Manychat_id }}","CONFIRMAÇÃO":"={{ $json['Não comprou'] }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONFIRMAÇÃO","displayName":"CONFIRMAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,144],"id":"d7e632a3-d792-496d-a12d-cf00bbd6b940","name":"Insere e Atualiza Planilha2","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"932e49c8-fd62-4ce0-b2ff-6bae67842daf","name":"COMPROU","value":"Comprou","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,-32],"id":"dccf52f0-de09-4cfa-b773-2f976136dd14","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[{"node":"verificar email de compra","type":"main","index":0}]]},"verificar email de compra":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Tratamento de DDD e +","type":"main","index":0}],[{"node":"Tratamento de DDD e +1","type":"main","index":0}]]},"Define hora - America/Sao_Paulo":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Insere e Atualiza Planilha","type":"main","index":0}]]},"Insere e Atualiza Planilha":{"main":[[{"node":"10 minutos","type":"main","index":0}]]},"10 minutos":{"main":[[{"node":"Envia o Ebook","type":"main","index":0}]]},"Envia o Ebook":{"main":[[{"node":"Trata o Timescamp","type":"main","index":0}]]},"Trata o Timescamp":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Tratamento de dados":{"main":[[{"node":"Define hora - America/Sao_Paulo","type":"main","index":0}]]},"Tratamento de DDD e +":{"main":[[{"node":"Tratamento de dados","type":"main","index":0}]]},"Tratamento de dados1":{"main":[[{"node":"Define hora - America/Sao_Paulo1","type":"main","index":0}]]},"Define hora - America/Sao_Paulo1":{"main":[[{"node":"Trata hora e Data1","type":"main","index":0}]]},"Trata hora e Data1":{"main":[[{"node":"Insere e Atualiza Planilha1","type":"main","index":0}]]},"Tratamento de DDD e +1":{"main":[[{"node":"Tratamento de dados1","type":"main","index":0}]]},"Insere e Atualiza Planilha1":{"main":[[{"node":"10 minutos1","type":"main","index":0}]]},"10 minutos1":{"main":[[{"node":"Envia o Ebook1","type":"main","index":0}]]},"Envia o Ebook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insere e Atualiza Planilha2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Atualiza a planilha com o Brinde enviado","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}