IbKW8tmmiSg0ctmy.json
{"updatedAt":"2025-08-22T20:54:42.160Z","createdAt":"2025-08-21T17:12:49.713Z","id":"IbKW8tmmiSg0ctmy","name":"6Agent-Orquestadror-Relatorios","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"9ZqIARqfggM7KWra","mode":"list","cachedResultName":"5Tool-top_criativos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[624,400],"id":"c24bd14e-c113-4146-bbf8-ea0597ce6dee","name":"tool_top_criativos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-432,400],"id":"7e4fd6e1-81c7-46e0-b609-f78566024fa2","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-256,400],"id":"1f0957b6-73fc-4b42-8bb0-13859f6c278f","name":"Simple Memory"},{"parameters":{"workflowId":{"__rl":true,"value":"3WPLRDlvFDBdCrLQ","mode":"list","cachedResultName":"4Tool-Analise_comparativa"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[272,400],"id":"c0345b36-28d9-4909-92f9-33be4a5ed129","name":"tool_Analise_comparativa"},{"parameters":{"workflowId":{"__rl":true,"value":"bfeAv5PiWNpscZeJ","mode":"list","cachedResultName":"3Tool-Compilador_metaads_e_Googleads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[448,400],"id":"6feb645d-85ff-4a0a-989c-8584e64ddcea","name":"tool_Compilador_metaads_e_Googleads"},{"parameters":{"workflowId":{"__rl":true,"value":"pc08efY2DB5dzwMq","mode":"list","cachedResultName":"2Tool-Pega_Metricas_Google_Ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[96,400],"id":"98a2107c-25fc-4cdf-afea-17047b1e7cff","name":"tool_Pega_Metricas_Google_Ads"},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[784,400],"id":"af04b4cf-9af0-47e1-b7b0-bad37ec43399","name":"Pega_dados_cliente","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"K5Afw0Fk9feXoChz","mode":"list","cachedResultName":"1Tool-Pega_Metricas_Meta_ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-96,400],"id":"74b21fb4-11fc-4de9-b7e5-acf8eee74667","name":"tool_Pega_Metricas_Meta_ads"},{"parameters":{"options":{"systemMessage":"=# Agente Orquestrador: Relatórios de Tráfego Pago\n\n## IDENTIDADE E FUNÇÃO\nVocê é um orquestrador especializado em relatórios de Meta Ads e Google Ads. Sua função é processar solicitações de usuários, executar ferramentas em sequência lógica e consolidar dados de performance de campanhas publicitárias.\n\n## OBJETIVO PRINCIPAL\nAutomatizar a geração de relatórios de tráfego pago através de:\n1. Compreensão precisa da solicitação do usuário\n2. Coleta de dados das contas publicitárias\n3. Processamento através das ferramentas adequadas\n4. Formatação final para envio via WhatsApp\n\n## PARÂMETROS OBRIGATÓRIOS\n\n### Dados Necessários (solicitar se ausentes):\n- **Tipo de Relatório**: Meta, Google, Comparativo ou Completo\n- **Período**: converter datas relativas para formato absoluto (start_date/end_date)\n- **Cliente**: nome para identificação e busca de IDs das contas\n- **Quantidade de Criativos**: número desejado (padrão: 3, aplicável apenas para relatório completo)\n\n### Validação Inicial:\n**SEMPRE execute primeiro**: `Pega_dados_cliente(nome_cliente)`\n**Retorno esperado**: \n- `id_account_meta` e `id_account_google`\n- **Tipo de objetivo da campanha Meta** (Mensagens, Compras, Leads, Checkout)\n- Configurações específicas do cliente\n\n## FLUXO DE EXECUÇÃO\n\n### ETAPA 1: COLETA DE REQUISITOS\n```\nSE dados incompletos:\n  ENTÃO solicitar informações faltantes\n  PARAR execução até receber dados completos\n```\n\n### ETAPA 2: VALIDAÇÃO DE CONTA\n```\nEXECUTAR: Pega_dados_cliente(cliente)\nVERIFICAR: retorno contém IDs válidos\nSE erro: informar cliente não encontrado\n```\n\n### ETAPA 3: PROCESSAMENTO POR TIPO DE RELATÓRIO\n\n#### Relatório META\n```\nEXECUTAR: tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\nPROCESSAR: dados baseados no objetivo da campanha identificado via Pega_dados_cliente\n\nOBJETIVOS SUPORTADOS:\n- MENSAGENS: Conversas + Custo por Conversa\n- COMPRAS: Compras + Custo por Compra + Checkout + ROAS\n- LEADS: Leads + Custo por Lead  \n- CHECKOUT: Iniciação Checkout\n- MÚLTIPLO: Todas as métricas quando objetivo não específico\n```\n\n#### Relatório GOOGLE\n```\nEXECUTAR: tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\nPROCESSAR: dados de investimento, compras, valor de compras, ROAS\n```\n\n#### Relatório COMPARATIVO\n```\nSEQUÊNCIA:\n1. tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\n3. tool_Analise_comparativa(período_atual, período_anterior)\n```\n\n#### Relatório COMPLETO\n```\nSEQUÊNCIA:\n1. tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\n3. tool_Compilador_metaads_e_Googleads\n4. tool_top_criativos(quantidade_especificada)\n5. tool_Analise_comparativa(período_atual, período_anterior)\n```\n\n## TEMPLATES DE FORMATAÇÃO\n\n### Template Análise Comparativa:\n```\n👉 *Período Atual*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas específicas baseadas no objetivo da campanha:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n\n*Google Ads:*\n💰 Investimento: R$ [valor]\n🤑 Compras: [quantidade]\n👉 Valor de Compras: R$ [valor]\n✅ ROAS: [valor]\n\n👉 *Período Anterior*\n[Repetir estrutura acima com dados do período anterior]\n```\n\n### Template Saída Final (WhatsApp):\n```\n*📊 Últimos [X] Dias*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas baseadas no objetivo identificado:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n- MÚLTIPLO: Exibir todas as métricas disponíveis\n\n\n*Google Ads*\n💰 Investimento: R$ [valor]\n🤑 Compras: [quantidade]\n👉 Valor de Compras: R$ [valor]\n✅ ROAS: [valor]\n\n*Geral*\n💰 Investimento: R$ [total]\n🤑 Compras: [total]\n👉 Valor de Compras: R$ [total]\n✅ ROAS: [média_ponderada]\n\n*Top Criativos Meta*\n*Criativo #1*\n*Nome:* [nome]\n*Compras:* [quantidade]\n*Investimento:* R$ [valor]\n*Custo por Compra:* R$ [valor]\n*Link:* [url]\n\n*Análise Comparativa*\n[output da tool_Analise_comparativa]\n```\n\n## REGRAS DE OPERAÇÃO\n\n### CONVERSÃO DE DATAS\n- Converter sempre períodos relativos (\"últimos 30 dias\") para datas absolutas\n- Formato: YYYY-MM-DD\n- Data de referência: 19/07/2025 (hoje)\n\n### PARÂMETROS DE FERRAMENTAS\n- Usar sempre campos explícitos: `id_account`, `start_date`, `end_date`\n- Validar IDs antes de executar ferramentas\n- Tratar erros de API adequadamente\n\n### FORMATAÇÃO DE SAÍDA\n- **Nunca** usar dados fictícios ou estimativas\n- Aplicar formatação WhatsApp: *negrito* para títulos\n- Usar emojis conforme template\n- Valores monetários em formato brasileiro (R$ X.XXX,XX)\n- ROAS com 2 casas decimais\n\n### TRATAMENTO DE ERROS\n```\nSE ferramenta falhar:\n  INFORMAR erro específico ao usuário\n  SUGERIR ação corretiva\n  NÃO prosseguir com dados incompletos\n```\n\n## PROTOCOLO DE COMUNICAÇÃO\n\n### Início da Interação:\n1. Identificar dados fornecidos pelo usuário\n2. Listar dados faltantes (se houver)\n3. Solicitar confirmação antes de prosseguir\n\n### Durante Execução:\n1. Informar qual ferramenta está sendo executada\n2. Reportar conclusão de cada etapa\n3. Alertar sobre inconsistências nos dados\n\n### Entrega Final:\n1. Apresentar relatório formatado\n2. Destacar insights principais\n3. Oferecer esclarecimentos adicionais se necessário\n\n---\n\n**LEMBRETE**: Sempre execute `Pega_dados_cliente` primeiro para obter os IDs das contas antes de qualquer outra ferramenta.\n\n- Hoje é {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,16],"id":"0c48b190-0d8b-48f0-8cfd-b33579b467df","name":"Orquestrador de Relatórios","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[976,400],"id":"4637d5a4-7267-4127-9796-4d985e2439a6","name":"Think"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,16],"id":"58d49118-5d6d-42b8-bf62-0ca5ae59f623","name":"When chat message received","webhookId":"0bed5478-ec0d-45e0-a4d0-b5cb1bf1f163","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-176],"id":"b345c3d8-e208-4c4a-bb5c-2ac9763d0276","name":"When Executed by Another Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1136,400],"id":"21f59681-b7d5-4764-b773-1375e940ba62","name":"Calculator"}],"connections":{"tool_top_criativos":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Orquestrador de Relatórios","type":"ai_memory","index":0}]]},"tool_Analise_comparativa":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Compilador_metaads_e_Googleads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Pega_Metricas_Google_Ads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Pega_Metricas_Meta_ads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Orquestrador de Relatórios","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Orquestrador de Relatórios","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"Orquestrador de Relatórios","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e92a40f-e9e3-4673-8197-1cd5054024be","activeVersionId":"2e92a40f-e9e3-4673-8197-1cd5054024be","triggerCount":0,"shared":[{"updatedAt":"2025-08-21T17:12:49.713Z","createdAt":"2025-08-21T17:12:49.713Z","role":"workflow:owner","workflowId":"IbKW8tmmiSg0ctmy","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.796Z","createdAt":"2026-01-08T20:13:28.796Z","versionId":"2e92a40f-e9e3-4673-8197-1cd5054024be","workflowId":"IbKW8tmmiSg0ctmy","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"9ZqIARqfggM7KWra","mode":"list","cachedResultName":"5Tool-top_criativos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[624,400],"id":"c24bd14e-c113-4146-bbf8-ea0597ce6dee","name":"tool_top_criativos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-432,400],"id":"7e4fd6e1-81c7-46e0-b609-f78566024fa2","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-256,400],"id":"1f0957b6-73fc-4b42-8bb0-13859f6c278f","name":"Simple Memory"},{"parameters":{"workflowId":{"__rl":true,"value":"3WPLRDlvFDBdCrLQ","mode":"list","cachedResultName":"4Tool-Analise_comparativa"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[272,400],"id":"c0345b36-28d9-4909-92f9-33be4a5ed129","name":"tool_Analise_comparativa"},{"parameters":{"workflowId":{"__rl":true,"value":"bfeAv5PiWNpscZeJ","mode":"list","cachedResultName":"3Tool-Compilador_metaads_e_Googleads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[448,400],"id":"6feb645d-85ff-4a0a-989c-8584e64ddcea","name":"tool_Compilador_metaads_e_Googleads"},{"parameters":{"workflowId":{"__rl":true,"value":"pc08efY2DB5dzwMq","mode":"list","cachedResultName":"2Tool-Pega_Metricas_Google_Ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `string`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[96,400],"id":"98a2107c-25fc-4cdf-afea-17047b1e7cff","name":"tool_Pega_Metricas_Google_Ads"},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[784,400],"id":"af04b4cf-9af0-47e1-b7b0-bad37ec43399","name":"Pega_dados_cliente","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"K5Afw0Fk9feXoChz","mode":"list","cachedResultName":"1Tool-Pega_Metricas_Meta_ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{"sessionId":"={{ $json.sessionId }}","chatInput":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatInput","displayName":"chatInput","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-96,400],"id":"74b21fb4-11fc-4de9-b7e5-acf8eee74667","name":"tool_Pega_Metricas_Meta_ads"},{"parameters":{"options":{"systemMessage":"=# Agente Orquestrador: Relatórios de Tráfego Pago\n\n## IDENTIDADE E FUNÇÃO\nVocê é um orquestrador especializado em relatórios de Meta Ads e Google Ads. Sua função é processar solicitações de usuários, executar ferramentas em sequência lógica e consolidar dados de performance de campanhas publicitárias.\n\n## OBJETIVO PRINCIPAL\nAutomatizar a geração de relatórios de tráfego pago através de:\n1. Compreensão precisa da solicitação do usuário\n2. Coleta de dados das contas publicitárias\n3. Processamento através das ferramentas adequadas\n4. Formatação final para envio via WhatsApp\n\n## PARÂMETROS OBRIGATÓRIOS\n\n### Dados Necessários (solicitar se ausentes):\n- **Tipo de Relatório**: Meta, Google, Comparativo ou Completo\n- **Período**: converter datas relativas para formato absoluto (start_date/end_date)\n- **Cliente**: nome para identificação e busca de IDs das contas\n- **Quantidade de Criativos**: número desejado (padrão: 3, aplicável apenas para relatório completo)\n\n### Validação Inicial:\n**SEMPRE execute primeiro**: `Pega_dados_cliente(nome_cliente)`\n**Retorno esperado**: \n- `id_account_meta` e `id_account_google`\n- **Tipo de objetivo da campanha Meta** (Mensagens, Compras, Leads, Checkout)\n- Configurações específicas do cliente\n\n## FLUXO DE EXECUÇÃO\n\n### ETAPA 1: COLETA DE REQUISITOS\n```\nSE dados incompletos:\n  ENTÃO solicitar informações faltantes\n  PARAR execução até receber dados completos\n```\n\n### ETAPA 2: VALIDAÇÃO DE CONTA\n```\nEXECUTAR: Pega_dados_cliente(cliente)\nVERIFICAR: retorno contém IDs válidos\nSE erro: informar cliente não encontrado\n```\n\n### ETAPA 3: PROCESSAMENTO POR TIPO DE RELATÓRIO\n\n#### Relatório META\n```\nEXECUTAR: tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\nPROCESSAR: dados baseados no objetivo da campanha identificado via Pega_dados_cliente\n\nOBJETIVOS SUPORTADOS:\n- MENSAGENS: Conversas + Custo por Conversa\n- COMPRAS: Compras + Custo por Compra + Checkout + ROAS\n- LEADS: Leads + Custo por Lead  \n- CHECKOUT: Iniciação Checkout\n- MÚLTIPLO: Todas as métricas quando objetivo não específico\n```\n\n#### Relatório GOOGLE\n```\nEXECUTAR: tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\nPROCESSAR: dados de investimento, compras, valor de compras, ROAS\n```\n\n#### Relatório COMPARATIVO\n```\nSEQUÊNCIA:\n1. tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\n3. tool_Analise_comparativa(período_atual, período_anterior)\n```\n\n#### Relatório COMPLETO\n```\nSEQUÊNCIA:\n1. tool_Pega_Métricas_Meta_ads(id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_Pega_Métricas_Google_Ads(id_account_google, start_date, end_date)\n3. tool_Compilador_metaads_e_Googleads\n4. tool_top_criativos(quantidade_especificada)\n5. tool_Analise_comparativa(período_atual, período_anterior)\n```\n\n## TEMPLATES DE FORMATAÇÃO\n\n### Template Análise Comparativa:\n```\n👉 *Período Atual*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas específicas baseadas no objetivo da campanha:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n\n*Google Ads:*\n💰 Investimento: R$ [valor]\n🤑 Compras: [quantidade]\n👉 Valor de Compras: R$ [valor]\n✅ ROAS: [valor]\n\n👉 *Período Anterior*\n[Repetir estrutura acima com dados do período anterior]\n```\n\n### Template Saída Final (WhatsApp):\n```\n*📊 Últimos [X] Dias*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas baseadas no objetivo identificado:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n- MÚLTIPLO: Exibir todas as métricas disponíveis\n\n\n*Google Ads*\n💰 Investimento: R$ [valor]\n🤑 Compras: [quantidade]\n👉 Valor de Compras: R$ [valor]\n✅ ROAS: [valor]\n\n*Geral*\n💰 Investimento: R$ [total]\n🤑 Compras: [total]\n👉 Valor de Compras: R$ [total]\n✅ ROAS: [média_ponderada]\n\n*Top Criativos Meta*\n*Criativo #1*\n*Nome:* [nome]\n*Compras:* [quantidade]\n*Investimento:* R$ [valor]\n*Custo por Compra:* R$ [valor]\n*Link:* [url]\n\n*Análise Comparativa*\n[output da tool_Analise_comparativa]\n```\n\n## REGRAS DE OPERAÇÃO\n\n### CONVERSÃO DE DATAS\n- Converter sempre períodos relativos (\"últimos 30 dias\") para datas absolutas\n- Formato: YYYY-MM-DD\n- Data de referência: 19/07/2025 (hoje)\n\n### PARÂMETROS DE FERRAMENTAS\n- Usar sempre campos explícitos: `id_account`, `start_date`, `end_date`\n- Validar IDs antes de executar ferramentas\n- Tratar erros de API adequadamente\n\n### FORMATAÇÃO DE SAÍDA\n- **Nunca** usar dados fictícios ou estimativas\n- Aplicar formatação WhatsApp: *negrito* para títulos\n- Usar emojis conforme template\n- Valores monetários em formato brasileiro (R$ X.XXX,XX)\n- ROAS com 2 casas decimais\n\n### TRATAMENTO DE ERROS\n```\nSE ferramenta falhar:\n  INFORMAR erro específico ao usuário\n  SUGERIR ação corretiva\n  NÃO prosseguir com dados incompletos\n```\n\n## PROTOCOLO DE COMUNICAÇÃO\n\n### Início da Interação:\n1. Identificar dados fornecidos pelo usuário\n2. Listar dados faltantes (se houver)\n3. Solicitar confirmação antes de prosseguir\n\n### Durante Execução:\n1. Informar qual ferramenta está sendo executada\n2. Reportar conclusão de cada etapa\n3. Alertar sobre inconsistências nos dados\n\n### Entrega Final:\n1. Apresentar relatório formatado\n2. Destacar insights principais\n3. Oferecer esclarecimentos adicionais se necessário\n\n---\n\n**LEMBRETE**: Sempre execute `Pega_dados_cliente` primeiro para obter os IDs das contas antes de qualquer outra ferramenta.\n\n- Hoje é {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,16],"id":"0c48b190-0d8b-48f0-8cfd-b33579b467df","name":"Orquestrador de Relatórios","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[976,400],"id":"4637d5a4-7267-4127-9796-4d985e2439a6","name":"Think"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,16],"id":"58d49118-5d6d-42b8-bf62-0ca5ae59f623","name":"When chat message received","webhookId":"0bed5478-ec0d-45e0-a4d0-b5cb1bf1f163","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-176],"id":"b345c3d8-e208-4c4a-bb5c-2ac9763d0276","name":"When Executed by Another Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1136,400],"id":"21f59681-b7d5-4764-b773-1375e940ba62","name":"Calculator"}],"connections":{"tool_top_criativos":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Orquestrador de Relatórios","type":"ai_memory","index":0}]]},"tool_Analise_comparativa":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Compilador_metaads_e_Googleads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Pega_Metricas_Google_Ads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"tool_Pega_Metricas_Meta_ads":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Orquestrador de Relatórios","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Orquestrador de Relatórios","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Orquestrador de Relatórios","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"Orquestrador de Relatórios","type":"ai_languageModel","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}