ICwHIyvkycQxJ2E9.json
{"updatedAt":"2025-10-06T20:29:32.941Z","createdAt":"2025-10-06T20:10:51.164Z","id":"ICwHIyvkycQxJ2E9","name":"Manychat - DataBase","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"data-base-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"3caec403-3139-4873-a3ef-b31d4f6fdb43","name":"Webhook","webhookId":"1fb727be-5158-4f59-a550-7a3bec59df6d"},{"parameters":{"assignments":{"assignments":[{"id":"f311926d-347c-4231-9b48-1309537e7faa","name":"manychat_user_id","value":"={{ $json.body.id }}","type":"string"},{"id":"380c321e-2c68-4ac8-85ea-136a292487a3","name":"manychat_user_name","value":"={{ $json.body.first_name }}","type":"string"},{"id":"07ae8373-fd91-4fcd-b6be-762088e1246d","name":"user_name","value":"={{ $json.body.custom_fields.name }}","type":"string"},{"id":"5b537014-198e-4f6d-bd14-38d3c8197521","name":"user_whatsapp","value":"={{ $json.body.custom_fields.contato }}","type":"string"},{"id":"66e81d0d-fb86-46c9-917b-03aedecc2f97","name":"ig_username","value":"={{ $json.body.ig_username }}","type":"string"},{"id":"97142ca6-f3c3-4231-9a12-a90e3b8374c1","name":"ig_id","value":"={{ $json.body.ig_id }}","type":"string"},{"id":"f89b3c70-4bd3-4e6c-a0f7-7295e770dbc6","name":"subscribed_verification","value":"={{ $json.body.subscribed }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ceb571a5-b77d-4ed4-b7ed-953f9f176450","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,0],"id":"2c4dfda9-3aa4-49b9-9ce5-439312c8e9d8","name":"Date & Time"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[624,0],"id":"f0ed3306-08f9-4155-b137-f9c80e6991e9","name":"Crypto"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('Edit Fields').item.json.user_name }}","telefone":"={{ $('Edit Fields').item.json.user_whatsapp }}","uuid":"={{ $json.uuid }}","manychat_user_id":"={{ $('Edit Fields').item.json.manychat_user_id }}","manychat_user_name":"={{ $('Edit Fields').item.json.manychat_user_name }}","ig_username":"={{ $('Edit Fields').item.json.ig_username }}","ig_id":"={{ $('Edit Fields').item.json.ig_id }}","subscribed_verification":"={{ $('Edit Fields').item.json.subscribed_verification }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"manychat_user_id","displayName":"manychat_user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"manychat_user_name","displayName":"manychat_user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ig_username","displayName":"ig_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ig_id","displayName":"ig_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"subscribed_verification","displayName":"subscribed_verification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,0],"id":"0d06dee0-eb14-45e0-8304-7dd7709f48ce","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63849013-6a2b-4a09-8f6e-23732db2a432","activeVersionId":"63849013-6a2b-4a09-8f6e-23732db2a432","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T20:10:51.164Z","createdAt":"2025-10-06T20:10:51.164Z","role":"workflow:owner","workflowId":"ICwHIyvkycQxJ2E9","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"63849013-6a2b-4a09-8f6e-23732db2a432","workflowId":"ICwHIyvkycQxJ2E9","nodes":[{"parameters":{"httpMethod":"POST","path":"data-base-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"3caec403-3139-4873-a3ef-b31d4f6fdb43","name":"Webhook","webhookId":"1fb727be-5158-4f59-a550-7a3bec59df6d"},{"parameters":{"assignments":{"assignments":[{"id":"f311926d-347c-4231-9b48-1309537e7faa","name":"manychat_user_id","value":"={{ $json.body.id }}","type":"string"},{"id":"380c321e-2c68-4ac8-85ea-136a292487a3","name":"manychat_user_name","value":"={{ $json.body.first_name }}","type":"string"},{"id":"07ae8373-fd91-4fcd-b6be-762088e1246d","name":"user_name","value":"={{ $json.body.custom_fields.name }}","type":"string"},{"id":"5b537014-198e-4f6d-bd14-38d3c8197521","name":"user_whatsapp","value":"={{ $json.body.custom_fields.contato }}","type":"string"},{"id":"66e81d0d-fb86-46c9-917b-03aedecc2f97","name":"ig_username","value":"={{ $json.body.ig_username }}","type":"string"},{"id":"97142ca6-f3c3-4231-9a12-a90e3b8374c1","name":"ig_id","value":"={{ $json.body.ig_id }}","type":"string"},{"id":"f89b3c70-4bd3-4e6c-a0f7-7295e770dbc6","name":"subscribed_verification","value":"={{ $json.body.subscribed }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ceb571a5-b77d-4ed4-b7ed-953f9f176450","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,0],"id":"2c4dfda9-3aa4-49b9-9ce5-439312c8e9d8","name":"Date & Time"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[624,0],"id":"f0ed3306-08f9-4155-b137-f9c80e6991e9","name":"Crypto"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $('Edit Fields').item.json.user_name }}","telefone":"={{ $('Edit Fields').item.json.user_whatsapp }}","uuid":"={{ $json.uuid }}","manychat_user_id":"={{ $('Edit Fields').item.json.manychat_user_id }}","manychat_user_name":"={{ $('Edit Fields').item.json.manychat_user_name }}","ig_username":"={{ $('Edit Fields').item.json.ig_username }}","ig_id":"={{ $('Edit Fields').item.json.ig_id }}","subscribed_verification":"={{ $('Edit Fields').item.json.subscribed_verification }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"manychat_user_id","displayName":"manychat_user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"manychat_user_name","displayName":"manychat_user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ig_username","displayName":"ig_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ig_id","displayName":"ig_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"subscribed_verification","displayName":"subscribed_verification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,0],"id":"0d06dee0-eb14-45e0-8304-7dd7709f48ce","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}