jfQulyqDV3AB8gXQ.json
{"updatedAt":"2025-09-05T14:30:02.015Z","createdAt":"2025-09-05T14:29:26.978Z","id":"jfQulyqDV3AB8gXQ","name":"Scraper IG","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"7a687ff8-3f4d-46b6-a05a-9afe9278afe8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,944],"id":"44793de3-b05b-4616-bb6f-8ede6e54c439","name":"Webhook","webhookId":"7a687ff8-3f4d-46b6-a05a-9afe9278afe8"},{"parameters":{"jsCode":"const leads = items[0].json.body;\n\nconst leadsFiltrados = leads.filter(lead => {\n  return lead.email || lead.phone;\n});\n\n// Retorna cada lead como um item separado\nreturn leadsFiltrados.map(lead => ({ json: lead }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,944],"id":"0c0e343a-7ffb-4d85-8b0f-e7f9ae068dfc","name":"Sanitiza"},{"parameters":{"assignments":{"assignments":[{"id":"83437cdb-61a7-4def-8e77-c1b52a1c8f6c","name":"url_do_evolution","value":"URL DO SEU EVOLUTION AQUI","type":"string"},{"id":"74f88a4b-e229-475d-b88a-13cff83ce438","name":"api_key_evolution","value":"API KEY DO SEU EVOLUTION AQUI","type":"string"},{"id":"0d963cc2-1af5-4c4d-beab-71e9b54ffdf1","name":"instancia_evolution","value":"NOME DA INSTANCIA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,944],"id":"3b834554-4203-4ad8-acd5-2811efa7ed59","name":"DADOS"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,944],"id":"b8f33aff-2522-4c56-86e4-678dca208b0d","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"ec199192-c07d-487f-ad93-5dd1c9db6766","name":"remote_jid_12","value":"={{ (() => {\n  const tel = String($json.phone || '').replace(/\\D/g, '');\n  const ddd = tel.slice(2, 4);\n  let numero = tel.slice(4);\n  if (numero.startsWith('9') && numero.length === 9) {\n    numero = numero.slice(1);\n  }\n  return `55${ddd}${numero}@s.whatsapp.net`;\n})() }}","type":"string"},{"id":"febc0d45-c381-4bff-bd81-4b1b2dbbadf9","name":"remote_jid_13","value":"={{ (() => {\n  const tel = String($json.phone || '').replace(/\\D/g, '');\n  const ddd = tel.slice(2, 4);\n  let numero = tel.slice(4);\n  if (!numero.startsWith('9')) {\n    numero = '9' + numero;\n  }\n  return `55${ddd}${numero}@s.whatsapp.net`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,960],"id":"ebd5109f-8db1-4709-83d4-1d9ddb0e7ee4","name":"SETA_12_13"},{"parameters":{"assignments":{"assignments":[{"id":"4366f8d6-f8eb-4bc6-bf26-c77eaa5af1f5","name":"usuario","value":"={{ $('Sanitiza').item.json.username }}","type":"string"},{"id":"dfe85551-5634-4af6-a62f-b464001b1a62","name":"nome","value":"={{ $('Sanitiza').item.json.full_name }}","type":"string"},{"id":"621d40c2-63fd-4cae-982d-ba4c30f25f6d","name":"email","value":"={{ $('Sanitiza').item.json.email }}","type":"string"},{"id":"f6c2dd0a-16eb-49a2-b056-33038bd700ae","name":"phone","value":"={{ $('Sanitiza').item.json.phone }}","type":"string"},{"id":"2be1f806-14ce-4653-b411-7ab030b8b833","name":"bio","value":"={{ $('Sanitiza').item.json.biography }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,944],"id":"8114b2e0-6015-4e89-a990-f84fb204fe0f","name":"SET_VARIAVEIS"},{"parameters":{"content":"## Altere aqui","height":320,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,848],"id":"bceeef55-3880-47ec-9cd7-3270bfa423b9","name":"Sticky Note"},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.api_key_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numbers\": [\"{{ $('SETA_12_13').first().json.remote_jid_12.trim() }}\"]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,960],"id":"c0fdd8ef-0532-4455-9463-83b074202301","name":"Check JID 12","retryOnFail":false,"notesInFlow":false,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"450647fe-1043-4287-b076-9dfc2cc9bfa1","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,848],"id":"efc6ae14-ea0a-4d0f-869b-e2d30d16d89b","name":"If"},{"parameters":{"method":"POST","url":"={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('DADOS').item.json.api_key_evolution }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numbers\": [\"{{ $('SETA_12_13').item.json.remote_jid_13.trim() }}\"]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,1040],"id":"24c4e257-f8c0-4952-8b05-b57e57294ebc","name":"Check JID 13","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1c51dfd-836d-4c7a-9493-0d2b8a82ebae","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2864,1168],"id":"1f2d5640-76b1-41c1-83cc-d9d0856a3e51","name":"If1"},{"parameters":{"documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.jid }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3184,720],"id":"8e740589-4c04-45a4-9857-9dcde6510d7f","name":"Get row(s) in sheet","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2fb6f37-d905-47eb-8b22-a3cdb2f1d9cb","leftValue":"={{ Object.keys($json).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3184,960],"id":"5866e4de-0ee7-4505-9471-a3e5585330c6","name":"If2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"usuário":"={{ $('Loop Over Items').first().json.usuario }}","nome":"={{ $('Loop Over Items').first().json.nome }}","telefone":"={{ $('If').first().json.jid }}","bio":"={{ $('Loop Over Items').first().json.bio }}","email":"={{ $('Loop Over Items').first().json.email }}"},"matchingColumns":[],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow1_email","displayName":"follow1_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow2_email","displayName":"follow2_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow3_email","displayName":"follow3_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3712,848],"id":"edf47f82-9ebd-41ce-b19b-1790e44f64bc","name":"Append row in sheet"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3824,1184],"id":"9c071d31-83ef-4553-87b9-7548859db881","name":"Wait","webhookId":"988c5c43-4259-482a-a995-c45736ecabff"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3184,1184],"id":"26b88abb-5ce6-4ac6-af0c-799ae5e048fb","name":"No Operation, do nothing"},{"parameters":{"content":"## Altere aqui","height":240,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3104,672],"id":"07766e01-07cc-4279-842d-2b417bfb6e27","name":"Sticky Note1"},{"parameters":{"content":"","height":760,"width":4000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,624],"id":"ffbb04c9-63eb-49b0-9777-3f2601361316","name":"Sticky Note3"},{"parameters":{"content":"# Validação\n","height":80,"width":4000,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,544],"typeVersion":1,"id":"414ea66c-15ab-4240-918b-5f8b7dcd56dc","name":"Sticky Note10"},{"parameters":{"content":"## Altere aqui","height":240,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3632,784],"id":"79158776-d251-40f6-b39d-8178ae97bafb","name":"Sticky Note2"},{"parameters":{"content":"","height":760,"width":4000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1472],"id":"7fa653a4-ff1d-471b-bda4-a25a68ae9831","name":"Sticky Note4"},{"parameters":{"content":"# Disparos WhatsApp\n","height":80,"width":4000,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,1392],"typeVersion":1,"id":"4a5a544c-3b86-40bd-bfb2-3314c4cfe558","name":"Sticky Note11"},{"parameters":{"content":"# Disparos E-mail\n","height":80,"width":4000,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,2224],"typeVersion":1,"id":"0316c1ed-449e-4d26-8acf-db6c70b1f33f","name":"Sticky Note12"},{"parameters":{"content":"","height":760,"width":4000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2304],"id":"8d596315-de0b-457f-8c3a-d353b610adae","name":"Sticky Note5"},{"parameters":{"content":"# Follow Up WhatsApp\n","height":80,"width":4000,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,3072],"typeVersion":1,"id":"dc4ae9a5-746c-4b73-a272-871e983504be","name":"Sticky Note13"},{"parameters":{"content":"","height":760,"width":4000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,3152],"id":"640e8778-b242-412b-afac-6086c534d7d0","name":"Sticky Note6"},{"parameters":{"content":"# Agente de Atendimento","height":80,"width":4000,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,3904],"typeVersion":1,"id":"e4dea1f2-1142-4ff8-b8c0-feb22270f374","name":"Sticky Note15"},{"parameters":{"content":"","height":780,"width":4000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,3984],"id":"a71f6ee5-d1e3-4511-80f7-4c8e13c2e416","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[48,1744],"id":"143b71c4-ecc2-4878-89a6-7c5ae78a0e31","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 30;\nconst max = 60;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1744],"id":"304d45fa-bf4d-4be7-b126-b8831baabd39","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit#gid=0"},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[528,1744],"id":"181d2665-e2be-4715-9b36-b1a524710174","name":"Get row(s) in sheet1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3149b73c-719c-410c-abf0-c1dd3320f0de","leftValue":"={{ $json.whatsapp_disp }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,1744],"id":"a0e4dc15-efbb-4184-88b9-efff7f713f23","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1024,2032],"id":"d3ab50bf-d76c-468b-8108-785829a62048","name":"No Operation, do nothing1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1024,1568],"id":"550c0147-674e-4ba1-a02b-452871e68ab2","name":"Loop Over Items1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Loop Over Items1').item.json.telefone }}","whatsapp_disp":"sim","data_msg_wpp":"={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss\") }}"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_email","displayName":"follow1_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_email","displayName":"follow2_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_email","displayName":"follow3_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"respondeu_wpp","displayName":"respondeu_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_msg_wpp","displayName":"data_msg_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3648,1584],"id":"795167e3-8658-4c88-8ff1-82554c60997c","name":"Append or update row in sheet"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"messages":{"values":[{"content":"=<quem_voce_e>\nVocê é um copywriter sênior especializado em marketing conversacional e vendas consultivas, com 10+ anos de experiência em comunicação persuasiva. Sua personalidade combina expertise técnica com abordagem humanizada - você é estratégico como um consultor de negócios, empático como um psicólogo e persuasivo como um vendedor top performer. Você entende profundamente como despertar curiosidade genuína e construir conexões através de mensagens personalizadas.\n</quem_voce_e>\n<seu_objetivo>\nCriar sequências de mensagens WhatsApp altamente personalizadas que:\n\nEstabeleçam conexão imediata com prospects qualificados\nDespertem curiosidade sobre soluções de automação e IA\nGerem alta taxa de resposta através de personalização estratégica\nPosicionem automação como evolução natural do negócio\nIniciem conversas consultivas, não vendas agressivas\n</seu_objetivo>\n\n<instrucoes>\nProcesso de Criação\n\nAnálise dos dados fornecidos: Identifique elementos únicos sobre a empresa-alvo\nAdaptação ao segmento: Ajuste linguagem e abordagem conforme o nicho\nAplicação da fórmula PAS:\n\nProblem: Identifique desafio relevante do setor\nAgitation: Conecte com consequências reais\nSolution: Apresente automação como solução natural\n\n\n\nEstrutura Obrigatória (3 Mensagens)\nMensagem 1 - Conexão + Credibilidade (40-70 tokens)\n\nCumprimento personalizado com nome da empresa\nMenção específica a elemento único do negócio\nReconhecimento de reputação ou oportunidade sutil\n\nMensagem 2 - Problema + Contexto (40-70 tokens)\n\nApresentar desafio setorial de forma empática\nConectar com possível perda de oportunidades\nIntroduzir automação como solução moderna\n\nMensagem 3 - Benefício + Engajamento (40-70 tokens)\n\nDestacar benefício principal da automação\nPergunta aberta consultiva\nTom de parceria, não de venda\n\nDiretrizes de Copywriting\n\nTom: Consultivo, profissional, genuinamente interessado\nLinguagem: Clara, direta, sem jargões técnicos\nPersonalização: Demonstre conhecimento real sobre a empresa ou pessoa\nEmojis: 2-3 estrategicamente posicionados (nunca iniciando frases)\nAbordagem: Focada em valor agregado, não em venda\n\n\nAdaptações por Segmento\n\nComércio/Varejo: Foco em conversão e experiência do cliente\nServiços Profissionais: Ênfase em qualificação de leads\nRestaurantes/Food: Destaque atendimento e pedidos automatizados\nSaúde/Bem-estar: Agendamentos e comunicação humanizada\n\n</instrucoes>\n<restricoes>\nLimitações Técnicas\n\nMáximo 200 tokens para toda a sequência\nFormato JSON obrigatório conforme estrutura especificada\n3 mensagens exatas, nem mais nem menos\nCada mensagem independente mas conectada logicamente\n\nProibições de Conteúdo\n\n❌ Táticas de pressão ou urgência artificial\n❌ Promessas irrealistas ou exageradas\n❌ Linguagem robótica ou templates genéricos\n❌ Múltiplas perguntas na mesma mensagem\n❌ Jargões técnicos desnecessários\n❌ Abordagem de vendas agressivas\n❌ Emojis no início de frases ou em excesso\n\nLimitações de Comportamento\n\nNão invente dados sobre a empresa\nNão use informações não fornecidas nos dados de entrada\nNão prometa resultados específicos sem conhecer o negócio\nNão utilize linguagem que possa parecer spam\n\n</restricoes>\n<importante>\nDados de Entrada Obrigatórios\nVocê DEVE receber no campo 'user':\n\nNome da pessoa ou empresa\nBio do perfil da pessoa ou empresa\n\nFormato de Resposta Obrigatório\njson[\n  {\n    \"part\": 1,\n    \"message\": \"Primeira mensagem: 40-70 tokens\"\n  },\n  {\n    \"part\": 2,\n    \"message\": \"Segunda mensagem: 40-70 tokens\"  \n  },\n  {\n    \"part\": 3,\n    \"message\": \"Terceira mensagem: 40-70 tokens\"\n  }\n]\nCritérios de Qualidade (Prioridade Máxima)\n✅ Deve soar como consultor experiente, não vendedor\n✅ Demonstrar conhecimento real sobre a empresa\n✅ Despertar curiosidade sem ser invasivo\n✅ Linguagem natural e conversacional\n✅ Pergunta final que incentive resposta\nSinais de Falha\nSe a mensagem parecer:\n\nAutomatizada ou genérica\nAgressiva ou insistente\nTécnica demais ou confusa\nDesconectada da realidade da empresa\nComo spam ou template\n\nREPROCESSE imediatamente aplicando as diretrizes.\nMeta de Performance\nObjetivo: Taxa de resposta superior a 40% através de personalização genuína e abordagem consultiva.\n</importante>","role":"system"},{"content":"=Nome da empresa: {{ $json.nome }}\nBio: {{ $json.bio }}"}]},"jsonOutput":true,"options":{}},"id":"95f93c2c-aaa5-49eb-919c-cadfe64b7439","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1664,1712]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2512,1712],"id":"53714742-532c-4a20-9d11-530a0285e7a6","name":"Loop Over Items2"},{"parameters":{"resource":"messages-api","instanceName":"testerick","remoteJid":"={{ $('Loop Over Items1').item.json.telefone }}","messageText":"={{ $json.texto }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2784,1888],"id":"21d6238a-207f-4f4c-b07a-caf4a4780115","name":"Enviar texto"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3152,1952],"id":"94fbb66f-f2b9-4ca0-a91a-0ed32aab6111","name":"Wait1","webhookId":"a55368ed-3007-46ad-8562-ea904e852100"},{"parameters":{"jsCode":"const item = $input.first().json;\n\n// Primeiro tenta o caminho padrão\nlet mensagens = item.message?.content?.json;\n\n// Se não achar, tenta outro possível caminho\nif (!mensagens && item.message?.content?.messages) {\n  mensagens = item.message.content.messages;\n}\n\n// Se ainda assim não achar, dispara erro manual\nif (!mensagens) {\n  throw new Error(\"Nenhum array de mensagens encontrado.\");\n}\n\n// Mapeia as mensagens\nreturn mensagens.map(m => ({\n  json: {\n    texto: m.message\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,1712],"id":"e6a9a9a0-2f01-469a-b1f7-eba6534434f2","name":"Code1"},{"parameters":{"content":"## Altere aqui","height":320,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1648,1600],"id":"eef28421-9714-4911-a78c-114ca1f814c7","name":"Sticky Note9"},{"parameters":{"content":"## Altere aqui","height":320,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3552,1488],"id":"a266e4df-ffd1-4b75-bc27-9d6ebdea9bc7","name":"Sticky Note16"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[48,2608],"id":"32235cfa-cb9a-46fc-bcd6-cae16b41acfe","name":"Schedule Trigger1","disabled":true},{"parameters":{"jsCode":"// Executa o código de geração do número aleatório\nconst min = 30;\nconst max = 60;\nconst randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Retorna o valor em um array de objetos com a propriedade \"json\"\nreturn [\n  {\n    json: {\n      randomNumber: randomNumber,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2608],"id":"65470e04-77a1-4955-ab75-50c51d250efe","name":"Code2"},{"parameters":{"documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit#gid=0"},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,2400],"id":"5c772ca8-c211-44fa-8cf9-54639c44c27f","name":"Get row(s) in sheet2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3149b73c-719c-410c-abf0-c1dd3320f0de","leftValue":"={{ $json.email_disp }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,2640],"id":"ff756bf2-97d1-4009-a8e4-1d2cde11d718","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,2848],"id":"dd13682b-93cc-40a9-9661-cac16d019575","name":"No Operation, do nothing2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1552,2624],"id":"6229d0f1-d7e3-4654-a7f1-6220df9744e4","name":"Loop Over Items3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"messages":{"values":[{"content":"=<quem_voce_e>\nVocê é um copywriter sênior com 10+ anos de experiência em escrita persuasiva, especializado em e-mails de vendas consultivas e marketing conversacional. Sua comunicação equilibra estratégia e empatia, despertando interesse genuíno e construindo autoridade de forma natural. Você entende profundamente o comportamento de decisão B2B e sabe como transformar problemas em oportunidades, com mensagens personalizadas que geram conversas qualificadas.\n</quem_voce_e>\n\n<seu_objetivo>\nEscrever e-mails personalizados e persuasivos com foco em:\n\n• Estabelecer conexão com o lead de forma inteligente e respeitosa  \n• Apresentar um problema relevante ao segmento do destinatário  \n• Posicionar automação e IA como solução moderna e viável  \n• Gerar curiosidade e convite para conversa (sem pressão)  \n• Estimular resposta com pergunta única, consultiva e bem colocada\n</seu_objetivo>\n\n<estrutura>\nEstrutura obrigatória do e-mail:\n\n1. Saudação personalizada com nome da pessoa ou empresa  \n2. Parágrafo de conexão e credibilidade (menção real a algo da bio)  \n3. Apresentação breve de um desafio do segmento (Problem + Agitation)  \n4. Apresentação sutil da automação como solução (Solution)  \n5. Encerramento com benefício claro e convite consultivo à conversa  \n\nO e-mail deve ser **curto, direto, consultivo e parecer escrito por um humano especialista real**.\n</estrutura>\n\n<instrucoes_de_copy>\n• Tom: Consultivo, maduro, empático  \n• Linguagem: Clara, profissional, sem termos técnicos desnecessários  \n• Emojis: Permitidos com moderação (até 2), nunca no início de frases  \n• Assinatura: Opcional (deixe para ferramenta de envio)  \n• Nunca use frases como “tem interesse?”, “oferta imperdível” ou “últimas vagas”  \n• Sempre termine com uma pergunta aberta, focada no negócio da pessoa\n</instrucoes_de_copy>\n\n<restricoes>\n❌ Proibido dividir em mensagens  \n❌ Proibido enviar no formato JSON  \n❌ Proibido usar linguagem de script genérico ou tom comercial agressivo  \n❌ Proibido inventar informações não presentes na bio ou nos dados recebidos  \n❌ Proibido usar múltiplas perguntas no final  \n✅ Você DEVE utilizar os dados reais recebidos no campo 'user' (nome e bio)\n</restricoes>\n\n<importante>\n<output_format>\nO conteúdo do e-mail gerado deve ser SEMPRE retornado no campo JSON chamado `email_body`, e somente nele.\n</output_format>\nFormato de Resposta Obrigatório:\nApenas o texto do e-mail, direto, sem quebra em partes ou metadata. Pronto para ser colado numa ferramenta de disparo.\n\nCritérios de Qualidade:\n✅ Soar como um consultor experiente que pesquisou o destinatário  \n✅ Linguagem natural, com empatia e curiosidade genuína  \n✅ Mostrar domínio do contexto e da dor do segmento  \n✅ Convidar à conversa, não à compra\n</importante>\n\n<output_format>\nO conteúdo do e-mail gerado deve ser SEMPRE retornado no campo JSON chamado `email_body`, e somente nele.\n</output_format>\n","role":"system"},{"content":"=Nome da empresa: {{ $json.nome }}\nBio: {{ $json.bio }}"}]},"jsonOutput":true,"options":{}},"id":"14b6ca5d-2a80-47e5-8044-e20bf6d7d031","name":"Message a model1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2208,2624]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1552,2912],"id":"4d2793f0-f32f-41ff-9da4-f8b89796075b","name":"No Operation, do nothing3"},{"parameters":{"resource":"mail","fromEmail":"andrew.xbdss@gmail.com","fromName":"Automações Rick","toEmail":"={{ $('Loop Over Items3').item.json.email }}","subject":"Não perca essa oportunidade","contentValue":"={{ $json.email_final }}","additionalFields":{}},"type":"n8n-nodes-base.sendGrid","typeVersion":1,"position":[2784,2624],"id":"8732b4f7-0e4f-4f16-b818-75d09f00eabd","name":"Send an email","onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Loop Over Items3').first().json.email }}","email_disp":"sim"},"matchingColumns":["email"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"follow1_email","displayName":"follow1_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_email","displayName":"follow2_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_email","displayName":"follow3_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3024,2368],"id":"9262efe5-c63f-40cb-b006-4b58c77153d0","name":"Append or update row in sheet1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e16cfae8-45b1-44b2-a077-5741acec7626","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,2640],"id":"a2d75ad0-f46e-4f03-a594-2fa987d328d2","name":"If5"},{"parameters":{"content":"## Altere aqui","height":320,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2192,2528],"id":"d624d012-ff9b-4cd4-a502-fa1bf4c7297a","name":"Sticky Note17"},{"parameters":{"content":"## Altere aqui","height":240,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2720,2544],"id":"89676cf4-7d7a-4a09-bd03-e897bcbf023e","name":"Sticky Note18"},{"parameters":{"content":"## Altere aqui","height":240,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,2320],"id":"6e08f733-5529-4f1b-ada4-c82b382fb7cc","name":"Sticky Note19"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[48,3440],"id":"83ca7b11-efa0-4ee8-84b2-eff171bf768b","name":"Schedule Trigger2","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit#gid=0"},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[512,3440],"id":"665ac412-ea37-4e23-abb2-cdf5226cbbb2","name":"Get row(s) in sheet3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3096a74-1b12-48e2-bf05-d44c0abe6833","leftValue":"={{ $json.respondeu_wpp }}","rightValue":"[empty]","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"2e8f9b36-0a3f-41f8-9cea-5dabd4012921","leftValue":"={{ $json.whatsapp_disp }}","rightValue":"sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,3440],"id":"60d1d2f3-42cd-4d3f-bc2c-dea5c66f4b43","name":"If6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1152,3424],"id":"9ce1513e-9e00-4572-815c-fed6304ebb97","name":"Loop Over Items4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.follow1_whatsapp }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"14c0ee2f-47ea-4708-bd8e-f67f1f75e428"}],"combinator":"and"},"renameOutput":true,"outputKey":"Follow UP 01"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4f10ebd-e71c-499f-875f-e2de70551e1f","leftValue":"={{ $json.follow2_whatsapp }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Follow UP 02"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1ae5d57-6e69-4113-bef3-e59257a6fd64","leftValue":"={{ $json.follow3_whatsapp }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Follow UP 03"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1888,3440],"id":"07aa1313-c2bc-415f-b840-0967345a84b2","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e9cbe19-8b9c-4072-af4e-c78d86bd73ce","leftValue":"={{ DateTime.fromFormat($json.data_msg_wpp, \"dd/MM/yyyy HH:mm:ss\", { zone: \"America/Sao_Paulo\" }).toFormat(\"dd/MM/yyyy\") }}","rightValue":"={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,3440],"id":"6fe3ceaf-9a7d-49b4-b073-6538756deb78","name":"Verifica_Data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,3712],"id":"4cef5eba-26dd-4c6d-a7e6-742d9483b88f","name":"No Operation, do nothing4"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Set_Dados').item.json.instancia_evolution }}","remoteJid":"={{ $json.telefone }}","messageText":"Teste Follow 1","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2288,3168],"id":"88fbae82-b877-4822-89fe-61c64ea5e186","name":"FollowUp1"},{"parameters":{"assignments":{"assignments":[{"id":"1ec1bf3d-2099-4964-beb0-30a3901e5cfd","name":"instancia_evolution","value":"NOME DA INSTANCIA AQUI","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,3440],"id":"ad5ac7ac-d164-4369-856c-09e3c2e39383","name":"Set_Dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"follow1_whatsapp":"sim","telefone":"={{ $json.data.key.remoteJid }}","data_msg_wpp":"={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss\") }}"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"respondeu_wpp","displayName":"respondeu_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_msg_wpp","displayName":"data_msg_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2992,3168],"id":"ae9344c7-0fcc-4730-ad63-f12786b6d995","name":"Append or update row in sheet3"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Set_Dados').item.json.instancia_evolution }}","remoteJid":"={{ $json.telefone }}","messageText":"Teste Follow 2","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2288,3440],"id":"e8092371-154b-40ae-900e-0608f0ab3bcb","name":"FollowUp"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.data.key.remoteJid }}","data_msg_wpp":"={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","follow2_whatsapp":"sim"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"respondeu_wpp","displayName":"respondeu_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_msg_wpp","displayName":"data_msg_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2992,3440],"id":"8f4ff187-bdc4-4659-96ee-d54fd219762b","name":"Append or update row in sheet4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.data.key.remoteJid }}","data_msg_wpp":"={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","follow3_whatsapp":"sim"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"respondeu_wpp","displayName":"respondeu_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_msg_wpp","displayName":"data_msg_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2992,3712],"id":"0974defa-13d3-4599-88a1-197d1eb70d18","name":"Append or update row in sheet5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3568,3168],"id":"e486480a-d2bf-472d-a720-62c7facd5fb2","name":"Wait2","webhookId":"b904874d-1f3f-475f-8e90-86cdf7b9c48f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3568,3440],"id":"be01b801-a7b2-4a05-b734-a0625cbc017f","name":"Wait3","webhookId":"547ee655-d6ef-48bc-8182-40b9bf5d454f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3568,3712],"id":"8b878c66-5644-48e1-b1f3-608e86be4a8b","name":"Wait4","webhookId":"713ead53-3128-4f2c-abe3-bd4d89cdf03b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e89cad2e-443a-431e-a145-24f8e396621b","leftValue":"={{ $('SET_VARIAVEIS1').item.json.message.origem }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,4320],"id":"f0221cb0-1849-4730-8b6b-db3a59413902","name":"INCOMING"},{"parameters":{"operation":"set","key":"=atendimento.{{ $('INCOMING').item.json.user.number }}","value":"true","expire":true,"ttl":"={{ $('INCOMING').item.json.message.atendimento }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1760,4544],"id":"12ceba7e-e99e-45fd-885d-2744f0ffa058","name":"SET_ATENDIMENTO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2064,4448],"id":"6f0b538f-5165-4277-b00d-d12d8d4fd072","name":"Esperar"},{"parameters":{"operation":"get","propertyName":"atendimento","key":"=atendimento.{{ $('SET_VARIAVEIS1').item.json.user.number }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,4144],"id":"a8e5c7ea-06df-4ad1-b1b6-72f68bf79d14","name":"GET_ATENDIMENTO"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1504,4048],"id":"aa3c6d64-bc5e-48b9-b48f-8a35ce47646c","name":"OpenAI"},{"parameters":{"operation":"push","list":"=temp.{{ $('SET_VARIAVEIS1').item.json.user.number }}","messageData":"={{ JSON.stringify($('INCOMING').item.json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2272,4128],"id":"5d3bbbb1-96ca-4289-bb88-04da1d5b0677","name":"PUSH"},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('INCOMING').item.json.user.number }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2448,4128],"id":"adeae391-d1cc-49c3-8005-7c456e9322ce","name":"Redis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.messages?.first() ||'{}').id }}","rightValue":"={{ $('SET_VARIAVEIS1').item.json.message.id }}","operator":{"type":"string","operation":"notEquals"},"id":"395f1512-7e4d-45b6-8db4-c4c3f21597a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"NADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f98f2585-b783-4f8e-8aa2-278951c8b45b","leftValue":"={{ DateTime.fromISO(JSON.parse($json.messages?.last() ||'{}').timestamp) }}","rightValue":"={{ $now.minus({ seconds: 8 }) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEGUE"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"ESPERA"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2608,4128],"id":"3ee6d5fe-66c0-4b7c-8f62-46176b5a582e","name":"SWITCH_BUFFER"},{"parameters":{"operation":"delete","key":"=temp.{{ $('SET_VARIAVEIS1').item.json.user.number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2848,4128],"id":"3563d5e0-2638-4a9a-9b50-11d9ed70bcf3","name":"DELETE"},{"parameters":{"assignments":{"assignments":[{"id":"7b13c9fe-ab1c-4979-89ff-c534a0b46eb3","name":"message","value":"={{ $json.messages.map(value => JSON.parse(value).content).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,4128],"id":"004f06f6-5a2b-4546-a58e-c8fa8e714a8e","name":"CONCATENA"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('SET_VARIAVEIS1').item.json.user.number }}","messageText":"={{ $json.chunk }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3840,4144],"id":"26e3cf6a-6239-4a49-94fa-8e97ae1b57ea","name":"Evolution API"},{"parameters":{"promptType":"define","text":"=User name: {{ $('SET_VARIAVEIS1').first().json.user.name }}\nUser message: {{ $('CONCATENA').first().json.message }}\n","options":{"systemMessage":"=<agente>\n\n  <missao>\n    Qualificar leads interessados em automação e IA através de:\n    1. Coletar dados de qualificação: interesse, e-mail e dúvidas.\n    2. Salvar os dados imediatamente após coleta usando salva_contato.\n    3. Direcionar o usuário para o atendimento mais adequado.\n    4. Representar a SoftwarePlay Soluções Digitais com profissionalismo e entusiasmo.\n\n    Observação: O nome do usuário já foi capturado previamente. Não é necessário solicitá-lo novamente.\n\n    Após apresentar os serviços e responder às dúvidas, **informe que, se o usuário preferir, pode ser atendido por um especialista humano.**\n\n    Objetivo final: transformar visitantes em leads qualificados e direcioná-los para o melhor atendimento.\n  </missao>\n\n  <s>\n    Você é Bia, consultora virtual da Evolua. Atua via WhatsApp de forma consultiva, leve e objetiva. Especialista em automações com n8n, APIs, WhatsApp e integrações para negócios, Criação de Websites, Gestão de Marketing e Tráfego pago.\n  </s>\n\n  <identidade>\n    <nome>Bia</nome>\n    <empresa>Evolua IA</empresa>\n    <missao>Ajudar empresas a economizar tempo, automatizar processos e aumentar vendas com soluções digitais personalizadas.</missao>\n    <servicos>\n      Criação de automações com n8n, integrações de APIs, automações de WhatsApp, funis automatizados, geração de leads, notificações, dashboards e sistemas sob demanda, Criação de Websites, Gestão de Marketing.\n    </servicos>\n  </identidade>\n\n  <personalidade>\n    <tom>Consultivo, técnico, acolhedor e entusiasmado com tecnologia.</tom>\n    <comportamento>Faz perguntas estratégicas, explora dores, apresenta soluções claras e direcionadas.</comportamento>\n    <linguagem>Profissional e acessível. Frases curtas, linguagem objetiva, sem jargões técnicos desnecessários.</linguagem>\n  </personalidade>\n\n  <formatacao>\n    É PROIBIDO usar formatação Markdown. Use apenas texto simples. Não utilize negrito, itálico ou marcadores.\n  </formatacao>\n\n  <ferramentas>\n\n    <transferir_para_humano>\n      <descricao>Aciona o time humano quando o usuário pede ajuda ou demonstra frustração.</descricao>\n      <uso>transferir_para_humano(\"Nome\", \"Telefone\", \"Nível de interesse\", \"Dúvida ou necessidade principal\")</uso>\n    </transferir_para_humano>\n  </ferramentas>\n\n  <qualificacao>\n    <processo>FAÇA APENAS UMA PERGUNTA POR VEZ. Aguarde a resposta antes de seguir. Siga esta ordem:</processo>\n\n    <pergunta1>\n      <campo>interesse_user</campo>\n      <pergunta>Você tem interesse em aprender automação e IA, para automatizar processos da sua empresa?</pergunta>\n    </pergunta1>\n\n\n    <pergunta2>\n      <campo>duvida_user</campo>\n      <pergunta>Tem alguma dúvida específica sobre o a demanda que você busca, ou gostaria de falar com um atendimento humanizado?</pergunta>\n    </pergunta2>\n\n  \n  </qualificacao>\n\n  <comunicacao>\n    <formatacao>\n      <whatsapp>Use duas quebras de linha entre frases. Não use emojis. Não ultrapasse 100 caracteres por mensagem.</whatsapp>\n    </formatacao>\n  </comunicacao>\n\n  <informacoes_da_empresa>\n    <sobre_a_empresa>A Evolua é uma empresa de tecnologia especializada em automações e soluções digitais personalizadas.</sobre_a_empresa>\n    <sobre_o_produto>Automação de processos, e integração de sistemas, Criação de Websites e Gestão de Marketing.</sobre_o_produto>\n    <preco>Os preços variam conforme o escopo da demanda.</preco>\n  </informacoes_da_empresa>\n\n  <regras_cruciais>\n    <regra>Não é necessário perguntar o nome do usuário, pois ele já foi informado previamente.</regra>\n    <regra>Use transferir_para_humano sempre que houver frustração ou solicitação explícita.</regra>\n    <regra>Conduza o lead até identificar uma dor ou oportunidade de automação.</regra>\n    <regra>Após explicar os serviços, sempre pergunte se o usuário deseja conversar com um atendente humano e ofereça essa opção de forma clara.</regra>\n    <regra>Não ofereça soluções genéricas sem entender o contexto do cliente.</regra>\n    <regra>Mantenha um tom consultivo, claro, direto e com entusiasmo.</regra>\n  </regras_cruciais>\n\n</agente>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3200,4128],"id":"d2224823-f7d4-4ef4-bb65-e51caa9729fc","name":"Recepcionista"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3024,4608],"id":"a3b961d2-3514-4750-9c51-3dd5b6779b98","name":"OpenAI Chat Model"},{"parameters":{"description":"use essa tool para transferir para um atendimento humanizado","workflowId":{"__rl":true,"value":"CwkkV7UNakeXzefd","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number.user":"={{ $('SET_VARIAVEIS1').first().json.user.number }}","name.user":"={{ $('SET_VARIAVEIS1').first().json.user.name }}","id_grupo":"120363418488507572@g.us"},"matchingColumns":[],"schema":[{"id":"number.user","displayName":"number.user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"name.user","displayName":"name.user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_grupo","displayName":"id_grupo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3552,4608],"id":"14d24c3c-1f5f-4c9b-b4f4-5227f1a164d3","name":"transferir_para_humano"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook1').first().json.body.instance }}","messageId":"={{ $('Webhook1').first().json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,4048],"id":"a22f61a9-78d8-4220-b645-f8a0fee5a188","name":"Obter m dia em base64"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.ogg","mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1360,4048],"id":"74800696-40d9-442c-8515-9e0ffd2d482c","name":"Convert to File1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=teste01","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[3312,4608],"id":"b59de66b-40f4-4153-a731-94b551fbaab0","name":"Redis Chat Memory"},{"parameters":{"httpMethod":"POST","path":"85c86aff-9e7a-4bed-9d1e-fd5ef0ed5d4d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,4304],"id":"fe2ef0e2-cf55-4b6a-b00e-08fa518e9cee","name":"Webhook1","webhookId":"85c86aff-9e7a-4bed-9d1e-fd5ef0ed5d4d"},{"parameters":{"assignments":{"assignments":[{"id":"ec1d7baf-260d-4d3d-b186-fbbd620b3a3e","name":"user.name","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"89f99376-f128-487d-89ee-e5cebc009d1f","name":"user.number","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"4460c05a-e309-4434-8c7b-e4a5bdf148f1","name":"message.sender","value":"={{ $('Webhook1').item.json.body.sender.split('@')[0] }}","type":"string"},{"id":"cd35fa3f-556f-4d10-b95f-336fea38d0e7","name":"message.timestamp","value":"={{ new Date($('Webhook1').item.json.body.data.messageTimestamp * 1000).toISOString() }}","type":"string"},{"id":"56dcc82a-b98e-4f29-aea0-6ba70f59af35","name":"message.origem","value":"={{ $('Webhook1').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming'}}","type":"string"},{"id":"4aa58c58-9a63-488e-8077-79169d73ee9e","name":"message.id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"b71f6613-fb10-4b58-af2f-6494c4453c30","name":"message.type","value":"={{ $('Webhook1').item.json.body.data.messageType }}","type":"string"},{"id":"b52773e4-75a0-4acc-a603-f50c43276278","name":"message.content","value":"={{ $('Webhook1').item.json.body.data.message.conversation || $('OpenAI').item.json.text }}","type":"string"},{"id":"392aa270-b8e0-435b-ab91-e99b7c2f8f07","name":"api.baseurl","value":"={{ $('Webhook1').item.json.body.server_url }}","type":"string"},{"id":"5051c6d2-e549-45c4-8574-38d5294bd555","name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}","type":"string"},{"id":"b8c62d80-fd28-4949-b8ec-21fdd0811c1c","name":"message.timeout","value":"10","type":"string"},{"id":"f9a971cf-54cc-4aa4-ada6-970de7259252","name":"message.atendimento","value":"720","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,4320],"id":"807717e0-7e45-4443-8001-ebc35fefd80c","name":"SET_VARIAVEIS1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb7d712e-850a-4f58-b541-08085ad25a37","leftValue":"={{ $json.atendimento }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,4144],"id":"05d6a289-78ad-4550-bfd0-63a2e411c537","name":"If7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"6d328031-47ef-42cd-8ea5-6f8df2ad9260"}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19731b0f-6b69-4cdd-a95c-5ab06d9c9a91","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1008,4304],"id":"11ee1605-54e4-4936-8d71-a9ff1dd4f2bb","name":"Switch1"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2592,4432],"id":"4fce0c00-3379-4c2d-8865-8d5bf05bf617","name":"Wait5","webhookId":"3e5adfe8-050e-40d7-ae9c-7bf4a611f498"},{"parameters":{"jsCode":"// Função do n8n: recebe items com json.output\nconst maxLen = 220;\nconst text = items[0].json.output;  // ou ajuste conforme seu input\nconst parts = [];\nlet remaining = text;\n\nwhile (remaining.length > 0) {\n  // pega até o limite\n  const chunk = remaining.slice(0, maxLen);\n  let splitPos = -1;\n\n  // tenta dividir em dupla quebra de linha\n  const dnPos = chunk.lastIndexOf('\\n\\n');\n  if (dnPos !== -1) {\n    splitPos = dnPos + 2; // inclui as quebras\n  } else {\n    // procura o último sinal de pontuação permitido\n    const puncts = ['.', '!', '?', ':'];\n    let lastP = -1;\n    for (const p of puncts) {\n      const pos = chunk.lastIndexOf(p);\n      if (pos > lastP) lastP = pos;\n    }\n    if (lastP !== -1) {\n      splitPos = lastP + 1; // inclui o sinal\n    }\n  }\n\n  // se não encontrou posição \"natural\", corta no maxLen\n  if (splitPos === -1) {\n    splitPos = maxLen;\n  }\n\n  // adiciona o pedaço e remove da string restante\n  parts.push(remaining.slice(0, splitPos).trim());\n  remaining = remaining.slice(splitPos);\n}\n\n// retorna cada parte como um novo item\nreturn parts.map(p => ({ json: { chunk: p } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,4128],"id":"5b7758d7-3b22-441e-8c66-bbbe4b071d47","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3664,4128],"id":"f8386114-cbc2-49f5-8418-1735463e7914","name":"Loop Over Items5"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3840,4400],"id":"99b3a3b7-83ff-44cf-b05f-6359135c365e","name":"Wait6","webhookId":"6cdcc2a5-7205-4924-8688-b890482a2ff3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd515efe-f3c9-4c86-b9bf-70a721783f1d","leftValue":"={{ $('Verifica_Time').first().json.numero_whatsapp }}","rightValue":"553192151131@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,4608],"id":"65ed58a8-4d76-4690-8220-3a6fc883eca6","name":"If8"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,752],"id":"45b44af0-0273-4b98-8745-126789d2b367","name":"Wait7","webhookId":"4ab90507-0117-4abd-8b18-b68d39e5ba71"},{"parameters":{"documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $('Verifica_Time').item.json.numero_whatsapp }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[512,4304],"id":"699c1d02-ae67-42a2-a49a-f705ed33c877","name":"Get row(s) in sheet4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36a96c5d-9952-4fcb-88a4-6a60086975f3","leftValue":"={{ \n  Math.abs(\n    DateTime.fromFormat($json.data_msg_wpp, \"dd/MM/yyyy HH:mm:ss\", { zone: \"America/Sao_Paulo\" }).toMillis()\n    -\n    DateTime.fromFormat($('Verifica_Time').item.json.data_formatada, \"dd/MM/yyyy HH:mm:ss\", { zone: \"America/Sao_Paulo\" }).toMillis()\n  ) > 60000\n}}","rightValue":"={{ $('Verifica_Time').item.json.data_formatada }}","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,4304],"id":"f5c904fc-5208-4f52-b5fc-5ab86761bd0c","name":"If9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,4048],"id":"0c7dec81-446d-4978-86a6-6a2f99ea6ebe","name":"No Operation, do nothing5"},{"parameters":{"assignments":{"assignments":[{"id":"c3fbae8e-93a0-45b0-b13b-98d4d004ec67","name":"data_formatada","value":"={{ DateTime.fromMillis($json.body.data.messageTimestamp * 1000).setZone(\"America/Sao_Paulo\").toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","type":"string"},{"id":"3dde367b-c36f-4b63-8187-ed92bba0e754","name":"numero_whatsapp","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,4304],"id":"c4db0cc7-ec65-4158-8974-db24dc2147c4","name":"Verifica_Time"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","respondeu_wpp":"sim"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"respondeu_wpp","displayName":"respondeu_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_msg_wpp","displayName":"data_msg_wpp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,4608],"id":"8d2462f5-b260-4fa7-b57f-d0e477ffdac6","name":"Set_Respondeu"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28","mode":"list","cachedResultName":"Leads Instagram Prospecção","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17oXWc385YsgiSTh9byOKYCLrbEbkJ2gLzQ7DbYDUo28/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TkvBgK610aoCeCvkhsxgFT5PpHpUCMVmhDtO-XWjkOk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email":"=vazio","email_disp":"vazio","telefone":"={{ $json.telefone }}"},"matchingColumns":["telefone"],"schema":[{"id":"usuário","displayName":"usuário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_disp","displayName":"whatsapp_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow1_whatsapp","displayName":"follow1_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_whatsapp","displayName":"follow2_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_whatsapp","displayName":"follow3_whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_disp","displayName":"email_disp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"follow1_email","displayName":"follow1_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow2_email","displayName":"follow2_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow3_email","displayName":"follow3_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1840,2880],"id":"80f31c55-d2d0-4cd8-a2b0-0f40d8226fda","name":"Append or update row in sheet6"},{"parameters":{"content":"## Altere aqui","height":260,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,3360],"id":"75597e2d-7c69-4bfc-be42-c1417b3d54f3","name":"Sticky Note20"},{"parameters":{"content":"## Altere aqui","height":260,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,3360],"id":"7a63be59-b900-4352-8ac1-5d801bfb13c2","name":"Sticky Note21"},{"parameters":{"content":"## Altere aqui","height":240,"width":180,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,4224],"id":"c04fd033-f966-4485-9cfe-e17307685700","name":"Sticky Note22"},{"parameters":{"content":"## Altere aqui","height":260,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,1680],"id":"854151f4-01f0-40da-b9d3-53f12ae60372","name":"Sticky Note7"},{"parameters":{"content":"## Altere aqui","height":260,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,1808],"id":"1eee19e2-10d9-4e76-9a0d-4c43e52cf3cf","name":"Sticky Note14"},{"parameters":{"content":"## Altere aqui","height":260,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,2320],"id":"d188bdbd-6ded-441d-b86f-a66520627dd7","name":"Sticky Note23"},{"parameters":{"content":"## Altere aqui","height":260,"width":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,4512],"id":"c45ad6a2-0fa1-41ef-9961-62a5923c5112","name":"Sticky Note24"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      email_final: $json.message?.content?.email_body || '⚠️ Erro: E-mail não encontrado.'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,2624],"id":"71377450-5698-44db-8117-e324f01d7436","name":"Code4"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Set_Dados').item.json.instancia_evolution }}","remoteJid":"={{ $json.telefone }}","messageText":"Teste Follow 3","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2288,3712],"id":"10ee7505-a524-4ce7-8317-d9636b67ced0","name":"FollowUp3"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2272,3120],"id":"916d7964-bde7-4f9d-9419-cb713a014a18","name":"Sticky Note25"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2272,3360],"id":"555a6cfc-1755-4326-be87-32f791b3ec1f","name":"Sticky Note26"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2272,3648],"id":"94af1a60-b4af-477d-be29-af6749dc7cc8","name":"Sticky Note27"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,3664],"id":"6b05166a-04d2-45da-aadb-083be09ec3d0","name":"Sticky Note28"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,3392],"id":"64b1d01b-6f62-4243-be60-a3c005ca1574","name":"Sticky Note29"},{"parameters":{"content":"## Altere aqui","height":220,"width":150,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2960,3120],"id":"bf9006ad-e201-4166-a718-04ebe70ce8e8","name":"Sticky Note30"}],"connections":{"Webhook":{"main":[[{"node":"Sanitiza","type":"main","index":0}]]},"Sanitiza":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"SET_VARIAVEIS","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"SETA_12_13","type":"main","index":0}]]},"SET_VARIAVEIS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SETA_12_13":{"main":[[{"node":"Check JID 12","type":"main","index":0}]]},"Check JID 12":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait7","type":"main","index":0}],[{"node":"Check JID 13","type":"main","index":0}]]},"Check JID 13":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Send an email":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Message a model1","type":"main","index":0}],[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Set_Dados","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Verifica_Data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"FollowUp1","type":"main","index":0}],[{"node":"FollowUp","type":"main","index":0}],[{"node":"FollowUp3","type":"main","index":0}],[{"node":"Loop Over Items4","type":"main","index":0}]]},"Verifica_Data":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Set_Dados":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"FollowUp1":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"FollowUp":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"INCOMING":{"main":[[{"node":"GET_ATENDIMENTO","type":"main","index":0}],[{"node":"SET_ATENDIMENTO","type":"main","index":0}]]},"GET_ATENDIMENTO":{"main":[[{"node":"If7","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"SET_VARIAVEIS1","type":"main","index":0}]]},"PUSH":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"SWITCH_BUFFER","type":"main","index":0}]]},"SWITCH_BUFFER":{"main":[[],[{"node":"DELETE","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"CONCATENA","type":"main","index":0}]]},"CONCATENA":{"main":[[{"node":"Recepcionista","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Recepcionista":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Recepcionista","type":"ai_languageModel","index":0}]]},"transferir_para_humano":{"ai_tool":[[{"node":"Recepcionista","type":"ai_tool","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Recepcionista","type":"ai_memory","index":0}]]},"Webhook1":{"main":[[{"node":"Verifica_Time","type":"main","index":0}]]},"SET_VARIAVEIS1":{"main":[[{"node":"INCOMING","type":"main","index":0}]]},"If7":{"main":[[{"node":"PUSH","type":"main","index":0}],[{"node":"Esperar","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"SET_VARIAVEIS1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"If8":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Set_Respondeu","type":"main","index":0}]]},"Verifica_Time":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Set_Respondeu":{"main":[[{"node":"If8","type":"main","index":0}]]},"Append or update row in sheet6":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Send an email","type":"main","index":0}]]},"FollowUp3":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f2f6dd6e-f2f3-4b42-b11a-2158068cc06b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-05T14:29:26.978Z","createdAt":"2025-09-05T14:29:26.978Z","role":"workflow:owner","workflowId":"jfQulyqDV3AB8gXQ","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}