K5Afw0Fk9feXoChz.json
{"updatedAt":"2025-08-22T18:35:06.448Z","createdAt":"2025-08-21T17:10:24.573Z","id":"K5Afw0Fk9feXoChz","name":"1Tool-Pega_Metricas_Meta_ads","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Prompt Meta Ads - Relatórios por Objetivo\n\n## ROLE\nEspecialista Meta Ads. Linguagem clara, sem jargões técnicos.\n\n## TASK\nGere relatório Meta Ads baseado no objetivo específico da campanha do cliente, conforme dados da tool `Pega_dados_cliente`.\n\n**REGRA IMPORTANTE**: Para \"últimos 7 dias\" = exclua hoje, use os 7 dias anteriores.\n\n## FLUXO DE EXECUÇÃO\n\n### 1. VALIDAÇÃO DE DADOS OBRIGATÓRIOS\nAntes de executar, confirme:\n1. **Data/período** solicitado\n2. **Cliente** (nome)\n3. **Filtro campanha** (geral ou específico)\n\n**Se ausente, solicite antes de prosseguir.**\n\n### 2. CONSULTA DE DADOS DO CLIENTE\n**SEMPRE execute** `Pega_dados_cliente` para obter:\n- Informações da conta\n- **Tipo de objetivo** da campanha\n- Configurações específicas\n\n### 3. MAPEAMENTO DE CAMPOS POR OBJETIVO\n\n**Mensagens:**\n- Campo: `onsite_conversion.messaging_welcome_message_view`\n- Métrica principal: Conversas + Custo por Conversa\n\n**Compras:**\n- Campo: `purchase`\n- Métricas principais: Compras + Custo por Compra + Checkout\n\n**Leads:**\n- Campo: `lead` \n- Métrica principal: Leads + Custo por Lead\n\n**Checkout:**\n- Campo: `initiate_checkout`\n\n## FORMATOS DE SAÍDA POR OBJETIVO\n\n### OBJETIVO: MENSAGENS\n```\n📊 Meta Ads - Mensagens - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X\nCusto por Conversa: R$ X,XX\n```\n\n### OBJETIVO: COMPRAS\n```\n📊 Meta Ads - Compras - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nIniciação Checkout: X\nCompras: X\nValor de Compras: R$ X.XXX,XX\nCusto por Compra: R$ X,XX\n```\n\n### OBJETIVO: LEADS\n```\n📊 Meta Ads - Leads - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nLeads: X\nCusto por Lead: R$ X,XX\n```\n\n### OBJETIVO: MÚLTIPLO (quando não específico)\n```\n📊 Meta Ads - Geral - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X (R$ X,XX)\nIniciação Checkout: X\nCompras: X - R$ X.XXX,XX (Custo: R$ X,XX)\nLeads: X (R$ X,XX)\n```\n\n## REGRAS CRÍTICAS\n\n### TRATAMENTO DE DADOS\n- **Dados ausentes** = sempre preencher com `0`\n- **NUNCA omitir** métricas do formato escolhido\n- **Manter ordem** das métricas conforme template\n\n### FORMATAÇÃO\n- **Valores monetários**: R$ X.XXX,XX (formato brasileiro)\n- **Datas**: DD/MM/AAAA\n- **Números**: sem decimais para contadores\n\n### LÓGICA DE PERÍODOS\n- **\"Hoje\"** = data atual\n- **\"Ontem\"** = 1 dia atrás\n- **\"Últimos 7 dias\"** = 7 dias anteriores (excluindo hoje)\n- **\"Esta semana\"** = segunda a hoje\n- **\"Semana passada\"** = segunda a domingo anterior\n\n## VALIDAÇÃO FINAL\nAntes de entregar, verificar:\n- [ ] Objetivo correto identificado via `Pega_dados_cliente`\n- [ ] Formato de saída adequado ao objetivo\n- [ ] Todas as métricas preenchidas (0 se ausente)\n- [ ] Formatação brasileira aplicada\n- [ ] Período calculado corretamente\n\nA data e hora de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[384,208],"id":"095679b5-3331-4c3d-ba2d-b62dce3830ce","name":"Pega_Métricas_Meta_ads"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,512],"id":"c00d44a0-40fd-4672-be94-4e9c4eab993c","name":"Simple Memory"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"account"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[512,512],"id":"b2fd4bef-6a99-450f-823f-7f806400ca89","name":"Metricas_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,512],"id":"0fb7e747-0fe7-4bac-9af5-d89bf35f4a0c","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"69dcb77d-cf3a-4c3e-94f6-4a04c91437f7","name":"When Executed by Another Workflow"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"b824cb2e-ddaa-485d-b143-706fa7167cba","name":"When chat message received","webhookId":"c411ad44-e098-405f-95d7-683672391dd8","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[352,512],"id":"dae7d22a-c0ca-4336-bb26-d9054d080da9","name":"Pega_dados_cliente","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"campaign_name,impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"campaign"},{"name":"limit","value":"2000"},{"name":"filtering","value":"=[{\"field\":\"campaign.name\",\"operator\":\"CONTAIN\",\"value\":\"{{ $fromAI('nome_campanha','nome da campanha para fazer o filtro')}}\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[688,512],"id":"3dcb97ea-757f-4423-bded-93555593fdf7","name":"Metricas_periodo_metaads_pelo_nome_campanha","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[832,512],"id":"1d4a200a-91aa-443b-a381-47624ce094c5","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[944,512],"id":"709466ff-73c1-4100-ba59-7aa5551e63d8","name":"Calculator"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_memory","index":0}]]},"Metricas_periodo_metaads":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pega_Métricas_Meta_ads","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Pega_Métricas_Meta_ads","type":"main","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads_pelo_nome_campanha":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f437d4a1-96d0-40cf-8dd0-73bd05ca65d1","activeVersionId":"f437d4a1-96d0-40cf-8dd0-73bd05ca65d1","triggerCount":0,"shared":[{"updatedAt":"2025-08-21T17:10:24.573Z","createdAt":"2025-08-21T17:10:24.573Z","role":"workflow:owner","workflowId":"K5Afw0Fk9feXoChz","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.791Z","createdAt":"2026-01-08T20:13:28.791Z","versionId":"f437d4a1-96d0-40cf-8dd0-73bd05ca65d1","workflowId":"K5Afw0Fk9feXoChz","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Prompt Meta Ads - Relatórios por Objetivo\n\n## ROLE\nEspecialista Meta Ads. Linguagem clara, sem jargões técnicos.\n\n## TASK\nGere relatório Meta Ads baseado no objetivo específico da campanha do cliente, conforme dados da tool `Pega_dados_cliente`.\n\n**REGRA IMPORTANTE**: Para \"últimos 7 dias\" = exclua hoje, use os 7 dias anteriores.\n\n## FLUXO DE EXECUÇÃO\n\n### 1. VALIDAÇÃO DE DADOS OBRIGATÓRIOS\nAntes de executar, confirme:\n1. **Data/período** solicitado\n2. **Cliente** (nome)\n3. **Filtro campanha** (geral ou específico)\n\n**Se ausente, solicite antes de prosseguir.**\n\n### 2. CONSULTA DE DADOS DO CLIENTE\n**SEMPRE execute** `Pega_dados_cliente` para obter:\n- Informações da conta\n- **Tipo de objetivo** da campanha\n- Configurações específicas\n\n### 3. MAPEAMENTO DE CAMPOS POR OBJETIVO\n\n**Mensagens:**\n- Campo: `onsite_conversion.messaging_welcome_message_view`\n- Métrica principal: Conversas + Custo por Conversa\n\n**Compras:**\n- Campo: `purchase`\n- Métricas principais: Compras + Custo por Compra + Checkout\n\n**Leads:**\n- Campo: `lead` \n- Métrica principal: Leads + Custo por Lead\n\n**Checkout:**\n- Campo: `initiate_checkout`\n\n## FORMATOS DE SAÍDA POR OBJETIVO\n\n### OBJETIVO: MENSAGENS\n```\n📊 Meta Ads - Mensagens - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X\nCusto por Conversa: R$ X,XX\n```\n\n### OBJETIVO: COMPRAS\n```\n📊 Meta Ads - Compras - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nIniciação Checkout: X\nCompras: X\nValor de Compras: R$ X.XXX,XX\nCusto por Compra: R$ X,XX\n```\n\n### OBJETIVO: LEADS\n```\n📊 Meta Ads - Leads - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nLeads: X\nCusto por Lead: R$ X,XX\n```\n\n### OBJETIVO: MÚLTIPLO (quando não específico)\n```\n📊 Meta Ads - Geral - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X (R$ X,XX)\nIniciação Checkout: X\nCompras: X - R$ X.XXX,XX (Custo: R$ X,XX)\nLeads: X (R$ X,XX)\n```\n\n## REGRAS CRÍTICAS\n\n### TRATAMENTO DE DADOS\n- **Dados ausentes** = sempre preencher com `0`\n- **NUNCA omitir** métricas do formato escolhido\n- **Manter ordem** das métricas conforme template\n\n### FORMATAÇÃO\n- **Valores monetários**: R$ X.XXX,XX (formato brasileiro)\n- **Datas**: DD/MM/AAAA\n- **Números**: sem decimais para contadores\n\n### LÓGICA DE PERÍODOS\n- **\"Hoje\"** = data atual\n- **\"Ontem\"** = 1 dia atrás\n- **\"Últimos 7 dias\"** = 7 dias anteriores (excluindo hoje)\n- **\"Esta semana\"** = segunda a hoje\n- **\"Semana passada\"** = segunda a domingo anterior\n\n## VALIDAÇÃO FINAL\nAntes de entregar, verificar:\n- [ ] Objetivo correto identificado via `Pega_dados_cliente`\n- [ ] Formato de saída adequado ao objetivo\n- [ ] Todas as métricas preenchidas (0 se ausente)\n- [ ] Formatação brasileira aplicada\n- [ ] Período calculado corretamente\n\nA data e hora de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[384,208],"id":"095679b5-3331-4c3d-ba2d-b62dce3830ce","name":"Pega_Métricas_Meta_ads"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,512],"id":"c00d44a0-40fd-4672-be94-4e9c4eab993c","name":"Simple Memory"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"account"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[512,512],"id":"b2fd4bef-6a99-450f-823f-7f806400ca89","name":"Metricas_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,512],"id":"0fb7e747-0fe7-4bac-9af5-d89bf35f4a0c","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"69dcb77d-cf3a-4c3e-94f6-4a04c91437f7","name":"When Executed by Another Workflow"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"b824cb2e-ddaa-485d-b143-706fa7167cba","name":"When chat message received","webhookId":"c411ad44-e098-405f-95d7-683672391dd8","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[352,512],"id":"dae7d22a-c0ca-4336-bb26-d9054d080da9","name":"Pega_dados_cliente","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"campaign_name,impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"campaign"},{"name":"limit","value":"2000"},{"name":"filtering","value":"=[{\"field\":\"campaign.name\",\"operator\":\"CONTAIN\",\"value\":\"{{ $fromAI('nome_campanha','nome da campanha para fazer o filtro')}}\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[688,512],"id":"3dcb97ea-757f-4423-bded-93555593fdf7","name":"Metricas_periodo_metaads_pelo_nome_campanha","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[832,512],"id":"1d4a200a-91aa-443b-a381-47624ce094c5","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[944,512],"id":"709466ff-73c1-4100-ba59-7aa5551e63d8","name":"Calculator"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_memory","index":0}]]},"Metricas_periodo_metaads":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pega_Métricas_Meta_ads","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Pega_Métricas_Meta_ads","type":"main","index":0}]]},"Pega_dados_cliente":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads_pelo_nome_campanha":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_tool","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Pega_Métricas_Meta_ads","type":"ai_languageModel","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}