KoItDuhS6XrFUhfH.json
{"updatedAt":"2025-11-03T19:24:12.415Z","createdAt":"2025-10-29T20:06:25.247Z","id":"KoItDuhS6XrFUhfH","name":"Site","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"site","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d62883de-08c1-48bb-9ec7-f90f1d461654","name":"Webhook","webhookId":"8c5d00d2-3625-48d1-8785-08aa06860e4b"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body['Nome '] }}","Whatsapp":"={{ $json.Whatsapp }}","utm_source":"={{ $('Webhook').item.json.body.utm_source }}","utm_campaign":"={{ $('Webhook').item.json.body.utm_campaign }}","Data":"={{ $('Trata hora e Data').item.json.data }}","utm_medium":"={{ $('Webhook').item.json.body.utm_medium }}","utm_term":"={{ $('Webhook').item.json.body.utm_term }}","utm_content":"={{ $('Webhook').item.json.body['utm_content '] }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primeiro nome IG","displayName":"Primeiro nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Último nome IG","displayName":"Último nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,0],"id":"b986f315-14aa-4a8a-9a56-44357d84a168","name":"Insere e Atualiza lista","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"3099556e-8cf6-4faf-bab2-9df8980d3c5f","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Whatsapp","lookupValue":"={{ $('Webhook').item.json.body['Telefone '] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[592,0],"id":"3f455e86-a581-4ec3-9e91-2551d093e1dd","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,0],"id":"813527fa-5183-44e0-94aa-4de0bcac953f","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Insere e Atualiza lista","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d113aa79-b1f1-49b7-a79d-aafeab1f3469","activeVersionId":"d113aa79-b1f1-49b7-a79d-aafeab1f3469","triggerCount":1,"shared":[{"updatedAt":"2025-10-29T20:06:25.247Z","createdAt":"2025-10-29T20:06:25.247Z","role":"workflow:owner","workflowId":"KoItDuhS6XrFUhfH","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"d113aa79-b1f1-49b7-a79d-aafeab1f3469","workflowId":"KoItDuhS6XrFUhfH","nodes":[{"parameters":{"httpMethod":"POST","path":"site","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d62883de-08c1-48bb-9ec7-f90f1d461654","name":"Webhook","webhookId":"8c5d00d2-3625-48d1-8785-08aa06860e4b"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body['Nome '] }}","Whatsapp":"={{ $json.Whatsapp }}","utm_source":"={{ $('Webhook').item.json.body.utm_source }}","utm_campaign":"={{ $('Webhook').item.json.body.utm_campaign }}","Data":"={{ $('Trata hora e Data').item.json.data }}","utm_medium":"={{ $('Webhook').item.json.body.utm_medium }}","utm_term":"={{ $('Webhook').item.json.body.utm_term }}","utm_content":"={{ $('Webhook').item.json.body['utm_content '] }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primeiro nome IG","displayName":"Primeiro nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Último nome IG","displayName":"Último nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,0],"id":"b986f315-14aa-4a8a-9a56-44357d84a168","name":"Insere e Atualiza lista","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"3099556e-8cf6-4faf-bab2-9df8980d3c5f","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Whatsapp","lookupValue":"={{ $('Webhook').item.json.body['Telefone '] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[592,0],"id":"3f455e86-a581-4ec3-9e91-2551d093e1dd","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,0],"id":"813527fa-5183-44e0-94aa-4de0bcac953f","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Insere e Atualiza lista","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}