KUel9B3NhTHiEJ04.json
{"updatedAt":"2025-10-14T13:39:30.145Z","createdAt":"2025-10-04T00:13:56.725Z","id":"KUel9B3NhTHiEJ04","name":"API Token - Sem Manychat","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"29b3a6b4-7196-4f52-bbdf-e76b0f605d05","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[352,112]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"b17d9316-710d-414b-a170-b14d37076170","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[576,80]},{"parameters":{"httpMethod":"POST","path":"Aldo-IG","responseMode":"responseNode","options":{}},"id":"46171e91-031c-4239-a71c-d5750d14195e","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[176,112],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"},{"parameters":{"httpMethod":"POST","path":"Aldo-IG","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[176,336],"id":"f496938f-aa68-406b-bd06-0d084b750556","name":"Webhook","webhookId":"437a23e2-1ae3-4b70-a10e-ad20e11cc296"},{"parameters":{"assignments":{"assignments":[{"id":"3a1be705-ce35-4f59-b391-685e49000bb5","name":"recipient_id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"a24f4085-ac9c-4002-a1e4-e0cf0a77ff51","name":"from_id (comment)","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"f6ca6723-390c-476c-a0b5-26377b1fdbc3","name":"sender_id (mesage)","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"bd389f94-bebd-4cec-a101-f3a60bd70edc","name":"from_username","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"158d4902-a8e6-4a24-861b-77de4c67c9ca","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"7753f5f9-b624-4caa-ba7c-282067b30831","name":"comment_id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"4b8fdf3a-6e5a-4f81-8f6e-829818f73486","name":"message","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"b0d36b26-faa8-48e6-a07c-28f6627c60a8","name":"field","value":"={{ $json.body.entry[0].changes[0].field }}","type":"string"},{"id":"974cdabe-7dfc-426c-a797-5fef1af5e8fe","name":"id_usuario","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"f1135b75-5af1-4016-abac-6b2bb5c2b545","name":"mensagem_direct","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"0f69bee2-5a16-476a-88e1-c1d4023bd04f","name":"token","value":"IGAALcHA7ZCewBBZAFFDM3VDNXd5c05Ha3BxZAWxRbkE0MWE1S0xQM1pmMjVRTy1FUEQtd0gtN2FnSWFJMnVqR0lGMlpJcENvZATdadjVKVGthck9ubHhIcVU4eE5ZAamI1MjdKbWwzYWFqaUw2MFY4Y2dSaHRxTk02ZAmhrYnd5VlNsUQZDZD","type":"string"},{"id":"7daf59f9-495b-4373-867c-f6f89f20c7ae","name":"media_type","value":"={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}","type":"string"},{"id":"bedf5c5f-d755-44c7-9abd-792db647ef5b","name":"media_url","value":"={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}","type":"string"},{"id":"8f27ea78-f590-49c9-9967-ec751c740122","name":"media_product_type","value":"={{ $json.body.entry[0].changes[0].value.media.media_product_type }}","type":"string"},{"id":"195901bb-6b14-42bb-a368-2eaa2d1a61aa","name":"field","value":"={{ $json.body.entry[0].changes[0].field }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,336],"id":"26dccb3c-8ef5-4299-8962-ae8fed66bc14","name":"Edit Fields1"},{"parameters":{"url":"=https://graph.instagram.com/{{ $json['sender_id (mesage)'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,336],"id":"2db50d35-38eb-4920-9401-6aef29a49579","name":"Buscar se é seguidor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e4bed71-64df-4f20-ba6b-10049a7db678","leftValue":"={{ $json.is_user_follow_business }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,336],"id":"dd27c9a6-7be7-4c0e-b7a6-a6a5f3a2ef0c","name":"Me segue?"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\":{\n    \"id\": \"{{ $json.id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Primeiro precisa me seguir para receber o material 👀. Depois que seguir, digite novamente a palavra que enviou acima 👇\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://instagram.com/euleonardovianna\",\n            \"title\": \"Seguir no Instagram\"\n          }\n        ]\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,352],"id":"433b0e2f-aa7e-43a0-b65b-e82f0d693fad","name":"Envia mensagens direct10"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique no botão para receber o Prompt 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"https://alvoradadigital.com.br/\",\n            \"type\":\"web_url\",\n            \"title\":\"ACESSAR PROMPT\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $json.id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,272],"id":"5b80c3b4-a85a-418b-b4b6-a34eb331df5b","name":"Envia mensagens direct11"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer IGAALcHA7ZCewBBZAFFDM3VDNXd5c05Ha3BxZAWxRbkE0MWE1S0xQM1pmMjVRTy1FUEQtd0gtN2FnSWFJMnVqR0lGMlpJcENvZATdadjVKVGthck9ubHhIcVU4eE5ZAamI1MjdKbWwzYWFqaUw2MFY4Y2dSaHRxTk02ZAmhrYnd5VlNsUQZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique no botão para receber o Prompt 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"https://alvoradadigital.com.br/\",\n            \"type\":\"web_url\",\n            \"title\":\"ACESSAR PROMPT\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"613682278032695\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,560],"id":"47a438dc-1042-4e0b-822e-18ea8862b1e5","name":"Envia mensagens direct"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"IF","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Buscar se é seguidor","type":"main","index":0}]]},"Buscar se é seguidor":{"main":[[{"node":"Me segue?","type":"main","index":0}]]},"Me segue?":{"main":[[{"node":"Envia mensagens direct11","type":"main","index":0}],[{"node":"Envia mensagens direct10","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"facebookexternalua","content-length":"636","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/json","instagram-api-version":"v22.0","x-forwarded-for":"69.171.234.113","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"62f20b7d8f04","x-hub-signature":"sha1=c7e5d82837026f2567028beebb55911e5da500a3","x-hub-signature-256":"sha256=739469f6b5fdd130cb3a8ccc9fa0f76279fd9650d70f925ba24df987a1396123","x-real-ip":"69.171.234.113"},"params":{},"query":{},"body":{"object":"instagram","entry":[{"time":1759547964737,"id":"17841400934500756","messaging":[{"sender":{"id":"17841400934500756"},"recipient":{"id":"613682278032695"},"timestamp":1759547964369,"message":{"mid":"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDAwOTM0NTAwNzU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTk0NzAxMDIzMTI4NTk2NzozMjQ1NzkzMDk4NDEzNDA0NjM0NjkzNDQ4NTE1OTc3MjE2MAZDZD","attachments":[{"type":"template","payload":{"generic":{"elements":[{"title":"Clique no botão para receber o Prompt 👇","buttons":[{"type":"open_url","url":"https://alvoradadigital.com.br/","title":"ACESSAR PROMPT"}]}]}}}],"is_echo":true}}]}]},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/Aldo-IG","executionMode":"production"}}]},"versionId":"60b07153-ca67-4945-a145-298ce8ce857b","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-10-04T00:13:56.725Z","createdAt":"2025-10-04T00:13:56.725Z","role":"workflow:owner","workflowId":"KUel9B3NhTHiEJ04","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}