kyd8QuSQjm4nKFFx.json
{"updatedAt":"2025-11-07T16:46:35.955Z","createdAt":"2025-11-07T16:35:25.376Z","id":"kyd8QuSQjm4nKFFx","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"[\n  {\n    \"success\": true,\n    \"data\": {\n      \"participants\": [\n        {\n          \"id\": \"241304248299679@lid\",\n          \"jid\": \"5521964022927@s.whatsapp.net\",\n          \"lid\": \"241304248299679@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"30550152769720@lid\",\n          \"jid\": \"555192604959@s.whatsapp.net\",\n          \"lid\": \"30550152769720@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"277845746155640@lid\",\n          \"jid\": \"5511955554405@s.whatsapp.net\",\n          \"lid\": \"277845746155640@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"261224289857592@lid\",\n          \"jid\": \"559884348080@s.whatsapp.net\",\n          \"lid\": \"261224289857592@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"221117851644125@lid\",\n          \"jid\": \"558592055514@s.whatsapp.net\",\n          \"lid\": \"221117851644125@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232001365913824@lid\",\n          \"jid\": \"558582002822@s.whatsapp.net\",\n          \"lid\": \"232001365913824@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"120379410530332@lid\",\n          \"jid\": \"553898101331@s.whatsapp.net\",\n          \"lid\": \"120379410530332@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49714296791282@lid\",\n          \"jid\": \"5511975066370@s.whatsapp.net\",\n          \"lid\": \"49714296791282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"152492881006826@lid\",\n          \"jid\": \"5511977882960@s.whatsapp.net\",\n          \"lid\": \"152492881006826@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"113979858878665@lid\",\n          \"jid\": \"5521981083220@s.whatsapp.net\",\n          \"lid\": \"113979858878665@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"225400017969290@lid\",\n          \"jid\": \"554199950660@s.whatsapp.net\",\n          \"lid\": \"225400017969290@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"235965570375835@lid\",\n          \"jid\": \"5511980162969@s.whatsapp.net\",\n          \"lid\": \"235965570375835@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"122625695203399@lid\",\n          \"jid\": \"554197847837@s.whatsapp.net\",\n          \"lid\": \"122625695203399@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128982313873479@lid\",\n          \"jid\": \"5521973462988@s.whatsapp.net\",\n          \"lid\": \"128982313873479@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"167405024235568@lid\",\n          \"jid\": \"556699637841@s.whatsapp.net\",\n          \"lid\": \"167405024235568@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"63973554679992@lid\",\n          \"jid\": \"556181745083@s.whatsapp.net\",\n          \"lid\": \"63973554679992@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75282404868288@lid\",\n          \"jid\": \"5522997626579@s.whatsapp.net\",\n          \"lid\": \"75282404868288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94016918024286@lid\",\n          \"jid\": \"5511934674657@s.whatsapp.net\",\n          \"lid\": \"94016918024286@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"208671137099798@lid\",\n          \"jid\": \"555182333269@s.whatsapp.net\",\n          \"lid\": \"208671137099798@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"30713344700499@lid\",\n          \"jid\": \"5516991099303@s.whatsapp.net\",\n          \"lid\": \"30713344700499@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"143585118830653@lid\",\n          \"jid\": \"5521965284353@s.whatsapp.net\",\n          \"lid\": \"143585118830653@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"262865068011684@lid\",\n          \"jid\": \"557199247632@s.whatsapp.net\",\n          \"lid\": \"262865068011684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"243181132222529@lid\",\n          \"jid\": \"5519983016096@s.whatsapp.net\",\n          \"lid\": \"243181132222529@lid\",\n          \"admin\": \"admin\"\n        },\n        {\n          \"id\": \"72894268858569@lid\",\n          \"jid\": \"5521981183337@s.whatsapp.net\",\n          \"lid\": \"72894268858569@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"182626438647977@lid\",\n          \"jid\": \"5511999776339@s.whatsapp.net\",\n          \"lid\": \"182626438647977@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"97027656532074@lid\",\n          \"jid\": \"5521992451300@s.whatsapp.net\",\n          \"lid\": \"97027656532074@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"18202239230137@lid\",\n          \"jid\": \"5521993677972@s.whatsapp.net\",\n          \"lid\": \"18202239230137@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223012083220652@lid\",\n          \"jid\": \"553799059587@s.whatsapp.net\",\n          \"lid\": \"223012083220652@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"279318970261626@lid\",\n          \"jid\": \"555499094305@s.whatsapp.net\",\n          \"lid\": \"279318970261626@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"249396067361015@lid\",\n          \"jid\": \"557491247600@s.whatsapp.net\",\n          \"lid\": \"249396067361015@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"134557265301504@lid\",\n          \"jid\": \"5524999117556@s.whatsapp.net\",\n          \"lid\": \"134557265301504@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54099592638562@lid\",\n          \"jid\": \"555191740672@s.whatsapp.net\",\n          \"lid\": \"54099592638562@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106227493265504@lid\",\n          \"jid\": \"5524992745822@s.whatsapp.net\",\n          \"lid\": \"106227493265504@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"237198242770961@lid\",\n          \"jid\": \"5511942694716@s.whatsapp.net\",\n          \"lid\": \"237198242770961@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"145638113202353@lid\",\n          \"jid\": \"558888228111@s.whatsapp.net\",\n          \"lid\": \"145638113202353@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"236854729298054@lid\",\n          \"jid\": \"5521980253300@s.whatsapp.net\",\n          \"lid\": \"236854729298054@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"37808764936361@lid\",\n          \"jid\": \"558185622425@s.whatsapp.net\",\n          \"lid\": \"37808764936361@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"92539516358827@lid\",\n          \"jid\": \"558197177001@s.whatsapp.net\",\n          \"lid\": \"92539516358827@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"144100615524472@lid\",\n          \"jid\": \"554192241606@s.whatsapp.net\",\n          \"lid\": \"144100615524472@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"257268725629117@lid\",\n          \"jid\": \"5522992595391@s.whatsapp.net\",\n          \"lid\": \"257268725629117@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"274083522556067@lid\",\n          \"jid\": \"5511947142525@s.whatsapp.net\",\n          \"lid\": \"274083522556067@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"19409175326796@lid\",\n          \"jid\": \"5524999471442@s.whatsapp.net\",\n          \"lid\": \"19409175326796@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219211003592799@lid\",\n          \"jid\": \"554199440001@s.whatsapp.net\",\n          \"lid\": \"219211003592799@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"240350748790931@lid\",\n          \"jid\": \"556184820365@s.whatsapp.net\",\n          \"lid\": \"240350748790931@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"260966608580785@lid\",\n          \"jid\": \"5512996348179@s.whatsapp.net\",\n          \"lid\": \"260966608580785@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219318411391081@lid\",\n          \"jid\": \"5521975058989@s.whatsapp.net\",\n          \"lid\": \"219318411391081@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"278051938111568@lid\",\n          \"jid\": \"555199725305@s.whatsapp.net\",\n          \"lid\": \"278051938111568@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"193720255258649@lid\",\n          \"jid\": \"5511963641763@s.whatsapp.net\",\n          \"lid\": \"193720255258649@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230081498730707@lid\",\n          \"jid\": \"5513991339274@s.whatsapp.net\",\n          \"lid\": \"230081498730707@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"127573531041934@lid\",\n          \"jid\": \"554788376392@s.whatsapp.net\",\n          \"lid\": \"127573531041934@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"52192677482497@lid\",\n          \"jid\": \"553799674006@s.whatsapp.net\",\n          \"lid\": \"52192677482497@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"187419571794094@lid\",\n          \"jid\": \"558391321246@s.whatsapp.net\",\n          \"lid\": \"187419571794094@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"249992883253394@lid\",\n          \"jid\": \"556195351514@s.whatsapp.net\",\n          \"lid\": \"249992883253394@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"256409967001837@lid\",\n          \"jid\": \"555496507522@s.whatsapp.net\",\n          \"lid\": \"256409967001837@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"165875999060123@lid\",\n          \"jid\": \"555199033997@s.whatsapp.net\",\n          \"lid\": \"165875999060123@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"178790915424389@lid\",\n          \"jid\": \"5515991437337@s.whatsapp.net\",\n          \"lid\": \"178790915424389@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"11029778067691@lid\",\n          \"jid\": \"556198490835@s.whatsapp.net\",\n          \"lid\": \"11029778067691@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"88214484303897@lid\",\n          \"jid\": \"5522998526954@s.whatsapp.net\",\n          \"lid\": \"88214484303897@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"103568992407781@lid\",\n          \"jid\": \"556285288118@s.whatsapp.net\",\n          \"lid\": \"103568992407781@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"173984930865367@lid\",\n          \"jid\": \"5519996350339@s.whatsapp.net\",\n          \"lid\": \"173984930865367@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"201730520273068@lid\",\n          \"jid\": \"5511969913800@s.whatsapp.net\",\n          \"lid\": \"201730520273068@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"160159431172185@lid\",\n          \"jid\": \"553191455207@s.whatsapp.net\",\n          \"lid\": \"160159431172185@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"235093775884360@lid\",\n          \"jid\": \"555193198932@s.whatsapp.net\",\n          \"lid\": \"235093775884360@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"225048266838239@lid\",\n          \"jid\": \"559884063150@s.whatsapp.net\",\n          \"lid\": \"225048266838239@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94716964155545@lid\",\n          \"jid\": \"558199266199@s.whatsapp.net\",\n          \"lid\": \"94716964155545@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"103856771997949@lid\",\n          \"jid\": \"553175931415@s.whatsapp.net\",\n          \"lid\": \"103856771997949@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"255245661823011@lid\",\n          \"jid\": \"554599156462@s.whatsapp.net\",\n          \"lid\": \"255245661823011@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"161941909671949@lid\",\n          \"jid\": \"5511980656898@s.whatsapp.net\",\n          \"lid\": \"161941909671949@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"153265991848144@lid\",\n          \"jid\": \"5514997742770@s.whatsapp.net\",\n          \"lid\": \"153265991848144@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61358003482708@lid\",\n          \"jid\": \"5521964099866@s.whatsapp.net\",\n          \"lid\": \"61358003482708@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94317666373856@lid\",\n          \"jid\": \"553299401122@s.whatsapp.net\",\n          \"lid\": \"94317666373856@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131348706672890@lid\",\n          \"jid\": \"5511947929736@s.whatsapp.net\",\n          \"lid\": \"131348706672890@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"280908477255698@lid\",\n          \"jid\": \"5511949846222@s.whatsapp.net\",\n          \"lid\": \"280908477255698@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"199243616768149@lid\",\n          \"jid\": \"5521987563907@s.whatsapp.net\",\n          \"lid\": \"199243616768149@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"273301754659007@lid\",\n          \"jid\": \"553899650197@s.whatsapp.net\",\n          \"lid\": \"273301754659007@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"120525422620898@lid\",\n          \"jid\": \"5519982242503@s.whatsapp.net\",\n          \"lid\": \"120525422620898@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"67955006160980@lid\",\n          \"jid\": \"5511971923669@s.whatsapp.net\",\n          \"lid\": \"67955006160980@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"258514282913979@lid\",\n          \"jid\": \"556799554856@s.whatsapp.net\",\n          \"lid\": \"258514282913979@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"67779046711437@lid\",\n          \"jid\": \"554999463071@s.whatsapp.net\",\n          \"lid\": \"67779046711437@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"55405111713944@lid\",\n          \"jid\": \"556792587747@s.whatsapp.net\",\n          \"lid\": \"55405111713944@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"263346020425972@lid\",\n          \"jid\": \"5511970922142@s.whatsapp.net\",\n          \"lid\": \"263346020425972@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230051517874190@lid\",\n          \"jid\": \"5511983954521@s.whatsapp.net\",\n          \"lid\": \"230051517874190@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"185138877071429@lid\",\n          \"jid\": \"5519997899780@s.whatsapp.net\",\n          \"lid\": \"185138877071429@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"202022527733989@lid\",\n          \"jid\": \"5527998700721@s.whatsapp.net\",\n          \"lid\": \"202022527733989@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"152716185718855@lid\",\n          \"jid\": \"5521996426585@s.whatsapp.net\",\n          \"lid\": \"152716185718855@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75673230176509@lid\",\n          \"jid\": \"553584447394@s.whatsapp.net\",\n          \"lid\": \"75673230176509@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"150384102395954@lid\",\n          \"jid\": \"5521993270238@s.whatsapp.net\",\n          \"lid\": \"150384102395954@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"189751739076743@lid\",\n          \"jid\": \"5511981744929@s.whatsapp.net\",\n          \"lid\": \"189751739076743@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"145432038645874@lid\",\n          \"jid\": \"553492474300@s.whatsapp.net\",\n          \"lid\": \"145432038645874@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"281410753544212@lid\",\n          \"jid\": \"5527998300902@s.whatsapp.net\",\n          \"lid\": \"281410753544212@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"4703593222231@lid\",\n          \"jid\": \"5517991630800@s.whatsapp.net\",\n          \"lid\": \"4703593222231@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"32044851683481@lid\",\n          \"jid\": \"556194375445@s.whatsapp.net\",\n          \"lid\": \"32044851683481@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"62247044931778@lid\",\n          \"jid\": \"5511945521843@s.whatsapp.net\",\n          \"lid\": \"62247044931778@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"14448286773290@lid\",\n          \"jid\": \"5511997035588@s.whatsapp.net\",\n          \"lid\": \"14448286773290@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"89357029490860@lid\",\n          \"jid\": \"5512991025072@s.whatsapp.net\",\n          \"lid\": \"89357029490860@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106575452700847@lid\",\n          \"jid\": \"5511982412905@s.whatsapp.net\",\n          \"lid\": \"106575452700847@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"187411032228046@lid\",\n          \"jid\": \"5513981114909@s.whatsapp.net\",\n          \"lid\": \"187411032228046@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128234855354528@lid\",\n          \"jid\": \"554399533776@s.whatsapp.net\",\n          \"lid\": \"128234855354528@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"239259843874834@lid\",\n          \"jid\": \"5521998957007@s.whatsapp.net\",\n          \"lid\": \"239259843874834@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"132796093849742@lid\",\n          \"jid\": \"5511939347751@s.whatsapp.net\",\n          \"lid\": \"132796093849742@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"45338245234943@lid\",\n          \"jid\": \"5513996787789@s.whatsapp.net\",\n          \"lid\": \"45338245234943@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"65863424168117@lid\",\n          \"jid\": \"557781155220@s.whatsapp.net\",\n          \"lid\": \"65863424168117@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"23008139853834@lid\",\n          \"jid\": \"5511976925222@s.whatsapp.net\",\n          \"lid\": \"23008139853834@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75217963639011@lid\",\n          \"jid\": \"559182580380@s.whatsapp.net\",\n          \"lid\": \"75217963639011@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"91633227927682@lid\",\n          \"jid\": \"5511953074488@s.whatsapp.net\",\n          \"lid\": \"91633227927682@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"211793544769779@lid\",\n          \"jid\": \"554188663338@s.whatsapp.net\",\n          \"lid\": \"211793544769779@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"134819124093177@lid\",\n          \"jid\": \"5521981248068@s.whatsapp.net\",\n          \"lid\": \"134819124093177@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"130747545473173@lid\",\n          \"jid\": \"557192039690@s.whatsapp.net\",\n          \"lid\": \"130747545473173@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"139925924126809@lid\",\n          \"jid\": \"5522992750612@s.whatsapp.net\",\n          \"lid\": \"139925924126809@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44178671186076@lid\",\n          \"jid\": \"557532214299@s.whatsapp.net\",\n          \"lid\": \"44178671186076@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106571040301110@lid\",\n          \"jid\": \"554299330143@s.whatsapp.net\",\n          \"lid\": \"106571040301110@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"210071363571717@lid\",\n          \"jid\": \"557192045320@s.whatsapp.net\",\n          \"lid\": \"210071363571717@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"14027967168525@lid\",\n          \"jid\": \"5521973448998@s.whatsapp.net\",\n          \"lid\": \"14027967168525@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"207065188462631@lid\",\n          \"jid\": \"555596938069@s.whatsapp.net\",\n          \"lid\": \"207065188462631@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"82678170841120@lid\",\n          \"jid\": \"553588534450@s.whatsapp.net\",\n          \"lid\": \"82678170841120@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"26422907277313@lid\",\n          \"jid\": \"555191277088@s.whatsapp.net\",\n          \"lid\": \"26422907277313@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"206253137649796@lid\",\n          \"jid\": \"557199591734@s.whatsapp.net\",\n          \"lid\": \"206253137649796@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49289111814282@lid\",\n          \"jid\": \"553588038915@s.whatsapp.net\",\n          \"lid\": \"49289111814282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"211067644997684@lid\",\n          \"jid\": \"5511981100233@s.whatsapp.net\",\n          \"lid\": \"211067644997684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223278337679441@lid\",\n          \"jid\": \"5521995130677@s.whatsapp.net\",\n          \"lid\": \"223278337679441@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54606298103946@lid\",\n          \"jid\": \"5521984763688@s.whatsapp.net\",\n          \"lid\": \"54606298103946@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61791862300811@lid\",\n          \"jid\": \"5511986512346@s.whatsapp.net\",\n          \"lid\": \"61791862300811@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61856169365729@lid\",\n          \"jid\": \"5521987672338@s.whatsapp.net\",\n          \"lid\": \"61856169365729@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"265519525552212@lid\",\n          \"jid\": \"819063261374@s.whatsapp.net\",\n          \"lid\": \"265519525552212@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"231833811828812@lid\",\n          \"jid\": \"554884645931@s.whatsapp.net\",\n          \"lid\": \"231833811828812@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184125298348205@lid\",\n          \"jid\": \"554192892604@s.whatsapp.net\",\n          \"lid\": \"184125298348205@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"141669680828661@lid\",\n          \"jid\": \"5519993677056@s.whatsapp.net\",\n          \"lid\": \"141669680828661@lid\",\n          \"admin\": \"admin\",\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/510409923_2050899949062887_621625668635004822_n.jpg?ccb=11-4&oh=01_Q5Aa3AEeAhFF7_UzcPN4qCXlNp0HzEioh-tTDuNzQi72TYu5dw&oe=691A2A91&_nc_sid=5e03e0&_nc_cat=111\"\n        },\n        {\n          \"id\": \"71124775870627@lid\",\n          \"jid\": \"553197738097@s.whatsapp.net\",\n          \"lid\": \"71124775870627@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232589877076004@lid\",\n          \"jid\": \"556199817310@s.whatsapp.net\",\n          \"lid\": \"232589877076004@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"192702448668849@lid\",\n          \"jid\": \"5524981234466@s.whatsapp.net\",\n          \"lid\": \"192702448668849@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"149572387098643@lid\",\n          \"jid\": \"5511958034404@s.whatsapp.net\",\n          \"lid\": \"149572387098643@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"264703297200235@lid\",\n          \"jid\": \"553188698849@s.whatsapp.net\",\n          \"lid\": \"264703297200235@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"142631669596232@lid\",\n          \"jid\": \"61407772421@s.whatsapp.net\",\n          \"lid\": \"142631669596232@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"162354343989282@lid\",\n          \"jid\": \"5511991209194@s.whatsapp.net\",\n          \"lid\": \"162354343989282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259334487420996@lid\",\n          \"jid\": \"554291276226@s.whatsapp.net\",\n          \"lid\": \"259334487420996@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"97427189186665@lid\",\n          \"jid\": \"5528999856056@s.whatsapp.net\",\n          \"lid\": \"97427189186665@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"40823798399045@lid\",\n          \"jid\": \"5521974308584@s.whatsapp.net\",\n          \"lid\": \"40823798399045@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"209272986157211@lid\",\n          \"jid\": \"554396509771@s.whatsapp.net\",\n          \"lid\": \"209272986157211@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"135965846798561@lid\",\n          \"jid\": \"5521994755281@s.whatsapp.net\",\n          \"lid\": \"135965846798561@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"247304267272202@lid\",\n          \"jid\": \"5521991661259@s.whatsapp.net\",\n          \"lid\": \"247304267272202@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"151818554323023@lid\",\n          \"jid\": \"556281321073@s.whatsapp.net\",\n          \"lid\": \"151818554323023@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"112352133410851@lid\",\n          \"jid\": \"553199623298@s.whatsapp.net\",\n          \"lid\": \"112352133410851@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"273314773786848@lid\",\n          \"jid\": \"559499081840@s.whatsapp.net\",\n          \"lid\": \"273314773786848@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/420068939_971617537698152_7541424757899945422_n.jpg?ccb=11-4&oh=01_Q5Aa3AHCUrCoPqEQLDRNu6aUvY-UGhwuiptTOqNq4idrYBvXQQ&oe=691B26D9&_nc_sid=5e03e0&_nc_cat=101\"\n        },\n        {\n          \"id\": \"278731113394185@lid\",\n          \"jid\": \"5512996886805@s.whatsapp.net\",\n          \"lid\": \"278731113394185@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131709467144352@lid\",\n          \"jid\": \"5521994607419@s.whatsapp.net\",\n          \"lid\": \"131709467144352@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61907759296716@lid\",\n          \"jid\": \"557588068575@s.whatsapp.net\",\n          \"lid\": \"61907759296716@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"79263722139684@lid\",\n          \"jid\": \"559887257799@s.whatsapp.net\",\n          \"lid\": \"79263722139684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"237408662597634@lid\",\n          \"jid\": \"5511999079988@s.whatsapp.net\",\n          \"lid\": \"237408662597634@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"238220763742459@lid\",\n          \"jid\": \"5515992692785@s.whatsapp.net\",\n          \"lid\": \"238220763742459@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"66370196742399@lid\",\n          \"jid\": \"558788143552@s.whatsapp.net\",\n          \"lid\": \"66370196742399@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"172662148071612@lid\",\n          \"jid\": \"554888489700@s.whatsapp.net\",\n          \"lid\": \"172662148071612@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"217145074003972@lid\",\n          \"jid\": \"558288374561@s.whatsapp.net\",\n          \"lid\": \"217145074003972@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"234264780095521@lid\",\n          \"jid\": \"556384038467@s.whatsapp.net\",\n          \"lid\": \"234264780095521@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"185529853280347@lid\",\n          \"jid\": \"5521993897637@s.whatsapp.net\",\n          \"lid\": \"185529853280347@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"281230364958754@lid\",\n          \"jid\": \"5511945329000@s.whatsapp.net\",\n          \"lid\": \"281230364958754@lid\",\n          \"admin\": \"superadmin\",\n          \"name\": \"Beatriz Ribeiro\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/524400559_753687797566570_7373309297843807004_n.jpg?ccb=11-4&oh=01_Q5Aa3AFQIuaad4MyUh1c9jgfp7j45q-UMbAFWFrgoO9_83hCQg&oe=691B03DF&_nc_sid=5e03e0&_nc_cat=101\"\n        },\n        {\n          \"id\": \"151646806007996@lid\",\n          \"jid\": \"5511960226010@s.whatsapp.net\",\n          \"lid\": \"151646806007996@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"271480789176358@lid\",\n          \"jid\": \"553187149103@s.whatsapp.net\",\n          \"lid\": \"271480789176358@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184095334260757@lid\",\n          \"jid\": \"554999163891@s.whatsapp.net\",\n          \"lid\": \"184095334260757@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"50290241839295@lid\",\n          \"jid\": \"554396582910@s.whatsapp.net\",\n          \"lid\": \"50290241839295@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"33226001240167@lid\",\n          \"jid\": \"5511998263020@s.whatsapp.net\",\n          \"lid\": \"33226001240167@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"142661700817082@lid\",\n          \"jid\": \"553496962713@s.whatsapp.net\",\n          \"lid\": \"142661700817082@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/473400946_938415378499247_7929282722705348637_n.jpg?ccb=11-4&oh=01_Q5Aa3AGcyEbaEk6-4WcWIWtRGbOX8uZuLqlQNatw9XGoAJ_jgQ&oe=691ABE10&_nc_sid=5e03e0&_nc_cat=104\"\n        },\n        {\n          \"id\": \"26294259585030@lid\",\n          \"jid\": \"5511957459109@s.whatsapp.net\",\n          \"lid\": \"26294259585030@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"222384917340288@lid\",\n          \"jid\": \"5513988681257@s.whatsapp.net\",\n          \"lid\": \"222384917340288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"182325774172177@lid\",\n          \"jid\": \"5511961199692@s.whatsapp.net\",\n          \"lid\": \"182325774172177@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"77112044204219@lid\",\n          \"jid\": \"5521972848297@s.whatsapp.net\",\n          \"lid\": \"77112044204219@lid\",\n          \"admin\": \"admin\",\n          \"name\": \"Suporte Nanda Peris\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/290915964_1231173477630479_4202380101514387951_n.jpg?ccb=11-4&oh=01_Q5Aa3AH0l5ggOlXywyPkEXFK2wzKqJuZ2b3j4VZkv1Zy65n_UQ&oe=691AD90F&_nc_sid=5e03e0&_nc_cat=105\"\n        },\n        {\n          \"id\": \"176162412220608@lid\",\n          \"jid\": \"5515988314709@s.whatsapp.net\",\n          \"lid\": \"176162412220608@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"60992897687783@lid\",\n          \"jid\": \"553588287693@s.whatsapp.net\",\n          \"lid\": \"60992897687783@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"23137106292776@lid\",\n          \"jid\": \"5521971525942@s.whatsapp.net\",\n          \"lid\": \"23137106292776@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"60297062682779@lid\",\n          \"jid\": \"553798609905@s.whatsapp.net\",\n          \"lid\": \"60297062682779@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"33621155004477@lid\",\n          \"jid\": \"5521987271378@s.whatsapp.net\",\n          \"lid\": \"33621155004477@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"19490712584254@lid\",\n          \"jid\": \"5511963309445@s.whatsapp.net\",\n          \"lid\": \"19490712584254@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"195983820480623@lid\",\n          \"jid\": \"5512991018545@s.whatsapp.net\",\n          \"lid\": \"195983820480623@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"218278962143457@lid\",\n          \"jid\": \"558197177024@s.whatsapp.net\",\n          \"lid\": \"218278962143457@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"136193496866870@lid\",\n          \"jid\": \"554199443358@s.whatsapp.net\",\n          \"lid\": \"136193496866870@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"194480598720522@lid\",\n          \"jid\": \"5521994816233@s.whatsapp.net\",\n          \"lid\": \"194480598720522@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"91689012228245@lid\",\n          \"jid\": \"555399337181@s.whatsapp.net\",\n          \"lid\": \"91689012228245@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"117106746097827@lid\",\n          \"jid\": \"5511996110929@s.whatsapp.net\",\n          \"lid\": \"117106746097827@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": null\n        },\n        {\n          \"id\": \"55697169481879@lid\",\n          \"jid\": \"5514998871893@s.whatsapp.net\",\n          \"lid\": \"55697169481879@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44603268980868@lid\",\n          \"jid\": \"5511970242447@s.whatsapp.net\",\n          \"lid\": \"44603268980868@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"119039464595561@lid\",\n          \"jid\": \"5512991757831@s.whatsapp.net\",\n          \"lid\": \"119039464595561@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"117192578314418@lid\",\n          \"jid\": \"5521968531826@s.whatsapp.net\",\n          \"lid\": \"117192578314418@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"82205741187221@lid\",\n          \"jid\": \"553191177390@s.whatsapp.net\",\n          \"lid\": \"82205741187221@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"193638701240532@lid\",\n          \"jid\": \"5511992409882@s.whatsapp.net\",\n          \"lid\": \"193638701240532@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"6318635143398@lid\",\n          \"jid\": \"557181696115@s.whatsapp.net\",\n          \"lid\": \"6318635143398@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"163887378895066@lid\",\n          \"jid\": \"5511955577825@s.whatsapp.net\",\n          \"lid\": \"163887378895066@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"161718537838634@lid\",\n          \"jid\": \"5521983337799@s.whatsapp.net\",\n          \"lid\": \"161718537838634@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"262920885821674@lid\",\n          \"jid\": \"556281662676@s.whatsapp.net\",\n          \"lid\": \"262920885821674@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"209152089555067@lid\",\n          \"jid\": \"5516993071628@s.whatsapp.net\",\n          \"lid\": \"209152089555067@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"25589582926069@lid\",\n          \"jid\": \"5521999257005@s.whatsapp.net\",\n          \"lid\": \"25589582926069@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54640691380467@lid\",\n          \"jid\": \"5519997909050@s.whatsapp.net\",\n          \"lid\": \"54640691380467@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"224674067775581@lid\",\n          \"jid\": \"557199746513@s.whatsapp.net\",\n          \"lid\": \"224674067775581@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"98161880236072@lid\",\n          \"jid\": \"5517997871331@s.whatsapp.net\",\n          \"lid\": \"98161880236072@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"96813025591541@lid\",\n          \"jid\": \"553284033316@s.whatsapp.net\",\n          \"lid\": \"96813025591541@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"45973346726141@lid\",\n          \"jid\": \"5516992278331@s.whatsapp.net\",\n          \"lid\": \"45973346726141@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"127152624279712@lid\",\n          \"jid\": \"557188289575@s.whatsapp.net\",\n          \"lid\": \"127152624279712@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"118395185926288@lid\",\n          \"jid\": \"553193037560@s.whatsapp.net\",\n          \"lid\": \"118395185926288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259261573664950@lid\",\n          \"jid\": \"555189240074@s.whatsapp.net\",\n          \"lid\": \"259261573664950@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49692939387034@lid\",\n          \"jid\": \"554799383226@s.whatsapp.net\",\n          \"lid\": \"49692939387034@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"176884067340394@lid\",\n          \"jid\": \"554399870008@s.whatsapp.net\",\n          \"lid\": \"176884067340394@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"271214434107579@lid\",\n          \"jid\": \"558591523243@s.whatsapp.net\",\n          \"lid\": \"271214434107579@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/534422658_1331622718229211_3982987240514407059_n.jpg?ccb=11-4&oh=01_Q5Aa3AGQdgcagPyaDHqtU4maa6LD5OPQzI2ykq6SnixAR37IxQ&oe=691AD10C&_nc_sid=5e03e0&_nc_cat=108\"\n        },\n        {\n          \"id\": \"256194950258760@lid\",\n          \"jid\": \"5517981479229@s.whatsapp.net\",\n          \"lid\": \"256194950258760@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"52738037670084@lid\",\n          \"jid\": \"5511947351732@s.whatsapp.net\",\n          \"lid\": \"52738037670084@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"178151032377543@lid\",\n          \"jid\": \"559199259811@s.whatsapp.net\",\n          \"lid\": \"178151032377543@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232009871941670@lid\",\n          \"jid\": \"553186572337@s.whatsapp.net\",\n          \"lid\": \"232009871941670@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"129029541744654@lid\",\n          \"jid\": \"5521980847580@s.whatsapp.net\",\n          \"lid\": \"129029541744654@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"213533442711655@lid\",\n          \"jid\": \"5511945567473@s.whatsapp.net\",\n          \"lid\": \"213533442711655@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232340634771489@lid\",\n          \"jid\": \"558299553521@s.whatsapp.net\",\n          \"lid\": \"232340634771489@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"53712861048839@lid\",\n          \"jid\": \"5511945666039@s.whatsapp.net\",\n          \"lid\": \"53712861048839@lid\",\n          \"admin\": null,\n          \"name\": \"Marina\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/521176326_1144392807541035_5102176636431229645_n.jpg?ccb=11-4&oh=01_Q5Aa3AHhOOz01ZA-MHlgeTBJKqLewS0JARzG4o4rA1kPIRQCsA&oe=691AEA31&_nc_sid=5e03e0&_nc_cat=103\"\n        },\n        {\n          \"id\": \"72430345257091@lid\",\n          \"jid\": \"5511961615070@s.whatsapp.net\",\n          \"lid\": \"72430345257091@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"43258994528413@lid\",\n          \"jid\": \"5527995906079@s.whatsapp.net\",\n          \"lid\": \"43258994528413@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184924296482951@lid\",\n          \"jid\": \"5521985249685@s.whatsapp.net\",\n          \"lid\": \"184924296482951@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230859038797861@lid\",\n          \"jid\": \"5519991146368@s.whatsapp.net\",\n          \"lid\": \"230859038797861@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"245186798039184@lid\",\n          \"jid\": \"5521986902491@s.whatsapp.net\",\n          \"lid\": \"245186798039184@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"98350892339357@lid\",\n          \"jid\": \"553799777320@s.whatsapp.net\",\n          \"lid\": \"98350892339357@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"99389955662001@lid\",\n          \"jid\": \"5521979996989@s.whatsapp.net\",\n          \"lid\": \"99389955662001@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61529818972226@lid\",\n          \"jid\": \"557498167291@s.whatsapp.net\",\n          \"lid\": \"61529818972226@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"169878992494731@lid\",\n          \"jid\": \"553171331313@s.whatsapp.net\",\n          \"lid\": \"169878992494731@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"217900937961493@lid\",\n          \"jid\": \"5521986381728@s.whatsapp.net\",\n          \"lid\": \"217900937961493@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": null\n        },\n        {\n          \"id\": \"134093308186774@lid\",\n          \"jid\": \"559182463597@s.whatsapp.net\",\n          \"lid\": \"134093308186774@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"31404935106703@lid\",\n          \"jid\": \"555198129398@s.whatsapp.net\",\n          \"lid\": \"31404935106703@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"137988726063217@lid\",\n          \"jid\": \"5521982704057@s.whatsapp.net\",\n          \"lid\": \"137988726063217@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"13409022128269@lid\",\n          \"jid\": \"555492002024@s.whatsapp.net\",\n          \"lid\": \"13409022128269@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259098281017583@lid\",\n          \"jid\": \"559293957714@s.whatsapp.net\",\n          \"lid\": \"259098281017583@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223669112578088@lid\",\n          \"jid\": \"5511965110883@s.whatsapp.net\",\n          \"lid\": \"223669112578088@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"3071220432991@lid\",\n          \"jid\": \"5521995547695@s.whatsapp.net\",\n          \"lid\": \"3071220432991@lid\",\n          \"admin\": \"admin\",\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/382494979_686145636817496_5699182334539578556_n.jpg?ccb=11-4&oh=01_Q5Aa3AHEUkYfnX0yCqDy8dONAPNehFCMunr3AcR41LXYP0rWDA&oe=691AF43D&_nc_sid=5e03e0&_nc_cat=103\"\n        },\n        {\n          \"id\": \"198956189491442@lid\",\n          \"jid\": \"5512978112632@s.whatsapp.net\",\n          \"lid\": \"198956189491442@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"66237052805309@lid\",\n          \"jid\": \"558596222427@s.whatsapp.net\",\n          \"lid\": \"66237052805309@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131834037936347@lid\",\n          \"jid\": \"5511999636369@s.whatsapp.net\",\n          \"lid\": \"131834037936347@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44766460944523@lid\",\n          \"jid\": \"5511997300556@s.whatsapp.net\",\n          \"lid\": \"44766460944523@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128269382860919@lid\",\n          \"jid\": \"555499454699@s.whatsapp.net\",\n          \"lid\": \"128269382860919@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"31190169952348@lid\",\n          \"jid\": \"555499639720@s.whatsapp.net\",\n          \"lid\": \"31190169952348@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"153931678249210@lid\",\n          \"jid\": \"5511949786817@s.whatsapp.net\",\n          \"lid\": \"153931678249210@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"92256283431068@lid\",\n          \"jid\": \"5511971965957@s.whatsapp.net\",\n          \"lid\": \"92256283431068@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"102684145283197@lid\",\n          \"jid\": \"556592268378@s.whatsapp.net\",\n          \"lid\": \"102684145283197@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106364881862847@lid\",\n          \"jid\": \"5519992232095@s.whatsapp.net\",\n          \"lid\": \"106364881862847@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219391358672952@lid\",\n          \"jid\": \"559180868955@s.whatsapp.net\",\n          \"lid\": \"219391358672952@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"196232827912405@lid\",\n          \"jid\": \"5522998684759@s.whatsapp.net\",\n          \"lid\": \"196232827912405@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44822412931127@lid\",\n          \"jid\": \"557187824445@s.whatsapp.net\",\n          \"lid\": \"44822412931127@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"132113244389601@lid\",\n          \"jid\": \"5511987207454@s.whatsapp.net\",\n          \"lid\": \"132113244389601@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"198131237032094@lid\",\n          \"jid\": \"554891557595@s.whatsapp.net\",\n          \"lid\": \"198131237032094@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"136258156286193@lid\",\n          \"jid\": \"554998223933@s.whatsapp.net\",\n          \"lid\": \"136258156286193@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"272017509064934@lid\",\n          \"jid\": \"5514997515894@s.whatsapp.net\",\n          \"lid\": \"272017509064934@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"154919587852467@lid\",\n          \"jid\": \"351933055270@s.whatsapp.net\",\n          \"lid\": \"154919587852467@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"118236305702980@lid\",\n          \"jid\": \"5519996441962@s.whatsapp.net\",\n          \"lid\": \"118236305702980@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"39436473614572@lid\",\n          \"jid\": \"557186222272@s.whatsapp.net\",\n          \"lid\": \"39436473614572@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"208332086325377@lid\",\n          \"jid\": \"555198065253@s.whatsapp.net\",\n          \"lid\": \"208332086325377@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"165352348594323@lid\",\n          \"jid\": \"556195197770@s.whatsapp.net\",\n          \"lid\": \"165352348594323@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"222165890810037@lid\",\n          \"jid\": \"554791196627@s.whatsapp.net\",\n          \"lid\": \"222165890810037@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"260721728295125@lid\",\n          \"jid\": \"5511972771427@s.whatsapp.net\",\n          \"lid\": \"260721728295125@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"207322500599823@lid\",\n          \"jid\": \"554699006412@s.whatsapp.net\",\n          \"lid\": \"207322500599823@lid\",\n          \"admin\": null\n        }\n      ]\n    }\n  }\n]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-144],"id":"240707c9-a59d-45e5-9ea5-937a14530858","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[112,48],"id":"c9333505-5b9e-4cc3-88c7-4d1a732ab4c8","name":"When clicking Execute workflow"},{"parameters":{"jsCode":"//  Cola o JSON puro aqui dentro das crases\nconst RAW = `\n[\n  {\n    \"success\": true,\n    \"data\": {\n      \"participants\": [\n        {\n          \"id\": \"241304248299679@lid\",\n          \"jid\": \"5521964022927@s.whatsapp.net\",\n          \"lid\": \"241304248299679@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"30550152769720@lid\",\n          \"jid\": \"555192604959@s.whatsapp.net\",\n          \"lid\": \"30550152769720@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"277845746155640@lid\",\n          \"jid\": \"5511955554405@s.whatsapp.net\",\n          \"lid\": \"277845746155640@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"261224289857592@lid\",\n          \"jid\": \"559884348080@s.whatsapp.net\",\n          \"lid\": \"261224289857592@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"221117851644125@lid\",\n          \"jid\": \"558592055514@s.whatsapp.net\",\n          \"lid\": \"221117851644125@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232001365913824@lid\",\n          \"jid\": \"558582002822@s.whatsapp.net\",\n          \"lid\": \"232001365913824@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"120379410530332@lid\",\n          \"jid\": \"553898101331@s.whatsapp.net\",\n          \"lid\": \"120379410530332@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49714296791282@lid\",\n          \"jid\": \"5511975066370@s.whatsapp.net\",\n          \"lid\": \"49714296791282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"152492881006826@lid\",\n          \"jid\": \"5511977882960@s.whatsapp.net\",\n          \"lid\": \"152492881006826@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"113979858878665@lid\",\n          \"jid\": \"5521981083220@s.whatsapp.net\",\n          \"lid\": \"113979858878665@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"225400017969290@lid\",\n          \"jid\": \"554199950660@s.whatsapp.net\",\n          \"lid\": \"225400017969290@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"235965570375835@lid\",\n          \"jid\": \"5511980162969@s.whatsapp.net\",\n          \"lid\": \"235965570375835@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"122625695203399@lid\",\n          \"jid\": \"554197847837@s.whatsapp.net\",\n          \"lid\": \"122625695203399@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128982313873479@lid\",\n          \"jid\": \"5521973462988@s.whatsapp.net\",\n          \"lid\": \"128982313873479@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"167405024235568@lid\",\n          \"jid\": \"556699637841@s.whatsapp.net\",\n          \"lid\": \"167405024235568@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"63973554679992@lid\",\n          \"jid\": \"556181745083@s.whatsapp.net\",\n          \"lid\": \"63973554679992@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75282404868288@lid\",\n          \"jid\": \"5522997626579@s.whatsapp.net\",\n          \"lid\": \"75282404868288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94016918024286@lid\",\n          \"jid\": \"5511934674657@s.whatsapp.net\",\n          \"lid\": \"94016918024286@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"208671137099798@lid\",\n          \"jid\": \"555182333269@s.whatsapp.net\",\n          \"lid\": \"208671137099798@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"30713344700499@lid\",\n          \"jid\": \"5516991099303@s.whatsapp.net\",\n          \"lid\": \"30713344700499@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"143585118830653@lid\",\n          \"jid\": \"5521965284353@s.whatsapp.net\",\n          \"lid\": \"143585118830653@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"262865068011684@lid\",\n          \"jid\": \"557199247632@s.whatsapp.net\",\n          \"lid\": \"262865068011684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"243181132222529@lid\",\n          \"jid\": \"5519983016096@s.whatsapp.net\",\n          \"lid\": \"243181132222529@lid\",\n          \"admin\": \"admin\"\n        },\n        {\n          \"id\": \"72894268858569@lid\",\n          \"jid\": \"5521981183337@s.whatsapp.net\",\n          \"lid\": \"72894268858569@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"182626438647977@lid\",\n          \"jid\": \"5511999776339@s.whatsapp.net\",\n          \"lid\": \"182626438647977@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"97027656532074@lid\",\n          \"jid\": \"5521992451300@s.whatsapp.net\",\n          \"lid\": \"97027656532074@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"18202239230137@lid\",\n          \"jid\": \"5521993677972@s.whatsapp.net\",\n          \"lid\": \"18202239230137@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223012083220652@lid\",\n          \"jid\": \"553799059587@s.whatsapp.net\",\n          \"lid\": \"223012083220652@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"279318970261626@lid\",\n          \"jid\": \"555499094305@s.whatsapp.net\",\n          \"lid\": \"279318970261626@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"249396067361015@lid\",\n          \"jid\": \"557491247600@s.whatsapp.net\",\n          \"lid\": \"249396067361015@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"134557265301504@lid\",\n          \"jid\": \"5524999117556@s.whatsapp.net\",\n          \"lid\": \"134557265301504@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54099592638562@lid\",\n          \"jid\": \"555191740672@s.whatsapp.net\",\n          \"lid\": \"54099592638562@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106227493265504@lid\",\n          \"jid\": \"5524992745822@s.whatsapp.net\",\n          \"lid\": \"106227493265504@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"237198242770961@lid\",\n          \"jid\": \"5511942694716@s.whatsapp.net\",\n          \"lid\": \"237198242770961@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"145638113202353@lid\",\n          \"jid\": \"558888228111@s.whatsapp.net\",\n          \"lid\": \"145638113202353@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"236854729298054@lid\",\n          \"jid\": \"5521980253300@s.whatsapp.net\",\n          \"lid\": \"236854729298054@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"37808764936361@lid\",\n          \"jid\": \"558185622425@s.whatsapp.net\",\n          \"lid\": \"37808764936361@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"92539516358827@lid\",\n          \"jid\": \"558197177001@s.whatsapp.net\",\n          \"lid\": \"92539516358827@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"144100615524472@lid\",\n          \"jid\": \"554192241606@s.whatsapp.net\",\n          \"lid\": \"144100615524472@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"257268725629117@lid\",\n          \"jid\": \"5522992595391@s.whatsapp.net\",\n          \"lid\": \"257268725629117@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"274083522556067@lid\",\n          \"jid\": \"5511947142525@s.whatsapp.net\",\n          \"lid\": \"274083522556067@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"19409175326796@lid\",\n          \"jid\": \"5524999471442@s.whatsapp.net\",\n          \"lid\": \"19409175326796@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219211003592799@lid\",\n          \"jid\": \"554199440001@s.whatsapp.net\",\n          \"lid\": \"219211003592799@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"240350748790931@lid\",\n          \"jid\": \"556184820365@s.whatsapp.net\",\n          \"lid\": \"240350748790931@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"260966608580785@lid\",\n          \"jid\": \"5512996348179@s.whatsapp.net\",\n          \"lid\": \"260966608580785@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219318411391081@lid\",\n          \"jid\": \"5521975058989@s.whatsapp.net\",\n          \"lid\": \"219318411391081@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"278051938111568@lid\",\n          \"jid\": \"555199725305@s.whatsapp.net\",\n          \"lid\": \"278051938111568@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"193720255258649@lid\",\n          \"jid\": \"5511963641763@s.whatsapp.net\",\n          \"lid\": \"193720255258649@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230081498730707@lid\",\n          \"jid\": \"5513991339274@s.whatsapp.net\",\n          \"lid\": \"230081498730707@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"127573531041934@lid\",\n          \"jid\": \"554788376392@s.whatsapp.net\",\n          \"lid\": \"127573531041934@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"52192677482497@lid\",\n          \"jid\": \"553799674006@s.whatsapp.net\",\n          \"lid\": \"52192677482497@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"187419571794094@lid\",\n          \"jid\": \"558391321246@s.whatsapp.net\",\n          \"lid\": \"187419571794094@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"249992883253394@lid\",\n          \"jid\": \"556195351514@s.whatsapp.net\",\n          \"lid\": \"249992883253394@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"256409967001837@lid\",\n          \"jid\": \"555496507522@s.whatsapp.net\",\n          \"lid\": \"256409967001837@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"165875999060123@lid\",\n          \"jid\": \"555199033997@s.whatsapp.net\",\n          \"lid\": \"165875999060123@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"178790915424389@lid\",\n          \"jid\": \"5515991437337@s.whatsapp.net\",\n          \"lid\": \"178790915424389@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"11029778067691@lid\",\n          \"jid\": \"556198490835@s.whatsapp.net\",\n          \"lid\": \"11029778067691@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"88214484303897@lid\",\n          \"jid\": \"5522998526954@s.whatsapp.net\",\n          \"lid\": \"88214484303897@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"103568992407781@lid\",\n          \"jid\": \"556285288118@s.whatsapp.net\",\n          \"lid\": \"103568992407781@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"173984930865367@lid\",\n          \"jid\": \"5519996350339@s.whatsapp.net\",\n          \"lid\": \"173984930865367@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"201730520273068@lid\",\n          \"jid\": \"5511969913800@s.whatsapp.net\",\n          \"lid\": \"201730520273068@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"160159431172185@lid\",\n          \"jid\": \"553191455207@s.whatsapp.net\",\n          \"lid\": \"160159431172185@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"235093775884360@lid\",\n          \"jid\": \"555193198932@s.whatsapp.net\",\n          \"lid\": \"235093775884360@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"225048266838239@lid\",\n          \"jid\": \"559884063150@s.whatsapp.net\",\n          \"lid\": \"225048266838239@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94716964155545@lid\",\n          \"jid\": \"558199266199@s.whatsapp.net\",\n          \"lid\": \"94716964155545@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"103856771997949@lid\",\n          \"jid\": \"553175931415@s.whatsapp.net\",\n          \"lid\": \"103856771997949@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"255245661823011@lid\",\n          \"jid\": \"554599156462@s.whatsapp.net\",\n          \"lid\": \"255245661823011@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"161941909671949@lid\",\n          \"jid\": \"5511980656898@s.whatsapp.net\",\n          \"lid\": \"161941909671949@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"153265991848144@lid\",\n          \"jid\": \"5514997742770@s.whatsapp.net\",\n          \"lid\": \"153265991848144@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61358003482708@lid\",\n          \"jid\": \"5521964099866@s.whatsapp.net\",\n          \"lid\": \"61358003482708@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"94317666373856@lid\",\n          \"jid\": \"553299401122@s.whatsapp.net\",\n          \"lid\": \"94317666373856@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131348706672890@lid\",\n          \"jid\": \"5511947929736@s.whatsapp.net\",\n          \"lid\": \"131348706672890@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"280908477255698@lid\",\n          \"jid\": \"5511949846222@s.whatsapp.net\",\n          \"lid\": \"280908477255698@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"199243616768149@lid\",\n          \"jid\": \"5521987563907@s.whatsapp.net\",\n          \"lid\": \"199243616768149@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"273301754659007@lid\",\n          \"jid\": \"553899650197@s.whatsapp.net\",\n          \"lid\": \"273301754659007@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"120525422620898@lid\",\n          \"jid\": \"5519982242503@s.whatsapp.net\",\n          \"lid\": \"120525422620898@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"67955006160980@lid\",\n          \"jid\": \"5511971923669@s.whatsapp.net\",\n          \"lid\": \"67955006160980@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"258514282913979@lid\",\n          \"jid\": \"556799554856@s.whatsapp.net\",\n          \"lid\": \"258514282913979@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"67779046711437@lid\",\n          \"jid\": \"554999463071@s.whatsapp.net\",\n          \"lid\": \"67779046711437@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"55405111713944@lid\",\n          \"jid\": \"556792587747@s.whatsapp.net\",\n          \"lid\": \"55405111713944@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"263346020425972@lid\",\n          \"jid\": \"5511970922142@s.whatsapp.net\",\n          \"lid\": \"263346020425972@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230051517874190@lid\",\n          \"jid\": \"5511983954521@s.whatsapp.net\",\n          \"lid\": \"230051517874190@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"185138877071429@lid\",\n          \"jid\": \"5519997899780@s.whatsapp.net\",\n          \"lid\": \"185138877071429@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"202022527733989@lid\",\n          \"jid\": \"5527998700721@s.whatsapp.net\",\n          \"lid\": \"202022527733989@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"152716185718855@lid\",\n          \"jid\": \"5521996426585@s.whatsapp.net\",\n          \"lid\": \"152716185718855@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75673230176509@lid\",\n          \"jid\": \"553584447394@s.whatsapp.net\",\n          \"lid\": \"75673230176509@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"150384102395954@lid\",\n          \"jid\": \"5521993270238@s.whatsapp.net\",\n          \"lid\": \"150384102395954@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"189751739076743@lid\",\n          \"jid\": \"5511981744929@s.whatsapp.net\",\n          \"lid\": \"189751739076743@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"145432038645874@lid\",\n          \"jid\": \"553492474300@s.whatsapp.net\",\n          \"lid\": \"145432038645874@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"281410753544212@lid\",\n          \"jid\": \"5527998300902@s.whatsapp.net\",\n          \"lid\": \"281410753544212@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"4703593222231@lid\",\n          \"jid\": \"5517991630800@s.whatsapp.net\",\n          \"lid\": \"4703593222231@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"32044851683481@lid\",\n          \"jid\": \"556194375445@s.whatsapp.net\",\n          \"lid\": \"32044851683481@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"62247044931778@lid\",\n          \"jid\": \"5511945521843@s.whatsapp.net\",\n          \"lid\": \"62247044931778@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"14448286773290@lid\",\n          \"jid\": \"5511997035588@s.whatsapp.net\",\n          \"lid\": \"14448286773290@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"89357029490860@lid\",\n          \"jid\": \"5512991025072@s.whatsapp.net\",\n          \"lid\": \"89357029490860@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106575452700847@lid\",\n          \"jid\": \"5511982412905@s.whatsapp.net\",\n          \"lid\": \"106575452700847@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"187411032228046@lid\",\n          \"jid\": \"5513981114909@s.whatsapp.net\",\n          \"lid\": \"187411032228046@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128234855354528@lid\",\n          \"jid\": \"554399533776@s.whatsapp.net\",\n          \"lid\": \"128234855354528@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"239259843874834@lid\",\n          \"jid\": \"5521998957007@s.whatsapp.net\",\n          \"lid\": \"239259843874834@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"132796093849742@lid\",\n          \"jid\": \"5511939347751@s.whatsapp.net\",\n          \"lid\": \"132796093849742@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"45338245234943@lid\",\n          \"jid\": \"5513996787789@s.whatsapp.net\",\n          \"lid\": \"45338245234943@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"65863424168117@lid\",\n          \"jid\": \"557781155220@s.whatsapp.net\",\n          \"lid\": \"65863424168117@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"23008139853834@lid\",\n          \"jid\": \"5511976925222@s.whatsapp.net\",\n          \"lid\": \"23008139853834@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"75217963639011@lid\",\n          \"jid\": \"559182580380@s.whatsapp.net\",\n          \"lid\": \"75217963639011@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"91633227927682@lid\",\n          \"jid\": \"5511953074488@s.whatsapp.net\",\n          \"lid\": \"91633227927682@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"211793544769779@lid\",\n          \"jid\": \"554188663338@s.whatsapp.net\",\n          \"lid\": \"211793544769779@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"134819124093177@lid\",\n          \"jid\": \"5521981248068@s.whatsapp.net\",\n          \"lid\": \"134819124093177@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"130747545473173@lid\",\n          \"jid\": \"557192039690@s.whatsapp.net\",\n          \"lid\": \"130747545473173@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"139925924126809@lid\",\n          \"jid\": \"5522992750612@s.whatsapp.net\",\n          \"lid\": \"139925924126809@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44178671186076@lid\",\n          \"jid\": \"557532214299@s.whatsapp.net\",\n          \"lid\": \"44178671186076@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106571040301110@lid\",\n          \"jid\": \"554299330143@s.whatsapp.net\",\n          \"lid\": \"106571040301110@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"210071363571717@lid\",\n          \"jid\": \"557192045320@s.whatsapp.net\",\n          \"lid\": \"210071363571717@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"14027967168525@lid\",\n          \"jid\": \"5521973448998@s.whatsapp.net\",\n          \"lid\": \"14027967168525@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"207065188462631@lid\",\n          \"jid\": \"555596938069@s.whatsapp.net\",\n          \"lid\": \"207065188462631@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"82678170841120@lid\",\n          \"jid\": \"553588534450@s.whatsapp.net\",\n          \"lid\": \"82678170841120@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"26422907277313@lid\",\n          \"jid\": \"555191277088@s.whatsapp.net\",\n          \"lid\": \"26422907277313@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"206253137649796@lid\",\n          \"jid\": \"557199591734@s.whatsapp.net\",\n          \"lid\": \"206253137649796@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49289111814282@lid\",\n          \"jid\": \"553588038915@s.whatsapp.net\",\n          \"lid\": \"49289111814282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"211067644997684@lid\",\n          \"jid\": \"5511981100233@s.whatsapp.net\",\n          \"lid\": \"211067644997684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223278337679441@lid\",\n          \"jid\": \"5521995130677@s.whatsapp.net\",\n          \"lid\": \"223278337679441@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54606298103946@lid\",\n          \"jid\": \"5521984763688@s.whatsapp.net\",\n          \"lid\": \"54606298103946@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61791862300811@lid\",\n          \"jid\": \"5511986512346@s.whatsapp.net\",\n          \"lid\": \"61791862300811@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61856169365729@lid\",\n          \"jid\": \"5521987672338@s.whatsapp.net\",\n          \"lid\": \"61856169365729@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"265519525552212@lid\",\n          \"jid\": \"819063261374@s.whatsapp.net\",\n          \"lid\": \"265519525552212@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"231833811828812@lid\",\n          \"jid\": \"554884645931@s.whatsapp.net\",\n          \"lid\": \"231833811828812@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184125298348205@lid\",\n          \"jid\": \"554192892604@s.whatsapp.net\",\n          \"lid\": \"184125298348205@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"141669680828661@lid\",\n          \"jid\": \"5519993677056@s.whatsapp.net\",\n          \"lid\": \"141669680828661@lid\",\n          \"admin\": \"admin\",\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/510409923_2050899949062887_621625668635004822_n.jpg?ccb=11-4&oh=01_Q5Aa3AEeAhFF7_UzcPN4qCXlNp0HzEioh-tTDuNzQi72TYu5dw&oe=691A2A91&_nc_sid=5e03e0&_nc_cat=111\"\n        },\n        {\n          \"id\": \"71124775870627@lid\",\n          \"jid\": \"553197738097@s.whatsapp.net\",\n          \"lid\": \"71124775870627@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232589877076004@lid\",\n          \"jid\": \"556199817310@s.whatsapp.net\",\n          \"lid\": \"232589877076004@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"192702448668849@lid\",\n          \"jid\": \"5524981234466@s.whatsapp.net\",\n          \"lid\": \"192702448668849@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"149572387098643@lid\",\n          \"jid\": \"5511958034404@s.whatsapp.net\",\n          \"lid\": \"149572387098643@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"264703297200235@lid\",\n          \"jid\": \"553188698849@s.whatsapp.net\",\n          \"lid\": \"264703297200235@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"142631669596232@lid\",\n          \"jid\": \"61407772421@s.whatsapp.net\",\n          \"lid\": \"142631669596232@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"162354343989282@lid\",\n          \"jid\": \"5511991209194@s.whatsapp.net\",\n          \"lid\": \"162354343989282@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259334487420996@lid\",\n          \"jid\": \"554291276226@s.whatsapp.net\",\n          \"lid\": \"259334487420996@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"97427189186665@lid\",\n          \"jid\": \"5528999856056@s.whatsapp.net\",\n          \"lid\": \"97427189186665@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"40823798399045@lid\",\n          \"jid\": \"5521974308584@s.whatsapp.net\",\n          \"lid\": \"40823798399045@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"209272986157211@lid\",\n          \"jid\": \"554396509771@s.whatsapp.net\",\n          \"lid\": \"209272986157211@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"135965846798561@lid\",\n          \"jid\": \"5521994755281@s.whatsapp.net\",\n          \"lid\": \"135965846798561@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"247304267272202@lid\",\n          \"jid\": \"5521991661259@s.whatsapp.net\",\n          \"lid\": \"247304267272202@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"151818554323023@lid\",\n          \"jid\": \"556281321073@s.whatsapp.net\",\n          \"lid\": \"151818554323023@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"112352133410851@lid\",\n          \"jid\": \"553199623298@s.whatsapp.net\",\n          \"lid\": \"112352133410851@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"273314773786848@lid\",\n          \"jid\": \"559499081840@s.whatsapp.net\",\n          \"lid\": \"273314773786848@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/420068939_971617537698152_7541424757899945422_n.jpg?ccb=11-4&oh=01_Q5Aa3AHCUrCoPqEQLDRNu6aUvY-UGhwuiptTOqNq4idrYBvXQQ&oe=691B26D9&_nc_sid=5e03e0&_nc_cat=101\"\n        },\n        {\n          \"id\": \"278731113394185@lid\",\n          \"jid\": \"5512996886805@s.whatsapp.net\",\n          \"lid\": \"278731113394185@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131709467144352@lid\",\n          \"jid\": \"5521994607419@s.whatsapp.net\",\n          \"lid\": \"131709467144352@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61907759296716@lid\",\n          \"jid\": \"557588068575@s.whatsapp.net\",\n          \"lid\": \"61907759296716@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"79263722139684@lid\",\n          \"jid\": \"559887257799@s.whatsapp.net\",\n          \"lid\": \"79263722139684@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"237408662597634@lid\",\n          \"jid\": \"5511999079988@s.whatsapp.net\",\n          \"lid\": \"237408662597634@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"238220763742459@lid\",\n          \"jid\": \"5515992692785@s.whatsapp.net\",\n          \"lid\": \"238220763742459@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"66370196742399@lid\",\n          \"jid\": \"558788143552@s.whatsapp.net\",\n          \"lid\": \"66370196742399@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"172662148071612@lid\",\n          \"jid\": \"554888489700@s.whatsapp.net\",\n          \"lid\": \"172662148071612@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"217145074003972@lid\",\n          \"jid\": \"558288374561@s.whatsapp.net\",\n          \"lid\": \"217145074003972@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"234264780095521@lid\",\n          \"jid\": \"556384038467@s.whatsapp.net\",\n          \"lid\": \"234264780095521@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"185529853280347@lid\",\n          \"jid\": \"5521993897637@s.whatsapp.net\",\n          \"lid\": \"185529853280347@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"281230364958754@lid\",\n          \"jid\": \"5511945329000@s.whatsapp.net\",\n          \"lid\": \"281230364958754@lid\",\n          \"admin\": \"superadmin\",\n          \"name\": \"Beatriz Ribeiro\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/524400559_753687797566570_7373309297843807004_n.jpg?ccb=11-4&oh=01_Q5Aa3AEbBFXvXSKi_57T2uaepgumtohf4djPKOpS1JFV0WIAYA&oe=691B3C1F&_nc_sid=5e03e0&_nc_cat=101\"\n        },\n        {\n          \"id\": \"151646806007996@lid\",\n          \"jid\": \"5511960226010@s.whatsapp.net\",\n          \"lid\": \"151646806007996@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"271480789176358@lid\",\n          \"jid\": \"553187149103@s.whatsapp.net\",\n          \"lid\": \"271480789176358@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184095334260757@lid\",\n          \"jid\": \"554999163891@s.whatsapp.net\",\n          \"lid\": \"184095334260757@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"50290241839295@lid\",\n          \"jid\": \"554396582910@s.whatsapp.net\",\n          \"lid\": \"50290241839295@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"33226001240167@lid\",\n          \"jid\": \"5511998263020@s.whatsapp.net\",\n          \"lid\": \"33226001240167@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"142661700817082@lid\",\n          \"jid\": \"553496962713@s.whatsapp.net\",\n          \"lid\": \"142661700817082@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/473400946_938415378499247_7929282722705348637_n.jpg?ccb=11-4&oh=01_Q5Aa3AGcyEbaEk6-4WcWIWtRGbOX8uZuLqlQNatw9XGoAJ_jgQ&oe=691ABE10&_nc_sid=5e03e0&_nc_cat=104\"\n        },\n        {\n          \"id\": \"26294259585030@lid\",\n          \"jid\": \"5511957459109@s.whatsapp.net\",\n          \"lid\": \"26294259585030@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"222384917340288@lid\",\n          \"jid\": \"5513988681257@s.whatsapp.net\",\n          \"lid\": \"222384917340288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"182325774172177@lid\",\n          \"jid\": \"5511961199692@s.whatsapp.net\",\n          \"lid\": \"182325774172177@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"77112044204219@lid\",\n          \"jid\": \"5521972848297@s.whatsapp.net\",\n          \"lid\": \"77112044204219@lid\",\n          \"admin\": \"admin\",\n          \"name\": \"Suporte Nanda Peris\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/290915964_1231173477630479_4202380101514387951_n.jpg?ccb=11-4&oh=01_Q5Aa3AH0l5ggOlXywyPkEXFK2wzKqJuZ2b3j4VZkv1Zy65n_UQ&oe=691AD90F&_nc_sid=5e03e0&_nc_cat=105\"\n        },\n        {\n          \"id\": \"176162412220608@lid\",\n          \"jid\": \"5515988314709@s.whatsapp.net\",\n          \"lid\": \"176162412220608@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"60992897687783@lid\",\n          \"jid\": \"553588287693@s.whatsapp.net\",\n          \"lid\": \"60992897687783@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"23137106292776@lid\",\n          \"jid\": \"5521971525942@s.whatsapp.net\",\n          \"lid\": \"23137106292776@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"60297062682779@lid\",\n          \"jid\": \"553798609905@s.whatsapp.net\",\n          \"lid\": \"60297062682779@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"33621155004477@lid\",\n          \"jid\": \"5521987271378@s.whatsapp.net\",\n          \"lid\": \"33621155004477@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"19490712584254@lid\",\n          \"jid\": \"5511963309445@s.whatsapp.net\",\n          \"lid\": \"19490712584254@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"195983820480623@lid\",\n          \"jid\": \"5512991018545@s.whatsapp.net\",\n          \"lid\": \"195983820480623@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"218278962143457@lid\",\n          \"jid\": \"558197177024@s.whatsapp.net\",\n          \"lid\": \"218278962143457@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"136193496866870@lid\",\n          \"jid\": \"554199443358@s.whatsapp.net\",\n          \"lid\": \"136193496866870@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"194480598720522@lid\",\n          \"jid\": \"5521994816233@s.whatsapp.net\",\n          \"lid\": \"194480598720522@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"91689012228245@lid\",\n          \"jid\": \"555399337181@s.whatsapp.net\",\n          \"lid\": \"91689012228245@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44371424608381@lid\",\n          \"jid\": \"554991332327@s.whatsapp.net\",\n          \"lid\": \"44371424608381@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"117106746097827@lid\",\n          \"jid\": \"5511996110929@s.whatsapp.net\",\n          \"lid\": \"117106746097827@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": null\n        },\n        {\n          \"id\": \"55697169481879@lid\",\n          \"jid\": \"5514998871893@s.whatsapp.net\",\n          \"lid\": \"55697169481879@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44603268980868@lid\",\n          \"jid\": \"5511970242447@s.whatsapp.net\",\n          \"lid\": \"44603268980868@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"119039464595561@lid\",\n          \"jid\": \"5512991757831@s.whatsapp.net\",\n          \"lid\": \"119039464595561@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"117192578314418@lid\",\n          \"jid\": \"5521968531826@s.whatsapp.net\",\n          \"lid\": \"117192578314418@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"82205741187221@lid\",\n          \"jid\": \"553191177390@s.whatsapp.net\",\n          \"lid\": \"82205741187221@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"193638701240532@lid\",\n          \"jid\": \"5511992409882@s.whatsapp.net\",\n          \"lid\": \"193638701240532@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"6318635143398@lid\",\n          \"jid\": \"557181696115@s.whatsapp.net\",\n          \"lid\": \"6318635143398@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"163887378895066@lid\",\n          \"jid\": \"5511955577825@s.whatsapp.net\",\n          \"lid\": \"163887378895066@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"161718537838634@lid\",\n          \"jid\": \"5521983337799@s.whatsapp.net\",\n          \"lid\": \"161718537838634@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"262920885821674@lid\",\n          \"jid\": \"556281662676@s.whatsapp.net\",\n          \"lid\": \"262920885821674@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"209152089555067@lid\",\n          \"jid\": \"5516993071628@s.whatsapp.net\",\n          \"lid\": \"209152089555067@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"25589582926069@lid\",\n          \"jid\": \"5521999257005@s.whatsapp.net\",\n          \"lid\": \"25589582926069@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"54640691380467@lid\",\n          \"jid\": \"5519997909050@s.whatsapp.net\",\n          \"lid\": \"54640691380467@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"224674067775581@lid\",\n          \"jid\": \"557199746513@s.whatsapp.net\",\n          \"lid\": \"224674067775581@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"98161880236072@lid\",\n          \"jid\": \"5517997871331@s.whatsapp.net\",\n          \"lid\": \"98161880236072@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"96813025591541@lid\",\n          \"jid\": \"553284033316@s.whatsapp.net\",\n          \"lid\": \"96813025591541@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"45973346726141@lid\",\n          \"jid\": \"5516992278331@s.whatsapp.net\",\n          \"lid\": \"45973346726141@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"127152624279712@lid\",\n          \"jid\": \"557188289575@s.whatsapp.net\",\n          \"lid\": \"127152624279712@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"118395185926288@lid\",\n          \"jid\": \"553193037560@s.whatsapp.net\",\n          \"lid\": \"118395185926288@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259261573664950@lid\",\n          \"jid\": \"555189240074@s.whatsapp.net\",\n          \"lid\": \"259261573664950@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"49692939387034@lid\",\n          \"jid\": \"554799383226@s.whatsapp.net\",\n          \"lid\": \"49692939387034@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"154223886995628@lid\",\n          \"jid\": \"555191367593@s.whatsapp.net\",\n          \"lid\": \"154223886995628@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"176884067340394@lid\",\n          \"jid\": \"554399870008@s.whatsapp.net\",\n          \"lid\": \"176884067340394@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"271214434107579@lid\",\n          \"jid\": \"558591523243@s.whatsapp.net\",\n          \"lid\": \"271214434107579@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/534422658_1331622718229211_3982987240514407059_n.jpg?ccb=11-4&oh=01_Q5Aa3AGQdgcagPyaDHqtU4maa6LD5OPQzI2ykq6SnixAR37IxQ&oe=691AD10C&_nc_sid=5e03e0&_nc_cat=108\"\n        },\n        {\n          \"id\": \"256194950258760@lid\",\n          \"jid\": \"5517981479229@s.whatsapp.net\",\n          \"lid\": \"256194950258760@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"52738037670084@lid\",\n          \"jid\": \"5511947351732@s.whatsapp.net\",\n          \"lid\": \"52738037670084@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"178151032377543@lid\",\n          \"jid\": \"559199259811@s.whatsapp.net\",\n          \"lid\": \"178151032377543@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232009871941670@lid\",\n          \"jid\": \"553186572337@s.whatsapp.net\",\n          \"lid\": \"232009871941670@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"129029541744654@lid\",\n          \"jid\": \"5521980847580@s.whatsapp.net\",\n          \"lid\": \"129029541744654@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"213533442711655@lid\",\n          \"jid\": \"5511945567473@s.whatsapp.net\",\n          \"lid\": \"213533442711655@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"232340634771489@lid\",\n          \"jid\": \"558299553521@s.whatsapp.net\",\n          \"lid\": \"232340634771489@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"53712861048839@lid\",\n          \"jid\": \"5511945666039@s.whatsapp.net\",\n          \"lid\": \"53712861048839@lid\",\n          \"admin\": null,\n          \"name\": \"Marina\",\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/521176326_1144392807541035_5102176636431229645_n.jpg?ccb=11-4&oh=01_Q5Aa3AG62QzTAcSC-1MaR3S0prq7rHfxTefCtQeX5Vb2ru4avQ&oe=691B2271&_nc_sid=5e03e0&_nc_cat=103\"\n        },\n        {\n          \"id\": \"72430345257091@lid\",\n          \"jid\": \"5511961615070@s.whatsapp.net\",\n          \"lid\": \"72430345257091@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"43258994528413@lid\",\n          \"jid\": \"5527995906079@s.whatsapp.net\",\n          \"lid\": \"43258994528413@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"184924296482951@lid\",\n          \"jid\": \"5521985249685@s.whatsapp.net\",\n          \"lid\": \"184924296482951@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"230859038797861@lid\",\n          \"jid\": \"5519991146368@s.whatsapp.net\",\n          \"lid\": \"230859038797861@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"245186798039184@lid\",\n          \"jid\": \"5521986902491@s.whatsapp.net\",\n          \"lid\": \"245186798039184@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"98350892339357@lid\",\n          \"jid\": \"553799777320@s.whatsapp.net\",\n          \"lid\": \"98350892339357@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"99389955662001@lid\",\n          \"jid\": \"5521979996989@s.whatsapp.net\",\n          \"lid\": \"99389955662001@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"61529818972226@lid\",\n          \"jid\": \"557498167291@s.whatsapp.net\",\n          \"lid\": \"61529818972226@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"169878992494731@lid\",\n          \"jid\": \"553171331313@s.whatsapp.net\",\n          \"lid\": \"169878992494731@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"217900937961493@lid\",\n          \"jid\": \"5521986381728@s.whatsapp.net\",\n          \"lid\": \"217900937961493@lid\",\n          \"admin\": null,\n          \"name\": null,\n          \"imgUrl\": null\n        },\n        {\n          \"id\": \"134093308186774@lid\",\n          \"jid\": \"559182463597@s.whatsapp.net\",\n          \"lid\": \"134093308186774@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"31404935106703@lid\",\n          \"jid\": \"555198129398@s.whatsapp.net\",\n          \"lid\": \"31404935106703@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"137988726063217@lid\",\n          \"jid\": \"5521982704057@s.whatsapp.net\",\n          \"lid\": \"137988726063217@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"13409022128269@lid\",\n          \"jid\": \"555492002024@s.whatsapp.net\",\n          \"lid\": \"13409022128269@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"259098281017583@lid\",\n          \"jid\": \"559293957714@s.whatsapp.net\",\n          \"lid\": \"259098281017583@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"223669112578088@lid\",\n          \"jid\": \"5511965110883@s.whatsapp.net\",\n          \"lid\": \"223669112578088@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"3071220432991@lid\",\n          \"jid\": \"5521995547695@s.whatsapp.net\",\n          \"lid\": \"3071220432991@lid\",\n          \"admin\": \"admin\",\n          \"name\": null,\n          \"imgUrl\": \"https://pps.whatsapp.net/v/t61.24694-24/382494979_686145636817496_5699182334539578556_n.jpg?ccb=11-4&oh=01_Q5Aa3AFFxf6IRkJMxCxbiqZSrJOaQxUoBkKcAL81FkOm5LygBQ&oe=691B2C7D&_nc_sid=5e03e0&_nc_cat=103\"\n        },\n        {\n          \"id\": \"198956189491442@lid\",\n          \"jid\": \"5512978112632@s.whatsapp.net\",\n          \"lid\": \"198956189491442@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"66237052805309@lid\",\n          \"jid\": \"558596222427@s.whatsapp.net\",\n          \"lid\": \"66237052805309@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"131834037936347@lid\",\n          \"jid\": \"5511999636369@s.whatsapp.net\",\n          \"lid\": \"131834037936347@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44766460944523@lid\",\n          \"jid\": \"5511997300556@s.whatsapp.net\",\n          \"lid\": \"44766460944523@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"128269382860919@lid\",\n          \"jid\": \"555499454699@s.whatsapp.net\",\n          \"lid\": \"128269382860919@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"31190169952348@lid\",\n          \"jid\": \"555499639720@s.whatsapp.net\",\n          \"lid\": \"31190169952348@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"153931678249210@lid\",\n          \"jid\": \"5511949786817@s.whatsapp.net\",\n          \"lid\": \"153931678249210@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"92256283431068@lid\",\n          \"jid\": \"5511971965957@s.whatsapp.net\",\n          \"lid\": \"92256283431068@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"102684145283197@lid\",\n          \"jid\": \"556592268378@s.whatsapp.net\",\n          \"lid\": \"102684145283197@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"106364881862847@lid\",\n          \"jid\": \"5519992232095@s.whatsapp.net\",\n          \"lid\": \"106364881862847@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"219391358672952@lid\",\n          \"jid\": \"559180868955@s.whatsapp.net\",\n          \"lid\": \"219391358672952@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"196232827912405@lid\",\n          \"jid\": \"5522998684759@s.whatsapp.net\",\n          \"lid\": \"196232827912405@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"44822412931127@lid\",\n          \"jid\": \"557187824445@s.whatsapp.net\",\n          \"lid\": \"44822412931127@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"132113244389601@lid\",\n          \"jid\": \"5511987207454@s.whatsapp.net\",\n          \"lid\": \"132113244389601@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"198131237032094@lid\",\n          \"jid\": \"554891557595@s.whatsapp.net\",\n          \"lid\": \"198131237032094@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"136258156286193@lid\",\n          \"jid\": \"554998223933@s.whatsapp.net\",\n          \"lid\": \"136258156286193@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"272017509064934@lid\",\n          \"jid\": \"5514997515894@s.whatsapp.net\",\n          \"lid\": \"272017509064934@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"154919587852467@lid\",\n          \"jid\": \"351933055270@s.whatsapp.net\",\n          \"lid\": \"154919587852467@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"118236305702980@lid\",\n          \"jid\": \"5519996441962@s.whatsapp.net\",\n          \"lid\": \"118236305702980@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"39436473614572@lid\",\n          \"jid\": \"557186222272@s.whatsapp.net\",\n          \"lid\": \"39436473614572@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"208332086325377@lid\",\n          \"jid\": \"555198065253@s.whatsapp.net\",\n          \"lid\": \"208332086325377@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"165352348594323@lid\",\n          \"jid\": \"556195197770@s.whatsapp.net\",\n          \"lid\": \"165352348594323@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"222165890810037@lid\",\n          \"jid\": \"554791196627@s.whatsapp.net\",\n          \"lid\": \"222165890810037@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"260721728295125@lid\",\n          \"jid\": \"5511972771427@s.whatsapp.net\",\n          \"lid\": \"260721728295125@lid\",\n          \"admin\": null\n        },\n        {\n          \"id\": \"207322500599823@lid\",\n          \"jid\": \"554699006412@s.whatsapp.net\",\n          \"lid\": \"207322500599823@lid\",\n          \"admin\": null\n        }\n      ]\n    }\n  }\n]\n`;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(RAW);\n} catch (e) {\n  throw new Error(' JSON invlido. Verifique se o contedo entre as crases est correto.');\n}\n\n// Entrega o objeto completo ao prximo n\nreturn [{ json: { raw: parsed } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,48],"id":"63922ab9-1f3f-4fc5-bfdd-1bd8651b6e6a","name":"Code"},{"parameters":{"jsCode":"const raw = $json.raw;\n\n// Detecta onde est a lista de participantes\nlet participants = [];\nif (Array.isArray(raw)) {\n  const holder = raw.find(o => o && o.data && Array.isArray(o.data.participants));\n  participants = holder?.data?.participants ?? [];\n} else {\n  participants = raw?.data?.participants ?? [];\n}\n\n// Gera um item por participante\nreturn participants.map(p => {\n  const whatsapp = String(p?.jid || '').replace('@s.whatsapp.net', '');\n  return {\n    json: {\n      whatsapp,\n      lid: p?.lid ?? null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,48],"id":"cf946e7d-4249-4269-b4cf-26a8e6923f3a","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2103359364,"mode":"list","cachedResultName":"Todos dentro do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=2103359364"},"columns":{"mappingMode":"autoMapInputData","value":{"Whatsapp":"={{ $json.whatsapp }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lid","displayName":"lid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,48],"id":"5315ec64-835e-4876-8b72-bcbbb096da2a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"When clicking Execute workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9364c56-11f6-40c1-bf0e-1035c48ec91c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-07T16:35:25.376Z","createdAt":"2025-11-07T16:35:25.376Z","role":"workflow:owner","workflowId":"kyd8QuSQjm4nKFFx","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}