Lj99YnAknifBxYJ8.json
{"updatedAt":"2025-11-03T19:16:46.397Z","createdAt":"2025-10-24T21:04:30.960Z","id":"Lj99YnAknifBxYJ8","name":"Manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,0],"id":"6d83fc92-4a61-4d28-907f-2b9da08d0fa9","name":"Webhook","webhookId":"8c5d00d2-3625-48d1-8785-08aa06860e4b"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.custom_fields['[Nome]'] }}","Primeiro nome IG":"={{ $('Webhook').item.json.body.first_name }}","Último nome IG":"={{ $('Webhook').item.json.body.last_name }}","Whatsapp":"={{ $json.Whatsapp }}","utm_source":"Manychat","utm_campaign":"ig","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primeiro nome IG","displayName":"Primeiro nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Último nome IG","displayName":"Último nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,0],"id":"f316f4e0-c5be-4172-92ad-769cdba7c2bc","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,0],"id":"f800ac20-29ef-49c6-abf1-70a8af24d76b","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Whatsapp","lookupValue":"={{ $('Webhook').item.json.body.phone.split(\"+\")[1] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,0],"id":"f2179b2e-a8d6-4d6f-854f-48faf269c492","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"03f708c8-f20c-4d33-91b2-ff87dd6584eb","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"ManyChat","content-length":"1521","content-type":"application/json; charset=utf-8","x-forwarded-for":"3.73.49.41","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"62f20b7d8f04","x-real-ip":"3.73.49.41","accept-encoding":"gzip"},"params":{},"query":{},"body":{"key":"user:111989985","id":"111989985","page_id":"664048810362782","user_refs":[],"status":"active","first_name":"Davi","last_name":"Conceição | Gestor de Tráfego e Automações","name":"Davi Conceição | Gestor de Tráfego e Automações","gender":null,"profile_pic":"https://app.manychat.com/ava/664048810362782/111989985/c836f50bda1115de122780fc0b12c831","locale":null,"language":null,"timezone":"UTC±00","live_chat_url":"https://app.manychat.com/fb664048810362782/chat/111989985","last_input_text":null,"optin_phone":true,"phone":"+91982463597","optin_email":false,"email":null,"subscribed":"2025-10-29T17:37:32-03:00","last_interaction":null,"ig_last_interaction":"2025-11-03T16:06:21-03:00","last_seen":null,"ig_last_seen":"2025-11-03T16:06:22-03:00","is_followup_enabled":true,"ig_username":"daviconceicaoofc","ig_id":1070516508368603,"whatsapp_phone":null,"optin_whatsapp":false,"phone_country_code":null,"last_growth_tool":null,"custom_fields":{"[IG][USERNAME]":null,"[GN][Q1][RESPOSTA]":null,"[GN][Q2][RESPOSTA]":null,"[IG][PIC]":null,"ORIGEM":null,"[UTM][KEYWORD]":null,"QUAL SUA IDADE":null,"HA QUANTO TEMPO ME CONHECE":null,"QUAL SUA PROFISSAO":null,"AREA DE TRANSFORMACAO":null,"BLOQUEIO DE RESULTADOS":null,"QUAL SUA RENDA":null,"QUIZ-P1":null,"QUIZ-RESULTADO-A":null,"QUIZ-RESULTADO-B":null,"QUIZ-RESULTADO-C":null,"DATA":null,"CHECKPOIT":null,"ORIGEM-":null,"TELEFONE":null,"NOME":null,"Melhorar senso de merecimento?":null,"Sente sobrecarregada emocionalmente?":null,"[Nome]":"Davi Conceição"}},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/Manychat","executionMode":"production"}}]},"versionId":"7b345cd8-f81d-4233-9218-e0fecdce49e9","activeVersionId":"7b345cd8-f81d-4233-9218-e0fecdce49e9","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T21:04:30.960Z","createdAt":"2025-10-24T21:04:30.960Z","role":"workflow:owner","workflowId":"Lj99YnAknifBxYJ8","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"7b345cd8-f81d-4233-9218-e0fecdce49e9","workflowId":"Lj99YnAknifBxYJ8","nodes":[{"parameters":{"httpMethod":"POST","path":"Manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,0],"id":"6d83fc92-4a61-4d28-907f-2b9da08d0fa9","name":"Webhook","webhookId":"8c5d00d2-3625-48d1-8785-08aa06860e4b"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Webhook').item.json.body.custom_fields['[Nome]'] }}","Primeiro nome IG":"={{ $('Webhook').item.json.body.first_name }}","Último nome IG":"={{ $('Webhook').item.json.body.last_name }}","Whatsapp":"={{ $json.Whatsapp }}","utm_source":"Manychat","utm_campaign":"ig","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primeiro nome IG","displayName":"Primeiro nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Último nome IG","displayName":"Último nome IG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,0],"id":"f316f4e0-c5be-4172-92ad-769cdba7c2bc","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,0],"id":"f800ac20-29ef-49c6-abf1-70a8af24d76b","name":"Date & Time"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Whatsapp","lookupValue":"={{ $('Webhook').item.json.body.phone.split(\"+\")[1] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,0],"id":"f2179b2e-a8d6-4d6f-854f-48faf269c492","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,0],"id":"03f708c8-f20c-4d33-91b2-ff87dd6584eb","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}