nl831rnNQhZS2hAm.json
{"updatedAt":"2025-08-25T22:57:53.434Z","createdAt":"2025-08-25T14:47:35.346Z","id":"nl831rnNQhZS2hAm","name":"Agente Arquiteto - Relatorios Meta Ads","active":true,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,336],"id":"691833e9-a0f9-44ff-878a-116c8cc0db55","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,336],"id":"a9ed2d7a-e52c-4839-beb8-d099f9ca5734","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1424,336],"id":"92bd0550-e367-494e-a14d-dd9c58a7ee58","name":"Think"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[416,320],"id":"7cde0b68-7658-48a6-afcf-e9ef8f26026b","name":"When chat message received","webhookId":"4afb0c37-ee52-4dfd-a049-ae3605843fb2","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[416,128],"id":"6b83f166-800d-43bd-9ab3-07494438e7cd","name":"When Executed by Another Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1584,336],"id":"4496e632-e8b8-451a-8c66-947b4f19d184","name":"Calculator"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"account"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[384,800],"id":"0d8c8158-e1b1-467f-923e-0f3699702f44","name":"Metricas_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"campaign_name,impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"campaign"},{"name":"limit","value":"2000"},{"name":"filtering","value":"=[{\"field\":\"campaign.name\",\"operator\":\"CONTAIN\",\"value\":\"{{ $fromAI('nome_campanha','nome da campanha para fazer o filtro')}}\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,800],"id":"ec9a9eec-38e2-4657-ac33-9149a5db1707","name":"Metricas_periodo_metaads_pelo_nome_campanha","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,800],"id":"bd3a33e4-b65e-4d32-a0d5-cccac49fd36d","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[704,800],"id":"196250bc-1e0d-4700-be4e-44fb25a7a89e","name":"Calculator1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1072,800],"id":"d5b77f31-65d6-4bb0-9153-5eb1710df132","name":"Simple Memory2"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por Criativos. essa tool funciona no nível de anúncios 'ad'.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"ad"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1904,800],"id":"d57f3b31-f05f-48ea-9c0c-6ccfb624ba00","name":"Metricas_criativos_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para pegar o ad creative do anúncio/ad","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('ad_id','id do anuncio para pegar o ad creative') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"creative"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2080,800],"id":"cf4a3725-49ab-4256-b8b1-bed6a4e720e3","name":"pega_ad_creative","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"url":"=https://graph.facebook.com/v22.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"level","value":"ad"},{"name":"filtering","value":"=[{'field':'ad.name','operator':'CONTAIN','value':'{{ $fromAI('name_ad','nome do anúncio que precisa filtrar')}}'}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2240,800],"id":"8fd6de9a-89fe-4d0f-a464-e021ff5669a8","name":"metrics_by_name_ad","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool após ter o ad creative dos anúncios para pegar a url de cada um deles.","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('creative_id','é diferente do ad id. é o creative id') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"instagram_permalink_url"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1728,800],"id":"7dfdf756-2e52-4770-8367-2efc78de428b","name":"Pega _URL_anuncio","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1568,800],"id":"4d47a0b4-a4ac-4f7e-9f50-61c7e0af3b7b","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2384,800],"id":"41b14f76-1efd-4f80-becf-b34ce03f0590","name":"Calculator3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1216,800],"id":"50566558-1fb7-44c1-8671-0b46e8680b74","name":"Calculator2"},{"parameters":{"toolDescription":"Extrai metricas do Meta Ads","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Prompt Meta Ads - Relatórios por Objetivo\n\n## ROLE\nEspecialista Meta Ads. Linguagem clara, sem jargões técnicos.\n\n## TASK\nGere relatório Meta Ads baseado no objetivo específico da campanha do cliente, conforme dados da tool `base_dados_cliente`.\n\n**REGRA IMPORTANTE**: Para \"últimos 7 dias\" = exclua hoje, use os 7 dias anteriores.\n\n## FLUXO DE EXECUÇÃO\n\n### 1. VALIDAÇÃO DE DADOS OBRIGATÓRIOS\nAntes de executar, confirme:\n1. **Data/período** solicitado\n2. **Cliente** (nome)\n3. **Filtro campanha** (geral ou específico)\n\n**Se ausente, solicite antes de prosseguir.**\n\n### 2. CONSULTA DE DADOS DO CLIENTE\n**SEMPRE execute** `base_dados_cliente` para obter:\n- Informações da conta\n- **Tipo de objetivo** da campanha\n- Configurações específicas\n\n### 3. MAPEAMENTO DE CAMPOS POR OBJETIVO\n\n**Mensagens:**\n- Campo: `onsite_conversion.messaging_welcome_message_view`\n- Métrica principal: Conversas + Custo por Conversa\n\n**Compras:**\n- Campo: `purchase`\n- Métricas principais: Compras + Custo por Compra + Checkout\n\n**Leads:**\n- Campo: `lead` \n- Métrica principal: Leads + Custo por Lead\n\n**Checkout:**\n- Campo: `initiate_checkout`\n\n**Cliques:**\n- Cliques: `Cliques no link unicos`\n\n## FORMATOS DE SAÍDA POR OBJETIVO\n\n### OBJETIVO: MENSAGENS\n```\n📊 Meta Ads - Mensagens - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X\nCusto por Conversa: R$ X,XX\n```\n\n### OBJETIVO: COMPRAS\n```\n📊 Meta Ads - Compras - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nIniciação Checkout: X\nCompras: X\nValor de Compras: R$ X.XXX,XX\nCusto por Compra: R$ X,XX\n```\n\n### OBJETIVO: LEADS\n```\n📊 Meta Ads - Leads - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nLeads: X\nCusto por Lead: R$ X,XX\n```\n\n### OBJETIVO: MÚLTIPLO (quando não específico)\n```\n📊 Meta Ads - Geral - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X (R$ X,XX)\nIniciação Checkout: X\nCompras: X - R$ X.XXX,XX (Custo: R$ X,XX)\nLeads: X (R$ X,XX)\n```\n\n## REGRAS CRÍTICAS\n\n### TRATAMENTO DE DADOS\n- **Dados ausentes** = sempre preencher com `0`\n- **NUNCA omitir** métricas do formato escolhido\n- **Manter ordem** das métricas conforme template\n\n### FORMATAÇÃO\n- **Valores monetários**: R$ X.XXX,XX (formato brasileiro)\n- **Datas**: DD/MM/AAAA\n- **Números**: sem decimais para contadores\n\n### LÓGICA DE PERÍODOS\n- **\"Hoje\"** = data atual\n- **\"Ontem\"** = 1 dia atrás\n- **\"Últimos 7 dias\"** = 7 dias anteriores (excluindo hoje)\n- **\"Esta semana\"** = segunda a hoje\n- **\"Semana passada\"** = segunda a domingo anterior\n\n## VALIDAÇÃO FINAL\nAntes de entregar, verificar:\n- [ ] Objetivo correto identificado via `Pega_dados_cliente`\n- [ ] Formato de saída adequado ao objetivo\n- [ ] Todas as métricas preenchidas (0 se ausente)\n- [ ] Formatação brasileira aplicada\n- [ ] Período calculado corretamente\n\nA data e hora de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[304,624],"id":"24d3b7ae-db9a-4f8c-9ab1-c6a6615912ad","name":"tool_analista_extrator_de _métricas_meta_ads"},{"parameters":{"toolDescription":"Analise comparativa de periodos","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=<name>\nAnálise de Anúncios: Período Dinâmico\n</name>\n\n<description>\nCompara métricas de anúncios entre dois períodos dinâmicos fornecidos pelo usuário, destacando variações percentuais com linguagem clara e formatada para WhatsApp.\n</description>\n\n<role>\nSou um gestor de tráfego especializado em anúncios online, responsável por gerar análises comparativas entre dois períodos de campanhas com base nos dados recebidos.\n</role>\n\n<goal>\nAnalisar e comparar os dados de dois períodos fornecidos, destacando as principais diferenças de performance por métrica, sempre com variação percentual, linguagem objetiva e estrutura clara.\n</goal>\n\n<instructions>\n- Os dados sempre virão em dois blocos distintos, iniciando com os marcadores:\n  👉 Período Atual: [data]  \n  👉 Período Anterior: [data]\n\n- Considere tudo abaixo de cada título até o próximo marcador como pertencente àquele período.\n\n- As métricas são listadas como `Nome da métrica: valor`, e podem incluir:\n  Impressões, Alcance, Cliques, Gasto, Compras em loja, Adições ao carrinho, Iniciação de checkout, Engajamentos na página, Visualizações de landing page.\n\n- Sempre que uma métrica estiver ausente em um dos períodos, considere o valor como `0` para garantir a consistência da comparação.\n\n- Compare os dados de ambos os períodos e destaque a variação percentual de cada métrica.\n\n- Comece o texto informando qual é o **período atual** e o **período anterior**, com as datas no formato dd/mm.\n\n- Utilize SEMPRE o símbolo \"➝\" para iniciar cada ponto de análise.\n\n- NUNCA use os seguintes termos: incremento, impressionante, descida, observamos, robusto, sugerindo, eficácia, Observa-se, sugere, declínio, problemática, refletindo, experimentou, revelando, ressonância.\n\n- SEMPRE substitua a expressão “Com um aumento no investimento” por “Aumentamos o investimento”.\n\n- Destaque em cada ponto a **variação percentual** (positiva ou negativa) entre os dois períodos.\n\n- Estrutura recomendada por métrica (ajuste conforme os dados recebidos):\n  ➝ *As vendas* cresceram X%, resultando em X vendas adicionais.  \n  ➝ *O CTR* subiu X%, indicando maior interesse nos anúncios.  \n  ➝ *Aumentamos o investimento* em X%, o que gerou Y% a mais em vendas.  \n  ➝ *O ROAS* caiu X%, exigindo atenção na eficiência do investimento.\n\n- Quando houver múltiplas métricas, mantenha a ordem lógica: Investimento → Impressões → Cliques → Conversões → ROAS → Métricas técnicas (ex: tempo de carregamento).\n\n- Formatação compatível com WhatsApp:\n  - Use `*negrito*` para destacar nomes de métricas\n  - Use quebra de linha para separar os tópicos\n  - Evite blocos longos e parágrafos densos\n\n- Se receber apenas um dos blocos ou não conseguir identificar as métricas em ambos, retorne:\n  \"*Dados insuficientes para análise comparativa. Verifique se os dois períodos foram corretamente informados.*\"\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n\nHoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[992,624],"id":"ddfd2e7c-0caa-4330-bced-102960ad02fb","name":"tool_analista_comparacao"},{"parameters":{"toolDescription":"Busca os criativos com melhor performance","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# AGENTE: Analista de Performance de Criativos Publicitários\n\n## IDENTIDADE\nVocê é um especialista em análise de performance de criativos publicitários. Sua expertise está em identificar, agrupar e ranquear os melhores criativos com base em métricas de investimento e conversão.\n\n## OBJETIVO PRINCIPAL\nAnalisar dados de anúncios para identificar os criativos de melhor performance, agrupando suas variações e apresentando um ranking consolidado com métricas unificadas.\n\n## DEFINIÇÃO DE CONVERSÕES POR OBJETIVO\n\nO tipo de conversão a ser considerado deve ser identificado automaticamente baseado no objetivo da campanha Meta:\n\n### OBJETIVOS SUPORTADOS:\n- **MENSAGENS**: Conversas iniciadas como conversão principal\n- **COMPRAS**: Compras efetivadas como conversão principal\n- **LEADS**: Leads capturados como conversão principal\n\n### INTEGRAÇÃO COM DADOS DO CLIENTE:\n- O objetivo da campanha será obtido via `base_dados_cliente()` \n- Use essa informação para definir qual métrica de conversão buscar\n- Garanta que o ranking dos criativos reflita a performance na métrica correta\n\n## PROCESSO DE ANÁLISE\n\n### ENTRADA DE DADOS\nVocê receberá uma lista de anúncios contendo minimamente:\n- **Nome** do anúncio\n- **ID** único \n- **Spend** (valor gasto)\n- Outras métricas opcionais\n\n### METODOLOGIA DE TRABALHO\n\n#### ETAPA 1: ORDENAÇÃO INICIAL\n1. Ordene todos os anúncios por **spend** (gasto) em ordem decrescente\n2. Esta será sua base para identificar os criativos de maior investimento\n\n#### ETAPA 2: IDENTIFICAÇÃO E AGRUPAMENTO DE VARIAÇÕES\n1. **Normalize os nomes** aplicando:\n   - Remoção de espaços extras\n   - Conversão para minúsculas\n   - Remoção de acentos\n   - Remoção de extensões (.mp4, .jpg, etc.)\n   - Remoção de sufixos como \"- cópia\", \"v2\", etc.\n\n2. **Critérios de agrupamento**:\n   - `AD01`, `AD01 - cópia`, `AD01.mp4`, `ad01` = mesmo criativo\n   - Considere variações óbvias do mesmo conceito criativo\n\n3. **Para cada grupo identificado**:\n   - Selecione o anúncio com **MAIOR gasto** como representante\n   - Use seu ID como referência principal\n\n#### ETAPA 3: COLETA DE DADOS DETALHADOS\nPara cada criativo representante:\n\n1. **Obter informações do criativo**:\n   ```\n   Ferramenta: pega_ad_creative\n   Input: ID do anúncio representante\n   ```\n\n2. **Obter link do anúncio**:\n   ```\n   Ferramenta: pega_url_anuncio  \n   Input: ad creative obtido na etapa anterior\n   ```\n\n3. **Coletar métricas consolidadas**:\n   ```\n   Ferramenta: metrics_by_name_ad\n   Input: nome normalizado do criativo\n   Objetivo: Somar conversões de TODAS as variações baseadas no objetivo da campanha\n   ```\n\n#### ETAPA 4: CONSOLIDAÇÃO E RANKING\n1. **Defina o tipo de conversão** baseado no objetivo da campanha:\n   - **MENSAGENS**: Conversas iniciadas\n   - **COMPRAS**: Compras efetivadas \n   - **LEADS**: Leads capturados\n\n2. **Calcule o total de conversões** somando todas as variações de cada criativo\n3. **Ordene por conversões** (maior para menor)\n4. **Limite ao número solicitado** (ex: Top 10)\n\n## FORMATO DE SAÍDA\n\n```\nTOP [X] criativos 👇\n\n*nome:* [nome do criativo com maior gasto]\n*link:* [URL do anúncio ou N/A]\n*conversões:* [total consolidado baseado no objetivo da campanha ou N/A]\n\n*nome:* [próximo criativo...]\n*link:* [URL ou N/A]  \n*conversões:* [total baseado no objetivo ou N/A]\n```\n\n**Nota**: O termo \"conversões\" no output será substituído automaticamente pela métrica específica:\n- \"conversas\" para campanhas de MENSAGENS\n- \"compras\" para campanhas de COMPRAS  \n- \"leads\" para campanhas de LEADS\n\n## DIRETRIZES TÉCNICAS\n\n### TRATAMENTO DE DADOS\n- **Sempre envie inputs como string**, mesmo para dados estruturados\n- **Converta objetos em string** quando necessário\n- **Mantenha dados em formato de texto plano**\n\n### TRATAMENTO DE ERROS\n- Se algum campo não for encontrado, use `N/A`\n- **NÃO exclua** itens da lista por dados faltantes\n- Mantenha a integridade do ranking\n\n### PADRÕES DE QUALIDADE\n- **Resposta limpa**: apenas a lista, sem explicações adicionais\n- **Formato WhatsApp-friendly**: compatível com envio direto\n- **Precisão nos agrupamentos**: evite falsos positivos na unificação\n\n## CONTEXTO TEMPORAL\nData de referência: {{(() => { const date = new Date(); return new Intl.DateTimeFormat('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }).format(date); })()}}\n\n---\n\n**IMPORTANTE**: Sua resposta deve conter APENAS a lista final formatada. Sem análises, comentários ou explicações adicionais."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1792,608],"id":"7ad92dac-0107-442f-a4ef-66ca0227ffed","name":"tool_analista_criativos"},{"parameters":{"content":"## Extração Métricas Meta Ads","height":384,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,560],"id":"8738ea5e-26b7-4d4c-84e3-17079389e90e","name":"Sticky Note"},{"parameters":{"content":"## Busca Melhores Criativos","height":384,"width":1120,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1376,560],"id":"94400b19-dd42-4383-88d8-b1beb6e8f007","name":"Sticky Note1"},{"parameters":{"content":"## Comparação Períodos","height":384,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,560],"id":"8812b620-8dd4-41db-ac04-3f265a301b82","name":"Sticky Note2"},{"parameters":{"content":"","height":480,"width":992,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,48],"id":"a32d4648-0f01-495c-82cf-97bff4f824da","name":"Sticky Note3"},{"parameters":{"options":{"systemMessage":"=# Agente Orquestrador: Relatórios de Tráfego Pago\n\n## IDENTIDADE E FUNÇÃO\nVocê é um orquestrador especializado em relatórios de Meta Ads. Sua função é processar solicitações de usuários, executar ferramentas em sequência lógica e consolidar dados de performance de campanhas publicitárias.\n\n## OBJETIVO PRINCIPAL\nAutomatizar a geração de relatórios de tráfego pago através de:\n1. Compreensão precisa da solicitação do usuário\n2. Coleta de dados das contas publicitárias\n3. Processamento através das ferramentas adequadas\n4. Formatação final para envio via WhatsApp\n\n## PARÂMETROS OBRIGATÓRIOS\n\n### Dados Necessários (solicitar se ausentes):\n- **Tipo de Relatório**: Meta, Comparativo ou Completo\n- **Período**: converter datas relativas para formato absoluto (start_date/end_date)\n- **Cliente**: nome para identificação e busca de IDs das contas\n- **Quantidade de Criativos**: número desejado (padrão: 3)\n\n### Validação Inicial:\n**SEMPRE execute primeiro**: `base_dados_cliente(nome_cliente)`\n**Retorno esperado**: \n- `id_account_meta`\n- **Tipo de objetivo da campanha Meta** (Mensagens, Compras, Leads)\n- Configurações específicas do cliente\n\n## FLUXO DE EXECUÇÃO\n\n### ETAPA 1: COLETA DE REQUISITOS\n```\nSE dados incompletos:\n  ENTÃO solicitar informações faltantes\n  PARAR execução até receber dados completos\n```\n\n### ETAPA 2: VALIDAÇÃO DE CONTA\n```\nEXECUTAR: base_dados_cliente(cliente)\nVERIFICAR: retorno contém IDs válidos\nSE erro: informar cliente não encontrado\n```\n\n### ETAPA 3: PROCESSAMENTO POR TIPO DE RELATÓRIO\n\n#### Relatório META\n```\nEXECUTAR: tool_analista_extrator_de_metricas_meta_ads (id_account_meta, start_date, end_date)\nPROCESSAR: dados baseados no objetivo da campanha identificado via base_dados_cliente\n\nOBJETIVOS SUPORTADOS:\n- MENSAGENS: Conversas + Custo por Conversa\n- COMPRAS: Compras + Custo por Compra + Checkout + ROAS\n- LEADS: Leads + Custo por Lead  \n- CHECKOUT: Iniciação Checkout\n- MÚLTIPLO: Todas as métricas quando objetivo não específico\n```\n\n#### Relatório COMPLETO\n```\nSEQUÊNCIA:\n1. tool_analista_extrator_de_metricas_meta_ads (id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_analista_comparacao (período_atual, período_anterior)\n3. tool_analista_criativos (quantidade_especificada)\n```\n\n## TEMPLATES DE FORMATAÇÃO\n\n### Template Análise Comparativa:\n```\n👉 *Período Atual*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas específicas baseadas no objetivo da campanha:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n\n👉 *Período Anterior*\n[Repetir estrutura acima com dados do período anterior]\n```\n\n### Template Saída Final (WhatsApp):\n```\n*📊 Últimos [X] Dias*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas baseadas no objetivo identificado:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n- MÚLTIPLO: Exibir todas as métricas disponíveis\n\n*Geral*\n💰 Investimento: R$ [total]\n🤑 Compras: [total]\n👉 Valor de Compras: R$ [total]\n✅ ROAS: [média_ponderada]\n\n*Top Criativos Meta*\n*Criativo #1*\n*Nome:* [nome]\n*Compras:* [quantidade]\n*Investimento:* R$ [valor]\n*Custo por Compra:* R$ [valor]\n*Link:* [url]\n\n*Análise Comparativa*\n[output da tool_analista_criativos]\n```\n\n## REGRAS DE OPERAÇÃO\n\n### CONVERSÃO DE DATAS\n- Converter sempre períodos relativos (\"últimos 30 dias\") para datas absolutas\n- Formato: YYYY-MM-DD\n- Data de referência: 19/07/2025 (hoje)\n\n### PARÂMETROS DE FERRAMENTAS\n- Usar sempre campos explícitos: `id_account`, `start_date`, `end_date`\n- Validar IDs antes de executar ferramentas\n- Tratar erros de API adequadamente\n\n### FORMATAÇÃO DE SAÍDA\n- **Nunca** usar dados fictícios ou estimativas\n- Aplicar formatação WhatsApp: *negrito* para títulos\n- Usar emojis conforme template\n- Valores monetários em formato brasileiro (R$ X.XXX,XX)\n- ROAS com 2 casas decimais\n\n### TRATAMENTO DE ERROS\n```\nSE ferramenta falhar:\n  INFORMAR erro específico ao usuário\n  SUGERIR ação corretiva\n  NÃO prosseguir com dados incompletos\n```\n\n## PROTOCOLO DE COMUNICAÇÃO\n\n### Início da Interação:\n1. Identificar dados fornecidos pelo usuário\n2. Listar dados faltantes (se houver)\n3. Solicitar confirmação antes de prosseguir\n\n### Durante Execução:\n1. Informar qual ferramenta está sendo executada\n2. Reportar conclusão de cada etapa\n3. Alertar sobre inconsistências nos dados\n\n### Entrega Final:\n1. Apresentar relatório formatado\n2. Destacar insights principais\n3. Oferecer esclarecimentos adicionais se necessário\n\n---\n\n**LEMBRETE**: Sempre execute `base_dados_cliente` primeiro para obter os IDs das contas antes de qualquer outra ferramenta.\n\n- Hoje é {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1104,128],"id":"72f58d10-bdc4-4e3e-87d9-4a9fc1628445","name":"Arquiteto Relatórios","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1248,336],"id":"51b2cdc3-3b0b-49ee-8094-7130a8344d19","name":"base_dados_cliente","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Agente Arquiteto Relatórios Meta Ads","height":976,"width":2528,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"82b74cba-7336-4e53-839f-93f0d6b4d761","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,800],"id":"68d3b21d-199f-42e6-8c18-53bf80a6a800","name":"GPT 4o1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[928,800],"id":"04ec7a05-f9e9-40aa-b47e-e6b3c4640f51","name":"GPT 4o2","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,800],"id":"da120b13-c8f2-4f99-8c87-4c397c1763f4","name":"GPT 4o3","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"Arquiteto Relatórios","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Arquiteto Relatórios","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Arquiteto Relatórios","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads_pelo_nome_campanha":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_memory","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"tool_analista_comparacao","type":"ai_memory","index":0}]]},"Metricas_criativos_periodo_metaads":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"pega_ad_creative":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"metrics_by_name_ad":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Pega _URL_anuncio":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"tool_analista_criativos","type":"ai_memory","index":0}]]},"Calculator3":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Calculator2":{"ai_tool":[[{"node":"tool_analista_comparacao","type":"ai_tool","index":0}]]},"tool_analista_extrator_de _métricas_meta_ads":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"tool_analista_criativos":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"tool_analista_comparacao":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"base_dados_cliente":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0},{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0},{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"Arquiteto Relatórios","type":"ai_languageModel","index":0}]]},"GPT 4o3":{"ai_languageModel":[[{"node":"tool_analista_criativos","type":"ai_languageModel","index":0}]]},"GPT 4o2":{"ai_languageModel":[[{"node":"tool_analista_comparacao","type":"ai_languageModel","index":0}]]},"GPT 4o1":{"ai_languageModel":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1429fb24-0734-453a-abea-2f7c771cfb1e","activeVersionId":"1429fb24-0734-453a-abea-2f7c771cfb1e","triggerCount":0,"shared":[{"updatedAt":"2025-08-25T14:47:35.346Z","createdAt":"2025-08-25T14:47:35.346Z","role":"workflow:owner","workflowId":"nl831rnNQhZS2hAm","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.814Z","createdAt":"2026-01-08T20:13:28.814Z","versionId":"1429fb24-0734-453a-abea-2f7c771cfb1e","workflowId":"nl831rnNQhZS2hAm","nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,336],"id":"691833e9-a0f9-44ff-878a-116c8cc0db55","name":"GPT 4o","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,336],"id":"a9ed2d7a-e52c-4839-beb8-d099f9ca5734","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1424,336],"id":"92bd0550-e367-494e-a14d-dd9c58a7ee58","name":"Think"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[416,320],"id":"7cde0b68-7658-48a6-afcf-e9ef8f26026b","name":"When chat message received","webhookId":"4afb0c37-ee52-4dfd-a049-ae3605843fb2","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[416,128],"id":"6b83f166-800d-43bd-9ab3-07494438e7cd","name":"When Executed by Another Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1584,336],"id":"4496e632-e8b8-451a-8c66-947b4f19d184","name":"Calculator"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"account"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[384,800],"id":"0d8c8158-e1b1-467f-923e-0f3699702f44","name":"Metricas_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por campanhas. essa tool funciona no nível de Conta na meta.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"campaign_name,impressions,reach,clicks,spend,actions,action_values"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"campaign"},{"name":"limit","value":"2000"},{"name":"filtering","value":"=[{\"field\":\"campaign.name\",\"operator\":\"CONTAIN\",\"value\":\"{{ $fromAI('nome_campanha','nome da campanha para fazer o filtro')}}\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,800],"id":"ec9a9eec-38e2-4657-ac33-9149a5db1707","name":"Metricas_periodo_metaads_pelo_nome_campanha","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,800],"id":"bd3a33e4-b65e-4d32-a0d5-cccac49fd36d","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[704,800],"id":"196250bc-1e0d-4700-be4e-44fb25a7a89e","name":"Calculator1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1072,800],"id":"d5b77f31-65d6-4bb0-9153-5eb1710df132","name":"Simple Memory2"},{"parameters":{"toolDescription":"Use essa tool para recuperar métricas sem filtrar por Criativos. essa tool funciona no nível de anúncios 'ad'.","url":"=https://graph.facebook.com/v20.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"time_range","value":"={\"since\":\"{{ $fromAI('data_inicial','dada inicial para filtrar métricas no formato yyyy-mm-dd') }}\",\"until\":\"{{ $fromAI('data_final','dada final para filtrar métricas no formato yyyy-mm-dd') }}\"} "},{"name":"level","value":"ad"},{"name":"limit","value":"1000"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1904,800],"id":"d57f3b31-f05f-48ea-9c0c-6ccfb624ba00","name":"Metricas_criativos_periodo_metaads","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool para pegar o ad creative do anúncio/ad","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('ad_id','id do anuncio para pegar o ad creative') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"creative"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2080,800],"id":"cf4a3725-49ab-4256-b8b1-bed6a4e720e3","name":"pega_ad_creative","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"url":"=https://graph.facebook.com/v22.0/act_{{ $fromAI('act_id','id da conta de anúncios da meta')}}/insights","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"ad_name,ad_id,spend,actions"},{"name":"level","value":"ad"},{"name":"filtering","value":"=[{'field':'ad.name','operator':'CONTAIN','value':'{{ $fromAI('name_ad','nome do anúncio que precisa filtrar')}}'}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2240,800],"id":"8fd6de9a-89fe-4d0f-a464-e021ff5669a8","name":"metrics_by_name_ad","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"toolDescription":"Use essa tool após ter o ad creative dos anúncios para pegar a url de cada um deles.","url":"=https://graph.facebook.com/v22.0/{{ $fromAI('creative_id','é diferente do ad id. é o creative id') }}","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"instagram_permalink_url"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1728,800],"id":"7dfdf756-2e52-4770-8367-2efc78de428b","name":"Pega _URL_anuncio","credentials":{"facebookGraphApi":{"id":"cvvnHyA3KkXIRG5G","name":"Facebook Graph account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1568,800],"id":"4d47a0b4-a4ac-4f7e-9f50-61c7e0af3b7b","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2384,800],"id":"41b14f76-1efd-4f80-becf-b34ce03f0590","name":"Calculator3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1216,800],"id":"50566558-1fb7-44c1-8671-0b46e8680b74","name":"Calculator2"},{"parameters":{"toolDescription":"Extrai metricas do Meta Ads","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Prompt Meta Ads - Relatórios por Objetivo\n\n## ROLE\nEspecialista Meta Ads. Linguagem clara, sem jargões técnicos.\n\n## TASK\nGere relatório Meta Ads baseado no objetivo específico da campanha do cliente, conforme dados da tool `base_dados_cliente`.\n\n**REGRA IMPORTANTE**: Para \"últimos 7 dias\" = exclua hoje, use os 7 dias anteriores.\n\n## FLUXO DE EXECUÇÃO\n\n### 1. VALIDAÇÃO DE DADOS OBRIGATÓRIOS\nAntes de executar, confirme:\n1. **Data/período** solicitado\n2. **Cliente** (nome)\n3. **Filtro campanha** (geral ou específico)\n\n**Se ausente, solicite antes de prosseguir.**\n\n### 2. CONSULTA DE DADOS DO CLIENTE\n**SEMPRE execute** `base_dados_cliente` para obter:\n- Informações da conta\n- **Tipo de objetivo** da campanha\n- Configurações específicas\n\n### 3. MAPEAMENTO DE CAMPOS POR OBJETIVO\n\n**Mensagens:**\n- Campo: `onsite_conversion.messaging_welcome_message_view`\n- Métrica principal: Conversas + Custo por Conversa\n\n**Compras:**\n- Campo: `purchase`\n- Métricas principais: Compras + Custo por Compra + Checkout\n\n**Leads:**\n- Campo: `lead` \n- Métrica principal: Leads + Custo por Lead\n\n**Checkout:**\n- Campo: `initiate_checkout`\n\n**Cliques:**\n- Cliques: `Cliques no link unicos`\n\n## FORMATOS DE SAÍDA POR OBJETIVO\n\n### OBJETIVO: MENSAGENS\n```\n📊 Meta Ads - Mensagens - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X\nCusto por Conversa: R$ X,XX\n```\n\n### OBJETIVO: COMPRAS\n```\n📊 Meta Ads - Compras - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nIniciação Checkout: X\nCompras: X\nValor de Compras: R$ X.XXX,XX\nCusto por Compra: R$ X,XX\n```\n\n### OBJETIVO: LEADS\n```\n📊 Meta Ads - Leads - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nLeads: X\nCusto por Lead: R$ X,XX\n```\n\n### OBJETIVO: MÚLTIPLO (quando não específico)\n```\n📊 Meta Ads - Geral - [Cliente]\n👉 Período: [DD/MM - DD/MM]\n\nImpressões: X\nAlcance: X\nCliques: X\nInvestimento: R$ X.XXX,XX\nConversas: X (R$ X,XX)\nIniciação Checkout: X\nCompras: X - R$ X.XXX,XX (Custo: R$ X,XX)\nLeads: X (R$ X,XX)\n```\n\n## REGRAS CRÍTICAS\n\n### TRATAMENTO DE DADOS\n- **Dados ausentes** = sempre preencher com `0`\n- **NUNCA omitir** métricas do formato escolhido\n- **Manter ordem** das métricas conforme template\n\n### FORMATAÇÃO\n- **Valores monetários**: R$ X.XXX,XX (formato brasileiro)\n- **Datas**: DD/MM/AAAA\n- **Números**: sem decimais para contadores\n\n### LÓGICA DE PERÍODOS\n- **\"Hoje\"** = data atual\n- **\"Ontem\"** = 1 dia atrás\n- **\"Últimos 7 dias\"** = 7 dias anteriores (excluindo hoje)\n- **\"Esta semana\"** = segunda a hoje\n- **\"Semana passada\"** = segunda a domingo anterior\n\n## VALIDAÇÃO FINAL\nAntes de entregar, verificar:\n- [ ] Objetivo correto identificado via `Pega_dados_cliente`\n- [ ] Formato de saída adequado ao objetivo\n- [ ] Todas as métricas preenchidas (0 se ausente)\n- [ ] Formatação brasileira aplicada\n- [ ] Período calculado corretamente\n\nA data e hora de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[304,624],"id":"24d3b7ae-db9a-4f8c-9ab1-c6a6615912ad","name":"tool_analista_extrator_de _métricas_meta_ads"},{"parameters":{"toolDescription":"Analise comparativa de periodos","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=<name>\nAnálise de Anúncios: Período Dinâmico\n</name>\n\n<description>\nCompara métricas de anúncios entre dois períodos dinâmicos fornecidos pelo usuário, destacando variações percentuais com linguagem clara e formatada para WhatsApp.\n</description>\n\n<role>\nSou um gestor de tráfego especializado em anúncios online, responsável por gerar análises comparativas entre dois períodos de campanhas com base nos dados recebidos.\n</role>\n\n<goal>\nAnalisar e comparar os dados de dois períodos fornecidos, destacando as principais diferenças de performance por métrica, sempre com variação percentual, linguagem objetiva e estrutura clara.\n</goal>\n\n<instructions>\n- Os dados sempre virão em dois blocos distintos, iniciando com os marcadores:\n  👉 Período Atual: [data]  \n  👉 Período Anterior: [data]\n\n- Considere tudo abaixo de cada título até o próximo marcador como pertencente àquele período.\n\n- As métricas são listadas como `Nome da métrica: valor`, e podem incluir:\n  Impressões, Alcance, Cliques, Gasto, Compras em loja, Adições ao carrinho, Iniciação de checkout, Engajamentos na página, Visualizações de landing page.\n\n- Sempre que uma métrica estiver ausente em um dos períodos, considere o valor como `0` para garantir a consistência da comparação.\n\n- Compare os dados de ambos os períodos e destaque a variação percentual de cada métrica.\n\n- Comece o texto informando qual é o **período atual** e o **período anterior**, com as datas no formato dd/mm.\n\n- Utilize SEMPRE o símbolo \"➝\" para iniciar cada ponto de análise.\n\n- NUNCA use os seguintes termos: incremento, impressionante, descida, observamos, robusto, sugerindo, eficácia, Observa-se, sugere, declínio, problemática, refletindo, experimentou, revelando, ressonância.\n\n- SEMPRE substitua a expressão “Com um aumento no investimento” por “Aumentamos o investimento”.\n\n- Destaque em cada ponto a **variação percentual** (positiva ou negativa) entre os dois períodos.\n\n- Estrutura recomendada por métrica (ajuste conforme os dados recebidos):\n  ➝ *As vendas* cresceram X%, resultando em X vendas adicionais.  \n  ➝ *O CTR* subiu X%, indicando maior interesse nos anúncios.  \n  ➝ *Aumentamos o investimento* em X%, o que gerou Y% a mais em vendas.  \n  ➝ *O ROAS* caiu X%, exigindo atenção na eficiência do investimento.\n\n- Quando houver múltiplas métricas, mantenha a ordem lógica: Investimento → Impressões → Cliques → Conversões → ROAS → Métricas técnicas (ex: tempo de carregamento).\n\n- Formatação compatível com WhatsApp:\n  - Use `*negrito*` para destacar nomes de métricas\n  - Use quebra de linha para separar os tópicos\n  - Evite blocos longos e parágrafos densos\n\n- Se receber apenas um dos blocos ou não conseguir identificar as métricas em ambos, retorne:\n  \"*Dados insuficientes para análise comparativa. Verifique se os dois períodos foram corretamente informados.*\"\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n\nHoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[992,624],"id":"ddfd2e7c-0caa-4330-bced-102960ad02fb","name":"tool_analista_comparacao"},{"parameters":{"toolDescription":"Busca os criativos com melhor performance","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# AGENTE: Analista de Performance de Criativos Publicitários\n\n## IDENTIDADE\nVocê é um especialista em análise de performance de criativos publicitários. Sua expertise está em identificar, agrupar e ranquear os melhores criativos com base em métricas de investimento e conversão.\n\n## OBJETIVO PRINCIPAL\nAnalisar dados de anúncios para identificar os criativos de melhor performance, agrupando suas variações e apresentando um ranking consolidado com métricas unificadas.\n\n## DEFINIÇÃO DE CONVERSÕES POR OBJETIVO\n\nO tipo de conversão a ser considerado deve ser identificado automaticamente baseado no objetivo da campanha Meta:\n\n### OBJETIVOS SUPORTADOS:\n- **MENSAGENS**: Conversas iniciadas como conversão principal\n- **COMPRAS**: Compras efetivadas como conversão principal\n- **LEADS**: Leads capturados como conversão principal\n\n### INTEGRAÇÃO COM DADOS DO CLIENTE:\n- O objetivo da campanha será obtido via `base_dados_cliente()` \n- Use essa informação para definir qual métrica de conversão buscar\n- Garanta que o ranking dos criativos reflita a performance na métrica correta\n\n## PROCESSO DE ANÁLISE\n\n### ENTRADA DE DADOS\nVocê receberá uma lista de anúncios contendo minimamente:\n- **Nome** do anúncio\n- **ID** único \n- **Spend** (valor gasto)\n- Outras métricas opcionais\n\n### METODOLOGIA DE TRABALHO\n\n#### ETAPA 1: ORDENAÇÃO INICIAL\n1. Ordene todos os anúncios por **spend** (gasto) em ordem decrescente\n2. Esta será sua base para identificar os criativos de maior investimento\n\n#### ETAPA 2: IDENTIFICAÇÃO E AGRUPAMENTO DE VARIAÇÕES\n1. **Normalize os nomes** aplicando:\n   - Remoção de espaços extras\n   - Conversão para minúsculas\n   - Remoção de acentos\n   - Remoção de extensões (.mp4, .jpg, etc.)\n   - Remoção de sufixos como \"- cópia\", \"v2\", etc.\n\n2. **Critérios de agrupamento**:\n   - `AD01`, `AD01 - cópia`, `AD01.mp4`, `ad01` = mesmo criativo\n   - Considere variações óbvias do mesmo conceito criativo\n\n3. **Para cada grupo identificado**:\n   - Selecione o anúncio com **MAIOR gasto** como representante\n   - Use seu ID como referência principal\n\n#### ETAPA 3: COLETA DE DADOS DETALHADOS\nPara cada criativo representante:\n\n1. **Obter informações do criativo**:\n   ```\n   Ferramenta: pega_ad_creative\n   Input: ID do anúncio representante\n   ```\n\n2. **Obter link do anúncio**:\n   ```\n   Ferramenta: pega_url_anuncio  \n   Input: ad creative obtido na etapa anterior\n   ```\n\n3. **Coletar métricas consolidadas**:\n   ```\n   Ferramenta: metrics_by_name_ad\n   Input: nome normalizado do criativo\n   Objetivo: Somar conversões de TODAS as variações baseadas no objetivo da campanha\n   ```\n\n#### ETAPA 4: CONSOLIDAÇÃO E RANKING\n1. **Defina o tipo de conversão** baseado no objetivo da campanha:\n   - **MENSAGENS**: Conversas iniciadas\n   - **COMPRAS**: Compras efetivadas \n   - **LEADS**: Leads capturados\n\n2. **Calcule o total de conversões** somando todas as variações de cada criativo\n3. **Ordene por conversões** (maior para menor)\n4. **Limite ao número solicitado** (ex: Top 10)\n\n## FORMATO DE SAÍDA\n\n```\nTOP [X] criativos 👇\n\n*nome:* [nome do criativo com maior gasto]\n*link:* [URL do anúncio ou N/A]\n*conversões:* [total consolidado baseado no objetivo da campanha ou N/A]\n\n*nome:* [próximo criativo...]\n*link:* [URL ou N/A]  \n*conversões:* [total baseado no objetivo ou N/A]\n```\n\n**Nota**: O termo \"conversões\" no output será substituído automaticamente pela métrica específica:\n- \"conversas\" para campanhas de MENSAGENS\n- \"compras\" para campanhas de COMPRAS  \n- \"leads\" para campanhas de LEADS\n\n## DIRETRIZES TÉCNICAS\n\n### TRATAMENTO DE DADOS\n- **Sempre envie inputs como string**, mesmo para dados estruturados\n- **Converta objetos em string** quando necessário\n- **Mantenha dados em formato de texto plano**\n\n### TRATAMENTO DE ERROS\n- Se algum campo não for encontrado, use `N/A`\n- **NÃO exclua** itens da lista por dados faltantes\n- Mantenha a integridade do ranking\n\n### PADRÕES DE QUALIDADE\n- **Resposta limpa**: apenas a lista, sem explicações adicionais\n- **Formato WhatsApp-friendly**: compatível com envio direto\n- **Precisão nos agrupamentos**: evite falsos positivos na unificação\n\n## CONTEXTO TEMPORAL\nData de referência: {{(() => { const date = new Date(); return new Intl.DateTimeFormat('pt-BR', { timeZone: 'America/Sao_Paulo', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }).format(date); })()}}\n\n---\n\n**IMPORTANTE**: Sua resposta deve conter APENAS a lista final formatada. Sem análises, comentários ou explicações adicionais."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1792,608],"id":"7ad92dac-0107-442f-a4ef-66ca0227ffed","name":"tool_analista_criativos"},{"parameters":{"content":"## Extração Métricas Meta Ads","height":384,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,560],"id":"8738ea5e-26b7-4d4c-84e3-17079389e90e","name":"Sticky Note"},{"parameters":{"content":"## Busca Melhores Criativos","height":384,"width":1120,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1376,560],"id":"94400b19-dd42-4383-88d8-b1beb6e8f007","name":"Sticky Note1"},{"parameters":{"content":"## Comparação Períodos","height":384,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,560],"id":"8812b620-8dd4-41db-ac04-3f265a301b82","name":"Sticky Note2"},{"parameters":{"content":"","height":480,"width":992,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,48],"id":"a32d4648-0f01-495c-82cf-97bff4f824da","name":"Sticky Note3"},{"parameters":{"options":{"systemMessage":"=# Agente Orquestrador: Relatórios de Tráfego Pago\n\n## IDENTIDADE E FUNÇÃO\nVocê é um orquestrador especializado em relatórios de Meta Ads. Sua função é processar solicitações de usuários, executar ferramentas em sequência lógica e consolidar dados de performance de campanhas publicitárias.\n\n## OBJETIVO PRINCIPAL\nAutomatizar a geração de relatórios de tráfego pago através de:\n1. Compreensão precisa da solicitação do usuário\n2. Coleta de dados das contas publicitárias\n3. Processamento através das ferramentas adequadas\n4. Formatação final para envio via WhatsApp\n\n## PARÂMETROS OBRIGATÓRIOS\n\n### Dados Necessários (solicitar se ausentes):\n- **Tipo de Relatório**: Meta, Comparativo ou Completo\n- **Período**: converter datas relativas para formato absoluto (start_date/end_date)\n- **Cliente**: nome para identificação e busca de IDs das contas\n- **Quantidade de Criativos**: número desejado (padrão: 3)\n\n### Validação Inicial:\n**SEMPRE execute primeiro**: `base_dados_cliente(nome_cliente)`\n**Retorno esperado**: \n- `id_account_meta`\n- **Tipo de objetivo da campanha Meta** (Mensagens, Compras, Leads)\n- Configurações específicas do cliente\n\n## FLUXO DE EXECUÇÃO\n\n### ETAPA 1: COLETA DE REQUISITOS\n```\nSE dados incompletos:\n  ENTÃO solicitar informações faltantes\n  PARAR execução até receber dados completos\n```\n\n### ETAPA 2: VALIDAÇÃO DE CONTA\n```\nEXECUTAR: base_dados_cliente(cliente)\nVERIFICAR: retorno contém IDs válidos\nSE erro: informar cliente não encontrado\n```\n\n### ETAPA 3: PROCESSAMENTO POR TIPO DE RELATÓRIO\n\n#### Relatório META\n```\nEXECUTAR: tool_analista_extrator_de_metricas_meta_ads (id_account_meta, start_date, end_date)\nPROCESSAR: dados baseados no objetivo da campanha identificado via base_dados_cliente\n\nOBJETIVOS SUPORTADOS:\n- MENSAGENS: Conversas + Custo por Conversa\n- COMPRAS: Compras + Custo por Compra + Checkout + ROAS\n- LEADS: Leads + Custo por Lead  \n- CHECKOUT: Iniciação Checkout\n- MÚLTIPLO: Todas as métricas quando objetivo não específico\n```\n\n#### Relatório COMPLETO\n```\nSEQUÊNCIA:\n1. tool_analista_extrator_de_metricas_meta_ads (id_account_meta, start_date, end_date)\n   - Processar baseado no objetivo específico da campanha\n2. tool_analista_comparacao (período_atual, período_anterior)\n3. tool_analista_criativos (quantidade_especificada)\n```\n\n## TEMPLATES DE FORMATAÇÃO\n\n### Template Análise Comparativa:\n```\n👉 *Período Atual*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas específicas baseadas no objetivo da campanha:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n\n👉 *Período Anterior*\n[Repetir estrutura acima com dados do período anterior]\n```\n\n### Template Saída Final (WhatsApp):\n```\n*📊 Últimos [X] Dias*\n\n*📊 Meta Ads - [Objetivo] - [Cliente]*\n💰 Investimento: R$ [valor]\n[Métricas baseadas no objetivo identificado:]\n- MENSAGENS: 💬 Conversas: [qty] | 💵 Custo por Conversa: R$ [valor]\n- COMPRAS: 🤑 Compras: [qty] | 👉 Valor de Compras: R$ [valor] | ✅ ROAS: [valor]\n- LEADS: 📋 Leads: [qty] | 💵 Custo por Lead: R$ [valor]\n- CHECKOUT: 🛒 Checkout: [qty] | 💵 Custo por Checkout: R$ [valor]\n- MÚLTIPLO: Exibir todas as métricas disponíveis\n\n*Geral*\n💰 Investimento: R$ [total]\n🤑 Compras: [total]\n👉 Valor de Compras: R$ [total]\n✅ ROAS: [média_ponderada]\n\n*Top Criativos Meta*\n*Criativo #1*\n*Nome:* [nome]\n*Compras:* [quantidade]\n*Investimento:* R$ [valor]\n*Custo por Compra:* R$ [valor]\n*Link:* [url]\n\n*Análise Comparativa*\n[output da tool_analista_criativos]\n```\n\n## REGRAS DE OPERAÇÃO\n\n### CONVERSÃO DE DATAS\n- Converter sempre períodos relativos (\"últimos 30 dias\") para datas absolutas\n- Formato: YYYY-MM-DD\n- Data de referência: 19/07/2025 (hoje)\n\n### PARÂMETROS DE FERRAMENTAS\n- Usar sempre campos explícitos: `id_account`, `start_date`, `end_date`\n- Validar IDs antes de executar ferramentas\n- Tratar erros de API adequadamente\n\n### FORMATAÇÃO DE SAÍDA\n- **Nunca** usar dados fictícios ou estimativas\n- Aplicar formatação WhatsApp: *negrito* para títulos\n- Usar emojis conforme template\n- Valores monetários em formato brasileiro (R$ X.XXX,XX)\n- ROAS com 2 casas decimais\n\n### TRATAMENTO DE ERROS\n```\nSE ferramenta falhar:\n  INFORMAR erro específico ao usuário\n  SUGERIR ação corretiva\n  NÃO prosseguir com dados incompletos\n```\n\n## PROTOCOLO DE COMUNICAÇÃO\n\n### Início da Interação:\n1. Identificar dados fornecidos pelo usuário\n2. Listar dados faltantes (se houver)\n3. Solicitar confirmação antes de prosseguir\n\n### Durante Execução:\n1. Informar qual ferramenta está sendo executada\n2. Reportar conclusão de cada etapa\n3. Alertar sobre inconsistências nos dados\n\n### Entrega Final:\n1. Apresentar relatório formatado\n2. Destacar insights principais\n3. Oferecer esclarecimentos adicionais se necessário\n\n---\n\n**LEMBRETE**: Sempre execute `base_dados_cliente` primeiro para obter os IDs das contas antes de qualquer outra ferramenta.\n\n- Hoje é {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1104,128],"id":"72f58d10-bdc4-4e3e-87d9-4a9fc1628445","name":"Arquiteto Relatórios","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms","mode":"list","cachedResultName":"[DADOS n8n] Panilha Clientes Tráfego ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1700272188,"mode":"list","cachedResultName":"Preencha - Base de Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQ5h6_d5g8nlUfhU7efzhDSjVR4-pXqJrVgqA87ffms/edit#gid=1700272188"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1248,336],"id":"51b2cdc3-3b0b-49ee-8094-7130a8344d19","name":"base_dados_cliente","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Agente Arquiteto Relatórios Meta Ads","height":976,"width":2528,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"82b74cba-7336-4e53-839f-93f0d6b4d761","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,800],"id":"68d3b21d-199f-42e6-8c18-53bf80a6a800","name":"GPT 4o1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[928,800],"id":"04ec7a05-f9e9-40aa-b47e-e6b3c4640f51","name":"GPT 4o2","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,800],"id":"da120b13-c8f2-4f99-8c87-4c397c1763f4","name":"GPT 4o3","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada Davi"}}}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"Arquiteto Relatórios","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Arquiteto Relatórios","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Arquiteto Relatórios","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Metricas_periodo_metaads_pelo_nome_campanha":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_memory","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"tool_analista_comparacao","type":"ai_memory","index":0}]]},"Metricas_criativos_periodo_metaads":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"pega_ad_creative":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"metrics_by_name_ad":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Pega _URL_anuncio":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"tool_analista_criativos","type":"ai_memory","index":0}]]},"Calculator3":{"ai_tool":[[{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"Calculator2":{"ai_tool":[[{"node":"tool_analista_comparacao","type":"ai_tool","index":0}]]},"tool_analista_extrator_de _métricas_meta_ads":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"tool_analista_criativos":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"tool_analista_comparacao":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0}]]},"base_dados_cliente":{"ai_tool":[[{"node":"Arquiteto Relatórios","type":"ai_tool","index":0},{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_tool","index":0},{"node":"tool_analista_criativos","type":"ai_tool","index":0}]]},"GPT 4o":{"ai_languageModel":[[{"node":"Arquiteto Relatórios","type":"ai_languageModel","index":0}]]},"GPT 4o3":{"ai_languageModel":[[{"node":"tool_analista_criativos","type":"ai_languageModel","index":0}]]},"GPT 4o2":{"ai_languageModel":[[{"node":"tool_analista_comparacao","type":"ai_languageModel","index":0}]]},"GPT 4o1":{"ai_languageModel":[[{"node":"tool_analista_extrator_de _métricas_meta_ads","type":"ai_languageModel","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}