oH45OvbOl1Vp3HGP.json
{"updatedAt":"2025-10-16T12:30:27.019Z","createdAt":"2025-10-15T17:54:39.561Z","id":"oH45OvbOl1Vp3HGP","name":"API Cloud","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"c8fae3ce-aaa5-4cfc-87d3-90013921b402","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"a140cf76-d41a-4a17-bbb0-b67dc06c069b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"cristiane-alencar-cloud","responseMode":"responseNode","options":{}},"id":"7bcaeb06-a2c9-453a-beba-304518c0e308","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"52ecfeaf-c95f-4b95-87da-2651c213a882","activeVersionId":"52ecfeaf-c95f-4b95-87da-2651c213a882","triggerCount":1,"shared":[{"updatedAt":"2025-10-15T17:54:39.561Z","createdAt":"2025-10-15T17:54:39.561Z","role":"workflow:owner","workflowId":"oH45OvbOl1Vp3HGP","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"52ecfeaf-c95f-4b95-87da-2651c213a882","workflowId":"oH45OvbOl1Vp3HGP","nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query[\"hub.verify_token\"] }}","value2":"token"}]}},"id":"c8fae3ce-aaa5-4cfc-87d3-90013921b402","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,32]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"id":"a140cf76-d41a-4a17-bbb0-b67dc06c069b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,0]},{"parameters":{"path":"cristiane-alencar-cloud","responseMode":"responseNode","options":{}},"id":"7bcaeb06-a2c9-453a-beba-304518c0e308","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,32],"webhookId":"4916992d-fe1b-4cb7-9877-bc5ebc00a7a8"}],"connections":{"IF":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}