okQJppPhbfTRd3gC.json
{"updatedAt":"2025-10-05T23:27:41.394Z","createdAt":"2025-10-04T10:13:35.394Z","id":"okQJppPhbfTRd3gC","name":"[Funil de Indicações] Dados de Usuário vindos do Manychat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"save-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[208,208],"id":"107b0555-99f6-483d-83d3-a13b1a997d00","name":"Webhook1","webhookId":"d3a795f3-1444-40bc-99ff-e100cac29ff9"},{"parameters":{"assignments":{"assignments":[{"id":"a02c7dfb-9d73-42f9-b6bd-515e9173bfaa","name":"user_name","value":"={{ $('Webhook1').item.json.body.first_name }}","type":"string"},{"id":"c4d7cd49-e037-4e1b-acc9-5c9c479a34ef","name":"user_phone","value":"={{ $('Webhook1').item.json.body.custom_fields.contato }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,192],"id":"9009cf9d-69b9-47e6-a722-5895746aca71","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"215c46a6-a3ff-4487-9c44-e2ff237cde68","leftValue":"={{ $json.body.first_name }}","rightValue":"={{ $json.body.custom_fields.contato }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,208],"id":"4e2ec81a-bf17-4474-b754-9675dfc8db8a","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"a02c7dfb-9d73-42f9-b6bd-515e9173bfaa","name":"user_name","value":"={{ $json.body.custom_fields.name }}","type":"string"},{"id":"a3874b6c-b50e-4423-a0b5-d1f188de6703","name":"user_phone","value":"={{ $json.body.custom_fields.contato }}","type":"string"},{"id":"5e15505f-8286-42f5-bd0d-df1897497371","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,384],"id":"edb76203-e9a1-47e4-96f9-a22f38ac40c2","name":"Edit Fields2"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[992,384],"id":"f4fa21e8-df57-4a12-9666-ff40a06d2334","name":"Crypto"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.user_name }}","telefone":"={{ $json.user_phone }}","uuid":"={{ $json.uuid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,384],"id":"0db4129d-c1eb-41e9-9875-b394d403ced5","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[992,192],"id":"acab2885-8065-467f-b73b-fa66f776359e","name":"Crypto1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.user_name }}","telefone":"={{ $json.user_phone }}","uuid":"={{ $json.uuid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,192],"id":"50467a3b-e0cf-4881-bab5-dc13dca52df6","name":"Insert rows in a table1","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1861b362-02cd-4b26-a421-be7edee5c330","activeVersionId":"1861b362-02cd-4b26-a421-be7edee5c330","triggerCount":1,"shared":[{"updatedAt":"2025-10-04T10:13:35.394Z","createdAt":"2025-10-04T10:13:35.394Z","role":"workflow:owner","workflowId":"okQJppPhbfTRd3gC","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"1861b362-02cd-4b26-a421-be7edee5c330","workflowId":"okQJppPhbfTRd3gC","nodes":[{"parameters":{"httpMethod":"POST","path":"save-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[208,208],"id":"107b0555-99f6-483d-83d3-a13b1a997d00","name":"Webhook1","webhookId":"d3a795f3-1444-40bc-99ff-e100cac29ff9"},{"parameters":{"assignments":{"assignments":[{"id":"a02c7dfb-9d73-42f9-b6bd-515e9173bfaa","name":"user_name","value":"={{ $('Webhook1').item.json.body.first_name }}","type":"string"},{"id":"c4d7cd49-e037-4e1b-acc9-5c9c479a34ef","name":"user_phone","value":"={{ $('Webhook1').item.json.body.custom_fields.contato }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,192],"id":"9009cf9d-69b9-47e6-a722-5895746aca71","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"215c46a6-a3ff-4487-9c44-e2ff237cde68","leftValue":"={{ $json.body.first_name }}","rightValue":"={{ $json.body.custom_fields.contato }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,208],"id":"4e2ec81a-bf17-4474-b754-9675dfc8db8a","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"a02c7dfb-9d73-42f9-b6bd-515e9173bfaa","name":"user_name","value":"={{ $json.body.custom_fields.name }}","type":"string"},{"id":"a3874b6c-b50e-4423-a0b5-d1f188de6703","name":"user_phone","value":"={{ $json.body.custom_fields.contato }}","type":"string"},{"id":"5e15505f-8286-42f5-bd0d-df1897497371","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,384],"id":"edb76203-e9a1-47e4-96f9-a22f38ac40c2","name":"Edit Fields2"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[992,384],"id":"f4fa21e8-df57-4a12-9666-ff40a06d2334","name":"Crypto"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.user_name }}","telefone":"={{ $json.user_phone }}","uuid":"={{ $json.uuid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,384],"id":"0db4129d-c1eb-41e9-9875-b394d403ced5","name":"Insert rows in a table","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[992,192],"id":"acab2885-8065-467f-b73b-fa66f776359e","name":"Crypto1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"contatos_ig","mode":"list","cachedResultName":"contatos_ig"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.user_name }}","telefone":"={{ $json.user_phone }}","uuid":"={{ $json.uuid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,192],"id":"50467a3b-e0cf-4881-bab5-dc13dca52df6","name":"Insert rows in a table1","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}}],"connections":{"Webhook1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}