pc08efY2DB5dzwMq.json
{"updatedAt":"2025-08-21T17:19:58.847Z","createdAt":"2025-08-21T17:11:17.783Z","id":"pc08efY2DB5dzwMq","name":"2Tool-Pega_Metricas_Google_Ads","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[448,320],"id":"5f8ead75-c4d8-4a8c-aaff-05b1e26beaef","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<name>\nMétricas do Google Ads por Período\n</name>\n\n<description>\nGera relatórios de desempenho de anúncios no Google Ads com base em um período informado.\n</description>\n\n<role>\nSou um especialista em tráfego pago focado em métricas de campanhas do Google Ads.\n</role>\n\n<goal>\nGerar um relatório de desempenho com base no período solicitado pelo usuário e no período anterior equivalente.\n</goal>\n\n<instructions>\n- Você DEVE falar de forma clara e evitar jargões.\n- Sempre que um usuário solicitar um período (ex: \"hoje\", \"essa semana\"), gere o relatório do *período atual solicitado* E também do *período imediatamente anterior equivalente*.\n  Exemplo:\n  Usuário: \"quero saber como foi hoje\"  \n  Você: gera o relatório de hoje e de ontem, e apresenta ambos com as datas como \"Período Atual\" e \"Período Anterior\".\n\n- Só inicie a execução se os seguintes dados obrigatórios estiverem presentes:\n  1. `data para gerar o relatório`\n  2. `cliente` (para saber de qual conta obter os dados)\n\n- A estrutura do relatório deve seguir exatamente esta ordem:\n  1. Título: *Relatório de Desempenho Google Ads*\n  2. 👉Período Atual: [data formatada]\n  3. Métricas: Impressões, Cliques, CPC, CTR, Conversões, Custo total, etc.\n  4. Ações (se aplicável): Conversões por tipo, Chamadas, Instalações\n  5. 👉Período Anterior: [data formatada]\n  6. As mesmas métricas e ações, na mesma ordem\n\n- IMPORTANTE: Nunca omita métricas. Caso algum campo (como \"Conversões\", \"Cliques\", \"Impressões\", etc.) não esteja presente nos dados retornados, você DEVE preencher com o valor `0`.\n\n- Isso garante que a estrutura do relatório seja sempre idêntica para o período atual e o anterior, mesmo quando houver ausência de dados.\n\n- A data de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[320,112],"id":"f3976042-745a-419c-9f49-5968c1094b7a","name":"Pega_Metricas_Google_Ads"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,320],"id":"91612550-3619-4c13-84cf-196503e9347a","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"we1ChWqMzFJvDnFA","name":"OpenAi account"}}},{"parameters":{"toolDescription":"use essa tool quando precisar puxar dados do google ads","method":"POST","url":"=","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"data_inicial","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `use o formato de data yyyy-MM-dd data inicial`, 'string') }}"},{"name":"data_final","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `use o formato de data yyyy-MM-dd data final`, 'string') }}"},{"name":"Gads","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `id da conta de anúncios do google ads`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[640,320],"id":"a22c3280-9864-4285-beb5-d7e60a3a87a5","name":"Metricas_periodo_googleads","notesInFlow":false},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7991942f-257c-4545-bb42-15203eb172dd","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,320],"id":"b0027241-a36d-42e0-8481-7b2a8ba9dbd4","name":"Simple Memory"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"c2851e85-d90a-44dc-94f8-50513cf5d3fb","name":"When chat message received","webhookId":"8ee7dfe1-315c-4ff8-8d8e-29818ec492ed","disabled":true},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n#### trocar url do make","height":260},"type":"n8n-nodes-base.stickyNote","position":[560,304],"typeVersion":1,"id":"f084bb6d-3ebf-4bb0-ac85-4d903abf6c50","name":"Sticky Note"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[832,320],"id":"ade47d7d-c336-4e01-97f3-6cff3900a754","name":"Calculator"}],"connections":{"Think":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_languageModel","index":0}]]},"Metricas_periodo_googleads":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pega_Metricas_Google_Ads","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Pega_Metricas_Google_Ads","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57283260-4a5a-4dfb-88e1-357255bdd93c","activeVersionId":"57283260-4a5a-4dfb-88e1-357255bdd93c","triggerCount":0,"shared":[{"updatedAt":"2025-08-21T17:11:17.783Z","createdAt":"2025-08-21T17:11:17.783Z","role":"workflow:owner","workflowId":"pc08efY2DB5dzwMq","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.789Z","createdAt":"2026-01-08T20:13:28.789Z","versionId":"57283260-4a5a-4dfb-88e1-357255bdd93c","workflowId":"pc08efY2DB5dzwMq","nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[448,320],"id":"5f8ead75-c4d8-4a8c-aaff-05b1e26beaef","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<name>\nMétricas do Google Ads por Período\n</name>\n\n<description>\nGera relatórios de desempenho de anúncios no Google Ads com base em um período informado.\n</description>\n\n<role>\nSou um especialista em tráfego pago focado em métricas de campanhas do Google Ads.\n</role>\n\n<goal>\nGerar um relatório de desempenho com base no período solicitado pelo usuário e no período anterior equivalente.\n</goal>\n\n<instructions>\n- Você DEVE falar de forma clara e evitar jargões.\n- Sempre que um usuário solicitar um período (ex: \"hoje\", \"essa semana\"), gere o relatório do *período atual solicitado* E também do *período imediatamente anterior equivalente*.\n  Exemplo:\n  Usuário: \"quero saber como foi hoje\"  \n  Você: gera o relatório de hoje e de ontem, e apresenta ambos com as datas como \"Período Atual\" e \"Período Anterior\".\n\n- Só inicie a execução se os seguintes dados obrigatórios estiverem presentes:\n  1. `data para gerar o relatório`\n  2. `cliente` (para saber de qual conta obter os dados)\n\n- A estrutura do relatório deve seguir exatamente esta ordem:\n  1. Título: *Relatório de Desempenho Google Ads*\n  2. 👉Período Atual: [data formatada]\n  3. Métricas: Impressões, Cliques, CPC, CTR, Conversões, Custo total, etc.\n  4. Ações (se aplicável): Conversões por tipo, Chamadas, Instalações\n  5. 👉Período Anterior: [data formatada]\n  6. As mesmas métricas e ações, na mesma ordem\n\n- IMPORTANTE: Nunca omita métricas. Caso algum campo (como \"Conversões\", \"Cliques\", \"Impressões\", etc.) não esteja presente nos dados retornados, você DEVE preencher com o valor `0`.\n\n- Isso garante que a estrutura do relatório seja sempre idêntica para o período atual e o anterior, mesmo quando houver ausência de dados.\n\n- A data de hoje é: {{(() => {\n  const date = new Date(); // Pega o horário atual do servidor\n  return new Intl.DateTimeFormat('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).format(date);\n})()}}\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[320,112],"id":"f3976042-745a-419c-9f49-5968c1094b7a","name":"Pega_Metricas_Google_Ads"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,320],"id":"91612550-3619-4c13-84cf-196503e9347a","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"we1ChWqMzFJvDnFA","name":"OpenAi account"}}},{"parameters":{"toolDescription":"use essa tool quando precisar puxar dados do google ads","method":"POST","url":"=","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"data_inicial","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `use o formato de data yyyy-MM-dd data inicial`, 'string') }}"},{"name":"data_final","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `use o formato de data yyyy-MM-dd data final`, 'string') }}"},{"name":"Gads","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `id da conta de anúncios do google ads`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[640,320],"id":"a22c3280-9864-4285-beb5-d7e60a3a87a5","name":"Metricas_periodo_googleads","notesInFlow":false},{"parameters":{"workflowInputs":{"values":[{"name":"sessionId"},{"name":"chatInput"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7991942f-257c-4545-bb42-15203eb172dd","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,320],"id":"b0027241-a36d-42e0-8481-7b2a8ba9dbd4","name":"Simple Memory"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,208],"id":"c2851e85-d90a-44dc-94f8-50513cf5d3fb","name":"When chat message received","webhookId":"8ee7dfe1-315c-4ff8-8d8e-29818ec492ed","disabled":true},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n#### trocar url do make","height":260},"type":"n8n-nodes-base.stickyNote","position":[560,304],"typeVersion":1,"id":"f084bb6d-3ebf-4bb0-ac85-4d903abf6c50","name":"Sticky Note"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[832,320],"id":"ade47d7d-c336-4e01-97f3-6cff3900a754","name":"Calculator"}],"connections":{"Think":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_languageModel","index":0}]]},"Metricas_periodo_googleads":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pega_Metricas_Google_Ads","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Pega_Metricas_Google_Ads","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Pega_Metricas_Google_Ads","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}