rOjVE0HLIWsTc4Pr.json
{"updatedAt":"2026-01-06T20:35:49.030Z","createdAt":"2025-12-22T19:30:23.901Z","id":"rOjVE0HLIWsTc4Pr","name":"Leads - Meta","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Leads-Meta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"5a2ec9e7-f3fd-4aff-8e3d-a038d140d3b2","name":"Webhook","webhookId":"c76b080a-9cdf-49e2-9718-ae1de37a4feb"},{"parameters":{"assignments":{"assignments":[{"id":"259ada3e-5c35-40c2-ae32-87dcdedebfa6","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"98e71c8c-0f79-473c-a8f0-21241b9a6159","name":"Whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"fdefc816-18c5-4b3a-806c-07be8713134e","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"71a5bf03-0879-4390-b759-ad5026058a58","name":"Atuação","value":"={{ $json.body.atuacao }}","type":"string"},{"id":"55061217-8a03-48f9-a651-a8534ee9bc9d","name":"Momento","value":"={{ $json.body.momento }}","type":"string"},{"id":"67e3aedd-14d9-4b24-a1b4-50a2c1a32120","name":"PerdendoDinheiro","value":"={{ $json.body.perdendoDinheiro }}","type":"string"},{"id":"d640085c-cb2f-4428-ab2b-4b0540f63958","name":"Mudança","value":"={{ $json.body.mudanca }}","type":"string"},{"id":"7c2ac5f3-52dd-409f-9d3d-4764fdbfc2f4","name":"Valor metodo","value":"={{ $json.body.valorMetodo }}","type":"string"},{"id":"6ee48577-59c9-4d8e-95c0-bab06c2b8166","name":"Conversa","value":"={{ $json.body.conversa }}","type":"string"},{"id":"a1d7f1c3-d568-4761-9389-2fe41eee66c5","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"459eeacd-785e-4bdc-a91b-1d9bb47fde26","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"583287d7-20c8-4396-aedb-93448d837c61","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3a9601f2-329b-4408-9235-a13f4baaa1fe","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"85103421-9603-45f1-adf1-40e3bfc0d427","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ea006d7b-5fc7-48f3-b6a4-ffa0ffaaa432","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0],"id":"3c832609-4e23-4423-b815-02fd62abbb90","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"860c04b4-c2ce-4f0a-8ea7-bf7b402d6ce3","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk","mode":"list","cachedResultName":"Controle de Leads - LUCK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads - Meta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Edit Fields').item.json.Whatsapp }}","Data":"={{ $json.data }}","Hora":"={{ $json.hora }}","Nome":"={{ $('Edit Fields').item.json.Nome }}","Email":"={{ $('Edit Fields').item.json.Email }}","Atuação":"={{ $('Edit Fields').item.json['Atuação'] }}","Momento":"={{ $('Edit Fields').item.json.Momento }}","PerdendoDinheiro":"={{ $('Edit Fields').item.json.PerdendoDinheiro }}","Mudança":"={{ $('Edit Fields').item.json['Mudança'] }}","Valor Metodo":"={{ $('Edit Fields').item.json['Valor metodo'] }}","Conversa":"={{ $('Edit Fields').item.json.Conversa }}","utm_source":"={{ $('Edit Fields').item.json.utm_source }}","utm_campaign":"={{ $('Edit Fields').item.json.utm_campaign }}","utm_medium":"={{ $('Edit Fields').item.json.utm_medium }}","utm_term":"={{ $('Edit Fields').item.json.utm_term }}","utm_content":"={{ $('Edit Fields').item.json.utm_content }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atuação","displayName":"Atuação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Momento","displayName":"Momento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PerdendoDinheiro","displayName":"PerdendoDinheiro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mudança","displayName":"Mudança","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Metodo","displayName":"Valor Metodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Conversa","displayName":"Conversa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,0],"id":"f6260f84-8ff2-4ead-9a67-cbd57871a3ba","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"943bf71f-f9cb-430d-9ac7-2f383a03dcd8","activeVersionId":"943bf71f-f9cb-430d-9ac7-2f383a03dcd8","triggerCount":1,"shared":[{"updatedAt":"2025-12-22T19:30:23.901Z","createdAt":"2025-12-22T19:30:23.901Z","role":"workflow:owner","workflowId":"rOjVE0HLIWsTc4Pr","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"943bf71f-f9cb-430d-9ac7-2f383a03dcd8","workflowId":"rOjVE0HLIWsTc4Pr","nodes":[{"parameters":{"httpMethod":"POST","path":"Leads-Meta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"5a2ec9e7-f3fd-4aff-8e3d-a038d140d3b2","name":"Webhook","webhookId":"c76b080a-9cdf-49e2-9718-ae1de37a4feb"},{"parameters":{"assignments":{"assignments":[{"id":"259ada3e-5c35-40c2-ae32-87dcdedebfa6","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"98e71c8c-0f79-473c-a8f0-21241b9a6159","name":"Whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"fdefc816-18c5-4b3a-806c-07be8713134e","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"71a5bf03-0879-4390-b759-ad5026058a58","name":"Atuação","value":"={{ $json.body.atuacao }}","type":"string"},{"id":"55061217-8a03-48f9-a651-a8534ee9bc9d","name":"Momento","value":"={{ $json.body.momento }}","type":"string"},{"id":"67e3aedd-14d9-4b24-a1b4-50a2c1a32120","name":"PerdendoDinheiro","value":"={{ $json.body.perdendoDinheiro }}","type":"string"},{"id":"d640085c-cb2f-4428-ab2b-4b0540f63958","name":"Mudança","value":"={{ $json.body.mudanca }}","type":"string"},{"id":"7c2ac5f3-52dd-409f-9d3d-4764fdbfc2f4","name":"Valor metodo","value":"={{ $json.body.valorMetodo }}","type":"string"},{"id":"6ee48577-59c9-4d8e-95c0-bab06c2b8166","name":"Conversa","value":"={{ $json.body.conversa }}","type":"string"},{"id":"a1d7f1c3-d568-4761-9389-2fe41eee66c5","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"459eeacd-785e-4bdc-a91b-1d9bb47fde26","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"583287d7-20c8-4396-aedb-93448d837c61","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3a9601f2-329b-4408-9235-a13f4baaa1fe","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"85103421-9603-45f1-adf1-40e3bfc0d427","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ea006d7b-5fc7-48f3-b6a4-ffa0ffaaa432","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0],"id":"3c832609-4e23-4423-b815-02fd62abbb90","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"860c04b4-c2ce-4f0a-8ea7-bf7b402d6ce3","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk","mode":"list","cachedResultName":"Controle de Leads - LUCK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads - Meta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TU3oWXVH2E3Ijvj-m9zm-2l-rNgJbqtQdD1JlWwhAdk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Edit Fields').item.json.Whatsapp }}","Data":"={{ $json.data }}","Hora":"={{ $json.hora }}","Nome":"={{ $('Edit Fields').item.json.Nome }}","Email":"={{ $('Edit Fields').item.json.Email }}","Atuação":"={{ $('Edit Fields').item.json['Atuação'] }}","Momento":"={{ $('Edit Fields').item.json.Momento }}","PerdendoDinheiro":"={{ $('Edit Fields').item.json.PerdendoDinheiro }}","Mudança":"={{ $('Edit Fields').item.json['Mudança'] }}","Valor Metodo":"={{ $('Edit Fields').item.json['Valor metodo'] }}","Conversa":"={{ $('Edit Fields').item.json.Conversa }}","utm_source":"={{ $('Edit Fields').item.json.utm_source }}","utm_campaign":"={{ $('Edit Fields').item.json.utm_campaign }}","utm_medium":"={{ $('Edit Fields').item.json.utm_medium }}","utm_term":"={{ $('Edit Fields').item.json.utm_term }}","utm_content":"={{ $('Edit Fields').item.json.utm_content }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atuação","displayName":"Atuação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Momento","displayName":"Momento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PerdendoDinheiro","displayName":"PerdendoDinheiro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mudança","displayName":"Mudança","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Metodo","displayName":"Valor Metodo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Conversa","displayName":"Conversa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,0],"id":"f6260f84-8ff2-4ead-9a67-cbd57871a3ba","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}