rpN1VCCAVtfKyid9.json
{"updatedAt":"2025-10-07T23:08:41.262Z","createdAt":"2025-10-06T12:55:19.327Z","id":"rpN1VCCAVtfKyid9","name":"Pix criado","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pix-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"f994c895-90fb-4990-8539-bdabaf93cbe3","name":"Webhook","webhookId":"e13d6a63-6519-46d0-ad56-337667a40830"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2048,-16],"id":"f56073c9-880d-4494-9438-badd5e9a9cdd","name":"Envio do Código Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza. Seu acesso será liberado imediatamente após a compra. 😊","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2448,-16],"id":"f6806a8d-fe1b-4020-872c-8cf3207f4a85","name":"Solicitação de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Olá, tudo bem {{ $('Dados do Usuário').item.json['Primeiro nome'] }}? Aqui é o Aldo Calesco do Funil de Indicações Infinitas.\n\nVi que você ainda não pagou o PIX gerado. Você ficou com alguma dúvida? \n\nCaso não e tiver esquecido, aqui está o Código do PIX para pagamento👇","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1648,-16],"id":"52d8e259-2e0b-46a9-9aa8-d171fe5cfe69","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1856,-16],"id":"3989616e-edc5-45d1-ae22-682b1a8f49eb","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2240,-16],"id":"495a34ee-4cc6-4f00-8f08-56cf93edcc81","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1648,176],"id":"0f133d25-bdf7-4d59-87e1-1e2af51f8294","name":"Atualiza Status","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transação","value":"={{ $json.body.data.transaction.created_at }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transação","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"428b5891-7373-406d-90d0-a39cebba07a6","name":"Dados do Usuário"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[384,0],"id":"b8128021-91a7-4a60-a027-ad4057236435","name":"Atualiza Data e Hora"},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,0],"id":"37e5a07b-a157-4843-9205-18c4f8090916","name":"Formata data e hora"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usuário').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usuário').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Horário da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usuário').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usuário').item.json.status }}","Id do comprador":"={{ $('Dados do Usuário').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,0],"id":"357c74b3-b44f-453a-b970-23496cafebc3","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,0],"id":"0464192c-bf39-4ef2-b0f2-1826282d1c2a","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,0],"id":"f305f9e8-8f38-47a8-9b36-1b087592fde4","name":"Verifica se o lead já existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $('5 minutos').item.json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"equals"}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,0],"id":"644cc8f1-34c0-46d2-b5c0-58e714de7bdc","name":"Condição se não for comprador"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"where":{"values":[{"column":"Status","value":"paid"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1856,176],"id":"53461cef-23bb-4d87-b30c-e437065f232d","name":"Verificação de compra","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,176],"id":"946cf39f-96fc-47da-9f63-79aed7f2de4b","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usuário","type":"main","index":0}]]},"Envio do Código Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Solicitação de comprovante":{"main":[[]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do Código Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicitação de comprovante","type":"main","index":0}]]},"Dados do Usuário":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead já existe na base de compradores","type":"main","index":0}]]},"Verifica se o lead já existe na base de compradores":{"main":[[{"node":"Condição se não for comprador","type":"main","index":0}]]},"Condição se não for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Atualiza Status","type":"main","index":0}]]},"Atualiza Status":{"main":[[{"node":"Verificação de compra","type":"main","index":0}]]},"Verificação de compra":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60848819-3af8-421a-8872-3584bcad825b","activeVersionId":"60848819-3af8-421a-8872-3584bcad825b","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T12:55:19.327Z","createdAt":"2025-10-06T12:55:19.327Z","role":"workflow:owner","workflowId":"rpN1VCCAVtfKyid9","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"60848819-3af8-421a-8872-3584bcad825b","workflowId":"rpN1VCCAVtfKyid9","nodes":[{"parameters":{"httpMethod":"POST","path":"pix-gerado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"f994c895-90fb-4990-8539-bdabaf93cbe3","name":"Webhook","webhookId":"e13d6a63-6519-46d0-ad56-337667a40830"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"={{ $('Webhook').item.json.body.data.transaction.additional_data.PIX.qr_code }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2048,-16],"id":"f56073c9-880d-4494-9438-badd5e9a9cdd","name":"Envio do Código Pix","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","messageText":"=Assim que pago envie o comprovante aqui por gentileza. Seu acesso será liberado imediatamente após a compra. 😊","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2448,-16],"id":"f6806a8d-fe1b-4020-872c-8cf3207f4a85","name":"Solicitação de comprovante","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital","remoteJid":"={{ $('Dados do Usuário').item.json['Telefone do comprador'].split(\"+\")[1] }}","messageText":"=Olá, tudo bem {{ $('Dados do Usuário').item.json['Primeiro nome'] }}? Aqui é o Aldo Calesco do Funil de Indicações Infinitas.\n\nVi que você ainda não pagou o PIX gerado. Você ficou com alguma dúvida? \n\nCaso não e tiver esquecido, aqui está o Código do PIX para pagamento👇","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1648,-16],"id":"52d8e259-2e0b-46a9-9aa8-d171fe5cfe69","name":"Primeira abordagem","credentials":{"evolutionApi":{"id":"GH9wowVJvbEs3s5z","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1856,-16],"id":"3989616e-edc5-45d1-ae22-682b1a8f49eb","name":"2 segundos","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2240,-16],"id":"495a34ee-4cc6-4f00-8f08-56cf93edcc81","name":"1 segundo","webhookId":"936afba8-d8fb-4710-996f-3a2b0ce83f6c"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"={{ $json.Status }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1648,176],"id":"0f133d25-bdf7-4d59-87e1-1e2af51f8294","name":"Atualiza Status","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"08e54e9b-0967-42dd-b677-2fbbd1056328","name":"id do comprador","value":"={{ $json.body.data.client.id }}","type":"string"},{"id":"ccc822b3-12d7-45b4-87a8-3c750a789e90","name":"Nome do comprador","value":"={{ $json.body.data.client.full_name }}","type":"string"},{"id":"d30f65f0-0257-44d2-93ed-5327a16d7a0a","name":"email do comprador","value":"={{ $json.body.data.client.email }}","type":"string"},{"id":"acdfc92f-bcfd-46f6-919d-55456cac6a3a","name":"Telefone do comprador","value":"={{ $json.body.data.client.phone }}","type":"string"},{"id":"b8edfdff-bde9-416a-ba42-0d6b4305f214","name":"CPF/documentos do comprador","value":"={{ $json.body.data.client.document }}","type":"string"},{"id":"3be1b5ce-4410-4ab3-9782-e6c375650d09","name":"Valor da compra","value":"={{ $json.body.data.transaction.amount }}","type":"string"},{"id":"f989b1d4-5a6b-44a0-91c8-a3bcee017265","name":"Data da transação","value":"={{ $json.body.data.transaction.created_at }}","type":"string"},{"id":"1d5278f7-06a2-483f-bb69-bdcaefb1e750","name":"ID da transação","value":"={{ $json.body.data.transaction.id }}","type":"string"},{"id":"659514e3-c1e5-49d3-a9ea-db404f80ca1e","name":"Primeiro nome","value":"={{ $json.body.data.client.first_name }}","type":"string"},{"id":"177b89f2-2c48-4f6b-b380-f776033eb805","name":"status","value":"={{ $json.body.data.transaction.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"428b5891-7373-406d-90d0-a39cebba07a6","name":"Dados do Usuário"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[384,0],"id":"b8128021-91a7-4a60-a027-ad4057236435","name":"Atualiza Data e Hora"},{"parameters":{"jsCode":"// Este nó trata qualquer timestamp ISO, inclusive com microssegundos e 'Z' no final.\n\n// Captura o timestamp de qualquer campo que tenha esse formato\n// Se quiser usar um campo específico, troque \"$json\" por $('NomeDoNóAnterior').item.json\nlet timestamp;\n\n// Caso o item tenha um campo chamado 'timestamp', usa ele; senão, tenta pegar o primeiro valor ISO do JSON.\nif ($json.timestamp) {\n  timestamp = $json.timestamp;\n} else {\n  // Procura em todos os campos por algo que pareça um timestamp\n  const allValues = Object.values($json);\n  timestamp = allValues.find(v => typeof v === 'string' && v.match(/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/));\n}\n\nif (!timestamp) {\n  return [{ error: \"Nenhum timestamp encontrado no item.\" }];\n}\n\n// Limpa microssegundos e o 'Z'\nconst cleaned = timestamp.replace('Z', '').split('.')[0];\n\n// Cria objeto Date\nconst dateObj = new Date(cleaned);\n\n// Função de preenchimento com zero\nconst pad = n => n.toString().padStart(2, '0');\n\n// Extrai e formata data e hora\nconst data = `${pad(dateObj.getDate())}-${pad(dateObj.getMonth() + 1)}-${dateObj.getFullYear()}`;\nconst horario = `${pad(dateObj.getHours())}:${pad(dateObj.getMinutes())}:${pad(dateObj.getSeconds())}`;\n\n// Retorna em formato limpo\nreturn [{\n  original: timestamp,\n  data,\n  horario\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,0],"id":"37e5a07b-a157-4843-9205-18c4f8090916","name":"Formata data e hora"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"columns":{"mappingMode":"defineBelow","value":{"Nome do comprador":"={{ $('Dados do Usuário').item.json['Nome do comprador'] }}","Telefone":"={{ $('Dados do Usuário').item.json['Telefone do comprador'] }}","Email":"={{ $('Dados do Usuário').item.json['email do comprador'] }}","Data da compra":"={{ $json.data }}","Horário da compra":"={{ $json.horario }}","Valor da Compra":"={{ $('Dados do Usuário').item.json['Valor da compra'] }}","Status":"={{ $('Dados do Usuário').item.json.status }}","Id do comprador":"={{ $('Dados do Usuário').item.json['id do comprador'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"Nome do comprador","displayName":"Nome do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data da compra","displayName":"Data da compra","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"Horário da compra","displayName":"Horário da compra","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"Valor da Compra","displayName":"Valor da Compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Id do comprador","displayName":"Id do comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,0],"id":"357c74b3-b44f-453a-b970-23496cafebc3","name":"Insere dados do Comprador","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,0],"id":"0464192c-bf39-4ef2-b0f2-1826282d1c2a","name":"5 minutos","webhookId":"0442b6c0-cdde-4341-938d-60108f605be3"},{"parameters":{"operation":"get","tableId":"funil de indicações infinitas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"},{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,0],"id":"f305f9e8-8f38-47a8-9b36-1b087592fde4","name":"Verifica se o lead já existe na base de compradores","credentials":{"supabaseApi":{"id":"OCmrltUrSgbslx3l","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ceea365-574d-404f-b384-76f54884d6a0","leftValue":"={{ $('5 minutos').item.json.Status }}","rightValue":"pix_generated","operator":{"type":"string","operation":"equals"}},{"id":"f514d498-1b0d-4f65-a47b-b050fd519738","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,0],"id":"644cc8f1-34c0-46d2-b5c0-58e714de7bdc","name":"Condição se não for comprador"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"funil de indicações infinitas","mode":"list","cachedResultName":"funil de indicações infinitas"},"where":{"values":[{"column":"Status","value":"paid"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1856,176],"id":"53461cef-23bb-4d87-b30c-e437065f232d","name":"Verificação de compra","credentials":{"postgres":{"id":"tV06qWIzMAwRg9qE","name":"Postgres account"}}},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,176],"id":"946cf39f-96fc-47da-9f63-79aed7f2de4b","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Dados do Usuário","type":"main","index":0}]]},"Envio do Código Pix":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Solicitação de comprovante":{"main":[[]]},"Primeira abordagem":{"main":[[{"node":"2 segundos","type":"main","index":0}]]},"2 segundos":{"main":[[{"node":"Envio do Código Pix","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Solicitação de comprovante","type":"main","index":0}]]},"Dados do Usuário":{"main":[[{"node":"Atualiza Data e Hora","type":"main","index":0}]]},"Atualiza Data e Hora":{"main":[[{"node":"Formata data e hora","type":"main","index":0}]]},"Formata data e hora":{"main":[[{"node":"Insere dados do Comprador","type":"main","index":0}]]},"Insere dados do Comprador":{"main":[[{"node":"5 minutos","type":"main","index":0}]]},"5 minutos":{"main":[[{"node":"Verifica se o lead já existe na base de compradores","type":"main","index":0}]]},"Verifica se o lead já existe na base de compradores":{"main":[[{"node":"Condição se não for comprador","type":"main","index":0}]]},"Condição se não for comprador":{"main":[[{"node":"Primeira abordagem","type":"main","index":0}],[{"node":"Atualiza Status","type":"main","index":0}]]},"Atualiza Status":{"main":[[{"node":"Verificação de compra","type":"main","index":0}]]},"Verificação de compra":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}