S1jZ7lFIngoVAUyuZ7hiA.json
{"updatedAt":"2026-02-04T21:56:46.483Z","createdAt":"2026-02-04T21:54:17.220Z","id":"S1jZ7lFIngoVAUyuZ7hiA","name":"Controle de Grupo Wpp","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"7b304cc2-f416-4fc4-8e86-397fdd098ee5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou no grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35d6d1bd-f785-406b-a674-63e3498e399b","leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu do grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,-64],"id":"35eefabf-8f8b-4fc7-8541-422b6410fb9f","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc964586-458e-48e2-8ed9-9353b722ce22","leftValue":"={{ $json.body.data.id }}","rightValue":"120363422229723914@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7e3c0071-896b-4e0f-b194-b56bc9493cd1","leftValue":"={{ $json.body.data.id }}","rightValue":"120363404040497264@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-48],"id":"d5cd4664-74fd-4d6a-9114-a5234b9fe3da","name":"If"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Davi Conceição - Alvorada Digital","groupJid":"={{ $('ID do Grupo').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,-80],"id":"617ddd38-9aac-4ae7-b52b-be8adfdcea95","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"iVmTGIbKjCffqMFe","name":"Rogério Issa"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Estão no Grupo":"={{ $('Número do Whatsapp').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}","LID":"={{ $('Trata a saída').item.json.numeroPaciente }}"},"matchingColumns":["LID"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,-80],"id":"6bacf83d-f5ac-42e6-8a9f-fce9ecc67447","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('If').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-80],"id":"76ee9eae-f9a7-42f4-9c73-0ceabdf4f3c3","name":"ID do Grupo"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-80],"id":"0688cc42-6154-4576-a516-9fbc5182335f","name":"Trata a saída"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $json.participanteEncontrado.jid.split('@s.whatsapp.net')[0] }}","type":"string"},{"id":"512f6adc-e19c-40f0-bd50-d2c8df45c7bd","name":"LID","value":"={{ $json.participanteEncontrado.lid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-80],"id":"314b1b86-5b45-4865-9f7f-ab669e2df2f2","name":"Número do Whatsapp"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Davi Conceição - Alvorada Digital","groupJid":"={{ $('ID do Grupo1').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,128],"id":"d3430778-3df5-4891-8e3f-156845706d06","name":"Encontrar participantes do grupo1","credentials":{"evolutionApi":{"id":"iVmTGIbKjCffqMFe","name":"Rogério Issa"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('Webhook').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,128],"id":"b6a5a664-e3e3-4fb5-bd08-c3330543c4d4","name":"ID do Grupo1"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,128],"id":"ac092580-b864-4927-b44b-56b1dcb3ed72","name":"Trata a saída1"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $('Get row(s) in sheet').item.json['Estão no Grupo'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,128],"id":"05093925-11e9-470e-bcff-5a3778f352bb","name":"Número do Whatsapp1"},{"parameters":{"documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LID","lookupValue":"={{ $('If').item.json.body.data.participants[0] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,128],"id":"50eaf21d-ad0b-4f82-a94b-e124bd51307b","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"startIndex":"={{ $('Get row(s) in sheet').item.json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1024,128],"id":"34afd5c5-ced8-4402-88eb-83f8c002194c","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1404035426,"mode":"list","cachedResultName":"SAÍRAM DO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=1404035426"},"columns":{"mappingMode":"defineBelow","value":{"LID":"={{ $('Trata a saída1').item.json.numeroPaciente }}","Saíram do Grupo":"={{ $('Número do Whatsapp1').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,128],"id":"c38c1645-528e-474d-bf09-ee2f89dbcd6a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-640,-64],"id":"d9ec6e2f-62db-4955-b94e-68bfe3359227","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,-64],"id":"15746e76-b597-4ce4-b25e-d4dba4c0d258","name":"Trata hora e Data"},{"parameters":{"httpMethod":"POST","path":"rogerio-issa-gestao-grupo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,-48],"id":"83cd9d6a-275e-40d1-b2ff-ab49b63a0407","name":"Webhook","webhookId":"a191b84e-b0e8-438c-9896-c5182a8e09b3"}],"connections":{"Switch":{"main":[[{"node":"ID do Grupo","type":"main","index":0}],[{"node":"ID do Grupo1","type":"main","index":0}]]},"If":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"Trata a saída","type":"main","index":0}]]},"ID do Grupo":{"main":[[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Trata a saída":{"main":[[{"node":"Número do Whatsapp","type":"main","index":0}]]},"Número do Whatsapp":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Encontrar participantes do grupo1":{"main":[[{"node":"Trata a saída1","type":"main","index":0}]]},"ID do Grupo1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Trata a saída1":{"main":[[{"node":"Número do Whatsapp1","type":"main","index":0}]]},"Número do Whatsapp1":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Encontrar participantes do grupo1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0db4f6b9-f6bb-40e6-8795-57dffc309ba6","activeVersionId":"0db4f6b9-f6bb-40e6-8795-57dffc309ba6","triggerCount":1,"shared":[{"updatedAt":"2026-02-04T21:54:17.220Z","createdAt":"2026-02-04T21:54:17.220Z","role":"workflow:owner","workflowId":"S1jZ7lFIngoVAUyuZ7hiA","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-02-04T21:56:48.122Z","createdAt":"2026-02-04T21:56:46.486Z","versionId":"0db4f6b9-f6bb-40e6-8795-57dffc309ba6","workflowId":"S1jZ7lFIngoVAUyuZ7hiA","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"7b304cc2-f416-4fc4-8e86-397fdd098ee5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou no grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35d6d1bd-f785-406b-a674-63e3498e399b","leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu do grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,-64],"id":"35eefabf-8f8b-4fc7-8541-422b6410fb9f","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc964586-458e-48e2-8ed9-9353b722ce22","leftValue":"={{ $json.body.data.id }}","rightValue":"120363422229723914@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7e3c0071-896b-4e0f-b194-b56bc9493cd1","leftValue":"={{ $json.body.data.id }}","rightValue":"120363404040497264@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,-48],"id":"d5cd4664-74fd-4d6a-9114-a5234b9fe3da","name":"If"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Davi Conceição - Alvorada Digital","groupJid":"={{ $('ID do Grupo').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,-80],"id":"617ddd38-9aac-4ae7-b52b-be8adfdcea95","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"iVmTGIbKjCffqMFe","name":"Rogério Issa"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Estão no Grupo":"={{ $('Número do Whatsapp').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}","LID":"={{ $('Trata a saída').item.json.numeroPaciente }}"},"matchingColumns":["LID"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,-80],"id":"6bacf83d-f5ac-42e6-8a9f-fce9ecc67447","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('If').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-80],"id":"76ee9eae-f9a7-42f4-9c73-0ceabdf4f3c3","name":"ID do Grupo"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-80],"id":"0688cc42-6154-4576-a516-9fbc5182335f","name":"Trata a saída"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $json.participanteEncontrado.jid.split('@s.whatsapp.net')[0] }}","type":"string"},{"id":"512f6adc-e19c-40f0-bd50-d2c8df45c7bd","name":"LID","value":"={{ $json.participanteEncontrado.lid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-80],"id":"314b1b86-5b45-4865-9f7f-ab669e2df2f2","name":"Número do Whatsapp"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Davi Conceição - Alvorada Digital","groupJid":"={{ $('ID do Grupo1').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,128],"id":"d3430778-3df5-4891-8e3f-156845706d06","name":"Encontrar participantes do grupo1","credentials":{"evolutionApi":{"id":"iVmTGIbKjCffqMFe","name":"Rogério Issa"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('Webhook').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,128],"id":"b6a5a664-e3e3-4fb5-bd08-c3330543c4d4","name":"ID do Grupo1"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,128],"id":"ac092580-b864-4927-b44b-56b1dcb3ed72","name":"Trata a saída1"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $('Get row(s) in sheet').item.json['Estão no Grupo'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,128],"id":"05093925-11e9-470e-bcff-5a3778f352bb","name":"Número do Whatsapp1"},{"parameters":{"documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LID","lookupValue":"={{ $('If').item.json.body.data.participants[0] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,128],"id":"50eaf21d-ad0b-4f82-a94b-e124bd51307b","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ESTÃO NO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=0"},"startIndex":"={{ $('Get row(s) in sheet').item.json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1024,128],"id":"34afd5c5-ced8-4402-88eb-83f8c002194c","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g","mode":"list","cachedResultName":"Sofhia Couto - Gestão de Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1404035426,"mode":"list","cachedResultName":"SAÍRAM DO GRUPO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-QsRpJ0vrrLShpYkybJSp2XNci7G63ytgpmQ7_hdt7g/edit#gid=1404035426"},"columns":{"mappingMode":"defineBelow","value":{"LID":"={{ $('Trata a saída1').item.json.numeroPaciente }}","Saíram do Grupo":"={{ $('Número do Whatsapp1').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,128],"id":"c38c1645-528e-474d-bf09-ee2f89dbcd6a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-640,-64],"id":"d9ec6e2f-62db-4955-b94e-68bfe3359227","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,-64],"id":"15746e76-b597-4ce4-b25e-d4dba4c0d258","name":"Trata hora e Data"},{"parameters":{"httpMethod":"POST","path":"rogerio-issa-gestao-grupo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,-48],"id":"83cd9d6a-275e-40d1-b2ff-ab49b63a0407","name":"Webhook","webhookId":"a191b84e-b0e8-438c-9896-c5182a8e09b3"}],"connections":{"Switch":{"main":[[{"node":"ID do Grupo","type":"main","index":0}],[{"node":"ID do Grupo1","type":"main","index":0}]]},"If":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"Trata a saída","type":"main","index":0}]]},"ID do Grupo":{"main":[[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Trata a saída":{"main":[[{"node":"Número do Whatsapp","type":"main","index":0}]]},"Número do Whatsapp":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Encontrar participantes do grupo1":{"main":[[{"node":"Trata a saída1","type":"main","index":0}]]},"ID do Grupo1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Trata a saída1":{"main":[[{"node":"Número do Whatsapp1","type":"main","index":0}]]},"Número do Whatsapp1":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Encontrar participantes do grupo1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":"Version 0db4f6b9","description":"","autosaved":false},"tags":[]}