txCzXPXt0Y2b4WEQY3gnE.json
{"updatedAt":"2026-02-18T14:33:22.781Z","createdAt":"2026-02-18T14:27:32.576Z","id":"txCzXPXt0Y2b4WEQY3gnE","name":"My workflow 15","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"fa8873e9-6b71-40c0-a6ac-3517d95492c1","name":"qual o serviço que procuras","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.data['qual_o_serviço_que_procuras?'] }}","type":"string"},{"id":"9d649262-4ac5-4628-874b-f8c3a5f8a036","name":"nome","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.data.nome }}","type":"string"},{"id":"82f9d545-a334-4642-8a38-2bba7748d7ec","name":"telefone","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.data['número_de_telemóvel'] }}","type":"string"},{"id":"a668ebc7-5868-49ae-a7ad-d7b120d36fcb","name":"email","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.data.email }}","type":"string"},{"id":"da50de3a-84f1-455e-ab10-261bbaa8dba3","name":"Anúncio","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.ad }}","type":"object"},{"id":"7e7c65e4-d453-4ab5-8ea5-9d2c91a1219f","name":"Conjunto de anúncio","value":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.adset }}","type":"object"},{"id":"1ee89b40-893a-41d3-b531-85422411c8fb","name":"Data","value":"={{ $('Data').item.json.Data }}","type":"string"},{"id":"d165d2e5-508c-4b46-9e80-34f6d173377b","name":"hora","value":"={{ $json.Hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,64],"id":"b36d0503-73ae-454b-9436-650d603c3c81","name":"Trata os dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w","mode":"list","cachedResultName":"Miguel - Leads Formulário Instantâneo FB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Trata os dados').item.json.email }}","DATA":"={{ $('Trata os dados').item.json.Data }}","HORA":"={{ $('Trata os dados').item.json.hora }}","NOME":"={{ $('Trata os dados').item.json.nome }}","TELEFONE":"={{ $('Trata os dados').item.json.telefone }}","QUAL O SERVIÇO PROCURADO":"={{ $('Trata os dados').item.json['qual o serviço que procuras'] }}","ANÚNCIO":"={{ $('Trata os dados').item.json['Anúncio'] }}","CONJUNTO DE ANÚNCIO":"={{ $('Trata os dados').item.json['Conjunto de anúncio'] }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QUAL O SERVIÇO PROCURADO","displayName":"QUAL O SERVIÇO PROCURADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ANÚNCIO","displayName":"ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONJUNTO DE ANÚNCIO","displayName":"CONJUNTO DE ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES","displayName":"OBSERVAÇÕES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venda a 6 meses","displayName":"Venda a 6 meses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,-64],"id":"3baefa64-dc4e-4663-a42e-e8d8adb53c73","name":"Atualiza a planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"fromEmail":"work@upperbc.com","toEmail":"work@upperbc.com","subject":"Dados do Formulário - Pedido de informações UBC","emailFormat":"text","text":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[16,128],"id":"ff4b5a79-6f52-4ab2-bdee-71b63cb379a3","name":"Send email","webhookId":"29c376f3-017a-4711-a7cd-563659b92390","credentials":{"smtp":{"id":"dlBuJBL4aahgto9Q","name":"Miguel Work Upper - SMTP account"}}},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.created_time }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-720,64],"id":"f005a3eb-e1f5-4c88-9805-f15d47901772","name":"Data"},{"parameters":{"operation":"formatDate","date":"={{ $('Formulário - FORMSNEW-UPPER-copy').item.json.created_time }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-512,64],"id":"267061c1-537f-4e63-8ac0-9ddc5938cec2","name":"Date & Time"},{"parameters":{"page":{"__rl":true,"value":"1403844979916600","mode":"id"},"form":{"__rl":true,"value":"1596620254913135","mode":"list","cachedResultName":"FORMSNEW-UPPER-copy"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[-928,64],"id":"f5ce72a6-66f1-448b-92b9-235d5de0ccd5","name":"Formulário - FORMSNEW-UPPER-copy","webhookId":"198d63f1-bdb7-4223-993a-a858e80573d0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"9lAlCS5uJsfOsVH0","name":"Facebook Lead Ads account"}}}],"connections":{"Trata os dados":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Atualiza a planilha","type":"main","index":0}]]},"Data":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]},"Formulário - FORMSNEW-UPPER-copy":{"main":[[{"node":"Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Formulário - FORMSNEW-UPPER-copy":[{"json":{"id":"1442639843891412","data":{"qual_o_serviço_que_procuras?":"escritório_virtual_(sede_social_e_correspondência)","qual_é_o_seu_tipo_de_entidade?":"empresa","qual_é_a_sua_disponibilidade_para_começar?":"imediato_(em_até_7_dias)","prevê_precisar_de_sala_de_reuniões_presencial?":"sim,_com_frequência.","onde_está_localizada_a_entidade_interessada_neste_momento?":"teste_Alvorada","nome":"teste_name","número_de_telemóvel":"+5511921203010","email":"contato@daviconceicao.com.br"},"form":{"id":"1680566719578477","name":"FORMSNEW-UPPER","locale":"pt_PT","status":"ACTIVE"},"ad":{},"adset":{},"page":{"name":"Upper Business Center","id":"1403844979916600"},"created_time":"2026-02-12T21:47:11+0000"}}]},"versionId":"931d76ab-c522-4dac-a878-ed7e6493f5e1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T14:27:32.576Z","createdAt":"2026-02-18T14:27:32.576Z","role":"workflow:owner","workflowId":"txCzXPXt0Y2b4WEQY3gnE","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}