V1cdIRRjjIneEuRb.json
{"updatedAt":"2025-11-07T15:37:16.173Z","createdAt":"2025-11-06T21:01:25.346Z","id":"V1cdIRRjjIneEuRb","name":"disparo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"117bd971-9147-4dbd-8728-aeb8b52bed89","name":"Webhook","webhookId":"fe7857d5-b923-4eeb-a3be-0ac5ad3934ce"},{"parameters":{"assignments":{"assignments":[{"id":"51581cf7-4f20-40e5-920a-bc5b6832c444","name":"nome","value":"={{ $json.body.custom_fields['[Nome]'] }}","type":"string"},{"id":"64daccab-29e7-45ca-9877-0bc272803489","name":"número","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"087ed8c2-fd15-4f34-babd-ed0b000eb256","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"YiPatq68pUuLgbgW","mode":"list","cachedResultName":"grupo"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[512,16],"id":"0c8d2136-fdb4-4360-890a-bced7d1d519a","name":"Execute Workflow"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8bee098d-a5b2-4c34-98a2-ca80e35972fc","activeVersionId":"8bee098d-a5b2-4c34-98a2-ca80e35972fc","triggerCount":1,"shared":[{"updatedAt":"2025-11-06T21:01:25.346Z","createdAt":"2025-11-06T21:01:25.346Z","role":"workflow:owner","workflowId":"V1cdIRRjjIneEuRb","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"8bee098d-a5b2-4c34-98a2-ca80e35972fc","workflowId":"V1cdIRRjjIneEuRb","nodes":[{"parameters":{"httpMethod":"POST","path":"manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"117bd971-9147-4dbd-8728-aeb8b52bed89","name":"Webhook","webhookId":"fe7857d5-b923-4eeb-a3be-0ac5ad3934ce"},{"parameters":{"assignments":{"assignments":[{"id":"51581cf7-4f20-40e5-920a-bc5b6832c444","name":"nome","value":"={{ $json.body.custom_fields['[Nome]'] }}","type":"string"},{"id":"64daccab-29e7-45ca-9877-0bc272803489","name":"número","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"087ed8c2-fd15-4f34-babd-ed0b000eb256","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"YiPatq68pUuLgbgW","mode":"list","cachedResultName":"grupo"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[512,16],"id":"0c8d2136-fdb4-4360-890a-bced7d1d519a","name":"Execute Workflow"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}