Vtlotbau7iSG_7XIX5Eb6.json
{"updatedAt":"2026-02-05T20:52:38.455Z","createdAt":"2026-02-05T20:24:48.059Z","id":"Vtlotbau7iSG_7XIX5Eb6","name":"DISPARO HIGHTICKET","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"a2af1424-f680-4a40-b81d-9cac29b15f31","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Venda","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"16bea1f3-4cc7-41eb-9ff3-10fc1b2c5af5","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"function digits(s=\"\") { return String(s).replace(/\\D/g, \"\"); }\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n\n  // status (se não existir, considera pendente)\n  const status = (row.STATUS_ENVIO || \"\").toString().trim().toUpperCase();\n  if (status && status !== \"PENDING\") continue;\n\n  let phone = digits(row.TELEFONE || \"\");\n\n  // Regras comuns BR:\n  // - Se vier 11 dígitos (DDD+numero), prefixa 55\n  if (phone.length === 11) phone = \"55\" + phone;\n\n  // Se vier 13 dígitos e começar com 55, ok\n  // Se vier 12 (55 + fixo 10?), depende, mas deixo passar >=12\n  if (phone.length < 12) continue;\n\n  out.push({\n    json: {\n      ...row,\n      PHONE_E164: phone, // destino padronizado\n    }\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"885be7c6-f8fe-4385-8526-5fb29814c189","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"f1d83ec2-fe84-4b88-a896-d9026efdbd13","name":"Variante","value":"={{ Math.floor(Math.random() * 4) + 1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-16],"id":"1f95a562-a77e-482a-b9b3-da45a0ed3f8b","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.Variante }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"7bcb6306-5753-44b6-b41f-8d9cae0f1fef"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e05b2e47-cc62-404c-9182-05026172ca56","leftValue":"={{ $json.Variante }}","rightValue":"2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a77b2f1d-5b92-4837-9ff6-9d4e26ced554","leftValue":"={{ $json.Variante }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fa8d40ef-7fc9-4e09-8777-6d879b778e0d","leftValue":"={{ $json.Variante }}","rightValue":"4","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1200,-48],"id":"ef24a931-2008-4a84-bbb5-f420f551ff8a","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"8333b1b9-5e81-4292-b611-419220b1251c","name":"=MSG1","value":"={{ $('Get row(s) in sheet').item.json.NOME }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,-336],"id":"16cd0f04-1300-4774-b342-92b4c6afa4c7","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"8333b1b9-5e81-4292-b611-419220b1251c","name":"=MSG1","value":"={{ $('Get row(s) in sheet').item.json.NOME }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,-144],"id":"d7b1f779-908a-4fbb-86aa-19419f07a452","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"8333b1b9-5e81-4292-b611-419220b1251c","name":"=MSG1","value":"={{ $('Get row(s) in sheet').item.json.NOME }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,48],"id":"f1f36546-9b83-40f4-a208-ae4eba71e107","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"8333b1b9-5e81-4292-b611-419220b1251c","name":"=MSG1","value":"={{ $('Get row(s) in sheet').item.json.NOME }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,240],"id":"d05071d7-636c-40f7-9217-524cb71a820d","name":"Edit Fields4"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1888,-64],"id":"6d1d2af4-4bdd-4743-aa22-6dad3ac7b720","name":"Merge"},{"parameters":{"resource":"messages-api","instanceName":"Alvorada Digital - Rogério Issa","remoteJid":"={{ $json.PHONE_E164 + '@s.whatsapp.net' }}","messageText":"={{ $json.MSG1 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2096,-32],"id":"282075cd-d63c-4c12-b840-5a1c0dd0b635","name":"Enviar texto","credentials":{"evolutionApi":{"id":"iVmTGIbKjCffqMFe","name":"Rogério Issa"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"ad2bdd3d-c2a9-49fc-974b-f17b8681c341","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[832,208],"id":"e7c1b593-cb7d-4734-866d-48347c836e6c"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"50dea0e0-ce16-4629-a59f-9c7b1c188950","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-05T20:24:48.059Z","createdAt":"2026-02-05T20:24:48.059Z","role":"workflow:owner","workflowId":"Vtlotbau7iSG_7XIX5Eb6","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":null,"tags":[]}