wBU20xIjRUaDErSp.json
{"updatedAt":"2025-10-18T03:30:57.540Z","createdAt":"2025-10-13T16:34:52.576Z","id":"wBU20xIjRUaDErSp","name":"Envio de Ebook","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"funil-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8af05e4f-9eae-4d5c-9df4-0a85ca988c00","name":"Webhook","webhookId":"565c38c3-3374-41c8-aa93-64d6e01ae100"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[624,0],"id":"74a9bb2a-ea62-42c4-8169-d61314019eee","name":"Define hora - America/Sao_Paulo"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,0],"id":"4e60f5a8-e2fd-41d5-96c9-ae3c76559600","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,0],"id":"8c73325b-f0d4-4733-a969-6e65b3e315c2","name":"Insere e Atualiza Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,0],"id":"d7e80c96-acce-46af-ac8b-eef589052f17","name":"10 minutos","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha').item.json.WHATSAPP }}@s.whatsapp.net","media":"https://drive.google.com/uc?id=1Eo0FcjDQfZbDeLR1tUgOsFtAWRSpkjwl&export=preview","caption":"=Olá,  {{ $('Insere e Atualiza Planilha').item.json['PRIMEIRO NOME'] }}\n\nQue bom que gostou do conteúdo. Aqui está seu brinde. Espero que Aprecie também!\n\nMe conta depois o que achou. Tá bem?","fileName":"Ebook - E-Book A Arte Chinesa de viver sem Stress","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1536,0],"id":"d4380c27-de74-464e-b750-6eac3f97cbbd","name":"Envia o Ebook","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"jsCode":"// Pega o timestamp do item anterior ou usa o atual\nconst timestamp = $input.first().json.timestamp || Date.now();\n\n// Converte pra Date object\nconst data = new Date(timestamp);\n\n// Formata no padrão brasileiro com fuso de São Paulo\nconst dataFormatada = data.toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n  hour12: false, // Formato 24h\n  day: '2-digit',\n  month: '2-digit', \n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Reorganiza no formato que você quer: HH:MM:SS DD/MM/AAAA\nconst [data_parte, hora_parte] = dataFormatada.split(\", \");\nconst formatoFinal = `${hora_parte} ${data_parte}`;\n\nreturn [{\n  timestamp_original: timestamp,\n  data_hora_formatada: formatoFinal\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,0],"id":"349fc478-7d5b-47a2-bd31-d4d119708a2f","name":"Trata o Timescamp"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","BRINDE ENVIADO":"={{ $json.data_hora_formatada }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1952,0],"id":"8398f81f-b0af-4ba9-bedc-80f1d58131e7","name":"Atualiza a planilha com o Brinde enviado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"59fb8940-a2b7-431b-b76b-8d912978779d","name":"Tratamento de dados"},{"parameters":{"jsCode":"let tel = ( $input.first().json.body.phone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2ff76df4-f0f7-4a99-9c56-86dd7620f90b","name":"Tratamento de DDD e +"}],"connections":{"Webhook":{"main":[[{"node":"Tratamento de DDD e +","type":"main","index":0}]]},"Define hora - America/Sao_Paulo":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Insere e Atualiza Planilha","type":"main","index":0}]]},"Insere e Atualiza Planilha":{"main":[[{"node":"10 minutos","type":"main","index":0}]]},"10 minutos":{"main":[[{"node":"Envia o Ebook","type":"main","index":0}]]},"Envia o Ebook":{"main":[[{"node":"Trata o Timescamp","type":"main","index":0}]]},"Trata o Timescamp":{"main":[[{"node":"Atualiza a planilha com o Brinde enviado","type":"main","index":0}]]},"Tratamento de dados":{"main":[[{"node":"Define hora - America/Sao_Paulo","type":"main","index":0}]]},"Tratamento de DDD e +":{"main":[[{"node":"Tratamento de dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1073a94d-b566-4095-ad4a-2990b9a2b90f","activeVersionId":"1073a94d-b566-4095-ad4a-2990b9a2b90f","triggerCount":1,"shared":[{"updatedAt":"2025-10-13T16:34:52.576Z","createdAt":"2025-10-13T16:34:52.576Z","role":"workflow:owner","workflowId":"wBU20xIjRUaDErSp","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"1073a94d-b566-4095-ad4a-2990b9a2b90f","workflowId":"wBU20xIjRUaDErSp","nodes":[{"parameters":{"httpMethod":"POST","path":"funil-manychat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8af05e4f-9eae-4d5c-9df4-0a85ca988c00","name":"Webhook","webhookId":"565c38c3-3374-41c8-aa93-64d6e01ae100"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[624,0],"id":"74a9bb2a-ea62-42c4-8169-d61314019eee","name":"Define hora - America/Sao_Paulo"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,0],"id":"4e60f5a8-e2fd-41d5-96c9-ae3c76559600","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","DATA":"={{ $json.data }}","HORA":"={{ $json.hora }}","ID DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_id }}","NOME COMPLETO":"={{ $('Tratamento de dados').item.json.user_fullname }}","PRIMEIRO NOME":"={{ $('Tratamento de dados').item.json.user_name }}","WHATSAPP":"={{ $('Tratamento de dados').item.json.user_phone }}","USERNAME DO INSTAGRAM":"={{ $('Tratamento de dados').item.json.ig_username }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,0],"id":"8c73325b-f0d4-4733-a969-6e65b3e315c2","name":"Insere e Atualiza Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,0],"id":"d7e80c96-acce-46af-ac8b-eef589052f17","name":"10 minutos","webhookId":"6de1081f-e386-436e-903e-f07c1338b9cf"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Cristiane - Alvorada","remoteJid":"=55{{ $('Insere e Atualiza Planilha').item.json.WHATSAPP }}@s.whatsapp.net","media":"https://drive.google.com/uc?id=1Eo0FcjDQfZbDeLR1tUgOsFtAWRSpkjwl&export=preview","caption":"=Olá,  {{ $('Insere e Atualiza Planilha').item.json['PRIMEIRO NOME'] }}\n\nQue bom que gostou do conteúdo. Aqui está seu brinde. Espero que Aprecie também!\n\nMe conta depois o que achou. Tá bem?","fileName":"Ebook - E-Book A Arte Chinesa de viver sem Stress","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1536,0],"id":"d4380c27-de74-464e-b750-6eac3f97cbbd","name":"Envia o Ebook","credentials":{"evolutionApi":{"id":"ytR0VvTwBFUfANJg","name":"Evo - Cristiane Alencar"}}},{"parameters":{"jsCode":"// Pega o timestamp do item anterior ou usa o atual\nconst timestamp = $input.first().json.timestamp || Date.now();\n\n// Converte pra Date object\nconst data = new Date(timestamp);\n\n// Formata no padrão brasileiro com fuso de São Paulo\nconst dataFormatada = data.toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\",\n  hour12: false, // Formato 24h\n  day: '2-digit',\n  month: '2-digit', \n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit'\n});\n\n// Reorganiza no formato que você quer: HH:MM:SS DD/MM/AAAA\nconst [data_parte, hora_parte] = dataFormatada.split(\", \");\nconst formatoFinal = `${hora_parte} ${data_parte}`;\n\nreturn [{\n  timestamp_original: timestamp,\n  data_hora_formatada: formatoFinal\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,0],"id":"349fc478-7d5b-47a2-bd31-d4d119708a2f","name":"Trata o Timescamp"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A","mode":"list","cachedResultName":"LEADS - Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VmTWLayoZm_kt61ge9b6LJta-auzXfByEzCarlBSE8A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID DO MANYCHAT":"={{ $('Tratamento de dados').item.json.Manychat_id }}","BRINDE ENVIADO":"={{ $json.data_hora_formatada }}"},"matchingColumns":["ID DO MANYCHAT"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DO MANYCHAT","displayName":"ID DO MANYCHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID DO INSTAGRAM","displayName":"ID DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME COMPLETO","displayName":"NOME COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WHATSAPP","displayName":"WHATSAPP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"USERNAME DO INSTAGRAM","displayName":"USERNAME DO INSTAGRAM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BRINDE ENVIADO","displayName":"BRINDE ENVIADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1952,0],"id":"8398f81f-b0af-4ba9-bedc-80f1d58131e7","name":"Atualiza a planilha com o Brinde enviado","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"be29a6fb-683f-4615-b8ce-f42efe6ad572","name":"Manychat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"bd110ec9-bc3d-44c8-8133-41651add4f33","name":"ig_id","value":"={{ $('Webhook').item.json.body.ig_id }}","type":"string"},{"id":"8cdbcd17-2d90-41b8-8af3-45bd520557c3","name":"user_fullname","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"07066b2f-a27a-4877-871d-6a801617afba","name":"user_name","value":"={{ $('Webhook').item.json.body.first_name }}","type":"string"},{"id":"ad6fca84-d766-4ee1-aa5f-f6baa683ad31","name":"user_phone","value":"={{ $json.telefone_tratado }}","type":"string"},{"id":"f876df4b-ab61-4a4d-acea-37b532628b76","name":"ig_username","value":"={{ $('Webhook').item.json.body.ig_username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"59fb8940-a2b7-431b-b76b-8d912978779d","name":"Tratamento de dados"},{"parameters":{"jsCode":"let tel = ( $input.first().json.body.phone || '').toString().replace(/\\D/g, '');\n\n// Remove código país\nif (tel.startsWith('55') && tel.length >= 12) tel = tel.substring(2);\n\n// Remove 9 extra conforme tamanho\nif ((tel.length === 11 && tel[2] === '9') || (tel.length === 9 && tel[0] === '9')) {\n  tel = tel.length === 11 ? tel.substring(0, 2) + tel.substring(3) : tel.substring(1);\n}\n\nreturn [{ telefone_tratado: tel }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2ff76df4-f0f7-4a99-9c56-86dd7620f90b","name":"Tratamento de DDD e +"}],"connections":{"Webhook":{"main":[[{"node":"Tratamento de DDD e +","type":"main","index":0}]]},"Define hora - America/Sao_Paulo":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Insere e Atualiza Planilha","type":"main","index":0}]]},"Insere e Atualiza Planilha":{"main":[[{"node":"10 minutos","type":"main","index":0}]]},"10 minutos":{"main":[[{"node":"Envia o Ebook","type":"main","index":0}]]},"Envia o Ebook":{"main":[[{"node":"Trata o Timescamp","type":"main","index":0}]]},"Trata o Timescamp":{"main":[[{"node":"Atualiza a planilha com o Brinde enviado","type":"main","index":0}]]},"Tratamento de dados":{"main":[[{"node":"Define hora - America/Sao_Paulo","type":"main","index":0}]]},"Tratamento de DDD e +":{"main":[[{"node":"Tratamento de dados","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}