WLiiIe0cWy7hsa0w.json
{"updatedAt":"2026-01-08T19:35:24.997Z","createdAt":"2026-01-08T12:24:19.579Z","id":"WLiiIe0cWy7hsa0w","name":"Formulário","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Formulário-lovable-instructiva","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"58c74e99-2398-4283-957c-4153c5941aca","name":"Webhook","webhookId":"229cbfe2-5cea-485c-bf7d-adf0ad8e34a9"},{"parameters":{"assignments":{"assignments":[{"id":"82829f58-a5f0-4553-98c5-980bbb8cac4e","name":"nome","value":"={{ $('Webhook').item.json.body.nome }}","type":"string"},{"id":"e7960c70-41a3-45c1-acf5-81694c0ff313","name":"email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"2949945c-d7e7-4548-b72c-2c8c3bea096a","name":"whatsapp","value":"={{ $('Webhook').item.json.body.whatsapp }}","type":"string"},{"id":"eb4a986e-b269-48ee-820d-bb4a17e8c0f6","name":"Qual o negócio?","value":"={{ $('Webhook').item.json.body.temNegocio }}","type":"string"},{"id":"a11f8fdd-0f9a-4512-995e-0add101f7ca5","name":"Faturamento","value":"={{ $('Webhook').item.json.body.faturamento }}","type":"string"},{"id":"ff37c1f6-3cbe-42d0-add1-11805c048e5a","name":"Cidade","value":"={{ $('Webhook').item.json.body.cidade }}","type":"string"},{"id":"be3819a7-8ef5-4c1e-b622-a48c42b02a69","name":"Número de colaboradores","value":"={{ $('Webhook').item.json.body.colaboradores }}","type":"string"},{"id":"0915affc-28fa-490d-a50b-29fffb99e3df","name":"Serviço 1","value":"={{ $('Webhook').item.json.body.servicos[0] }}","type":"string"},{"id":"d4f2da6d-06b8-4224-8a72-4b32db0ec64a","name":"Serviço 2","value":"={{ $('Webhook').item.json.body.servicos[1] }}","type":"string"},{"id":"404d0026-b7e3-4403-9fef-e6a81277044a","name":"Serviço 3","value":"={{ $('Webhook').item.json.body.servicos[2] }}","type":"string"},{"id":"7e426e13-fcb7-476a-a360-ab2f0137ffcd","name":"Serviço 4","value":"={{ $('Webhook').item.json.body.servicos[3] }}","type":"string"},{"id":"0b68ee74-5702-473b-8f68-59963fdfb264","name":"Serviço 5","value":"={{ $('Webhook').item.json.body.servicos[4] }}","type":"string"},{"id":"231c7582-11db-4b47-85b2-004c4f1be3a4","name":"Renda Familiar","value":"={{ $('Webhook').item.json.body.rendaFamiliar }}","type":"string"},{"id":"eada279a-052a-40c0-9c6e-c4cd7dc74786","name":"Origem","value":"={{ $('Webhook').item.json.body.origem }}","type":"string"},{"id":"56b1eb6e-3632-4ece-8c35-b46cedf56bb0","name":"Source","value":"={{ $('Webhook').item.json.body.utm_source }}","type":"string"},{"id":"06de4ae1-f3f7-45d3-9ded-74d87f3d4b85","name":"Campanha","value":"={{ $('Webhook').item.json.body.utm_campaign }}","type":"string"},{"id":"f6a54719-de8c-4510-ae29-480d8d2eee53","name":"Conjunto","value":"={{ $('Webhook').item.json.body.utm_medium }}","type":"string"},{"id":"eac9d742-fa31-4b45-a927-9753828822e0","name":"Posicionamento","value":"={{ $('Webhook').item.json.body.utm_term }}","type":"string"},{"id":"575eb426-cb20-4663-91c5-61c224699b35","name":"Anúncio","value":"={{ $('Webhook').item.json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,0],"id":"88c98569-84c5-4ed6-9d7c-edec7f97e104","name":"Tratamento dos dados"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"3617b5f7-e6de-4c91-be10-3ff5c7786e4f","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas","mode":"list","cachedResultName":"Instructiva Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Formulário HighTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.whatsapp }}","Nome":"={{ $json.nome }}","email":"={{ $json.email }}","Qual o negócio?":"={{ $json['Qual o negócio?'] }}","Faturamento":"={{ $json.Faturamento }}","Cidade":"={{ $json.Cidade }}","Número de colaboradores":"={{ $json['Número de colaboradores'] }}","Serviço 1":"={{ $json['Serviço 1'] }}","Serviço 2":"={{ $json['Serviço 2'] }}","Serviço 3":"={{ $json['Serviço 3'] }}","Serviço 4":"={{ $json['Serviço 4'] }}","Serviço 5":"={{ $json['Serviço 5'] }}","Renda Familiar":"={{ $json['Renda Familiar'] }}","Origem":"={{ $json.Origem }}","Source":"={{ $json.Source }}","Campanha":"={{ $json.Campanha }}","Conjunto":"={{ $json.Conjunto }}","Posicionamento":"={{ $json.Posicionamento }}","Anúncio":"={{ $json['Anúncio'] }}","Data e hora":"={{ $('Trata hora e Data').item.json.data }} - {{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"Data e hora","displayName":"Data e hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o negócio?","displayName":"Qual o negócio?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Faturamento","displayName":"Faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número de colaboradores","displayName":"Número de colaboradores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 1","displayName":"Serviço 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 2","displayName":"Serviço 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 3","displayName":"Serviço 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 4","displayName":"Serviço 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 5","displayName":"Serviço 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Renda Familiar","displayName":"Renda Familiar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campanha","displayName":"Campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conjunto","displayName":"Conjunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posicionamento","displayName":"Posicionamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[608,0],"id":"3fbe5090-4d55-448b-8738-3a018b32f19f","name":"Inclui e atualiza planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Tratamento dos dados":{"main":[[{"node":"Inclui e atualiza planilha","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Tratamento dos dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2596e4bc-e547-4233-955d-52caaa85aa91","activeVersionId":"2596e4bc-e547-4233-955d-52caaa85aa91","triggerCount":1,"shared":[{"updatedAt":"2026-01-08T12:24:19.579Z","createdAt":"2026-01-08T12:24:19.579Z","role":"workflow:owner","workflowId":"WLiiIe0cWy7hsa0w","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T19:35:25.001Z","createdAt":"2026-01-08T19:35:25.001Z","versionId":"2596e4bc-e547-4233-955d-52caaa85aa91","workflowId":"WLiiIe0cWy7hsa0w","nodes":[{"parameters":{"httpMethod":"POST","path":"Formulário-lovable-instructiva","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"58c74e99-2398-4283-957c-4153c5941aca","name":"Webhook","webhookId":"229cbfe2-5cea-485c-bf7d-adf0ad8e34a9"},{"parameters":{"assignments":{"assignments":[{"id":"82829f58-a5f0-4553-98c5-980bbb8cac4e","name":"nome","value":"={{ $('Webhook').item.json.body.nome }}","type":"string"},{"id":"e7960c70-41a3-45c1-acf5-81694c0ff313","name":"email","value":"={{ $('Webhook').item.json.body.email }}","type":"string"},{"id":"2949945c-d7e7-4548-b72c-2c8c3bea096a","name":"whatsapp","value":"={{ $('Webhook').item.json.body.whatsapp }}","type":"string"},{"id":"eb4a986e-b269-48ee-820d-bb4a17e8c0f6","name":"Qual o negócio?","value":"={{ $('Webhook').item.json.body.temNegocio }}","type":"string"},{"id":"a11f8fdd-0f9a-4512-995e-0add101f7ca5","name":"Faturamento","value":"={{ $('Webhook').item.json.body.faturamento }}","type":"string"},{"id":"ff37c1f6-3cbe-42d0-add1-11805c048e5a","name":"Cidade","value":"={{ $('Webhook').item.json.body.cidade }}","type":"string"},{"id":"be3819a7-8ef5-4c1e-b622-a48c42b02a69","name":"Número de colaboradores","value":"={{ $('Webhook').item.json.body.colaboradores }}","type":"string"},{"id":"0915affc-28fa-490d-a50b-29fffb99e3df","name":"Serviço 1","value":"={{ $('Webhook').item.json.body.servicos[0] }}","type":"string"},{"id":"d4f2da6d-06b8-4224-8a72-4b32db0ec64a","name":"Serviço 2","value":"={{ $('Webhook').item.json.body.servicos[1] }}","type":"string"},{"id":"404d0026-b7e3-4403-9fef-e6a81277044a","name":"Serviço 3","value":"={{ $('Webhook').item.json.body.servicos[2] }}","type":"string"},{"id":"7e426e13-fcb7-476a-a360-ab2f0137ffcd","name":"Serviço 4","value":"={{ $('Webhook').item.json.body.servicos[3] }}","type":"string"},{"id":"0b68ee74-5702-473b-8f68-59963fdfb264","name":"Serviço 5","value":"={{ $('Webhook').item.json.body.servicos[4] }}","type":"string"},{"id":"231c7582-11db-4b47-85b2-004c4f1be3a4","name":"Renda Familiar","value":"={{ $('Webhook').item.json.body.rendaFamiliar }}","type":"string"},{"id":"eada279a-052a-40c0-9c6e-c4cd7dc74786","name":"Origem","value":"={{ $('Webhook').item.json.body.origem }}","type":"string"},{"id":"56b1eb6e-3632-4ece-8c35-b46cedf56bb0","name":"Source","value":"={{ $('Webhook').item.json.body.utm_source }}","type":"string"},{"id":"06de4ae1-f3f7-45d3-9ded-74d87f3d4b85","name":"Campanha","value":"={{ $('Webhook').item.json.body.utm_campaign }}","type":"string"},{"id":"f6a54719-de8c-4510-ae29-480d8d2eee53","name":"Conjunto","value":"={{ $('Webhook').item.json.body.utm_medium }}","type":"string"},{"id":"eac9d742-fa31-4b45-a927-9753828822e0","name":"Posicionamento","value":"={{ $('Webhook').item.json.body.utm_term }}","type":"string"},{"id":"575eb426-cb20-4663-91c5-61c224699b35","name":"Anúncio","value":"={{ $('Webhook').item.json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,0],"id":"88c98569-84c5-4ed6-9d7c-edec7f97e104","name":"Tratamento dos dados"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"3617b5f7-e6de-4c91-be10-3ff5c7786e4f","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas","mode":"list","cachedResultName":"Instructiva Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Formulário HighTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KIQHci1UMIHTyNUIBRmPp6yz-XEcj-TtVHE3_Bfnas/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"whatsapp":"={{ $json.whatsapp }}","Nome":"={{ $json.nome }}","email":"={{ $json.email }}","Qual o negócio?":"={{ $json['Qual o negócio?'] }}","Faturamento":"={{ $json.Faturamento }}","Cidade":"={{ $json.Cidade }}","Número de colaboradores":"={{ $json['Número de colaboradores'] }}","Serviço 1":"={{ $json['Serviço 1'] }}","Serviço 2":"={{ $json['Serviço 2'] }}","Serviço 3":"={{ $json['Serviço 3'] }}","Serviço 4":"={{ $json['Serviço 4'] }}","Serviço 5":"={{ $json['Serviço 5'] }}","Renda Familiar":"={{ $json['Renda Familiar'] }}","Origem":"={{ $json.Origem }}","Source":"={{ $json.Source }}","Campanha":"={{ $json.Campanha }}","Conjunto":"={{ $json.Conjunto }}","Posicionamento":"={{ $json.Posicionamento }}","Anúncio":"={{ $json['Anúncio'] }}","Data e hora":"={{ $('Trata hora e Data').item.json.data }} - {{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":["whatsapp"],"schema":[{"id":"Data e hora","displayName":"Data e hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qual o negócio?","displayName":"Qual o negócio?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Faturamento","displayName":"Faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número de colaboradores","displayName":"Número de colaboradores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 1","displayName":"Serviço 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 2","displayName":"Serviço 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 3","displayName":"Serviço 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 4","displayName":"Serviço 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Serviço 5","displayName":"Serviço 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Renda Familiar","displayName":"Renda Familiar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campanha","displayName":"Campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conjunto","displayName":"Conjunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posicionamento","displayName":"Posicionamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[608,0],"id":"3fbe5090-4d55-448b-8738-3a018b32f19f","name":"Inclui e atualiza planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Tratamento dos dados":{"main":[[{"node":"Inclui e atualiza planilha","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Tratamento dos dados","type":"main","index":0}]]}},"authors":"Aldo Calesco","name":null,"description":null,"autosaved":false},"tags":[]}