XB2unGu9yxztqv5xQP5gp.json
{"updatedAt":"2026-02-08T13:10:40.340Z","createdAt":"2026-02-08T11:44:22.230Z","id":"XB2unGu9yxztqv5xQP5gp","name":"QUALIFICAÇÃO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"obrigado-low-qualificados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"00a2d0a1-4bc1-4036-8391-2628320b2bf8","name":"Qualificados","webhookId":"537d1fa2-c52a-4195-9e55-9f7ce9a016cf"},{"parameters":{"httpMethod":"POST","path":"obrigado-low-desqualificados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,240],"id":"6543893d-dcf0-4756-8564-3ad5dca3f253","name":"Desqualificados","webhookId":"537d1fa2-c52a-4195-9e55-9f7ce9a016cf"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":442599495,"mode":"list","cachedResultName":"Página de Obrigado - Desqualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=442599495"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOCUMENTO","displayName":"DOCUMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME DO PRODUTO","displayName":"NOME DO PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR DO PRODUTO","displayName":"VALOR DO PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME DA OFERTA","displayName":"NOME DA OFERTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÉTODO DE PAGAMENTO","displayName":"MÉTODO DE PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,240],"id":"d170d278-ab2a-421a-842f-ce12fb7f9297","name":"Planilha - Desqualificados","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $('Data').item.json.Data }}","Hora":"={{ $json.Hora }}","EMAIL":"={{ $('Qualificados').item.json.body.email }}","PRIMEIRO NOME":"={{ $('Qualificados').item.json.body.primeiro_nome }}","ÚLTIMO NOME":"={{ $('Qualificados').item.json.body.ultimo_nome }}","TELEFONE":"=55{{ $('Qualificados').item.json.body.whatsapp }}","POSSUI ASSISTÊNCIA OU NEGÓCIO":"={{ $('Qualificados').item.json.body.possui_assistencia }}","FATURAMENTO":"={{ $('Qualificados').item.json.body.faturamento }}","ORIGEM DA VENDA":"={{ $('Qualificados').item.json.body.origem }}","UTM_SOURCE":"={{ $('Qualificados').item.json.body.utm_source }}","UTM_CAMPAIGN":"={{ $('Qualificados').item.json.body.utm_campaign }}","UTM_MEDIUM":"={{ $('Qualificados').item.json.body.utm_medium }}","UTM_TERM":"={{ $('Qualificados').item.json.body.utm_term }}","UTM_CONTENT":"={{ $('Qualificados').item.json.body.utm_content }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0],"id":"0e6af542-c793-4ceb-89a9-284442f0aa31","name":"Planilha - Qualificados","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $json.body.timestamp }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"5238f551-e670-4eac-a489-e09db9edbc98","name":"Data"},{"parameters":{"operation":"formatDate","date":"={{ $('Qualificados').item.json.body.timestamp }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,0],"id":"247ace8d-d727-420c-8894-5120f9b5f047","name":"Hora"},{"parameters":{"operation":"formatDate","date":"={{ $json.body.timestamp }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,240],"id":"b5a8e96a-ee37-462f-961c-3505389e8d39","name":"Data1"},{"parameters":{"operation":"formatDate","date":"={{ $('Qualificados').item.json.body.timestamp }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,240],"id":"ebd7ac05-0875-4a35-9035-ce95ad064a71","name":"Hora1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,128],"id":"59d92aaf-dc7e-466e-8f13-881eba53cb74","name":"Wait","webhookId":"13272b6d-ab08-429c-aff9-3e963552662c"},{"parameters":{"promptType":"define","text":"=Sua missão é a seguinte:\n## Envie essa primeira mensagem:\nNós queremos TRIPLICAR O SEU FATURAMENTO!\n\n\nOlá {{ $('Qualificados').item.json.body.primeiro_nome }}! Aqui é a Rebekah, do Time de Aceleração de Empresas da INSTRUCTIVA.\n\nTemos um programa exclusivo para alunos que tem seu próprio negócio e nosso objetivo é CLARO: TRIPLICAR O SEU FATURAMENTO. \n\nPosso te explicar como funciona?\n\n## Se a resposta à pergunta for sim, envie essa mensagem:\nMaravilha! Antes de mais nada, queremos te dar um PRESENTE!\n\nO Celso liberou algumas *CONSULTORIAS DE ACELERAÇÃO INDIVIDUAIS (que custam R$1997), SEM CUSTO ALGUM* para PRESENTEAR novos alunos pré-selecionados. Nessa consultoria você terá um *DIAGNÓSTICO DO SEU NEGÓCIO*, e saberá EXATAMENTE se sua empresa CONSEGUE atingir esse resultado e o que falta para você conseguir TRIPLICAR, OU MAIS, o seu FATURAMENTO, e você poderá fazer isso SOZINHO(a) ou JUNTO CONOSCO, dentro desse programa.\n\nMAS, só tenho mais 7 HORÁRIOS DISPONÍVEIS (talvez um pouco menos pois nesse momento meus colegas também estão agendando com outros alunos)\n\nSerá DIRETAMENTE com o CELSO ou um de seus EXECUTIVOS! \n\nPosso te passar os horários disponíveis pra você escolher o seu?\n\n## Se a resposta à pergunta for não, Agradeça e encerre a conversa.\n\n## Deve ter na conversa dois botões, um para sim e um para não.\n\n## Após fazer isso, use o node Encontra para buscar a linha do {{ $('Qualificados').item.json.body.primeiro_nome }}, ou use o {{ $('Qualificados').item.json.body.email }} pra ter certeza, e após encontrar use o node ATUALIZA para atualizar a informação de Status e Última mensagem e insira a última mensagem enviada ao usuário","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1152,0],"id":"aedd7b9f-3d1f-4c3e-8219-897c1f8ce095","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1024,208],"id":"a2112f90-d996-471e-bc91-dac168e0258f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=55{{ $('Qualificados').item.json.body.whatsapp }}@s.whatsapp.net"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1168,208],"id":"08d74f99-8d37-4ab2-b155-bc5a41635d61","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1280,208],"id":"c13f6e62-39a3-4fde-bc42-638a52badf9f","name":"Encontra","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"Celso - Instructiva","remoteJid":"=55{{ $('Qualificados').item.json.body.whatsapp }}@s.whatsapp.net","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,0],"id":"62879d3a-88a9-4377-8a78-08f3d8a23bbb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"RLSz3ywE9qHlxnRl","name":"Instructiva"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"PRIMEIRO NOME":"={{ $json['PRIMEIRO NOME'] }}","STATUS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('STATUS', ``, 'string') }}","ÚLTIMA MENSAGEM ENVIADA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_LTIMA_MENSAGEM_ENVIADA', ``, 'string') }}"},"matchingColumns":["PRIMEIRO NOME"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1424,192],"id":"94c36c4e-9cc4-479d-90a2-cd7d04996425","name":"ATUALIZA","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"Evolution-Instructiva-Low-Ticket","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-384],"id":"767c180d-b321-4f84-90f0-6084792a8da4","name":"Webhook","webhookId":"9a30a7a9-0798-404f-85ca-4c6f4f502f03"},{"parameters":{"assignments":{"assignments":[{"id":"abafae3a-5275-4b0b-9436-db542cb9520f","name":"número","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"29a7556a-a743-4141-bccd-52eac5ef95c8","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-384],"id":"2de49235-c539-4669-9b90-6d47cb394e76","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"800201c6-fc2a-4110-af45-b9e237147ad1","leftValue":"={{ $json.Mensagem }}","rightValue":"SIM","operator":{"type":"string","operation":"equals"}},{"id":"3d00e7ea-d5a3-46f5-983f-94845224075c","leftValue":"={{ $json.Mensagem }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,-384],"id":"a95abe2a-620b-45e9-a529-1e1c1606caeb","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[672,-224],"id":"b6aed8b6-157c-4acb-98a8-f2a485e32c72","name":"No Operation, do nothing"},{"parameters":{"promptType":"define","text":"=Essa é a resposta: {{ $json.Mensagem }}\nSua missão é a seguinte:\n## Se a resposta for sim, envie essa mensagem:\nMaravilha! Antes de mais nada, queremos te dar um PRESENTE!\n\nO Celso liberou algumas *CONSULTORIAS DE ACELERAÇÃO INDIVIDUAIS (que custam R$1997), SEM CUSTO ALGUM* para PRESENTEAR novos alunos pré-selecionados. Nessa consultoria você terá um *DIAGNÓSTICO DO SEU NEGÓCIO*, e saberá EXATAMENTE se sua empresa CONSEGUE atingir esse resultado e o que falta para você conseguir TRIPLICAR, OU MAIS, o seu FATURAMENTO, e você poderá fazer isso SOZINHO(a) ou JUNTO CONOSCO, dentro desse programa.\n\nMAS, só tenho mais 7 HORÁRIOS DISPONÍVEIS (talvez um pouco menos pois nesse momento meus colegas também estão agendando com outros alunos)\n\nSerá DIRETAMENTE com o CELSO ou um de seus EXECUTIVOS! \n\nPosso te passar os horários disponíveis pra você escolher o seu?\n\n## Se a resposta à pergunta for não, Agradeça e encerre a conversa.\n\n## Deve ter na conversa dois botões, um para sim e um para não.\n\n## Após fazer isso, use o node Encontra1 para buscar a linha do {{ $json['número'].split('@')[0] }} para fazer a verificação do usuário e após encontrar use o node ATUALIZA1 para atualizar a informação de Status e Última mensagem e insira a última mensagem enviada ao usuário.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[960,-384],"id":"d2f541f0-3e2c-4fb8-b3dd-f6afc8fe6e43","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[832,-176],"id":"11f1b790-704f-4b93-a78a-2ccf68b07f27","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json['número'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[976,-176],"id":"a4552f46-4549-4495-98e6-d957c04a39db","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1088,-176],"id":"bf7970e3-359e-494e-b187-1dace4508769","name":"Encontra1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"Celso - Instructiva","remoteJid":"={{ $('Edit Fields').item.json['número'] }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,-384],"id":"292d563b-5b43-4c08-a978-be764d1b343c","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"RLSz3ywE9qHlxnRl","name":"Instructiva"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"PRIMEIRO NOME":"={{ $json['PRIMEIRO NOME'] }}","STATUS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('STATUS', ``, 'string') }}","ÚLTIMA MENSAGEM ENVIADA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_LTIMA_MENSAGEM_ENVIADA', ``, 'string') }}"},"matchingColumns":["PRIMEIRO NOME"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1232,-192],"id":"8cd03d89-4c0a-4125-ab3c-d47764d44249","name":"ATUALIZA1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Qualificados":{"main":[[{"node":"Data","type":"main","index":0}]]},"Desqualificados":{"main":[[{"node":"Data1","type":"main","index":0}]]},"Data":{"main":[[{"node":"Hora","type":"main","index":0}]]},"Hora":{"main":[[{"node":"Planilha - Qualificados","type":"main","index":0}]]},"Data1":{"main":[[{"node":"Hora1","type":"main","index":0}]]},"Hora1":{"main":[[{"node":"Planilha - Desqualificados","type":"main","index":0}]]},"Planilha - Qualificados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Encontra":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"ATUALIZA":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Encontra1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"ATUALIZA1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Qualificados":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.1)","content-length":"468","accept":"*/*","accept-encoding":"gzip,br","accept-language":"*","content-type":"application/json","x-forwarded-for":"56.124.102.38","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa565f1ad956","x-real-ip":"56.124.102.38"},"params":{},"query":{},"body":{"primeiro_nome":"Davi","ultimo_nome":"Conceição","nome":"Davi Conceição","email":"contato@daviconceicao.com.br","whatsapp":"11921203010","possui_assistencia":"Sim, possuo assistência técnica","faturamento":"R$10-20 mil","renda_familiar":"","qualificado":true,"origem":"obrigado_low","utm_source":"","utm_medium":"","utm_campaign":"","utm_term":"","utm_content":"","fbclid":"","fbp":"fb.2.1768938645110.864372003678778715","timestamp":"2026-02-08T12:15:25.343Z"},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/obrigado-low-qualificados","executionMode":"production"},"pairedItem":{"item":0}}],"Webhook":[{"json":{"headers":{"host":"webhook.alvoradadigital.com.br","user-agent":"axios/1.13.2","content-length":"1499","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.alvoradadigital.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa565f1ad956","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Celso - Instructiva","data":{"key":{"remoteJid":"5511921203010@s.whatsapp.net","remoteJidAlt":"5511921203010@s.whatsapp.net","fromMe":false,"id":"3BDACA00675789AE75E3","participant":"","addressingMode":"lid"},"pushName":"Davi Conceição","status":"DELIVERY_ACK","message":{"conversation":"SIM","messageContextInfo":{"threadId":[],"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":104,"1":143,"2":106,"3":166,"4":211,"5":206,"6":74,"7":2,"8":152,"9":16},"senderTimestamp":{"low":1769044862,"high":0,"unsigned":true},"recipientKeyHash":{"0":83,"1":63,"2":253,"3":167,"4":177,"5":248,"6":84,"7":247,"8":22,"9":66},"recipientTimestamp":{"low":1770319106,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":204,"1":95,"2":82,"3":212,"4":238,"5":6,"6":248,"7":106,"8":43,"9":187,"10":153,"11":252,"12":56,"13":55,"14":221,"15":45,"16":132,"17":150,"18":236,"19":241,"20":255,"21":92,"22":254,"23":32,"24":68,"25":225,"26":69,"27":176,"28":3,"29":7,"30":66,"31":140}}},"messageType":"conversation","messageTimestamp":1770554853,"instanceId":"14ba1f89-c554-4894-ac63-5b2001bf2972","source":"unknown"},"destination":"https://webhook.alvoradadigital.com.br/webhook/Evolution-Instructiva-Low-Ticket","date_time":"2026-02-08T09:47:33.379Z","sender":"554476030252@s.whatsapp.net","server_url":"https://api.alvoradadigital.com.br","apikey":"77A8CAE0E5B3-4E1C-A99D-70A48ACFD308"},"webhookUrl":"https://webhook.alvoradadigital.com.br/webhook/Evolution-Instructiva-Low-Ticket","executionMode":"production"}}]},"versionId":"4fd17643-9e1e-4a2a-a69e-5806bd212ce6","activeVersionId":"3b12de23-ec69-466c-84fb-774a68fa1d58","triggerCount":3,"shared":[{"updatedAt":"2026-02-08T11:44:22.230Z","createdAt":"2026-02-08T11:44:22.230Z","role":"workflow:owner","workflowId":"XB2unGu9yxztqv5xQP5gp","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-02-08T12:52:05.499Z","createdAt":"2026-02-08T12:52:03.454Z","versionId":"3b12de23-ec69-466c-84fb-774a68fa1d58","workflowId":"XB2unGu9yxztqv5xQP5gp","nodes":[{"parameters":{"httpMethod":"POST","path":"obrigado-low-qualificados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"00a2d0a1-4bc1-4036-8391-2628320b2bf8","name":"Qualificados","webhookId":"537d1fa2-c52a-4195-9e55-9f7ce9a016cf"},{"parameters":{"httpMethod":"POST","path":"obrigado-low-desqualificados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,240],"id":"6543893d-dcf0-4756-8564-3ad5dca3f253","name":"Desqualificados","webhookId":"537d1fa2-c52a-4195-9e55-9f7ce9a016cf"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":442599495,"mode":"list","cachedResultName":"Página de Obrigado - Desqualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=442599495"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOCUMENTO","displayName":"DOCUMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME DO PRODUTO","displayName":"NOME DO PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR DO PRODUTO","displayName":"VALOR DO PRODUTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME DA OFERTA","displayName":"NOME DA OFERTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÉTODO DE PAGAMENTO","displayName":"MÉTODO DE PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,240],"id":"d170d278-ab2a-421a-842f-ce12fb7f9297","name":"Planilha - Desqualificados","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $('Data').item.json.Data }}","Hora":"={{ $json.Hora }}","EMAIL":"={{ $('Qualificados').item.json.body.email }}","PRIMEIRO NOME":"={{ $('Qualificados').item.json.body.primeiro_nome }}","ÚLTIMO NOME":"={{ $('Qualificados').item.json.body.ultimo_nome }}","TELEFONE":"=55{{ $('Qualificados').item.json.body.whatsapp }}","POSSUI ASSISTÊNCIA OU NEGÓCIO":"={{ $('Qualificados').item.json.body.possui_assistencia }}","FATURAMENTO":"={{ $('Qualificados').item.json.body.faturamento }}","ORIGEM DA VENDA":"={{ $('Qualificados').item.json.body.origem }}","UTM_SOURCE":"={{ $('Qualificados').item.json.body.utm_source }}","UTM_CAMPAIGN":"={{ $('Qualificados').item.json.body.utm_campaign }}","UTM_MEDIUM":"={{ $('Qualificados').item.json.body.utm_medium }}","UTM_TERM":"={{ $('Qualificados').item.json.body.utm_term }}","UTM_CONTENT":"={{ $('Qualificados').item.json.body.utm_content }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0],"id":"0e6af542-c793-4ceb-89a9-284442f0aa31","name":"Planilha - Qualificados","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $json.body.timestamp }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"5238f551-e670-4eac-a489-e09db9edbc98","name":"Data"},{"parameters":{"operation":"formatDate","date":"={{ $('Qualificados').item.json.body.timestamp }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,0],"id":"247ace8d-d727-420c-8894-5120f9b5f047","name":"Hora"},{"parameters":{"operation":"formatDate","date":"={{ $json.body.timestamp }}","format":"custom","customFormat":"dd-MM-yyyy","outputFieldName":"Data","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,240],"id":"b5a8e96a-ee37-462f-961c-3505389e8d39","name":"Data1"},{"parameters":{"operation":"formatDate","date":"={{ $('Qualificados').item.json.body.timestamp }}","format":"custom","customFormat":"HH:mm:ss","outputFieldName":"Hora","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,240],"id":"ebd7ac05-0875-4a35-9035-ce95ad064a71","name":"Hora1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,128],"id":"59d92aaf-dc7e-466e-8f13-881eba53cb74","name":"Wait","webhookId":"13272b6d-ab08-429c-aff9-3e963552662c"},{"parameters":{"promptType":"define","text":"=Sua missão é a seguinte:\n## Envie essa primeira mensagem:\nNós queremos TRIPLICAR O SEU FATURAMENTO!\n\n\nOlá {{ $('Qualificados').item.json.body.primeiro_nome }}! Aqui é a Rebekah, do Time de Aceleração de Empresas da INSTRUCTIVA.\n\nTemos um programa exclusivo para alunos que tem seu próprio negócio e nosso objetivo é CLARO: TRIPLICAR O SEU FATURAMENTO. \n\nPosso te explicar como funciona?\n\n## Se a resposta à pergunta for sim, envie essa mensagem:\nMaravilha! Antes de mais nada, queremos te dar um PRESENTE!\n\nO Celso liberou algumas *CONSULTORIAS DE ACELERAÇÃO INDIVIDUAIS (que custam R$1997), SEM CUSTO ALGUM* para PRESENTEAR novos alunos pré-selecionados. Nessa consultoria você terá um *DIAGNÓSTICO DO SEU NEGÓCIO*, e saberá EXATAMENTE se sua empresa CONSEGUE atingir esse resultado e o que falta para você conseguir TRIPLICAR, OU MAIS, o seu FATURAMENTO, e você poderá fazer isso SOZINHO(a) ou JUNTO CONOSCO, dentro desse programa.\n\nMAS, só tenho mais 7 HORÁRIOS DISPONÍVEIS (talvez um pouco menos pois nesse momento meus colegas também estão agendando com outros alunos)\n\nSerá DIRETAMENTE com o CELSO ou um de seus EXECUTIVOS! \n\nPosso te passar os horários disponíveis pra você escolher o seu?\n\n## Se a resposta à pergunta for não, Agradeça e encerre a conversa.\n\n## Deve ter na conversa dois botões, um para sim e um para não.\n\n## Após fazer isso, use o node Encontra para buscar a linha do {{ $('Qualificados').item.json.body.primeiro_nome }}, ou use o {{ $('Qualificados').item.json.body.email }} pra ter certeza, e após encontrar use o node ATUALIZA para atualizar a informação de Status e Última mensagem e insira a última mensagem enviada ao usuário","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1152,0],"id":"aedd7b9f-3d1f-4c3e-8219-897c1f8ce095","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1024,208],"id":"a2112f90-d996-471e-bc91-dac168e0258f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=55{{ $('Qualificados').item.json.body.whatsapp }}@s.whatsapp.net"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1168,208],"id":"08d74f99-8d37-4ab2-b155-bc5a41635d61","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1280,208],"id":"c13f6e62-39a3-4fde-bc42-638a52badf9f","name":"Encontra","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"Celso - Instructiva","remoteJid":"=55{{ $('Qualificados').item.json.body.whatsapp }}@s.whatsapp.net","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,0],"id":"62879d3a-88a9-4377-8a78-08f3d8a23bbb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"RLSz3ywE9qHlxnRl","name":"Instructiva"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"PRIMEIRO NOME":"={{ $json['PRIMEIRO NOME'] }}","STATUS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('STATUS', ``, 'string') }}","ÚLTIMA MENSAGEM ENVIADA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_LTIMA_MENSAGEM_ENVIADA', ``, 'string') }}"},"matchingColumns":["PRIMEIRO NOME"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1424,192],"id":"94c36c4e-9cc4-479d-90a2-cd7d04996425","name":"ATUALIZA","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"Evolution-Instructiva-Low-Ticket","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-384],"id":"767c180d-b321-4f84-90f0-6084792a8da4","name":"Webhook","webhookId":"9a30a7a9-0798-404f-85ca-4c6f4f502f03"},{"parameters":{"assignments":{"assignments":[{"id":"abafae3a-5275-4b0b-9436-db542cb9520f","name":"número","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"29a7556a-a743-4141-bccd-52eac5ef95c8","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-384],"id":"2de49235-c539-4669-9b90-6d47cb394e76","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"800201c6-fc2a-4110-af45-b9e237147ad1","leftValue":"={{ $json.Mensagem }}","rightValue":"SIM","operator":{"type":"string","operation":"equals"}},{"id":"3d00e7ea-d5a3-46f5-983f-94845224075c","leftValue":"={{ $json.Mensagem }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1840,-352],"id":"a95abe2a-620b-45e9-a529-1e1c1606caeb","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1984,-192],"id":"b6aed8b6-157c-4acb-98a8-f2a485e32c72","name":"No Operation, do nothing"},{"parameters":{"promptType":"define","text":"=Essa é a resposta: {{ $json.Mensagem }}\nSua missão é a seguinte:\n## Se a resposta for sim, envie essa mensagem:\nMaravilha! Antes de mais nada, queremos te dar um PRESENTE!\n\nO Celso liberou algumas *CONSULTORIAS DE ACELERAÇÃO INDIVIDUAIS (que custam R$1997), SEM CUSTO ALGUM* para PRESENTEAR novos alunos pré-selecionados. Nessa consultoria você terá um *DIAGNÓSTICO DO SEU NEGÓCIO*, e saberá EXATAMENTE se sua empresa CONSEGUE atingir esse resultado e o que falta para você conseguir TRIPLICAR, OU MAIS, o seu FATURAMENTO, e você poderá fazer isso SOZINHO(a) ou JUNTO CONOSCO, dentro desse programa.\n\nMAS, só tenho mais 7 HORÁRIOS DISPONÍVEIS (talvez um pouco menos pois nesse momento meus colegas também estão agendando com outros alunos)\n\nSerá DIRETAMENTE com o CELSO ou um de seus EXECUTIVOS! \n\nPosso te passar os horários disponíveis pra você escolher o seu?\n\n## Se a resposta à pergunta for não, Agradeça e encerre a conversa.\n\n## Deve ter na conversa dois botões, um para sim e um para não.\n\n## Após fazer isso, use o node Encontra para buscar a linha do {{ $json['número'].split('@')[0] }} para fazer a verificação do usuário e após encontrar use o node ATUALIZA para atualizar a informação de Status e Última mensagem e insira a última mensagem enviada ao usuário.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[592,-384],"id":"d2f541f0-3e2c-4fb8-b3dd-f6afc8fe6e43","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[464,-176],"id":"11f1b790-704f-4b93-a78a-2ccf68b07f27","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4QN0fwxyuHPXwljS","name":"OpenAI - Alvorada"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json['número'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[608,-176],"id":"a4552f46-4549-4495-98e6-d957c04a39db","name":"Simple Memory1"},{"parameters":{"documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[720,-176],"id":"bf7970e3-359e-494e-b187-1dace4508769","name":"Encontra1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"Celso - Instructiva","remoteJid":"={{ $('Edit Fields').item.json['número'] }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,-384],"id":"292d563b-5b43-4c08-a978-be764d1b343c","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"RLSz3ywE9qHlxnRl","name":"Instructiva"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds","mode":"list","cachedResultName":"Instructiva - LowTicket","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":125554908,"mode":"list","cachedResultName":"Página de Obrigado - Qualificados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pJxOg5SZV9946kApkfmhHdRN4IoipDYKQD2wJ5cO3ds/edit#gid=125554908"},"columns":{"mappingMode":"defineBelow","value":{"PRIMEIRO NOME":"={{ $json['PRIMEIRO NOME'] }}","STATUS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('STATUS', ``, 'string') }}","ÚLTIMA MENSAGEM ENVIADA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_LTIMA_MENSAGEM_ENVIADA', ``, 'string') }}"},"matchingColumns":["PRIMEIRO NOME"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID DA COMPRA","displayName":"ID DA COMPRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRIMEIRO NOME","displayName":"PRIMEIRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMO NOME","displayName":"ÚLTIMO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSSUI ASSISTÊNCIA OU NEGÓCIO","displayName":"POSSUI ASSISTÊNCIA OU NEGÓCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATURAMENTO","displayName":"FATURAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CIDADE","displayName":"CIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAÍS","displayName":"PAÍS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORIGEM DA VENDA","displayName":"ORIGEM DA VENDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_SOURCE","displayName":"UTM_SOURCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CAMPAIGN","displayName":"UTM_CAMPAIGN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_MEDIUM","displayName":"UTM_MEDIUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_TERM","displayName":"UTM_TERM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UTM_CONTENT","displayName":"UTM_CONTENT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÚLTIMA MENSAGEM ENVIADA","displayName":"ÚLTIMA MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[864,-192],"id":"8cd03d89-4c0a-4125-ab3c-d47764d44249","name":"ATUALIZA1","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Qualificados":{"main":[[{"node":"Data","type":"main","index":0}]]},"Desqualificados":{"main":[[{"node":"Data1","type":"main","index":0}]]},"Data":{"main":[[{"node":"Hora","type":"main","index":0}]]},"Hora":{"main":[[{"node":"Planilha - Qualificados","type":"main","index":0}]]},"Data1":{"main":[[{"node":"Hora1","type":"main","index":0}]]},"Hora1":{"main":[[{"node":"Planilha - Desqualificados","type":"main","index":0}]]},"Planilha - Qualificados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Encontra":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"ATUALIZA":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Encontra1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"ATUALIZA1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"authors":"Aldo Calesco","name":"Version 3b12de23","description":"","autosaved":false},"tags":[]}