Xw42UvpAfQqG532O.json
{"updatedAt":"2025-11-06T14:21:37.565Z","createdAt":"2025-10-16T00:52:01.477Z","id":"Xw42UvpAfQqG532O","name":"Compra realizada - Hotmart","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"compra-realizada-hotmart","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,0],"id":"642ed638-745e-4efc-85a8-3790f84155dd","name":"Webhook","webhookId":"57676d55-0d33-4fa2-9da8-49730e62fc7c"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,-192],"id":"1131f4a7-eccb-4244-8caf-edbe297659eb","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-192],"id":"c739e793-d9b2-4abb-b337-57431c018598","name":"Trata hora e Data"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,208],"id":"7b4a645e-a4fb-4580-b002-b5eae07c77b4","name":"Date & Time1"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,208],"id":"f673419c-fda5-4bf4-b82d-0863856db05a","name":"Trata hora e Data1"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,208],"id":"b0aeb691-ad62-4958-a470-851d4a09e5f2","name":"Trata os dados Orgânicos"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1312050983,"mode":"list","cachedResultName":"Orgânico","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=1312050983"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome do Código'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1056,208],"id":"c1e85e34-ab43-4833-8f5a-14c3161900ca","name":"Atualiza Planilha - Orgânico","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Tráfego","operator":{"type":"string","operation":"equals"},"id":"fc0b68a7-8b17-47fc-820f-b1b483d92a22"}],"combinator":"and"},"renameOutput":true,"outputKey":"Tráfego Direto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"665129d9-67ec-49fd-a8ba-251447b9b41c","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Manychat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Manychat"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39c4c92d-60e5-4985-8848-d26b246a4055","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Tráfego","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orgânico"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb21ff84-b95c-43f7-a33f-729e2140e40a","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Manychat","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orgânico"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,-16],"id":"dd58521d-bab6-4c74-a4c9-43e0c31c97be","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tráfego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome da Oferta'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-192],"id":"8be49d2b-9fb9-43e9-9681-4be66c014ec1","name":"Tráfego Pago","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,-16],"id":"88ec900c-a648-4dd0-a1ca-b0c3c249a461","name":"Date & Time2"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-16],"id":"faa6fc80-55c8-44fd-8c80-18269824a05c","name":"Trata hora e Data2"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"},{"id":"0b3b2c9e-cf37-4b63-925a-bcff1dbb9085","name":"Nome da Oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-16],"id":"79fd889c-95df-47fb-ba27-823c1735a5f0","name":"Trata os Dados - Manychat"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"},{"id":"0b3b2c9e-cf37-4b63-925a-bcff1dbb9085","name":"Nome da Oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-192],"id":"a16f454e-f035-4e2b-a7b1-54dd88c52b94","name":"Trata os Dados - Tráfego Pago"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1207478997,"mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=1207478997"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome da Oferta'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-16],"id":"fd9724f8-9e47-40f2-9002-c7a780ccf89a","name":"Manychat","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os Dados - Tráfego Pago","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Trata hora e Data1","type":"main","index":0}]]},"Trata hora e Data1":{"main":[[{"node":"Trata os dados Orgânicos","type":"main","index":0}]]},"Trata os dados Orgânicos":{"main":[[{"node":"Atualiza Planilha - Orgânico","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Date & Time2","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Trata hora e Data2","type":"main","index":0}]]},"Trata hora e Data2":{"main":[[{"node":"Trata os Dados - Manychat","type":"main","index":0}]]},"Trata os Dados - Manychat":{"main":[[{"node":"Manychat","type":"main","index":0}]]},"Trata os Dados - Tráfego Pago":{"main":[[{"node":"Tráfego Pago","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bfe4b39-cfd8-4e02-8e5c-4469c08d7d2a","activeVersionId":"9bfe4b39-cfd8-4e02-8e5c-4469c08d7d2a","triggerCount":1,"shared":[{"updatedAt":"2025-10-16T00:52:01.477Z","createdAt":"2025-10-16T00:52:01.477Z","role":"workflow:owner","workflowId":"Xw42UvpAfQqG532O","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"9bfe4b39-cfd8-4e02-8e5c-4469c08d7d2a","workflowId":"Xw42UvpAfQqG532O","nodes":[{"parameters":{"httpMethod":"POST","path":"compra-realizada-hotmart","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,0],"id":"642ed638-745e-4efc-85a8-3790f84155dd","name":"Webhook","webhookId":"57676d55-0d33-4fa2-9da8-49730e62fc7c"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,-192],"id":"1131f4a7-eccb-4244-8caf-edbe297659eb","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-192],"id":"c739e793-d9b2-4abb-b337-57431c018598","name":"Trata hora e Data"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[416,208],"id":"7b4a645e-a4fb-4580-b002-b5eae07c77b4","name":"Date & Time1"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,208],"id":"f673419c-fda5-4bf4-b82d-0863856db05a","name":"Trata hora e Data1"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,208],"id":"b0aeb691-ad62-4958-a470-851d4a09e5f2","name":"Trata os dados Orgânicos"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1312050983,"mode":"list","cachedResultName":"Orgânico","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=1312050983"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome do Código'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1056,208],"id":"c1e85e34-ab43-4833-8f5a-14c3161900ca","name":"Atualiza Planilha - Orgânico","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Tráfego","operator":{"type":"string","operation":"equals"},"id":"fc0b68a7-8b17-47fc-820f-b1b483d92a22"}],"combinator":"and"},"renameOutput":true,"outputKey":"Tráfego Direto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"665129d9-67ec-49fd-a8ba-251447b9b41c","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Manychat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Manychat"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39c4c92d-60e5-4985-8848-d26b246a4055","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Tráfego","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orgânico"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb21ff84-b95c-43f7-a33f-729e2140e40a","leftValue":"={{ $json.body.data.purchase.offer.name }}","rightValue":"Alvorada Digital - Emagrecer - Manychat","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orgânico"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,-16],"id":"dd58521d-bab6-4c74-a4c9-43e0c31c97be","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tráfego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome da Oferta'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-192],"id":"8be49d2b-9fb9-43e9-9681-4be66c014ec1","name":"Tráfego Pago","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,-16],"id":"88ec900c-a648-4dd0-a1ca-b0c3c249a461","name":"Date & Time2"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-16],"id":"faa6fc80-55c8-44fd-8c80-18269824a05c","name":"Trata hora e Data2"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"},{"id":"0b3b2c9e-cf37-4b63-925a-bcff1dbb9085","name":"Nome da Oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-16],"id":"79fd889c-95df-47fb-ba27-823c1735a5f0","name":"Trata os Dados - Manychat"},{"parameters":{"assignments":{"assignments":[{"id":"49873dfa-50cd-4bca-b3bd-0b57cf0ad5e0","name":"nome","value":"={{ $('Webhook').item.json.body.data.buyer.name }}","type":"string"},{"id":"6209e378-6b8f-4a4e-9ebe-2498750f3107","name":"telefone","value":"={{ $('Webhook').item.json.body.data.buyer.checkout_phone }}","type":"string"},{"id":"937dadd1-829e-4d83-9533-5343f68da064","name":"email","value":"={{ $('Webhook').item.json.body.data.buyer.email }}","type":"string"},{"id":"d2a732ab-fa81-417a-81b6-b6b794506eff","name":"Data","value":"={{ $json.data }}","type":"string"},{"id":"66d813cc-4b23-45fb-959b-bfde07abe5ac","name":"Hora","value":"={{ $json.hora }}","type":"string"},{"id":"87a16c4d-1168-416f-9c41-dd117195bbd7","name":"Código de oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.code }}","type":"string"},{"id":"878c9929-f91d-4a33-9193-033d654118a9","name":"Preço do produto","value":"={{ $('Webhook').item.json.body.data.purchase.original_offer_price.value }}","type":"string"},{"id":"da38c14f-8867-48d3-bb47-0bed43ad1e16","name":"Valor líquido","value":"={{ $('Webhook').item.json.body.data.commissions[1].value }}","type":"string"},{"id":"af19a146-4abc-45c2-9988-da1c5294bb0a","name":"Nome do Produto","value":"={{ $('Webhook').item.json.body.data.product.name }}","type":"string"},{"id":"0b3b2c9e-cf37-4b63-925a-bcff1dbb9085","name":"Nome da Oferta","value":"={{ $('Webhook').item.json.body.data.purchase.offer.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-192],"id":"a16f454e-f035-4e2b-a7b1-54dd88c52b94","name":"Trata os Dados - Tráfego Pago"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY","mode":"list","cachedResultName":"Compra realizada - Hotmart","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1207478997,"mode":"list","cachedResultName":"Manychat","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCwZ6fmTVHdFddiQEjHWq4u6qzVtvgbB6w7VyVxEeWY/edit#gid=1207478997"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.email }}","Telefone":"={{ $json.telefone }}","Nome":"={{ $json.nome }}","Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Nome do Produto":"={{ $json['Nome do Produto'] }}","Nome do Código":"={{ $json['Nome da Oferta'] }}","Código da Oferta":"={{ $json['Código de oferta'] }}","Preço do Produto":"={{ $json['Preço do produto'] }}"," Valor Líquido ":"={{ $json['Valor líquido'] }}"},"matchingColumns":["Email"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Produto","displayName":"Nome do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Código","displayName":"Nome do Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código da Oferta","displayName":"Código da Oferta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Preço do Produto","displayName":"Preço do Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":" Valor Líquido ","displayName":" Valor Líquido ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-16],"id":"fd9724f8-9e47-40f2-9002-c7a780ccf89a","name":"Manychat","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os Dados - Tráfego Pago","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Trata hora e Data1","type":"main","index":0}]]},"Trata hora e Data1":{"main":[[{"node":"Trata os dados Orgânicos","type":"main","index":0}]]},"Trata os dados Orgânicos":{"main":[[{"node":"Atualiza Planilha - Orgânico","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Date & Time2","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Trata hora e Data2","type":"main","index":0}]]},"Trata hora e Data2":{"main":[[{"node":"Trata os Dados - Manychat","type":"main","index":0}]]},"Trata os Dados - Manychat":{"main":[[{"node":"Manychat","type":"main","index":0}]]},"Trata os Dados - Tráfego Pago":{"main":[[{"node":"Tráfego Pago","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}