YiPatq68pUuLgbgW.json
{"updatedAt":"2025-11-07T16:02:54.006Z","createdAt":"2025-11-06T21:11:40.306Z","id":"YiPatq68pUuLgbgW","name":"grupo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"grupo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,0],"id":"6d2b5529-c1d5-4acb-b68b-935fbababb69","name":"Webhook","webhookId":"9684f316-2f8c-4371-9212-488bc2128066"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"7b304cc2-f416-4fc4-8e86-397fdd098ee5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou no grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35d6d1bd-f785-406b-a674-63e3498e399b","leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu do grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[688,-16],"id":"2d856c53-3afe-40e7-b4a5-901c904b7e24","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc964586-458e-48e2-8ed9-9353b722ce22","leftValue":"={{ $json.body.data.id }}","rightValue":"120363403128298961@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,0],"id":"824eda1f-c6a8-474c-a934-81ccc0939fd8","name":"If"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Nanda Peris - Não Oficial","groupJid":"={{ $('ID do Grupo').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,-32],"id":"c1711d77-f0c9-44c2-aff7-5bc4f72d01bc","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"columns":{"mappingMode":"defineBelow","value":{"Estão no Grupo":"={{ $('Número do Whatsapp').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}","LID":"={{ $('Trata a saída').item.json.numeroPaciente }}"},"matchingColumns":["LID"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,-32],"id":"1ca370af-8ebc-46d3-97f5-fd1b95820b9b","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('If').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-32],"id":"5b6834cb-36a6-4949-8a03-18b77face6b7","name":"ID do Grupo"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-32],"id":"ab51d4db-6fb2-4a29-a8b2-8f499b3b348f","name":"Trata a saída"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $json.participanteEncontrado.jid.split('@s.whatsapp.net')[0] }}","type":"string"},{"id":"512f6adc-e19c-40f0-bd50-d2c8df45c7bd","name":"LID","value":"={{ $json.participanteEncontrado.lid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,-32],"id":"2b80165d-2642-43db-be56-1abf7dcc526f","name":"Número do Whatsapp"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Nanda Peris - Não Oficial","groupJid":"={{ $('ID do Grupo1').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,176],"id":"80907ecc-f9fe-4939-84e5-b4d7502ec2cc","name":"Encontrar participantes do grupo1","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('Webhook').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,176],"id":"1bfdc091-9e4b-42f2-8124-367e2adbd191","name":"ID do Grupo1"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,176],"id":"740b0839-a49f-4bb8-9685-7ac27b349fca","name":"Trata a saída1"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $('Get row(s) in sheet').item.json['Estão no Grupo'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,176],"id":"addeecf0-0584-4626-bf9f-9b4d056e5522","name":"Número do Whatsapp1"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"filtersUI":{"values":[{"lookupColumn":"LID","lookupValue":"={{ $('If').item.json.body.data.participants[0] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,176],"id":"d5f13303-061a-4d6b-b416-6f1b53f2a767","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"startIndex":"={{ $('Get row(s) in sheet').item.json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1952,176],"id":"cbd9b0e4-2403-4476-9358-a095593b84f5","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"columns":{"mappingMode":"defineBelow","value":{"LID":"={{ $('Trata a saída1').item.json.numeroPaciente }}","Saíram do Grupo":"={{ $('Número do Whatsapp1').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,176],"id":"8d787a22-8eb4-4986-8ffd-05123a505f05","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[288,-16],"id":"b9d88e53-f950-48a5-819b-9c521df0a8ca","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-16],"id":"30d91adc-f297-4b5b-9e2d-9311ba0f565b","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"ID do Grupo","type":"main","index":0}],[{"node":"ID do Grupo1","type":"main","index":0}]]},"If":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"Trata a saída","type":"main","index":0}]]},"ID do Grupo":{"main":[[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Trata a saída":{"main":[[{"node":"Número do Whatsapp","type":"main","index":0}]]},"Número do Whatsapp":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Encontrar participantes do grupo1":{"main":[[{"node":"Trata a saída1","type":"main","index":0}]]},"ID do Grupo1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Trata a saída1":{"main":[[{"node":"Número do Whatsapp1","type":"main","index":0}]]},"Número do Whatsapp1":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Encontrar participantes do grupo1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"182543e2-7548-439b-9855-332e35643e8f","activeVersionId":"182543e2-7548-439b-9855-332e35643e8f","triggerCount":1,"shared":[{"updatedAt":"2025-11-06T21:11:40.306Z","createdAt":"2025-11-06T21:11:40.306Z","role":"workflow:owner","workflowId":"YiPatq68pUuLgbgW","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"182543e2-7548-439b-9855-332e35643e8f","workflowId":"YiPatq68pUuLgbgW","nodes":[{"parameters":{"httpMethod":"POST","path":"grupo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,0],"id":"6d2b5529-c1d5-4acb-b68b-935fbababb69","name":"Webhook","webhookId":"9684f316-2f8c-4371-9212-488bc2128066"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"7b304cc2-f416-4fc4-8e86-397fdd098ee5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou no grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35d6d1bd-f785-406b-a674-63e3498e399b","leftValue":"={{ $('If').item.json.body.data.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu do grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[688,-16],"id":"2d856c53-3afe-40e7-b4a5-901c904b7e24","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc964586-458e-48e2-8ed9-9353b722ce22","leftValue":"={{ $json.body.data.id }}","rightValue":"120363403128298961@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,0],"id":"824eda1f-c6a8-474c-a934-81ccc0939fd8","name":"If"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Nanda Peris - Não Oficial","groupJid":"={{ $('ID do Grupo').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,-32],"id":"c1711d77-f0c9-44c2-aff7-5bc4f72d01bc","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"columns":{"mappingMode":"defineBelow","value":{"Estão no Grupo":"={{ $('Número do Whatsapp').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}","LID":"={{ $('Trata a saída').item.json.numeroPaciente }}"},"matchingColumns":["LID"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,-32],"id":"1ca370af-8ebc-46d3-97f5-fd1b95820b9b","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('If').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-32],"id":"5b6834cb-36a6-4949-8a03-18b77face6b7","name":"ID do Grupo"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-32],"id":"ab51d4db-6fb2-4a29-a8b2-8f499b3b348f","name":"Trata a saída"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $json.participanteEncontrado.jid.split('@s.whatsapp.net')[0] }}","type":"string"},{"id":"512f6adc-e19c-40f0-bd50-d2c8df45c7bd","name":"LID","value":"={{ $json.participanteEncontrado.lid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,-32],"id":"2b80165d-2642-43db-be56-1abf7dcc526f","name":"Número do Whatsapp"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"Nanda Peris - Não Oficial","groupJid":"={{ $('ID do Grupo1').item.json['Id do grupo'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,176],"id":"80907ecc-f9fe-4939-84e5-b4d7502ec2cc","name":"Encontrar participantes do grupo1","credentials":{"evolutionApi":{"id":"wqtvAOXadphtWp4K","name":"Nanda API"}}},{"parameters":{"assignments":{"assignments":[{"id":"00dda5f0-a1dc-4ea1-a5be-1e878d946fcc","name":"Id do grupo","value":"={{ $('Webhook').item.json.body.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,176],"id":"1bfdc091-9e4b-42f2-8124-367e2adbd191","name":"ID do Grupo1"},{"parameters":{"jsCode":"// 🧠 1️⃣ Captura o número do paciente vindo do Webhook\nconst numeroPaciente = $node[\"Webhook\"].json?.body?.data?.participants?.[0];\n\n// 🧠 2️⃣ Função recursiva para encontrar arrays que parecem ser de participantes\nfunction encontrarParticipantes(obj) {\n  if (!obj) return [];\n  if (Array.isArray(obj)) {\n    // Checa se o array parece conter participantes (objetos com id/lid/jid)\n    const pareceParticipantes = obj.some(p =>\n      typeof p === \"object\" && (p.id || p.lid || p.jid)\n    );\n    if (pareceParticipantes) return obj;\n    // Caso contrário, tenta em cada elemento\n    for (const el of obj) {\n      const achado = encontrarParticipantes(el);\n      if (achado.length) return achado;\n    }\n  } else if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const achado = encontrarParticipantes(obj[key]);\n      if (achado.length) return achado;\n    }\n  }\n  return [];\n}\n\n// 🔍 3️⃣ Tenta achar automaticamente o array de participantes\nconst participantes = encontrarParticipantes($json);\n\n// 🧩 4️⃣ Função para normalizar campos\nconst normalizar = (p) => {\n  if (typeof p === \"string\") return { id: p, jid: p, lid: p };\n  return {\n    id: p?.id ?? p?.jid ?? p?.lid ?? null,\n    jid: p?.jid ?? p?.id ?? p?.lid ?? null,\n    lid: p?.lid ?? p?.id ?? p?.jid ?? null,\n    name: p?.name ?? null,\n    admin: p?.admin ?? false,\n    isSuperAdmin: p?.isSuperAdmin ?? false\n  };\n};\n\n// 🔍 5️⃣ Busca o paciente dentro da lista\nconst participanteEncontrado =\n  participantes.find((p) => {\n    const { id, jid, lid } = normalizar(p);\n    return [id, jid, lid].includes(numeroPaciente);\n  }) || null;\n\n// 🧾 6️⃣ Monta o resultado final\nconst resultado = {\n  numeroPaciente,\n  totalParticipantes: participantes.length,\n  existeNoGrupo: !!participanteEncontrado,\n  participanteEncontrado: participanteEncontrado\n    ? normalizar(participanteEncontrado)\n    : null,\n  id: participanteEncontrado ? normalizar(participanteEncontrado).id : null,\n  jid: participanteEncontrado ? normalizar(participanteEncontrado).jid : null,\n  lid: participanteEncontrado ? normalizar(participanteEncontrado).lid : null\n};\n\n// 🧠 7️⃣ Log de debug se ainda vier vazio\nif (participantes.length === 0) {\n  console.log(\"⚠️ Nenhum array de participantes encontrado. Estrutura do JSON:\");\n  console.log(JSON.stringify($json, null, 2));\n}\n\n// ✅ 8️⃣ Retorna o resultado\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,176],"id":"740b0839-a49f-4bb8-9685-7ac27b349fca","name":"Trata a saída1"},{"parameters":{"assignments":{"assignments":[{"id":"d6f119a0-67b3-4592-9e4d-810cecc0daea","name":"número do whatsapp","value":"={{ $('Get row(s) in sheet').item.json['Estão no Grupo'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,176],"id":"addeecf0-0584-4626-bf9f-9b4d056e5522","name":"Número do Whatsapp1"},{"parameters":{"documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"filtersUI":{"values":[{"lookupColumn":"LID","lookupValue":"={{ $('If').item.json.body.data.participants[0] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,176],"id":"d5f13303-061a-4d6b-b416-6f1b53f2a767","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"startIndex":"={{ $('Get row(s) in sheet').item.json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1952,176],"id":"cbd9b0e4-2403-4476-9358-a095593b84f5","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY","mode":"list","cachedResultName":"Nanda Peris - Combo Black","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1633913922,"mode":"list","cachedResultName":"Gestão do Grupo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIKTAbio25nY2ZU-Korlgmk07RjvSTp2YfGCkF8Y-BY/edit#gid=1633913922"},"columns":{"mappingMode":"defineBelow","value":{"LID":"={{ $('Trata a saída1').item.json.numeroPaciente }}","Saíram do Grupo":"={{ $('Número do Whatsapp1').item.json['número do whatsapp'] }}","Data":"={{ $('Trata hora e Data').item.json.data }}","Hora":"={{ $('Trata hora e Data').item.json.hora }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estão no Grupo","displayName":"Estão no Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Saíram do Grupo","displayName":"Saíram do Grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,176],"id":"8d787a22-8eb4-4986-8ffd-05123a505f05","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[288,-16],"id":"b9d88e53-f950-48a5-819b-9c521df0a8ca","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-16],"id":"30d91adc-f297-4b5b-9e2d-9311ba0f565b","name":"Trata hora e Data"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"ID do Grupo","type":"main","index":0}],[{"node":"ID do Grupo1","type":"main","index":0}]]},"If":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"Trata a saída","type":"main","index":0}]]},"ID do Grupo":{"main":[[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Trata a saída":{"main":[[{"node":"Número do Whatsapp","type":"main","index":0}]]},"Número do Whatsapp":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Encontrar participantes do grupo1":{"main":[[{"node":"Trata a saída1","type":"main","index":0}]]},"ID do Grupo1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Trata a saída1":{"main":[[{"node":"Número do Whatsapp1","type":"main","index":0}]]},"Número do Whatsapp1":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Encontrar participantes do grupo1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}