yZp9RLM3ndvIxogL.json
{"updatedAt":"2025-12-29T18:46:01.709Z","createdAt":"2025-12-29T18:35:14.269Z","id":"yZp9RLM3ndvIxogL","name":"Controle de Leads","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Leads-Masterclass","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"ee475707-208e-49d9-b2bd-dd82d5ac493d","name":"Webhook","webhookId":"c76b080a-9cdf-49e2-9718-ae1de37a4feb"},{"parameters":{"assignments":{"assignments":[{"id":"259ada3e-5c35-40c2-ae32-87dcdedebfa6","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"98e71c8c-0f79-473c-a8f0-21241b9a6159","name":"Whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"fdefc816-18c5-4b3a-806c-07be8713134e","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"71a5bf03-0879-4390-b759-ad5026058a58","name":"Tipo","value":"={{ $json.body.tipo }}","type":"string"},{"id":"55061217-8a03-48f9-a651-a8534ee9bc9d","name":"Série","value":"={{ $json.body.serie }}","type":"string"},{"id":"a1d7f1c3-d568-4761-9389-2fe41eee66c5","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"459eeacd-785e-4bdc-a91b-1d9bb47fde26","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"583287d7-20c8-4396-aedb-93448d837c61","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3a9601f2-329b-4408-9235-a13f4baaa1fe","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"85103421-9603-45f1-adf1-40e3bfc0d427","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"bbab5994-3946-4c39-8de4-35dfe60e5f76","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0],"id":"bc10df9a-ca8d-45ad-8f06-3db9b67af1b5","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"969c9698-4210-4b9f-9f1f-db787ce873d4","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4","mode":"list","cachedResultName":"Rogério Issa - Controle de Leads da Masterclass","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads Masterclass","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Edit Fields').item.json.Whatsapp }}","Data":"={{ $json.data }}","Hora":"={{ $json.hora }}","Nome":"={{ $('Edit Fields').item.json.Nome }}","Tipo":"={{ $('Edit Fields').item.json.Tipo }}","Série":"={{ $('Edit Fields').item.json['Série'] }}","utm_source":"={{ $('Edit Fields').item.json.utm_source }}","utm_campaign":"={{ $('Edit Fields').item.json.utm_campaign }}","utm_medium":"={{ $('Edit Fields').item.json.utm_medium }}","utm_term":"={{ $('Edit Fields').item.json.utm_term }}","utm_content":"={{ $('Edit Fields').item.json.utm_content }}","Email":"={{ $('Edit Fields').item.json.Email }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Série","displayName":"Série","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,0],"id":"6cb35e39-2458-432d-bb5e-f47ef9668f85","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bf31a19e-ccf8-47fe-bb8d-efbfab8f1a97","activeVersionId":"bf31a19e-ccf8-47fe-bb8d-efbfab8f1a97","triggerCount":1,"shared":[{"updatedAt":"2025-12-29T18:35:14.269Z","createdAt":"2025-12-29T18:35:14.269Z","role":"workflow:owner","workflowId":"yZp9RLM3ndvIxogL","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"bf31a19e-ccf8-47fe-bb8d-efbfab8f1a97","workflowId":"yZp9RLM3ndvIxogL","nodes":[{"parameters":{"httpMethod":"POST","path":"Leads-Masterclass","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"ee475707-208e-49d9-b2bd-dd82d5ac493d","name":"Webhook","webhookId":"c76b080a-9cdf-49e2-9718-ae1de37a4feb"},{"parameters":{"assignments":{"assignments":[{"id":"259ada3e-5c35-40c2-ae32-87dcdedebfa6","name":"Nome","value":"={{ $json.body.nome }}","type":"string"},{"id":"98e71c8c-0f79-473c-a8f0-21241b9a6159","name":"Whatsapp","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"fdefc816-18c5-4b3a-806c-07be8713134e","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"71a5bf03-0879-4390-b759-ad5026058a58","name":"Tipo","value":"={{ $json.body.tipo }}","type":"string"},{"id":"55061217-8a03-48f9-a651-a8534ee9bc9d","name":"Série","value":"={{ $json.body.serie }}","type":"string"},{"id":"a1d7f1c3-d568-4761-9389-2fe41eee66c5","name":"utm_source","value":"={{ $json.body.utm_source }}","type":"string"},{"id":"459eeacd-785e-4bdc-a91b-1d9bb47fde26","name":"utm_campaign","value":"={{ $json.body.utm_campaign }}","type":"string"},{"id":"583287d7-20c8-4396-aedb-93448d837c61","name":"utm_medium","value":"={{ $json.body.utm_medium }}","type":"string"},{"id":"3a9601f2-329b-4408-9235-a13f4baaa1fe","name":"utm_term","value":"={{ $json.body.utm_term }}","type":"string"},{"id":"85103421-9603-45f1-adf1-40e3bfc0d427","name":"utm_content","value":"={{ $json.body.utm_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"bbab5994-3946-4c39-8de4-35dfe60e5f76","name":"Edit Fields"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0],"id":"bc10df9a-ca8d-45ad-8f06-3db9b67af1b5","name":"Date & Time"},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"America/Sao_Paulo\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"969c9698-4210-4b9f-9f1f-db787ce873d4","name":"Trata hora e Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4","mode":"list","cachedResultName":"Rogério Issa - Controle de Leads da Masterclass","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads Masterclass","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vPvVwU6-6dLZfyr274dVzINm8Q1UzmtyR0LrUzE63B4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Edit Fields').item.json.Whatsapp }}","Data":"={{ $json.data }}","Hora":"={{ $json.hora }}","Nome":"={{ $('Edit Fields').item.json.Nome }}","Tipo":"={{ $('Edit Fields').item.json.Tipo }}","Série":"={{ $('Edit Fields').item.json['Série'] }}","utm_source":"={{ $('Edit Fields').item.json.utm_source }}","utm_campaign":"={{ $('Edit Fields').item.json.utm_campaign }}","utm_medium":"={{ $('Edit Fields').item.json.utm_medium }}","utm_term":"={{ $('Edit Fields').item.json.utm_term }}","utm_content":"={{ $('Edit Fields').item.json.utm_content }}","Email":"={{ $('Edit Fields').item.json.Email }}"},"matchingColumns":["Whatsapp"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Série","displayName":"Série","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,0],"id":"6cb35e39-2458-432d-bb5e-f47ef9668f85","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}