zlxqAF7K1ywXNL44.json
{"updatedAt":"2026-01-06T20:34:41.344Z","createdAt":"2025-12-10T20:39:30.314Z","id":"zlxqAF7K1ywXNL44","name":"Campanha de Formulário Instantâneo","active":true,"isArchived":false,"nodes":[{"parameters":{"page":{"__rl":true,"value":"1403844979916600","mode":"id"},"form":{"__rl":true,"value":"997774113409916","mode":"list","cachedResultName":"FORMS01 - PEDIDO INFORMAÇÕES"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[0,0],"id":"96e73249-0a01-4e26-b0cc-fb158885d4d0","name":"Formulário - Pedido de informações UBC","webhookId":"198d63f1-bdb7-4223-993a-a858e80573d0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"9lAlCS5uJsfOsVH0","name":"Facebook Lead Ads account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"Europe/Lisbon\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"d91a0653-ebc3-41dd-92c1-717ddf277610","name":"Trata hora e Data"},{"parameters":{"assignments":{"assignments":[{"id":"fa8873e9-6b71-40c0-a6ac-3517d95492c1","name":"qual o serviço que procuras","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['qual_o_serviço_que_procuras?'] }}","type":"string"},{"id":"9d649262-4ac5-4628-874b-f8c3a5f8a036","name":"nome","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.nome }}","type":"string"},{"id":"82f9d545-a334-4642-8a38-2bba7748d7ec","name":"telefone","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['número_de_telemóvel'] }}","type":"string"},{"id":"a668ebc7-5868-49ae-a7ad-d7b120d36fcb","name":"email","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.email }}","type":"string"},{"id":"da50de3a-84f1-455e-ab10-261bbaa8dba3","name":"Anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.ad }}","type":"object"},{"id":"7e7c65e4-d453-4ab5-8ea5-9d2c91a1219f","name":"Conjunto de anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.adset }}","type":"object"},{"id":"1ee89b40-893a-41d3-b531-85422411c8fb","name":"Data","value":"={{ $('Trata hora e Data').item.json.data }}","type":"string"},{"id":"d165d2e5-508c-4b46-9e80-34f6d173377b","name":"hora","value":"={{ $('Trata hora e Data').item.json.hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,0],"id":"a0a72377-e44a-4f0a-b631-e10e40e73a95","name":"Trata os dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w","mode":"list","cachedResultName":"Miguel - Leads Formulário Instantâneo FB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Trata os dados').item.json.email }}","DATA":"={{ $('Trata os dados').item.json.Data }}","HORA":"={{ $('Trata os dados').item.json.hora }}","NOME":"={{ $('Trata os dados').item.json.nome }}","TELEFONE":"={{ $('Trata os dados').item.json.telefone }}","QUAL O SERVIÇO PROCURADO":"={{ $('Trata os dados').item.json['qual o serviço que procuras'] }}","ANÚNCIO":"={{ $('Trata os dados').item.json['Anúncio'] }}","CONJUNTO DE ANÚNCIO":"={{ $('Trata os dados').item.json['Conjunto de anúncio'] }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QUAL O SERVIÇO PROCURADO","displayName":"QUAL O SERVIÇO PROCURADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ANÚNCIO","displayName":"ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONJUNTO DE ANÚNCIO","displayName":"CONJUNTO DE ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES","displayName":"OBSERVAÇÕES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venda a 6 meses","displayName":"Venda a 6 meses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,-96],"id":"6a7d87df-1b8b-48aa-a862-9e30844408b8","name":"Atualiza a planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"sendTo":"work@upperbc.com","subject":"=Dados do Formulário - Pedido de informações UBC","emailType":"text","message":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1072,-32],"id":"84b5b431-9540-4a10-8d8c-8f1bc52d8d53","name":"Send a message","webhookId":"3cb747f4-981c-4b6c-aed8-1c399cb1cfca","credentials":{"gmailOAuth2":{"id":"Ll3lmYooDDfuvZZj","name":"Gmail account"}}},{"parameters":{"fromEmail":"work@upperbc.com","toEmail":"work@upperbc.com","subject":"Dados do Formulário - Pedido de informações UBC","emailFormat":"text","text":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,64],"id":"7e81b2b9-35a6-483a-a6ec-23cae713a66e","name":"Send email","webhookId":"29c376f3-017a-4711-a7cd-563659b92390","credentials":{"smtp":{"id":"dlBuJBL4aahgto9Q","name":"Miguel Work Upper - SMTP account"}}}],"connections":{"Formulário - Pedido de informações UBC":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Atualiza a planilha","type":"main","index":0}]]},"Atualiza a planilha":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ae192ce-ee71-436d-83df-c436d7d1f4aa","activeVersionId":"6ae192ce-ee71-436d-83df-c436d7d1f4aa","triggerCount":1,"shared":[{"updatedAt":"2025-12-10T20:39:30.314Z","createdAt":"2025-12-10T20:39:30.314Z","role":"workflow:owner","workflowId":"zlxqAF7K1ywXNL44","projectId":"HA3MdmBHnbWmZ1v9"}],"activeVersion":{"updatedAt":"2026-01-08T20:13:28.676Z","createdAt":"2026-01-08T20:13:28.676Z","versionId":"6ae192ce-ee71-436d-83df-c436d7d1f4aa","workflowId":"zlxqAF7K1ywXNL44","nodes":[{"parameters":{"page":{"__rl":true,"value":"1403844979916600","mode":"id"},"form":{"__rl":true,"value":"997774113409916","mode":"list","cachedResultName":"FORMS01 - PEDIDO INFORMAÇÕES"},"options":{"simplifyOutput":true}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[0,0],"id":"96e73249-0a01-4e26-b0cc-fb158885d4d0","name":"Formulário - Pedido de informações UBC","webhookId":"198d63f1-bdb7-4223-993a-a858e80573d0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"9lAlCS5uJsfOsVH0","name":"Facebook Lead Ads account"}}},{"parameters":{"jsCode":"// Pega a data atual no fuso de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", {\n  timeZone: \"Europe/Lisbon\"\n});\n\nconst [data, hora] = agora.split(\", \");\n\nreturn [{\n  data: data,        // DD/MM/AAAA\n  hora: hora         // HH:MM:SS\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"d91a0653-ebc3-41dd-92c1-717ddf277610","name":"Trata hora e Data"},{"parameters":{"assignments":{"assignments":[{"id":"fa8873e9-6b71-40c0-a6ac-3517d95492c1","name":"qual o serviço que procuras","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['qual_o_serviço_que_procuras?'] }}","type":"string"},{"id":"9d649262-4ac5-4628-874b-f8c3a5f8a036","name":"nome","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.nome }}","type":"string"},{"id":"82f9d545-a334-4642-8a38-2bba7748d7ec","name":"telefone","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data['número_de_telemóvel'] }}","type":"string"},{"id":"a668ebc7-5868-49ae-a7ad-d7b120d36fcb","name":"email","value":"={{ $('Formulário - Pedido de informações UBC').item.json.data.email }}","type":"string"},{"id":"da50de3a-84f1-455e-ab10-261bbaa8dba3","name":"Anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.ad }}","type":"object"},{"id":"7e7c65e4-d453-4ab5-8ea5-9d2c91a1219f","name":"Conjunto de anúncio","value":"={{ $('Formulário - Pedido de informações UBC').item.json.adset }}","type":"object"},{"id":"1ee89b40-893a-41d3-b531-85422411c8fb","name":"Data","value":"={{ $('Trata hora e Data').item.json.data }}","type":"string"},{"id":"d165d2e5-508c-4b46-9e80-34f6d173377b","name":"hora","value":"={{ $('Trata hora e Data').item.json.hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,0],"id":"a0a72377-e44a-4f0a-b631-e10e40e73a95","name":"Trata os dados"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w","mode":"list","cachedResultName":"Miguel - Leads Formulário Instantâneo FB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_CD-WufqL9uSEpLd-7_G0Lfflw5HjkLc0k2T6-OPp_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $('Trata os dados').item.json.email }}","DATA":"={{ $('Trata os dados').item.json.Data }}","HORA":"={{ $('Trata os dados').item.json.hora }}","NOME":"={{ $('Trata os dados').item.json.nome }}","TELEFONE":"={{ $('Trata os dados').item.json.telefone }}","QUAL O SERVIÇO PROCURADO":"={{ $('Trata os dados').item.json['qual o serviço que procuras'] }}","ANÚNCIO":"={{ $('Trata os dados').item.json['Anúncio'] }}","CONJUNTO DE ANÚNCIO":"={{ $('Trata os dados').item.json['Conjunto de anúncio'] }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORA","displayName":"HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TELEFONE","displayName":"TELEFONE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QUAL O SERVIÇO PROCURADO","displayName":"QUAL O SERVIÇO PROCURADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ANÚNCIO","displayName":"ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONJUNTO DE ANÚNCIO","displayName":"CONJUNTO DE ANÚNCIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES","displayName":"OBSERVAÇÕES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Venda a 6 meses","displayName":"Venda a 6 meses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,-96],"id":"6a7d87df-1b8b-48aa-a862-9e30844408b8","name":"Atualiza a planilha","credentials":{"googleSheetsOAuth2Api":{"id":"05sHmi34CnrxpGiZ","name":"Google Sheets account"}}},{"parameters":{"sendTo":"work@upperbc.com","subject":"=Dados do Formulário - Pedido de informações UBC","emailType":"text","message":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1072,-32],"id":"84b5b431-9540-4a10-8d8c-8f1bc52d8d53","name":"Send a message","webhookId":"3cb747f4-981c-4b6c-aed8-1c399cb1cfca","credentials":{"gmailOAuth2":{"id":"Ll3lmYooDDfuvZZj","name":"Gmail account"}}},{"parameters":{"fromEmail":"work@upperbc.com","toEmail":"work@upperbc.com","subject":"Dados do Formulário - Pedido de informações UBC","emailFormat":"text","text":"=Data: {{ $json.Data }}\nHora: {{ $json.hora }}\nNome: {{ $json.nome }}\nTelefone: {{ $json.telefone }}\nEmail: {{ $json.email }}\nServiço procurado: {{ $json['qual o serviço que procuras'] }}\nConjunto de anúncio: {{ $json['Conjunto de anúncio'] }}\nAnúncio: {{ $json['Anúncio'] }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,64],"id":"7e81b2b9-35a6-483a-a6ec-23cae713a66e","name":"Send email","webhookId":"29c376f3-017a-4711-a7cd-563659b92390","credentials":{"smtp":{"id":"dlBuJBL4aahgto9Q","name":"Miguel Work Upper - SMTP account"}}}],"connections":{"Formulário - Pedido de informações UBC":{"main":[[{"node":"Trata hora e Data","type":"main","index":0}]]},"Trata hora e Data":{"main":[[{"node":"Trata os dados","type":"main","index":0}]]},"Trata os dados":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Atualiza a planilha","type":"main","index":0}]]},"Atualiza a planilha":{"main":[[]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}